agent-2-linkedin-scrape-eMKdNrnuLJ6XkBFx.json
{"createdAt":"2025-11-22T11:03:17.533Z","updatedAt":"2025-11-25T07:11:56.000Z","id":"eMKdNrnuLJ6XkBFx","name":"agent-2-linkedin scrape","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-336,-64],"id":"32e5d5b7-7e8b-4272-b13f-b85f016712ec","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"linkai_company_opportunities","mode":"list","cachedResultName":"linkai_company_opportunities"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-64],"id":"2668cd63-7ecb-40f6-8e9e-d14ea52d72c8","name":"Select rows from a table","credentials":{"postgres":{"id":"mrvj0r5sJJMCTZIg","name":"linkai-supabase-self-hosted"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,-64],"id":"ab2acf16-548c-46a7-b7d1-617590d6ba1c","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.apollo.io/api/v1/mixed_companies/search ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"wwx4lcFDkMWWYB15tlDx_w"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n  \"q_organization_name\": \"{{$json.company_name}}\"\n}\n","options":{}},"id":"f4920168-4060-4eae-81a0-59e39ca631e7","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-48]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"linkai_company_research","mode":"list","cachedResultName":"linkai_company_research"},"columns":{"mappingMode":"defineBelow","value":{"company_name":"={{ $('Loop Over Items').item.json.company_name }}","linkedin_url":"={{ $json.organizations[0].linkedin_url }}","twitter_url":"={{ $json.organizations[0].twitter_url }}","facebook_url":"={{ $json.organizations[0].facebook_url }}","phone_number":"={{ $json.organizations[0].primary_phone.number }}"},"matchingColumns":["company_name"],"schema":[{"id":"company_research_id","displayName":"company_research_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"entity_name","displayName":"entity_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"parent_company","displayName":"parent_company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sector","displayName":"sector","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sub_sector","displayName":"sub_sector","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_type","displayName":"company_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"overview","displayName":"overview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"business_model","displayName":"business_model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"business_focus","displayName":"business_focus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"size_estimate","displayName":"size_estimate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"key_clients_or_industries_served","displayName":"key_clients_or_industries_served","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"tech_focus","displayName":"tech_focus","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"products_or_services","displayName":"products_or_services","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"departments_relevant_to_linkai","displayName":"departments_relevant_to_linkai","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"initiatives_or_programs","displayName":"initiatives_or_programs","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"growth_indicators","displayName":"growth_indicators","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"recent_news_or_projects","displayName":"recent_news_or_projects","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"partnerships_or_collaborations","displayName":"partnerships_or_collaborations","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"key_locations","displayName":"key_locations","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"leadership_summary","displayName":"leadership_summary","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"source_links","displayName":"source_links","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"headquarters","displayName":"headquarters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"indian_operations","displayName":"indian_operations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"confidence_score","displayName":"confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"client_id","displayName":"client_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_url","displayName":"twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_url","displayName":"facebook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-256],"id":"0bfb4545-c2ff-40d1-91eb-4e35871c256d","name":"update_linkedin_twitter","credentials":{"postgres":{"id":"mrvj0r5sJJMCTZIg","name":"linkai-supabase-self-hosted"}}},{"parameters":{"assignments":{"assignments":[{"id":"834bacf8-b9d7-41e5-97f3-dd58fc5ed5a5","name":"organizations[0].linkedin_url","value":"={{ $json.organizations[0].linkedin_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-48],"id":"4ef616c2-965a-4c5a-828a-46a8bcc11d2f","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.brightdata.com/datasets/v3/scrape","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataset_id","value":"gd_l1vikfnt1wgvvqz95w"},{"name":"notify","value":"false"},{"name":"include_errors","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 2d0ba70eb51d8263708a0b99ac501c906875dd41a976b9c81e85b3d1c46a7c88"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": [\n    {\n      \"url\": \"{{ $json.organizations[0].linkedin_url }}\"\n    }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-48],"id":"b1614b02-57a2-47ae-8fce-c5d5eb03b37d","name":"HTTP Request_bright_data"},{"parameters":{"assignments":{"assignments":[{"id":"54c73e8c-f531-4f44-a93f-c0820b82c2b6","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"3f1e6d11-3d12-400e-bbf5-8a73a6bff46b","name":"locations","value":"={{ $json.locations }}","type":"array"},{"id":"b9319fbd-1c1d-4675-9ae2-f7f8555aee0c","name":"followers","value":"={{ $json.followers }}","type":"number"},{"id":"80cbc949-d0fe-4bda-980c-02f3045d86c9","name":"about","value":"={{ $json.about }}","type":"string"},{"id":"56329f02-3c60-4529-950d-ed2c14d9a9d4","name":"company_size","value":"={{ $json.company_size }}","type":"string"},{"id":"386cf1c3-b2b7-4492-860b-2013ea12fae3","name":"industries","value":"={{ $json.industries }}","type":"string"},{"id":"4050806e-785e-430f-be3f-f64bb9046940","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"9d10fb85-4c2e-452b-b802-92cc4d1eb54e","name":"headquarters","value":"={{ $json.headquarters }}","type":"string"},{"id":"470582a1-ecf9-4ba4-aa4c-2a9337d0b13a","name":"similar","value":"={{ $json.similar }}","type":"array"},{"id":"769f87fc-23e7-4c43-8898-e16e239f7c1b","name":"updates","value":"={{ $json.updates }}","type":"array"},{"id":"3c7a4845-3858-469d-8fe9-4905e2c056b4","name":"funding","value":"={{ $json.funding }}","type":"object"},{"id":"c4401a2f-ab8d-4f65-b996-a44749d810be","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"b68a8b18-6748-4d35-949b-4ea1403ad386","name":"additional_information","value":"={{ $json.additional_information }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,-48],"id":"166693d3-88b6-4a5a-a9e2-b21dc090d9a0","name":"Edit Fields1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"agent2_linkedin_scraper","mode":"list","cachedResultName":"agent2_linkedin_scraper"},"columns":{"mappingMode":"defineBelow","value":{"company_name":"={{ $json.name }}","location":"={{ $json.locations }}","description":"={{ $json.description }}","similar_company_linkedin":"={{ $json.similar }}","additional":"={{ $json.additional_information }}","updates":"={{ JSON.stringify($json.updates) }}","followers":"={{ $json.followers }}","about":"={{ $json.about }}","company_size":"={{ $json.company_size }}","industries":"={{ $json.industries }}","headquarters":"={{ $json.headquarters }}","funding":"={{ $json.funding }}","linkedin_url":"={{ $('Edit Fields').item.json.organizations[0].linkedin_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"similar_company_linkedin","displayName":"similar_company_linkedin","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"additional","displayName":"additional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updates","displayName":"updates","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_size","displayName":"company_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"industries","displayName":"industries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"headquarters","displayName":"headquarters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"funding","displayName":"funding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,-48],"id":"0773c452-e76e-4df4-9ee3-d4d1c7f39bb4","name":"insert into agent2 table","credentials":{"postgres":{"id":"mrvj0r5sJJMCTZIg","name":"linkai-supabase-self-hosted"}}},{"parameters":{"promptType":"define","text":"=inputs of linkedin scraping:\ncompany name: {{ $json.company_name }}\nheadquarters:{{ $json.headquarters }}\nlocations:{{ $json.location }}\ndescription:{{ $json.description }}\nadditional:{{ $json.additional }}\nabout:{{ $json.about }}\nindustries:{{ $json.industries }}\nfunding:{{ $json.funding }}\nupdates:{{ $json.updates }}","hasOutputParser":true,"options":{"systemMessage":"=\n**SYSTEM ROLE:**\nYou are **TheLinkAI – DTM Value Identification Agent.**\nYour ONLY job is:\n\n### **Analyze LinkedIn data and identify where LinkAI’s Dedicated Team Members (DTM) can add value using AI, automation, R&D, and domain-trained support.**\n\nDTM = Dedicated team members who help companies using:\n\n* AI engineering\n* Automation\n* R&D support\n* Data + analytics\n* Workflow improvement\n* Domain-specific skilled members\n* Process optimization using AI\n\nYou must map LinkedIn signals → where these DTM members can reduce workload, solve problems, accelerate tasks, or improve efficiency.\n\n---\n\n# 🔍 **WHAT TO ANALYSE FROM LINKEDIN**\n\nLook for signals from:\n\n* Posts & updates\n* Company description\n* Hiring patterns\n* Job roles\n* Growth/expansion signals\n* Industry\n* Number of locations\n* Recent initiatives\n* Pain points visible in posts\n* Team size + complexity\n* New products / new R&D\n* Operational intensity\n\nYour job is NOT to summarize the company.\nYour job is to detect:\n\n# 🔥 **Where the company needs support + how DTM can reduce their burden.**\n\n---\n\n# 🎯 **WHAT YOU MUST OUTPUT (Opportunity Categories)**\n\nFor ANY company, identify:\n\n### **1. AI Engineering Opportunities**\n\nWhere AI engineers can:\n\n* Build internal tools\n* Create AI models\n* Optimize repetitive tasks\n* Analyze unstructured data\n* Support digital initiatives\n* Build specialized AI systems\n\n---\n\n### **2. Automation Opportunities**\n\nWhere dedicated automation engineers can:\n\n* Remove manual repetitive work\n* Automate documentation\n* Automate reporting\n* Automate scheduling\n* Automate customer workflows\n* Automate approval workflows\n\n---\n\n### **3. R&D / Innovation Support**\n\nWhere AI-powered team members can:\n\n* Speed up R&D\n* Build prototypes\n* Run experiments\n* Automate research tasks\n* Support innovation projects\n\n---\n\n### **4. Data & Insights Opportunities**\n\nWhere DTM members can:\n\n* Build dashboards\n* Clean & process data\n* Generate insights\n* Forecast trends\n* Build analytics workflows\n\n---\n\n### **5. Domain-Trained Dedicated Members**\n\nWhere the company needs:\n\n* finance-trained\n* healthcare-trained\n* logistics-trained\n* manufacturing-trained\n* real-estate-trained\n* retail-trained\n\nmembers who can:\n\n* manage workflows\n* run ops\n* improve processes\n* apply AI in domain tasks\n\n---\n\n### **6. Workload Reduction Opportunities**\n\nBased on posts showing:\n\n* Team strain\n* Hiring shortages\n* High operations load\n* Expansion → more work\n* Compliance burden\n* Manual admin\n\nWhere DTM can directly reduce workload.\n\n---\n\n# 📦 **OUTPUT FORMAT (STRICT JSON)**\n\n```json\n{\n  \"company_name\": \"\",\n  \"industry\": \"\",\n  \"dtm_value_signals\": [],\n  \"pain_points_identified\": [],\n  \"dtm_opportunities\": {\n    \"ai_engineering\": [],\n    \"automation\": [],\n    \"rnd_support\": [],\n    \"data_and_insights\": [],\n    \"domain_trained_team\": [],\n    \"workload_reduction\": []\n  },\n  \"summary\": \"\",\n  \"value_fit_score\": 0,\n  \"confidence\": \"high\"\n}\n```\n\n---\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1632,-48],"id":"1dfa01ab-3b91-41d5-bc5f-a2ffb8726251","name":"AI Agent"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1504,160],"id":"ead8eaf6-7b89-4d4f-95a3-b5f8abb397f2","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"aVOKNcsNjOL8t6pA","name":"OpenRouter account-ses"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"6","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1648,160],"id":"0c25a6f0-e452-4676-9d40-e9f2e5c11a3c","name":"Simple Memory"},{"parameters":{"jsonSchemaExample":"{\n  \"company_name\": \"Medtronic\",\n  \"industry\": \"Medical Equipment Manufacturing\",\n  \"dtm_value_signals\": [\n    \"Heavy R&D activity mentioned across multiple posts\",\n    \"Strong innovation culture around medical devices and health technologies\",\n    \"Frequent posts about research studies, clinical trials, and product experimentation\",\n    \"Large-scale global operations with multi-location teams\",\n    \"High operational complexity in healthcare, engineering, and compliance-heavy environments\",\n    \"Significant number of open roles in engineering, scientific research, analytics, and operations\"\n  ],\n  \"pain_points_identified\": [\n    \"High volume of research and experimentation requiring technical bandwidth\",\n    \"Multiple complex workflows related to clinical studies, documentation, and regulatory compliance\",\n    \"Large global workforce requiring data consolidation, insights, and operational visibility\",\n    \"Continuous innovation pressure requiring accelerated prototyping and model development\",\n    \"Heavy dependency on manual scientific documentation and reporting processes\",\n    \"Scaling operations across many countries increases coordination and efficiency challenges\"\n  ],\n  \"dtm_opportunities\": {\n    \"ai_engineering\": [\n      \"AI model development for medical device performance prediction\",\n      \"Building internal AI tools to analyze biological, clinical, and sensor data\",\n      \"Applying AI to improve device monitoring systems and remote diagnostics\",\n      \"Developing AI-driven research accelerators for pre-clinical studies\"\n    ],\n    \"automation\": [\n      \"Automation of regulatory documentation workflows for compliance\",\n      \"Automating clinical study reporting and data entry\",\n      \"Automating internal approval processes across R&D, engineering, and quality teams\",\n      \"Automating post-market surveillance data processing for medical devices\"\n    ],\n    \"rnd_support\": [\n      \"Providing R&D-focused AI engineers for prototype development\",\n      \"Supporting teams with dedicated research engineers for experimentation and device innovation\",\n      \"Automating repetitive research tasks such as trial data management and literature synthesis\",\n      \"Accelerating testing cycles using AI-driven simulation tools\"\n    ],\n    \"data_and_insights\": [\n      \"Centralizing multi-location data into unified dashboards\",\n      \"Predictive analytics for device performance, patient outcomes, and operational planning\",\n      \"AI-based extraction and structuring of research, clinical, and device datasets\",\n      \"Automated insight generation for leadership and operational teams\"\n    ],\n    \"domain_trained_team\": [\n      \"Healthcare-trained analysts to support medical research teams\",\n      \"Biomedical domain-trained automation specialists to work with device data\",\n      \"Compliance-trained team members to assist with regulated workflows\",\n      \"Scientific documentation specialists augmented with AI-powered tools\"\n    ],\n    \"workload_reduction\": [\n      \"Reducing workload on engineering teams by assigning AI automation specialists\",\n      \"Reducing research team workload with AI-assisted experimentation\",\n      \"Supporting global operations teams with AI-enabled workflow management\",\n      \"Reducing manual reporting burden with automated dashboards and document AI\"\n    ]\n  },\n  \"summary\": \"Medtronic shows strong signals of innovation, research intensity, and global operational complexity. The company can benefit significantly from LinkAI's dedicated AI-powered team members to accelerate R&D, automate clinical and regulatory workflows, process device data efficiently, and reduce heavy reporting workloads. Their scale, industry, and digital maturity make them a high-fit candidate for DTM services.\",\n  \"value_fit_score\": 9,\n  \"confidence\": \"high\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1808,160],"id":"eeda9df4-dfa7-4123-a53a-c3bad119aa95","name":"Structured Output Parser"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"agent2_linkedin_scraper","mode":"list","cachedResultName":"agent2_linkedin_scraper"},"columns":{"mappingMode":"defineBelow","value":{"company_name":"={{ $json.output.company_name }}","value_fit_score":"={{ $json.output.value_fit_score }}","dtm_value_signals":"={{ $json.output.dtm_value_signals }}","pain_points_identified":"={{ $json.output.pain_points_identified }}","dtm_opportunities":"={{ $json.output.dtm_opportunities }}","summary":"={{ $json.output.summary }}","confidence":"={{ $json.output.confidence }}"},"matchingColumns":["company_name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"similar_company_linkedin","displayName":"similar_company_linkedin","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"additional","displayName":"additional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updates","displayName":"updates","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_size","displayName":"company_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industries","displayName":"industries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headquarters","displayName":"headquarters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"funding","displayName":"funding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dtm_value_signals","displayName":"dtm_value_signals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pain_points_identified","displayName":"pain_points_identified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dtm_opportunities","displayName":"dtm_opportunities","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"value_fit_score","displayName":"value_fit_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2000,-48],"id":"c42d2cca-5243-4293-80df-a2d9b156c685","name":"Update rows in a table of agent 2","credentials":{"postgres":{"id":"mrvj0r5sJJMCTZIg","name":"linkai-supabase-self-hosted"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"update_linkedin_twitter","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request_bright_data","type":"main","index":0}]]},"HTTP Request_bright_data":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"insert into agent2 table","type":"main","index":0}]]},"insert into agent2 table":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Update rows in a table of agent 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"update_linkedin_twitter":[{"json":{"company_research_id":"938fd80d-adbe-4529-8c20-4bfcb0c8a0d2","company_name":"Medtronic","entity_name":"Medtronic plc","parent_company":"","sector":"Healthcare","sub_sector":"Medical Devices and Technology","company_type":"Public","overview":"Medtronic plc is a global leader in medical technology, services, and solutions, specializing in innovative medical devices and therapies that improve patient outcomes worldwide. Founded in 1949, Medtronic operates across various medical fields including cardiac, diabetes, spinal and neurosurgery, surgical technologies, and more. The company is recognized for its significant R&D investment and continuous innovation in healthcare technology.","business_model":"Medtronic operates on a B2B and B2C model delivering medical devices and therapies through hospitals, healthcare providers, and directly to patients in some cases. Revenue streams include product sales, services, software solutions, and integrated healthcare systems. The firm invests heavily in R&D, digital health, and software-enabled healthcare solutions to drive growth and maintain technological leadership.","business_focus":"Development and commercialization of advanced medical devices and digital health solutions that enable better disease management, surgical outcomes, and patient monitoring.","size_estimate":"Over 90,000 employees globally","key_clients_or_industries_served":["Healthcare Providers","Hospitals","Clinics","Pharmaceutical Companies","Government Health Agencies"],"tech_focus":["Embedded Software","AI/ML for predictive analytics and diagnostics","Cloud computing for data integration","Data engineering and big data analytics","Internet of Medical Things (IoMT)","Digital health platforms","Cybersecurity for medical devices","Process automation and workflow optimization"],"products_or_services":["Cardiac devices (pacemakers, defibrillators)","Diabetes management systems (insulin pumps, continuous glucose monitors)","Surgical robotics and visualization systems","Spinal and neuromodulation devices","Patient monitoring and remote care solutions","Software platforms for data analytics and clinical decision support"],"departments_relevant_to_linkai":["R&D","Engineering","Software Development","Digital Innovation","Product Management","Data Science","IT Infrastructure","Quality Assurance","Regulatory and Compliance (software validation)"],"initiatives_or_programs":["Digital transformation program focusing on cloud migration and data integration","AI and machine learning initiatives for predictive health analytics","Expansion of IoMT platforms for remote patient monitoring","New product innovation labs focused on surgical robotics and smart devices","Process automation efforts in manufacturing and clinical workflows"],"growth_indicators":["Consistent double-digit revenue growth in digital health segment","Frequent hiring for software engineers, AI/ML specialists, data engineers globally including India","Recent acquisitions to expand digital therapeutics and remote monitoring capabilities","Investment in cloud infrastructure and cybersecurity enhancements","Increased R&D spending with focus on software and AI integration into devices"],"recent_news_or_projects":["2023 launch of a next-generation AI-enabled cardiac monitoring platform","Expansion of remote patient management services leveraging cloud and IoT","Partnership with Microsoft for Azure cloud-based healthcare solutions","Initiation of advanced machine learning programs for chronic disease prediction","Introduction of robotic-assisted surgical systems with integrated digital controls"],"partnerships_or_collaborations":["Microsoft (cloud and AI)","Google Cloud (data analytics)","Various healthcare institutions for clinical trials and data partnership","Academic collaborations for AI research in medical technology"],"key_locations":["Dublin, Ireland (HQ)","Minneapolis, USA","Bangalore, India","Hyderabad, India","Shanghai, China","Milan, Italy"],"leadership_summary":["Geoff Martha - Chairman and CEO, leading the company's digital transformation","Karen L. Parkhill - CFO, driving financial strategy amidst tech investments","Michael VanderWel - EVP and COO, overseeing operations and R&D initiatives"],"source_links":["https://www.medtronic.com","https://www.medtronic.com/corporate-overview.html","https://investorrelations.medtronic.com","https://www.businesswire.com/news/home/20230427005706/en/Medtronic-Launches-AI-Enabled-Cardiac-Monitoring-Platform","https://news.microsoft.com/partnerships/medtronic","https://www.globenewswire.com/news-release/2023/05/15/2678531/0/en/Medtronic-Expands-Remote-Patient-Monitoring-Cloud-Based-Solutions.html"],"headquarters":"Dublin, Ireland","indian_operations":"Significant development centers in Bangalore and Hyderabad focusing on software, AI/ML, and digital health innovation","website":"https://www.medtronic.com","confidence_score":"0.95","client_id":"0089fdf2-2278-4407-8f9e-46b38c49cc57","created_at":"2025-11-21T15:05:47.429Z","updated_at":"2025-11-21T15:05:47.429Z","linkedin_url":"http://www.linkedin.com/company/medtronic","twitter_url":"https://twitter.com/Medtronic","facebook_url":"https://facebook.com/Medtronic","phone_number":"+1 763-514-4000"}}],"HTTP Request_bright_data":[{"json":{"id":"medtronic","name":"Medtronic","country_code":"US,CH,SG,AT,NL,ES,BR","locations":["710 Medtronic Parkway Minneapolis, MN 55432-5604, US","Route du Molliau 31 Tolochenaz, Vaud 1131, CH","49 Changi South Ave 2 Singapore, Singapore 486056, SG","Handelskai 94-96 Vienna, Vienna 1200, AT","Jan Campertstraat 21A Heerlen, Limburg 6416 SG, NL","Calle de Maria de Portugal, 9 Madrid, Community of Madrid 28050, ES","Avenida Jornalista Roberto Marinho Sao Paulo, SP 04576-010, BR","180 International Dr Portsmouth, NH 03801, US","9850 NW 41st St Doral, FL 33178, US","830 Crescent Centre Dr Franklin, TN 37067, US","8200 Coral Sea St NE Mounds View, MN 55449, US","710 Medtronic Pkwy Minneapolis, MN 55432, US"],"followers":2359745,"employees_in_linkedin":100417,"about":"A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.","company_size":"10,001+ employees","organization_type":"Public Company","industries":"Medical Equipment Manufacturing","website":"https://www.medtronic.com/","crunchbase_url":"https://www.crunchbase.com/organization/medtronic?utm_source=linkedin&utm_medium=referral&utm_campaign=linkedin_companies&utm_content=profile_cta_anon&trk=funding_crunchbase","company_id":"1841","employees":[{"img":"https://media.licdn.com/dms/image/v2/C4E03AQE25m69zQtFQA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1565876118849?e=2147483647&v=beta&t=WPn-xG7pzq67cOMd-131xQJjUB-qbYuAkWjvRqpBFbY","link":"https://www.linkedin.com/in/malia-lowe-9985?trk=org-employees","title":"Malia Lowe"},{"img":"https://media.licdn.com/dms/image/v2/C5603AQH5R9rMBMuCFw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1536010577079?e=2147483647&v=beta&t=kgNqwLK9Iw-drhW3yfFd7AAf0r-c0xkgejMZXPCIP3k","link":"https://www.linkedin.com/in/daveblum?trk=org-employees","subtitle":"Editor ★ Writer ★ Proofreader ★ Facilitator ★ Speaker ★ Trainer ★ Communications Specialist ★ Public Speaker","title":"Dave Blum"},{"img":"https://media.licdn.com/dms/image/v2/C5603AQGylE9K2slgkw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1574176913456?e=2147483647&v=beta&t=L4TmL3F6G5PHLbnq68VvI8vUphW-SWIRXHTmh_rhEZ4","link":"https://www.linkedin.com/in/andersghansen?trk=org-employees","subtitle":"Technologist","title":"Anders Hansen"},{"img":"https://media.licdn.com/dms/image/v2/C4E03AQHkUb9ruzDmhg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516166278611?e=2147483647&v=beta&t=wlXR4H-5WtUb3Wl31Mpc3jpWzGENigF99J0WYK-mc0E","link":"https://il.linkedin.com/in/ori-hadomi-5a441?trk=org-employees","subtitle":"VP Strategic Initiatives & Partnerships at Medtronic","title":"Ori Hadomi"}],"headquarters":"Minneapolis, MN","image":"https://media.licdn.com/dms/image/v2/D563DAQHmUgpkaqqI-A/image-scale_191_1128/image-scale_191_1128/0/1688144771041/medtronic_cover?e=2147483647&v=beta&t=IfKcOzRJ8CD8XhUIJYoILENf_MgCXdbjggI9nhsyuZA","logo":"https://media.licdn.com/dms/image/v2/D560BAQEzUefeWte_PQ/company-logo_200_200/company-logo_200_200/0/1667587833952/medtronic_logo?e=2147483647&v=beta&t=texZgUFtAJuaJ9QvrI6wgxJuOBuv_PNZ50rV--yTurQ","similar":[{"Links":"https://www.linkedin.com/company/abbott-?trk=similar-pages","subtitle":"Hospitals and Health Care","title":"Abbott","location":"Abbott Park, Illinois"},{"Links":"https://www.linkedin.com/company/stryker?trk=similar-pages","subtitle":"Medical Equipment Manufacturing","title":"Stryker","location":"Kalamazoo, MI"},{"Links":"https://www.linkedin.com/company/boston-scientific?trk=similar-pages","subtitle":"Medical Equipment Manufacturing","title":"Boston Scientific","location":"Marlborough, MA"},{"Links":"https://www.linkedin.com/company/johnson-&-johnson?trk=similar-pages","subtitle":"Hospitals and Health Care","title":"Johnson & Johnson","location":"New Brunswick, NJ"},{"Links":"https://www.linkedin.com/company/gehealthcare?trk=similar-pages","subtitle":"Hospitals and Health Care","title":"GE HealthCare"},{"Links":"https://www.linkedin.com/company/bd1?trk=similar-pages","subtitle":"Medical Equipment Manufacturing","title":"BD","location":"Franklin Lakes, New Jersey"},{"Links":"https://de.linkedin.com/company/siemens-healthineers?trk=similar-pages","subtitle":"Hospitals and Health Care","title":"Siemens Healthineers"},{"Links":"https://nl.linkedin.com/company/philips?trk=similar-pages","subtitle":"Hospitals and Health Care","title":"Philips","location":"Amsterdam, Noord-Holland"},{"Links":"https://www.linkedin.com/company/zimmerbiomet?trk=similar-pages","subtitle":"Medical Equipment Manufacturing","title":"Zimmer Biomet","location":"Warsaw, Indiana"},{"Links":"https://uk.linkedin.com/company/smith-nephew?trk=similar-pages","subtitle":"Medical Equipment Manufacturing","title":"Smith+Nephew","location":"Watford, Hertfordshire"}],"url":"https://www.linkedin.com/company/medtronic","updates":[{"likes_count":489,"text":"Edwin Jimenez knows a thing or two about staying physically fit. Even after retiring from the military and moving to a civil service career, you could find him at the gym after work. So it took him by surprise when a routine checkup revealed a problem. “My high blood pressure came on kind of quickly,” he said. “The doctors put me on medication, and I thought that would take care of it.” But it didn’t. Read Edwin's story of resilience, treatment, and recovery thanks to our Symplicity Spyral™ renal denervation system — now covered by Medicare. Risk information: https://lnkd.in/e-8Sk4Rc","time":"3w Edited","title":"Medtronic","comments_count":18,"images":["https://media.licdn.com/dms/image/v2/D4E12AQGM40tXhfeFAg/article-cover_image-shrink_720_1280/B4EZos7SZMIMAM-/0/1761690331714?e=2147483647&v=beta&t=FJa75grOV5Jt3lve9ivrN0Il1-OKOlrCPeYGt9QcnCQ"],"post_url":"https://www.linkedin.com/posts/medtronic_medicare-now-covers-breakthrough-technology-activity-7389081059444838400-mGQe","post_id":"7389081059444838400","date":"2025-11-03T11:22:26.535Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"Edwin Jimenez knows a thing or two about staying physically fit. Even after retiring from the military and moving to a civil service career, you could find him at the gym after work. So it took him by surprise when a routine checkup revealed a problem. &#x201C;My high blood pressure came on kind of quickly,&#x201D; he said. &#x201C;The doctors put me on medication, and I thought that would take care of it.&#x201D; But it didn&#x2019;t. \n \nRead Edwin&apos;s story of resilience, treatment, and recovery thanks to our Symplicity Spyral&#x2122; renal denervation system &#x2014; now covered by Medicare.\n\nRisk information: <a class=\"link\" href=\"https://lnkd.in/e-8Sk4Rc?trk=organization_guest_main-feed-card-text\" target=\"_self\" rel=\"nofollow\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>https://lnkd.in/e-8Sk4Rc</a>"},{"likes_count":308,"text":"This father-daughter duo has traversed continents — from the icy climates of North America, to the dense forests of Thailand, to the plains of Africa — in pursuit of something quiet and profound: understanding. As scientists with Medtronic, they implant heart monitors in vulnerable species to study stress and survival, blending cutting-edge technology with a reverence for the natural world. Tim and Noelle Laske are using Medtronic technology to track the heartbeats of wildlife, read about it here","time":"1mo","title":"Medtronic","comments_count":21,"images":["https://media.licdn.com/dms/image/v2/D4E12AQFT5w6wBbiMEQ/article-cover_image-shrink_720_1280/B4EZnpUDpKGcAQ-/0/1760555973956?e=2147483647&v=beta&t=IyXEOXfHm0MH7qt4vWCaAm7f4BKFjVuvGCCqDHTn0KY"],"post_url":"https://www.linkedin.com/posts/medtronic_wild-at-heart-the-father-daughter-duo-tracking-activity-7384313677665026050-6oaX","post_id":"7384313677665026050","date":"2025-10-25T11:22:26.537Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"This father-daughter duo has traversed continents &#x2014; from the icy climates of North America, to the dense forests of Thailand, to the plains of Africa &#x2014; in pursuit of something quiet and profound: understanding. \n\nAs scientists with Medtronic, they implant heart monitors in vulnerable species to study stress and survival, blending cutting-edge technology with a reverence for the natural world. \n\nTim and Noelle Laske are using Medtronic technology to track the heartbeats of wildlife, read about it here"},{"likes_count":226,"text":"Every day, I see the profound impact our Hispanic and Latino colleagues have on Medtronic . They don’t just contribute to our success; they define it, enriching our workplace and strengthening our ability to deliver meaningful solutions for patients worldwide. As we close out Hispanic Heritage Month, I’m proud to share that this impact has been recognized externally as well: Medtronic has been honored with four 5-star ratings from HACR - Hispanic Association on Corporate Responsibility as part of its 2025 Corporate Inclusion Index, covering employment, procurement, philanthropy, and governance. These ratings are more than just numbers. They reflect the people who make Medtronic what it is. To our Hispanic and Latino colleagues: thank you for what you bring to our Mission. Rodrigo Medina and Greg Smith – your leadership of our Hispanic Latino Network continues to inspire! ⭐ ⭐ ⭐ ⭐ ⭐ #HispanicHeritageMonth #HACRResearch","time":"1mo","title":"Dr. Sally Saba MBA","comments_count":1,"images":["https://media.licdn.com/dms/image/v2/D5622AQH059VHCDsAIA/feedshare-shrink_800/B56ZnkOHYCG0Ag-/0/1760470530278?e=2147483647&v=beta&t=twv952k0kV_4y8C4PRXUPGLGc1rK4XUScurjJgYiKB0","https://media.licdn.com/dms/image/v2/D5622AQFvNo6JZFCNRg/feedshare-shrink_1280/B56ZnkOHYFG0As-/0/1760470529947?e=2147483647&v=beta&t=TvjeuTwMN5SEIqBCtxAk5ThAI6LVijY3tSiSqnfu1hQ","https://media.licdn.com/dms/image/v2/D5622AQHLneBFe3orbQ/feedshare-shrink_800/B56ZnkOHXMJQAg-/0/1760470529911?e=2147483647&v=beta&t=YPDu4yvx2mbuc_5LEz9L6XRbfgCDH4iQTdxM85tzjtU"],"post_url":"https://www.linkedin.com/feed/update/urn:li:activity:7384219317829083136/","post_id":"7384219317829083136","date":"2025-10-25T11:22:26.542Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"Every day, I see the profound impact our Hispanic and Latino colleagues have on <a class=\"link\" href=\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>Medtronic</a>. \n\nThey don&#x2019;t just contribute to our success; they define it, enriching our workplace and strengthening our ability to deliver meaningful solutions for patients worldwide. \n\nAs we close out Hispanic Heritage Month, I&#x2019;m proud to share that this impact has been recognized externally as well: <a class=\"link\" href=\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>Medtronic</a> has been honored with four 5-star ratings from <a class=\"link\" href=\"https://www.linkedin.com/company/hispanic-association-on-corporate-responsibility?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>HACR - Hispanic Association on Corporate Responsibility</a> as part of its 2025 Corporate Inclusion Index, covering employment, procurement, philanthropy, and governance. \n\nThese ratings are more than just numbers. They reflect the people who make Medtronic what it is. To our Hispanic and Latino colleagues: thank you for what you bring to our Mission. <a class=\"link\" href=\"https://www.linkedin.com/in/rosmedina?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>Rodrigo Medina</a> and <a class=\"link\" href=\"https://www.linkedin.com/in/greg-smith-5079315?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>Greg Smith</a> &#x2013; your leadership of our Hispanic Latino Network continues to inspire! &#x2B50; &#x2B50; &#x2B50; &#x2B50; &#x2B50; \n\n<a class=\"link\" href=\"https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2Fhispanicheritagemonth&amp;trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>#HispanicHeritageMonth</a> <a class=\"link\" href=\"https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2Fhacrresearch&amp;trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>#HACRResearch</a>"},{"likes_count":129,"text":"Expanding access to medical technology is critical to strengthening global health systems. This new study explores the critical barriers — and the real opportunities to expanding MedTech access in least developed countries. We’re dedicated to breaking those barriers and expanding access to innovative healthcare solutions worldwide.","time":"1mo 1mo","title":"Medtronic","comments_count":13,"images":["https://media.licdn.com/dms/image/v2/D4E22AQF6cbOHMdewTw/feedshare-shrink_1280/B4EZm4WGfGIMAs-/0/1759734426130?e=2147483647&v=beta&t=v5ZPKoJVWI7G_3eQmBIEHXikc6JozNUxnzoY2MLHYKI"],"post_url":"https://www.linkedin.com/posts/medtronic_expanding-access-to-medical-technology-is-activity-7382450647918354432-mSWH","post_id":"7382450647918354432","date":"2024-12-29T11:22:26.548Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":[{"name":"World Intellectual Property Organization – WIPO","link":"https://ch.linkedin.com/company/wipo?trk=organization_guest_main-feed-card_reshare-text"},{"name":"UN Technology Bank for the Least Developed Countries","link":"https://tr.linkedin.com/company/un-technology-bank-for-least-developed-countries?trk=organization_guest_main-feed-card_reshare-text"},{"name":"Medtronic","link":"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card_reshare-text"}],"tagged_users":null,"images":["https://media.licdn.com/dms/image/v2/D4E22AQF6cbOHMdewTw/feedshare-shrink_1280/B4EZm4WGfGIMAs-/0/1759734426130?e=2147483647&v=beta&t=v5ZPKoJVWI7G_3eQmBIEHXikc6JozNUxnzoY2MLHYKI"],"videos":null,"external_links":null,"repost_hangtags":["Assistant Director General","Global Challenges and Partnerships Sector at World Intellectual Property Organization"]},"text_html":"Expanding access to medical technology is critical to strengthening global health systems.\nThis new study explores the critical barriers &#x2014; and the real opportunities&#xA0;to expanding MedTech access in least developed countries. We&#x2019;re dedicated to breaking those barriers and expanding access to innovative healthcare solutions worldwide."},{"likes_count":262,"text":"We’re proud to share out our FY25 Impact Report – showing how Medtronic is staying true to our Mission of alleviating pain, restoring health, and extending life!","time":"1mo Edited 1mo","title":"Medtronic","comments_count":5,"images":["https://media.licdn.com/dms/image/v2/D4D22AQEx_sWJzSq9Kw/feedshare-shrink_800/B4DZnEeoh4JcAg-/0/1759937989598?e=2147483647&v=beta&t=1D0S-1mRwv0fELio-gAZN53oUcR5-AecKtNM82-HEVw"],"post_url":"https://www.linkedin.com/posts/medtronic_were-proud-to-share-out-our-fy25-impact-activity-7381764616282095618-bdUQ","post_id":"7381764616282095618","date":"2024-12-29T11:22:26.551Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":[{"name":"Medtronic","link":"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card_reshare-text"}],"tagged_users":null,"images":["https://media.licdn.com/dms/image/v2/D4D22AQEx_sWJzSq9Kw/feedshare-shrink_800/B4DZnEeoh4JcAg-/0/1759937989598?e=2147483647&v=beta&t=1D0S-1mRwv0fELio-gAZN53oUcR5-AecKtNM82-HEVw"],"videos":null,"external_links":null,"repost_hangtags":["CEO & Chairman Of The Board Of Directors at Medtronic"]},"text_html":"We&#x2019;re proud to share out our FY25 Impact Report &#x2013; showing how Medtronic is staying true to our&#xA0;Mission of alleviating pain, restoring health, and extending life!"},{"likes_count":293,"text":"Protecting wildlife is about more than saving species—it’s about preserving the balance of entire ecosystems. 🌎🧬 Through an innovative partnership with the Smithsonian, technology is helping conservationists monitor endangered giant anteaters and gather meaningful data. Tools like the LINQ™ device—originally designed for human monitoring—are now enabling researchers to better understand stress responses and environmental threats to these animals. By bridging medicine and conservation, we’re protecting the future of our planet.","time":"3mo","title":"Medtronic","comments_count":19,"videos":["https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-640p-30fp-crf28/B4EZiAHOCDHEAw-/0/1754496040600?e=2147483647&v=beta&t=lS2eHIUnzMMn1rNW5aUB1ykdJvT6Yo3u4GI6CQg98v0","https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-720p-30fp-crf28/B4EZiAHOCDHEBo-/0/1754496039311?e=2147483647&v=beta&t=ayxPNRdh8OgRjQQFiLIXs_BSUi9tsVU0IWS0z3FNfFY","https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-360p-30fp-crf28/B4EZiAHOCDHEBk-/0/1754496038596?e=2147483647&v=beta&t=xCNiUbNus2TZKJK6qMBfPAe4vasHFTezS65K89yeslg"],"post_url":"https://www.linkedin.com/posts/medtronic_protecting-wildlife-is-about-more-than-saving-activity-7358889803154661377--xpq","post_id":"7358889803154661377","date":"2025-08-26T11:22:26.553Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"Protecting wildlife is about more than saving species&#x2014;it&#x2019;s about preserving the balance of entire ecosystems. &#x1F30E;&#x1F9EC;\nThrough an innovative partnership with the Smithsonian, technology is helping conservationists monitor endangered giant anteaters and gather meaningful data. Tools like the LINQ&#x2122; device&#x2014;originally designed for human monitoring&#x2014;are now enabling researchers to better understand stress responses and environmental threats to these animals. By bridging medicine and conservation, we&#x2019;re protecting the future of our planet."},{"likes_count":337,"text":"When a giant anteater is safely recaptured, researchers retrieve more than a device—they retrieve answers. Thanks to the heart monitor from Medtronic, we’re gaining rare, real-time insights into how these vulnerable animals respond to stress, habitat disruption, and environmental change. This data isn’t just informative—it’s transformative. It helps shape smarter conservation strategies, guides habitat protections, and brings us one step closer to keeping these unique creatures in the wild, where they belong.","time":"3mo","title":"Medtronic","comments_count":15,"videos":["https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-640p-30fp-crf28/B4EZhW6iECHIA0-/0/1753804851110?e=2147483647&v=beta&t=eE5v9bFHz71Mx0HHdChBITfnTRN1yKp4VZl8f0Pl1AU","https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-720p-30fp-crf28/B4EZhW6iECHIBs-/0/1753804847240?e=2147483647&v=beta&t=ca3QAsgn3EMZGds-jStsYFzxBOu0M0QNyR_57RAfK6A","https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-360p-30fp-crf28/B4EZhW6iECHIBo-/0/1753804846736?e=2147483647&v=beta&t=0qM2ybXtU0q4UfNVWMTEa60C5Q7UNI7GZGv4vCFDqZw"],"post_url":"https://www.linkedin.com/posts/medtronic_when-a-giant-anteater-is-safely-recaptured-activity-7355990735109726209-wtsA","post_id":"7355990735109726209","date":"2025-08-26T11:22:26.554Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"When a giant anteater is safely recaptured, researchers retrieve more than a device&#x2014;they retrieve answers. Thanks to the heart monitor from Medtronic, we&#x2019;re gaining rare, real-time insights into how these vulnerable animals respond to stress, habitat disruption, and environmental change. This data isn&#x2019;t just informative&#x2014;it&#x2019;s transformative. It helps shape smarter conservation strategies, guides habitat protections, and brings us one step closer to keeping these unique creatures in the wild, where they belong."},{"likes_count":228,"text":"What does a Medtronic heart monitor have to do with saving a vulnerable species? In partnership with the Smithsonian's National Zoo and Conservation Biology Institute , the LINQ™ device—originally developed for human patients—now helps researchers monitor the heart health of giant anteaters in the wild. The data collected provides rare insights into how these animals respond to stress, habitat change, and human interaction—informing smarter, more effective conservation strategies. When innovation crosses disciplines, it creates impact far beyond the expected. Read more about our work with the anteaters here: http://bit.ly/4lVaWfK","time":"4mo Edited","title":"Medtronic","comments_count":15,"videos":["https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-360p-30fp-crf28/B4EZgt7d2tHgBo-/0/1753117228134?e=2147483647&v=beta&t=O7anoQHu07YuA8rX-cf_fepGV8i08wFnGIEmGY4IkCk","https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-640p-30fp-crf28/B4EZgt7d2tHgA0-/0/1753117229548?e=2147483647&v=beta&t=HwYII-bx7PFhkkXAvu8HZMQ0T84rTNf2liJmjQdWibE","https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-720p-30fp-crf28/B4EZgt7d2tHgBs-/0/1753117229575?e=2147483647&v=beta&t=84s7c8kFjtdo_3bmreVSjxZgfFGFK2otlOBfVDkHEsw"],"post_url":"https://www.linkedin.com/posts/medtronic_what-does-a-medtronic-heart-monitor-have-activity-7353106648229421059-5OLt","post_id":"7353106648229421059","date":"2025-07-27T11:22:26.556Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"What does a Medtronic heart monitor have to do with saving a vulnerable species?\nIn partnership with the <a class=\"link\" href=\"https://www.linkedin.com/company/smithsonian-s-national-zoo-and-conservation-biology-institute?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>Smithsonian&apos;s National Zoo and Conservation Biology Institute</a>, the LINQ&#x2122; device&#x2014;originally developed for human patients&#x2014;now helps researchers monitor the heart health of giant anteaters in the wild. The data collected provides rare insights into how these animals respond to stress, habitat change, and human interaction&#x2014;informing smarter, more effective conservation strategies. When innovation crosses disciplines, it creates impact far beyond the expected. \nRead more about our work with the anteaters here: <a class=\"link\" href=\"http://bit.ly/4lVaWfK?trk=organization_guest_main-feed-card-text\" target=\"_self\" rel=\"nofollow\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>http://bit.ly/4lVaWfK</a> "},{"likes_count":370,"text":"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they’re implanted with Medtronic heart monitors. For humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian’s National Zoo and Conservation Biology Institute expanded the technology’s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species. Read more about our work with the anteaters here: http://bit.ly/4lVaWfK","time":"4mo","title":"Medtronic","comments_count":15,"videos":["https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-360p-30fp-crf28/B4EZgPrFrTGoBo-/0/1752609622515?e=2147483647&v=beta&t=Xmgqb6op8dTf5-nnkuvDp3EbuAC-SB2GADBbfdo7BfE","https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-640p-30fp-crf28/B4EZgPrFrTGoA0-/0/1752609625237?e=2147483647&v=beta&t=rJ-WwFK4qaFUCStbNQOL1CT8kpADfKb71VXShy5fyhg","https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-720p-30fp-crf28/B4EZgPrFrTGoBs-/0/1752609622325?e=2147483647&v=beta&t=DyaKul79CKaHS1R-fIhKXc_GaC_eEP4LtYqLyArd7dQ"],"post_url":"https://www.linkedin.com/posts/medtronic_some-of-the-knuckle-walking-bushy-tailed-activity-7350977643875299328-J3-n","post_id":"7350977643875299328","date":"2025-07-27T11:22:26.558Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they&#x2019;re implanted with Medtronic heart monitors. \nFor humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian&#x2019;s National Zoo and Conservation Biology Institute expanded the technology&#x2019;s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species. \n\nRead more about our work with the anteaters here: <a class=\"link\" href=\"http://bit.ly/4lVaWfK?trk=organization_guest_main-feed-card-text\" target=\"_self\" rel=\"nofollow\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>http://bit.ly/4lVaWfK</a>  \n"},{"likes_count":620,"text":"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they’re implanted with Medtronic heart monitors. For humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian Institution ’s National Zoo and Conservation Biology Institute expanded the technology’s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species.","time":"4mo","title":"Medtronic","comments_count":27,"images":["https://media.licdn.com/dms/image/v2/D4E12AQGKbnqjo2I3HA/article-cover_image-shrink_720_1280/B4EZgJ5UWGGwAM-/0/1752512678453?e=2147483647&v=beta&t=rEgzmkSConSruWrUDWc0q28RUAeh-Wiuiwmfc3swR-Q"],"post_url":"https://www.linkedin.com/posts/medtronic_at-the-heart-of-giant-anteater-conservation-activity-7350615080050253824-Hctw","post_id":"7350615080050253824","date":"2025-07-27T11:22:26.560Z","tagged_companies":null,"tagged_people":null,"repost":{"tagged_companies":null,"tagged_users":null,"images":null,"videos":null,"external_links":null,"repost_hangtags":null},"text_html":"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they&#x2019;re implanted with Medtronic heart monitors.&#xA0;\nFor humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the <a class=\"link\" href=\"https://www.linkedin.com/company/smithsonian-institution?trk=organization_guest_main-feed-card-text\" target=\"_self\" data-tracking-control-name=\"organization_guest_main-feed-card-text\" data-tracking-will-navigate>Smithsonian Institution</a>&#x2019;s National Zoo and Conservation Biology Institute expanded the technology&#x2019;s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species.&#xA0;&#xA0;"}],"slogan":"Engineering the extraordinary","affiliated":[{"title":"Medtronic Cardiac and Vascular","subtitle":"Medical Device","location":"Minneapolis , MN","Links":"https://www.linkedin.com/showcase/medtronic-cardiac-and-vascular-/?trk=affiliated-pages"},{"title":"Covidien (Medtronic Minimally Invasive Therapies Group)","subtitle":"Medical Equipment Manufacturing","location":"Fridley, Minnesota","Links":"https://www.linkedin.com/company/covidien-2?trk=affiliated-pages"},{"title":"Medtronic Robotic-Assisted Surgery","subtitle":"Medical Equipment Manufacturing","Links":"https://www.linkedin.com/showcase/medtronic-robotic-assisted-surgery/?trk=affiliated-pages"},{"title":"Medtronic Surgical Innovations","subtitle":"Medical Device","Links":"https://www.linkedin.com/showcase/medtronic-surgical-innovations/?trk=affiliated-pages"},{"title":"Medtronic Neurovascular","subtitle":"Medical Device","location":"Irvine, California","Links":"https://www.linkedin.com/showcase/medtronic-neurovascular/?trk=affiliated-pages"},{"title":"Medtronic Acute Care & Monitoring","subtitle":"Medical Equipment Manufacturing","location":"Boulder, Colorado","Links":"https://www.linkedin.com/showcase/medtronic-acute-care-and-monitoring/?trk=affiliated-pages"},{"title":"Medtronic Diabetes","subtitle":"Medical Equipment Manufacturing","location":"Northridge, CA","Links":"https://www.linkedin.com/showcase/medtronicdiabetes/?trk=affiliated-pages"},{"title":"Medtronic Cranial and Spine Therapies","subtitle":"Medical Equipment Manufacturing","Links":"https://www.linkedin.com/company/medtronic-brain-and-spine-therapies?trk=affiliated-pages"},{"title":"Medtronic Pain Interventions","subtitle":"Medical Equipment Manufacturing","location":"Minneapolis, Minnesota","Links":"https://www.linkedin.com/showcase/medtronicpaininterventions/?trk=affiliated-pages"},{"title":"Medtronic Endoscopy","subtitle":"Medical Equipment Manufacturing","location":"Sunnyvale, California","Links":"https://www.linkedin.com/showcase/medtronic-endoscopy/?trk=affiliated-pages"},{"title":"Medtronic Australia and New Zealand","subtitle":"Medical Equipment Manufacturing","location":"New South Wales, Australia","Links":"https://au.linkedin.com/showcase/medtronic-australia-and-new-zealand/?trk=affiliated-pages"},{"title":"Medtronic Ear, Nose & Throat","subtitle":"Medical Equipment Manufacturing","location":"Minneapolis, Minnesota","Links":"https://www.linkedin.com/showcase/medtronic-ent2/?trk=affiliated-pages"},{"title":"Medtronic Minimally Invasive Therapies Group","subtitle":"Medical Equipment Manufacturing","Links":"https://www.linkedin.com/showcase/medtronic-minimally-invasive-therapies-group/?trk=affiliated-pages"},{"title":"Medtronic Brain Modulation","subtitle":"Medical Equipment Manufacturing","Links":"https://www.linkedin.com/showcase/medtronic-brain-modulation/?trk=affiliated-pages"},{"title":"Medtronic Spark","subtitle":"Non-profit Organizations","location":"Minneapolis, Minnesota","Links":"https://www.linkedin.com/showcase/medtronicspark/?trk=affiliated-pages"},{"title":"Medtronic Lung Health","subtitle":"Medical Equipment Manufacturing","location":"Minneapolis, Minnesota","Links":"https://www.linkedin.com/showcase/medtronic-lung-health/?trk=affiliated-pages"},{"title":"Medtronic Pelvic Health","subtitle":"Medical Device","Links":"https://www.linkedin.com/showcase/medtronic-pelvic-health/?trk=affiliated-pages"},{"title":"Medtronic Neurociencias","subtitle":"Medical Equipment Manufacturing","location":"Latin America, Latin America","Links":"https://www.linkedin.com/showcase/medtronic-neuroscience-latam/?trk=affiliated-pages"},{"title":"Medtronic Spinal & Biologics","subtitle":"Medical Equipment Manufacturing","Links":"https://www.linkedin.com/company/medtronic-spinal-&-biologics?trk=affiliated-pages"},{"title":"Medtronic Japan","subtitle":"Medical Equipment Manufacturing","location":"港区, 東京都","Links":"https://jp.linkedin.com/showcase/medtronicjapan/?trk=affiliated-pages"},{"title":"Kanghui (A Medtronic Company)","subtitle":"Medical Equipment Manufacturing","Links":"https://www.linkedin.com/showcase/kanghui-a-medtronic-company/?trk=affiliated-pages"}],"funding":{"last_round_date":"2025-10-15T00:00:00.000Z","last_round_type":"Post IPO debt","rounds":1,"last_round_raised":"US$ 1.8B"},"formatted_locations":["710 Medtronic Parkway, Minneapolis, MN 55432-5604, US","Route du Molliau 31, Tolochenaz, Vaud 1131, CH","49 Changi South Ave 2, Singapore, Singapore 486056, SG","Handelskai 94-96, Vienna, Vienna 1200, AT","Jan Campertstraat 21A, Heerlen, Limburg 6416 SG, NL","Calle de Maria de Portugal, 9, Madrid, Community of Madrid 28050, ES","Avenida Jornalista Roberto Marinho, Sao Paulo, SP 04576-010, BR","180 International Dr, Portsmouth, NH 03801, US","9850 NW 41st St, Doral, FL 33178, US","830 Crescent Centre Dr, Franklin, TN 37067, US","8200 Coral Sea St NE, Mounds View, MN 55449, US","710 Medtronic Pkwy, Minneapolis, MN 55432, US"],"get_directions_url":[{"directions_url":"https://www.bing.com/maps?where=710+Medtronic+Parkway+Minneapolis+55432-5604+MN+US&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=Route+du+Molliau+31+Tolochenaz+1131+Vaud+CH&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=49+Changi+South+Ave+2+Singapore+486056+Singapore+SG&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=Handelskai+94-96+Vienna+1200+Vienna+AT&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=Jan+Campertstraat+21A+Heerlen+6416+SG+Limburg+NL&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=Calle+de+Maria+de+Portugal%2C+9+Madrid+28050+Community+of+Madrid+ES&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=Avenida+Jornalista+Roberto+Marinho+Sao+Paulo+04576-010+SP+BR&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=180+International+Dr+Portsmouth+03801+NH+US&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=9850+NW+41st+St+Doral+33178+FL+US&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=830+Crescent+Centre+Dr+Franklin+37067+TN+US&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=8200+Coral+Sea+St+NE+Mounds+View+55449+MN+US&trk=org-locations_url"},{"directions_url":"https://www.bing.com/maps?where=710+Medtronic+Pkwy+Minneapolis+55432+MN+US&trk=org-locations_url"}],"description":"Medtronic | 2,359,745 followers on LinkedIn. Engineering the extraordinary | A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.","additional_information":"Additional jobs info: Medtronic (2,432 open jobs). Engineer (555,845 open jobs). Analyst (694,057 open jobs). Specialist (768,666 open jobs). Manager (1,880,925 open jobs). Project Manager (253,048 open jobs). Intern (71,196 open jobs). Director (1,220,357 open jobs). Mechanical Engineer (46,392 open jobs). Scientist (48,969 open jobs). Account Manager (121,519 open jobs). Quality Engineer (174,876 open jobs). Logistics Manager (55,470 open jobs). Associate (1,091,945 open jobs). Medical Sales Representative (11,388 open jobs). Executive (690,514 open jobs). Assistant (711,811 open jobs). Salesperson (172,678 open jobs). Medical Science Liaison (2,540 open jobs). Nurse (683,200 open jobs)","country_codes_array":["US","CH","SG","AT","NL","ES","BR"],"alumni":null,"alumni_information":null,"website_simplified":"medtronic.com","unformatted_about":"\n              A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.\n          ","timestamp":"2025-11-24T11:22:26.628Z","input":{"url":"http://www.linkedin.com/company/medtronic"}}}],"insert into agent2 table":[{"json":{"id":"1","created_at":"2025-11-25T11:18:09.239Z","company_name":"Medtronic","location":["710 Medtronic Parkway Minneapolis, MN 55432-5604, US","Route du Molliau 31 Tolochenaz, Vaud 1131, CH","49 Changi South Ave 2 Singapore, Singapore 486056, SG","Handelskai 94-96 Vienna, Vienna 1200, AT","Jan Campertstraat 21A Heerlen, Limburg 6416 SG, NL","Calle de Maria de Portugal, 9 Madrid, Community of Madrid 28050, ES","Avenida Jornalista Roberto Marinho Sao Paulo, SP 04576-010, BR","180 International Dr Portsmouth, NH 03801, US","9850 NW 41st St Doral, FL 33178, US","830 Crescent Centre Dr Franklin, TN 37067, US","8200 Coral Sea St NE Mounds View, MN 55449, US","710 Medtronic Pkwy Minneapolis, MN 55432, US"],"description":"Medtronic | 2,359,745 followers on LinkedIn. Engineering the extraordinary | A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.","similar_company_linkedin":["{\"Links\":\"https://www.linkedin.com/company/abbott-?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Abbott\",\"location\":\"Abbott Park, Illinois\"}","{\"Links\":\"https://www.linkedin.com/company/stryker?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Stryker\",\"location\":\"Kalamazoo, MI\"}","{\"Links\":\"https://www.linkedin.com/company/boston-scientific?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Boston Scientific\",\"location\":\"Marlborough, MA\"}","{\"Links\":\"https://www.linkedin.com/company/johnson-&-johnson?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Johnson & Johnson\",\"location\":\"New Brunswick, NJ\"}","{\"Links\":\"https://www.linkedin.com/company/gehealthcare?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"GE HealthCare\"}","{\"Links\":\"https://www.linkedin.com/company/bd1?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"BD\",\"location\":\"Franklin Lakes, New Jersey\"}","{\"Links\":\"https://de.linkedin.com/company/siemens-healthineers?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Siemens Healthineers\"}","{\"Links\":\"https://nl.linkedin.com/company/philips?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Philips\",\"location\":\"Amsterdam, Noord-Holland\"}","{\"Links\":\"https://www.linkedin.com/company/zimmerbiomet?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Zimmer Biomet\",\"location\":\"Warsaw, Indiana\"}","{\"Links\":\"https://uk.linkedin.com/company/smith-nephew?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Smith+Nephew\",\"location\":\"Watford, Hertfordshire\"}"],"additional":"Additional jobs info: Medtronic (2,432 open jobs). Engineer (555,845 open jobs). Analyst (694,057 open jobs). Specialist (768,666 open jobs). Manager (1,880,925 open jobs). Project Manager (253,048 open jobs). Intern (71,196 open jobs). Director (1,220,357 open jobs). Mechanical Engineer (46,392 open jobs). Scientist (48,969 open jobs). Account Manager (121,519 open jobs). Quality Engineer (174,876 open jobs). Logistics Manager (55,470 open jobs). Associate (1,091,945 open jobs). Medical Sales Representative (11,388 open jobs). Executive (690,514 open jobs). Assistant (711,811 open jobs). Salesperson (172,678 open jobs). Medical Science Liaison (2,540 open jobs). Nurse (683,200 open jobs)","updates":"{\"{\\\"likes_count\\\":489,\\\"text\\\":\\\"Edwin Jimenez knows a thing or two about staying physically fit. Even after retiring from the military and moving to a civil service career, you could find him at the gym after work. So it took him by surprise when a routine checkup revealed a problem. “My high blood pressure came on kind of quickly,” he said. “The doctors put me on medication, and I thought that would take care of it.” But it didn’t. Read Edwin's story of resilience, treatment, and recovery thanks to our Symplicity Spyral™ renal denervation system — now covered by Medicare. Risk information: https://lnkd.in/e-8Sk4Rc\\\",\\\"time\\\":\\\"3w Edited\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":18,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E12AQGM40tXhfeFAg/article-cover_image-shrink_720_1280/B4EZos7SZMIMAM-/0/1761690331714?e=2147483647&v=beta&t=FJa75grOV5Jt3lve9ivrN0Il1-OKOlrCPeYGt9QcnCQ\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_medicare-now-covers-breakthrough-technology-activity-7389081059444838400-mGQe\\\",\\\"post_id\\\":\\\"7389081059444838400\\\",\\\"date\\\":\\\"2025-11-03T11:22:26.535Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Edwin Jimenez knows a thing or two about staying physically fit. Even after retiring from the military and moving to a civil service career, you could find him at the gym after work. So it took him by surprise when a routine checkup revealed a problem. &#x201C;My high blood pressure came on kind of quickly,&#x201D; he said. &#x201C;The doctors put me on medication, and I thought that would take care of it.&#x201D; But it didn&#x2019;t. \\\\n \\\\nRead Edwin&apos;s story of resilience, treatment, and recovery thanks to our Symplicity Spyral&#x2122; renal denervation system &#x2014; now covered by Medicare.\\\\n\\\\nRisk information: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://lnkd.in/e-8Sk4Rc?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" rel=\\\\\\\"nofollow\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>https://lnkd.in/e-8Sk4Rc</a>\\\"}\",\"{\\\"likes_count\\\":308,\\\"text\\\":\\\"This father-daughter duo has traversed continents — from the icy climates of North America, to the dense forests of Thailand, to the plains of Africa — in pursuit of something quiet and profound: understanding. As scientists with Medtronic, they implant heart monitors in vulnerable species to study stress and survival, blending cutting-edge technology with a reverence for the natural world. Tim and Noelle Laske are using Medtronic technology to track the heartbeats of wildlife, read about it here\\\",\\\"time\\\":\\\"1mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":21,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E12AQFT5w6wBbiMEQ/article-cover_image-shrink_720_1280/B4EZnpUDpKGcAQ-/0/1760555973956?e=2147483647&v=beta&t=IyXEOXfHm0MH7qt4vWCaAm7f4BKFjVuvGCCqDHTn0KY\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_wild-at-heart-the-father-daughter-duo-tracking-activity-7384313677665026050-6oaX\\\",\\\"post_id\\\":\\\"7384313677665026050\\\",\\\"date\\\":\\\"2025-10-25T11:22:26.537Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"This father-daughter duo has traversed continents &#x2014; from the icy climates of North America, to the dense forests of Thailand, to the plains of Africa &#x2014; in pursuit of something quiet and profound: understanding. \\\\n\\\\nAs scientists with Medtronic, they implant heart monitors in vulnerable species to study stress and survival, blending cutting-edge technology with a reverence for the natural world. \\\\n\\\\nTim and Noelle Laske are using Medtronic technology to track the heartbeats of wildlife, read about it here\\\"}\",\"{\\\"likes_count\\\":226,\\\"text\\\":\\\"Every day, I see the profound impact our Hispanic and Latino colleagues have on Medtronic . They don’t just contribute to our success; they define it, enriching our workplace and strengthening our ability to deliver meaningful solutions for patients worldwide. As we close out Hispanic Heritage Month, I’m proud to share that this impact has been recognized externally as well: Medtronic has been honored with four 5-star ratings from HACR - Hispanic Association on Corporate Responsibility as part of its 2025 Corporate Inclusion Index, covering employment, procurement, philanthropy, and governance. These ratings are more than just numbers. They reflect the people who make Medtronic what it is. To our Hispanic and Latino colleagues: thank you for what you bring to our Mission. Rodrigo Medina and Greg Smith – your leadership of our Hispanic Latino Network continues to inspire! ⭐ ⭐ ⭐ ⭐ ⭐ #HispanicHeritageMonth #HACRResearch\\\",\\\"time\\\":\\\"1mo\\\",\\\"title\\\":\\\"Dr. Sally Saba MBA\\\",\\\"comments_count\\\":1,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D5622AQH059VHCDsAIA/feedshare-shrink_800/B56ZnkOHYCG0Ag-/0/1760470530278?e=2147483647&v=beta&t=twv952k0kV_4y8C4PRXUPGLGc1rK4XUScurjJgYiKB0\\\",\\\"https://media.licdn.com/dms/image/v2/D5622AQFvNo6JZFCNRg/feedshare-shrink_1280/B56ZnkOHYFG0As-/0/1760470529947?e=2147483647&v=beta&t=TvjeuTwMN5SEIqBCtxAk5ThAI6LVijY3tSiSqnfu1hQ\\\",\\\"https://media.licdn.com/dms/image/v2/D5622AQHLneBFe3orbQ/feedshare-shrink_800/B56ZnkOHXMJQAg-/0/1760470529911?e=2147483647&v=beta&t=YPDu4yvx2mbuc_5LEz9L6XRbfgCDH4iQTdxM85tzjtU\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/feed/update/urn:li:activity:7384219317829083136/\\\",\\\"post_id\\\":\\\"7384219317829083136\\\",\\\"date\\\":\\\"2025-10-25T11:22:26.542Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Every day, I see the profound impact our Hispanic and Latino colleagues have on <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Medtronic</a>. \\\\n\\\\nThey don&#x2019;t just contribute to our success; they define it, enriching our workplace and strengthening our ability to deliver meaningful solutions for patients worldwide. \\\\n\\\\nAs we close out Hispanic Heritage Month, I&#x2019;m proud to share that this impact has been recognized externally as well: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Medtronic</a> has been honored with four 5-star ratings from <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/hispanic-association-on-corporate-responsibility?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>HACR - Hispanic Association on Corporate Responsibility</a> as part of its 2025 Corporate Inclusion Index, covering employment, procurement, philanthropy, and governance. \\\\n\\\\nThese ratings are more than just numbers. They reflect the people who make Medtronic what it is. To our Hispanic and Latino colleagues: thank you for what you bring to our Mission. <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/in/rosmedina?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Rodrigo Medina</a> and <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/in/greg-smith-5079315?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Greg Smith</a> &#x2013; your leadership of our Hispanic Latino Network continues to inspire! &#x2B50; &#x2B50; &#x2B50; &#x2B50; &#x2B50; \\\\n\\\\n<a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2Fhispanicheritagemonth&amp;trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>#HispanicHeritageMonth</a> <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2Fhacrresearch&amp;trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>#HACRResearch</a>\\\"}\",\"{\\\"likes_count\\\":129,\\\"text\\\":\\\"Expanding access to medical technology is critical to strengthening global health systems. This new study explores the critical barriers — and the real opportunities to expanding MedTech access in least developed countries. We’re dedicated to breaking those barriers and expanding access to innovative healthcare solutions worldwide.\\\",\\\"time\\\":\\\"1mo 1mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":13,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E22AQF6cbOHMdewTw/feedshare-shrink_1280/B4EZm4WGfGIMAs-/0/1759734426130?e=2147483647&v=beta&t=v5ZPKoJVWI7G_3eQmBIEHXikc6JozNUxnzoY2MLHYKI\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_expanding-access-to-medical-technology-is-activity-7382450647918354432-mSWH\\\",\\\"post_id\\\":\\\"7382450647918354432\\\",\\\"date\\\":\\\"2024-12-29T11:22:26.548Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":[{\\\"name\\\":\\\"World Intellectual Property Organization – WIPO\\\",\\\"link\\\":\\\"https://ch.linkedin.com/company/wipo?trk=organization_guest_main-feed-card_reshare-text\\\"},{\\\"name\\\":\\\"UN Technology Bank for the Least Developed Countries\\\",\\\"link\\\":\\\"https://tr.linkedin.com/company/un-technology-bank-for-least-developed-countries?trk=organization_guest_main-feed-card_reshare-text\\\"},{\\\"name\\\":\\\"Medtronic\\\",\\\"link\\\":\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card_reshare-text\\\"}],\\\"tagged_users\\\":null,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E22AQF6cbOHMdewTw/feedshare-shrink_1280/B4EZm4WGfGIMAs-/0/1759734426130?e=2147483647&v=beta&t=v5ZPKoJVWI7G_3eQmBIEHXikc6JozNUxnzoY2MLHYKI\\\"],\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":[\\\"Assistant Director General\\\",\\\"Global Challenges and Partnerships Sector at World Intellectual Property Organization\\\"]},\\\"text_html\\\":\\\"Expanding access to medical technology is critical to strengthening global health systems.\\\\nThis new study explores the critical barriers &#x2014; and the real opportunities&#xA0;to expanding MedTech access in least developed countries. We&#x2019;re dedicated to breaking those barriers and expanding access to innovative healthcare solutions worldwide.\\\"}\",\"{\\\"likes_count\\\":262,\\\"text\\\":\\\"We’re proud to share out our FY25 Impact Report – showing how Medtronic is staying true to our Mission of alleviating pain, restoring health, and extending life!\\\",\\\"time\\\":\\\"1mo Edited 1mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":5,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4D22AQEx_sWJzSq9Kw/feedshare-shrink_800/B4DZnEeoh4JcAg-/0/1759937989598?e=2147483647&v=beta&t=1D0S-1mRwv0fELio-gAZN53oUcR5-AecKtNM82-HEVw\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_were-proud-to-share-out-our-fy25-impact-activity-7381764616282095618-bdUQ\\\",\\\"post_id\\\":\\\"7381764616282095618\\\",\\\"date\\\":\\\"2024-12-29T11:22:26.551Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":[{\\\"name\\\":\\\"Medtronic\\\",\\\"link\\\":\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card_reshare-text\\\"}],\\\"tagged_users\\\":null,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4D22AQEx_sWJzSq9Kw/feedshare-shrink_800/B4DZnEeoh4JcAg-/0/1759937989598?e=2147483647&v=beta&t=1D0S-1mRwv0fELio-gAZN53oUcR5-AecKtNM82-HEVw\\\"],\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":[\\\"CEO & Chairman Of The Board Of Directors at Medtronic\\\"]},\\\"text_html\\\":\\\"We&#x2019;re proud to share out our FY25 Impact Report &#x2013; showing how Medtronic is staying true to our&#xA0;Mission of alleviating pain, restoring health, and extending life!\\\"}\",\"{\\\"likes_count\\\":293,\\\"text\\\":\\\"Protecting wildlife is about more than saving species—it’s about preserving the balance of entire ecosystems. 🌎🧬 Through an innovative partnership with the Smithsonian, technology is helping conservationists monitor endangered giant anteaters and gather meaningful data. Tools like the LINQ™ device—originally designed for human monitoring—are now enabling researchers to better understand stress responses and environmental threats to these animals. By bridging medicine and conservation, we’re protecting the future of our planet.\\\",\\\"time\\\":\\\"3mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":19,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-640p-30fp-crf28/B4EZiAHOCDHEAw-/0/1754496040600?e=2147483647&v=beta&t=lS2eHIUnzMMn1rNW5aUB1ykdJvT6Yo3u4GI6CQg98v0\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-720p-30fp-crf28/B4EZiAHOCDHEBo-/0/1754496039311?e=2147483647&v=beta&t=ayxPNRdh8OgRjQQFiLIXs_BSUi9tsVU0IWS0z3FNfFY\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-360p-30fp-crf28/B4EZiAHOCDHEBk-/0/1754496038596?e=2147483647&v=beta&t=xCNiUbNus2TZKJK6qMBfPAe4vasHFTezS65K89yeslg\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_protecting-wildlife-is-about-more-than-saving-activity-7358889803154661377--xpq\\\",\\\"post_id\\\":\\\"7358889803154661377\\\",\\\"date\\\":\\\"2025-08-26T11:22:26.553Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Protecting wildlife is about more than saving species&#x2014;it&#x2019;s about preserving the balance of entire ecosystems. &#x1F30E;&#x1F9EC;\\\\nThrough an innovative partnership with the Smithsonian, technology is helping conservationists monitor endangered giant anteaters and gather meaningful data. Tools like the LINQ&#x2122; device&#x2014;originally designed for human monitoring&#x2014;are now enabling researchers to better understand stress responses and environmental threats to these animals. By bridging medicine and conservation, we&#x2019;re protecting the future of our planet.\\\"}\",\"{\\\"likes_count\\\":337,\\\"text\\\":\\\"When a giant anteater is safely recaptured, researchers retrieve more than a device—they retrieve answers. Thanks to the heart monitor from Medtronic, we’re gaining rare, real-time insights into how these vulnerable animals respond to stress, habitat disruption, and environmental change. This data isn’t just informative—it’s transformative. It helps shape smarter conservation strategies, guides habitat protections, and brings us one step closer to keeping these unique creatures in the wild, where they belong.\\\",\\\"time\\\":\\\"3mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":15,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-640p-30fp-crf28/B4EZhW6iECHIA0-/0/1753804851110?e=2147483647&v=beta&t=eE5v9bFHz71Mx0HHdChBITfnTRN1yKp4VZl8f0Pl1AU\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-720p-30fp-crf28/B4EZhW6iECHIBs-/0/1753804847240?e=2147483647&v=beta&t=ca3QAsgn3EMZGds-jStsYFzxBOu0M0QNyR_57RAfK6A\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-360p-30fp-crf28/B4EZhW6iECHIBo-/0/1753804846736?e=2147483647&v=beta&t=0qM2ybXtU0q4UfNVWMTEa60C5Q7UNI7GZGv4vCFDqZw\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_when-a-giant-anteater-is-safely-recaptured-activity-7355990735109726209-wtsA\\\",\\\"post_id\\\":\\\"7355990735109726209\\\",\\\"date\\\":\\\"2025-08-26T11:22:26.554Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"When a giant anteater is safely recaptured, researchers retrieve more than a device&#x2014;they retrieve answers. Thanks to the heart monitor from Medtronic, we&#x2019;re gaining rare, real-time insights into how these vulnerable animals respond to stress, habitat disruption, and environmental change. This data isn&#x2019;t just informative&#x2014;it&#x2019;s transformative. It helps shape smarter conservation strategies, guides habitat protections, and brings us one step closer to keeping these unique creatures in the wild, where they belong.\\\"}\",\"{\\\"likes_count\\\":228,\\\"text\\\":\\\"What does a Medtronic heart monitor have to do with saving a vulnerable species? In partnership with the Smithsonian's National Zoo and Conservation Biology Institute , the LINQ™ device—originally developed for human patients—now helps researchers monitor the heart health of giant anteaters in the wild. The data collected provides rare insights into how these animals respond to stress, habitat change, and human interaction—informing smarter, more effective conservation strategies. When innovation crosses disciplines, it creates impact far beyond the expected. Read more about our work with the anteaters here: http://bit.ly/4lVaWfK\\\",\\\"time\\\":\\\"4mo Edited\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":15,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-360p-30fp-crf28/B4EZgt7d2tHgBo-/0/1753117228134?e=2147483647&v=beta&t=O7anoQHu07YuA8rX-cf_fepGV8i08wFnGIEmGY4IkCk\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-640p-30fp-crf28/B4EZgt7d2tHgA0-/0/1753117229548?e=2147483647&v=beta&t=HwYII-bx7PFhkkXAvu8HZMQ0T84rTNf2liJmjQdWibE\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-720p-30fp-crf28/B4EZgt7d2tHgBs-/0/1753117229575?e=2147483647&v=beta&t=84s7c8kFjtdo_3bmreVSjxZgfFGFK2otlOBfVDkHEsw\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_what-does-a-medtronic-heart-monitor-have-activity-7353106648229421059-5OLt\\\",\\\"post_id\\\":\\\"7353106648229421059\\\",\\\"date\\\":\\\"2025-07-27T11:22:26.556Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"What does a Medtronic heart monitor have to do with saving a vulnerable species?\\\\nIn partnership with the <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/smithsonian-s-national-zoo-and-conservation-biology-institute?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Smithsonian&apos;s National Zoo and Conservation Biology Institute</a>, the LINQ&#x2122; device&#x2014;originally developed for human patients&#x2014;now helps researchers monitor the heart health of giant anteaters in the wild. The data collected provides rare insights into how these animals respond to stress, habitat change, and human interaction&#x2014;informing smarter, more effective conservation strategies. When innovation crosses disciplines, it creates impact far beyond the expected. \\\\nRead more about our work with the anteaters here: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"http://bit.ly/4lVaWfK?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" rel=\\\\\\\"nofollow\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>http://bit.ly/4lVaWfK</a> \\\"}\",\"{\\\"likes_count\\\":370,\\\"text\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they’re implanted with Medtronic heart monitors. For humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian’s National Zoo and Conservation Biology Institute expanded the technology’s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species. Read more about our work with the anteaters here: http://bit.ly/4lVaWfK\\\",\\\"time\\\":\\\"4mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":15,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-360p-30fp-crf28/B4EZgPrFrTGoBo-/0/1752609622515?e=2147483647&v=beta&t=Xmgqb6op8dTf5-nnkuvDp3EbuAC-SB2GADBbfdo7BfE\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-640p-30fp-crf28/B4EZgPrFrTGoA0-/0/1752609625237?e=2147483647&v=beta&t=rJ-WwFK4qaFUCStbNQOL1CT8kpADfKb71VXShy5fyhg\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-720p-30fp-crf28/B4EZgPrFrTGoBs-/0/1752609622325?e=2147483647&v=beta&t=DyaKul79CKaHS1R-fIhKXc_GaC_eEP4LtYqLyArd7dQ\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_some-of-the-knuckle-walking-bushy-tailed-activity-7350977643875299328-J3-n\\\",\\\"post_id\\\":\\\"7350977643875299328\\\",\\\"date\\\":\\\"2025-07-27T11:22:26.558Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they&#x2019;re implanted with Medtronic heart monitors. \\\\nFor humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian&#x2019;s National Zoo and Conservation Biology Institute expanded the technology&#x2019;s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species. \\\\n\\\\nRead more about our work with the anteaters here: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"http://bit.ly/4lVaWfK?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" rel=\\\\\\\"nofollow\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>http://bit.ly/4lVaWfK</a>  \\\\n\\\"}\",\"{\\\"likes_count\\\":620,\\\"text\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they’re implanted with Medtronic heart monitors. For humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian Institution ’s National Zoo and Conservation Biology Institute expanded the technology’s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species.\\\",\\\"time\\\":\\\"4mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":27,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E12AQGKbnqjo2I3HA/article-cover_image-shrink_720_1280/B4EZgJ5UWGGwAM-/0/1752512678453?e=2147483647&v=beta&t=rEgzmkSConSruWrUDWc0q28RUAeh-Wiuiwmfc3swR-Q\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_at-the-heart-of-giant-anteater-conservation-activity-7350615080050253824-Hctw\\\",\\\"post_id\\\":\\\"7350615080050253824\\\",\\\"date\\\":\\\"2025-07-27T11:22:26.560Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they&#x2019;re implanted with Medtronic heart monitors.&#xA0;\\\\nFor humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/smithsonian-institution?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Smithsonian Institution</a>&#x2019;s National Zoo and Conservation Biology Institute expanded the technology&#x2019;s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species.&#xA0;&#xA0;\\\"}\"}","followers":"2359745","about":"A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.","company_size":"10,001+ employees","industries":"Medical Equipment Manufacturing","headquarters":"Minneapolis, MN","funding":"{\"last_round_date\":\"2025-10-15T00:00:00.000Z\",\"last_round_type\":\"Post IPO debt\",\"rounds\":1,\"last_round_raised\":\"US$ 1.8B\"}","linkedin_url":"http://www.linkedin.com/company/medtronic"}}],"AI Agent":[{"json":{"output":{"company_name":"Medtronic","industry":"Medical Equipment Manufacturing","dtm_value_signals":["Global footprint across 12+ locations and 2.3M LinkedIn followers – indicates complex coordination and high admin load","2,432 open jobs spanning engineering, analytics, quality, logistics, and clinical roles – hiring surge suggests capacity strain","Posts highlighting new FDA‑cleared device (Symplicity Spyral™ renal denervation) and Medicare coverage – regulatory and reimbursement pipeline complexity","R&D‑heavy stories about wildlife heart‑monitoring (LINQ™) – massive unstructured sensor data and cross‑domain collaboration","Study on barriers to MedTech access in least‑developed countries – need for market‑entry analytics & supply‑chain optimisation","Frequent impact and FY25 reporting – manual reporting overhead"],"pain_points_identified":["Manual aggregation of clinical trial and device outcome data for regulatory submissions","Time‑intensive compliance documentation across US, EU, Asia and emerging markets","Large volumes of device telemetry requiring cleaning, labeling, and insight generation","Complex global supply‑chain coordination causing bottlenecks in logistics and inventory management","R&D teams need faster prototype iteration and hypothesis validation for novel devices and cross‑domain projects","Workforce scaling pressure – many open technical roles indicate current teams are stretched"],"dtm_opportunities":{"ai_engineering":["Build AI models to analyze renal denervation and LINQ™ telemetry (real‑time anomaly detection, outcome prediction)","Create generative‑design pipelines for rapid medical‑device prototyping (CAD + simulation + AI optimisation)","Automate regulatory submission drafting using LLMs trained on FDA/EMA guidelines","Develop predictive‑maintenance AI for manufacturing equipment across all sites"],"automation":["RPA for compliance report generation (Medicare coverage, FY impact reporting)","Automated ingestion pipelines from implanted devices to cloud data lakes and EMR systems","Supply‑chain orchestration bots to sync inventory, shipment tracking, customs documentation across 12 locations","Automatic scheduling and workflow routing for clinical‑trial document reviews"],"rnd_support":["AI‑assisted literature mining and hypothesis generation for wildlife monitoring and human cardiac studies","Rapid proof‑of‑concept environment using AI‑driven simulation for new therapeutic technologies","Experiment‑tracking platform with automated data capture, versioning, and result summarisation","Cross‑domain collaboration hub (human health ↔ veterinary) powered by AI to surface reusable insights"],"data_and_insights":["Enterprise dashboard consolidating device performance, patient outcomes, and market‑access metrics globally","Advanced analytics to forecast demand in emerging markets and identify supply‑chain risk factors","ML‑based segmentation of patient populations for personalized therapy recommendations","Real‑time wildlife telemetry analytics to guide conservation strategy and publish actionable reports"],"domain_trained_team":["Healthcare & medical‑device regulatory specialists trained on AI‑assisted compliance tools","Clinical‑research scientists up‑skilled in AI‑data‑science for sensor‑data analytics","Supply‑chain & logistics engineers familiar with AI‑optimised inventory management in pharma/medical‑device space","Veterinary‑health experts to bridge animal‑monitoring projects and data interpretation"],"workload_reduction":["AI‑driven summarisation of clinical‑trial documents reduces manual review time ~40%","RPA of repetitive QA checks cuts quality‑engineer effort across manufacturing sites","Automated global reporting eliminates duplicated data‑entry for regulatory filings","Intelligent scheduling assistants free project managers from manual calendar coordination across time zones"]},"summary":"Medtronic’s extensive R&D pipeline, worldwide manufacturing footprint, and hiring surge signal heavy manual workloads in data processing, regulatory compliance, and supply‑chain coordination. Dedicated Team Members with AI engineering, automation, R&D acceleration, data‑analytics, and domain‑specific expertise can dramatically cut manual effort, speed device innovation, and improve global market access—especially for emerging‑market expansion and cross‑disciplinary wildlife monitoring projects.","value_fit_score":9.5,"confidence":"high"}}}],"Update rows in a table of agent 2":[{"json":{"id":"1","created_at":"2025-11-25T11:18:09.239Z","company_name":"Medtronic","location":["710 Medtronic Parkway Minneapolis, MN 55432-5604, US","Route du Molliau 31 Tolochenaz, Vaud 1131, CH","49 Changi South Ave 2 Singapore, Singapore 486056, SG","Handelskai 94-96 Vienna, Vienna 1200, AT","Jan Campertstraat 21A Heerlen, Limburg 6416 SG, NL","Calle de Maria de Portugal, 9 Madrid, Community of Madrid 28050, ES","Avenida Jornalista Roberto Marinho Sao Paulo, SP 04576-010, BR","180 International Dr Portsmouth, NH 03801, US","9850 NW 41st St Doral, FL 33178, US","830 Crescent Centre Dr Franklin, TN 37067, US","8200 Coral Sea St NE Mounds View, MN 55449, US","710 Medtronic Pkwy Minneapolis, MN 55432, US"],"description":"Medtronic | 2,359,745 followers on LinkedIn. Engineering the extraordinary | A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.","similar_company_linkedin":["{\"Links\":\"https://www.linkedin.com/company/abbott-?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Abbott\",\"location\":\"Abbott Park, Illinois\"}","{\"Links\":\"https://www.linkedin.com/company/stryker?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Stryker\",\"location\":\"Kalamazoo, MI\"}","{\"Links\":\"https://www.linkedin.com/company/boston-scientific?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Boston Scientific\",\"location\":\"Marlborough, MA\"}","{\"Links\":\"https://www.linkedin.com/company/johnson-&-johnson?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Johnson & Johnson\",\"location\":\"New Brunswick, NJ\"}","{\"Links\":\"https://www.linkedin.com/company/gehealthcare?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"GE HealthCare\"}","{\"Links\":\"https://www.linkedin.com/company/bd1?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"BD\",\"location\":\"Franklin Lakes, New Jersey\"}","{\"Links\":\"https://de.linkedin.com/company/siemens-healthineers?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Siemens Healthineers\"}","{\"Links\":\"https://nl.linkedin.com/company/philips?trk=similar-pages\",\"subtitle\":\"Hospitals and Health Care\",\"title\":\"Philips\",\"location\":\"Amsterdam, Noord-Holland\"}","{\"Links\":\"https://www.linkedin.com/company/zimmerbiomet?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Zimmer Biomet\",\"location\":\"Warsaw, Indiana\"}","{\"Links\":\"https://uk.linkedin.com/company/smith-nephew?trk=similar-pages\",\"subtitle\":\"Medical Equipment Manufacturing\",\"title\":\"Smith+Nephew\",\"location\":\"Watford, Hertfordshire\"}"],"additional":"Additional jobs info: Medtronic (2,432 open jobs). Engineer (555,845 open jobs). Analyst (694,057 open jobs). Specialist (768,666 open jobs). Manager (1,880,925 open jobs). Project Manager (253,048 open jobs). Intern (71,196 open jobs). Director (1,220,357 open jobs). Mechanical Engineer (46,392 open jobs). Scientist (48,969 open jobs). Account Manager (121,519 open jobs). Quality Engineer (174,876 open jobs). Logistics Manager (55,470 open jobs). Associate (1,091,945 open jobs). Medical Sales Representative (11,388 open jobs). Executive (690,514 open jobs). Assistant (711,811 open jobs). Salesperson (172,678 open jobs). Medical Science Liaison (2,540 open jobs). Nurse (683,200 open jobs)","updates":"{\"{\\\"likes_count\\\":489,\\\"text\\\":\\\"Edwin Jimenez knows a thing or two about staying physically fit. Even after retiring from the military and moving to a civil service career, you could find him at the gym after work. So it took him by surprise when a routine checkup revealed a problem. “My high blood pressure came on kind of quickly,” he said. “The doctors put me on medication, and I thought that would take care of it.” But it didn’t. Read Edwin's story of resilience, treatment, and recovery thanks to our Symplicity Spyral™ renal denervation system — now covered by Medicare. Risk information: https://lnkd.in/e-8Sk4Rc\\\",\\\"time\\\":\\\"3w Edited\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":18,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E12AQGM40tXhfeFAg/article-cover_image-shrink_720_1280/B4EZos7SZMIMAM-/0/1761690331714?e=2147483647&v=beta&t=FJa75grOV5Jt3lve9ivrN0Il1-OKOlrCPeYGt9QcnCQ\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_medicare-now-covers-breakthrough-technology-activity-7389081059444838400-mGQe\\\",\\\"post_id\\\":\\\"7389081059444838400\\\",\\\"date\\\":\\\"2025-11-03T11:22:26.535Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Edwin Jimenez knows a thing or two about staying physically fit. Even after retiring from the military and moving to a civil service career, you could find him at the gym after work. So it took him by surprise when a routine checkup revealed a problem. &#x201C;My high blood pressure came on kind of quickly,&#x201D; he said. &#x201C;The doctors put me on medication, and I thought that would take care of it.&#x201D; But it didn&#x2019;t. \\\\n \\\\nRead Edwin&apos;s story of resilience, treatment, and recovery thanks to our Symplicity Spyral&#x2122; renal denervation system &#x2014; now covered by Medicare.\\\\n\\\\nRisk information: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://lnkd.in/e-8Sk4Rc?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" rel=\\\\\\\"nofollow\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>https://lnkd.in/e-8Sk4Rc</a>\\\"}\",\"{\\\"likes_count\\\":308,\\\"text\\\":\\\"This father-daughter duo has traversed continents — from the icy climates of North America, to the dense forests of Thailand, to the plains of Africa — in pursuit of something quiet and profound: understanding. As scientists with Medtronic, they implant heart monitors in vulnerable species to study stress and survival, blending cutting-edge technology with a reverence for the natural world. Tim and Noelle Laske are using Medtronic technology to track the heartbeats of wildlife, read about it here\\\",\\\"time\\\":\\\"1mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":21,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E12AQFT5w6wBbiMEQ/article-cover_image-shrink_720_1280/B4EZnpUDpKGcAQ-/0/1760555973956?e=2147483647&v=beta&t=IyXEOXfHm0MH7qt4vWCaAm7f4BKFjVuvGCCqDHTn0KY\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_wild-at-heart-the-father-daughter-duo-tracking-activity-7384313677665026050-6oaX\\\",\\\"post_id\\\":\\\"7384313677665026050\\\",\\\"date\\\":\\\"2025-10-25T11:22:26.537Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"This father-daughter duo has traversed continents &#x2014; from the icy climates of North America, to the dense forests of Thailand, to the plains of Africa &#x2014; in pursuit of something quiet and profound: understanding. \\\\n\\\\nAs scientists with Medtronic, they implant heart monitors in vulnerable species to study stress and survival, blending cutting-edge technology with a reverence for the natural world. \\\\n\\\\nTim and Noelle Laske are using Medtronic technology to track the heartbeats of wildlife, read about it here\\\"}\",\"{\\\"likes_count\\\":226,\\\"text\\\":\\\"Every day, I see the profound impact our Hispanic and Latino colleagues have on Medtronic . They don’t just contribute to our success; they define it, enriching our workplace and strengthening our ability to deliver meaningful solutions for patients worldwide. As we close out Hispanic Heritage Month, I’m proud to share that this impact has been recognized externally as well: Medtronic has been honored with four 5-star ratings from HACR - Hispanic Association on Corporate Responsibility as part of its 2025 Corporate Inclusion Index, covering employment, procurement, philanthropy, and governance. These ratings are more than just numbers. They reflect the people who make Medtronic what it is. To our Hispanic and Latino colleagues: thank you for what you bring to our Mission. Rodrigo Medina and Greg Smith – your leadership of our Hispanic Latino Network continues to inspire! ⭐ ⭐ ⭐ ⭐ ⭐ #HispanicHeritageMonth #HACRResearch\\\",\\\"time\\\":\\\"1mo\\\",\\\"title\\\":\\\"Dr. Sally Saba MBA\\\",\\\"comments_count\\\":1,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D5622AQH059VHCDsAIA/feedshare-shrink_800/B56ZnkOHYCG0Ag-/0/1760470530278?e=2147483647&v=beta&t=twv952k0kV_4y8C4PRXUPGLGc1rK4XUScurjJgYiKB0\\\",\\\"https://media.licdn.com/dms/image/v2/D5622AQFvNo6JZFCNRg/feedshare-shrink_1280/B56ZnkOHYFG0As-/0/1760470529947?e=2147483647&v=beta&t=TvjeuTwMN5SEIqBCtxAk5ThAI6LVijY3tSiSqnfu1hQ\\\",\\\"https://media.licdn.com/dms/image/v2/D5622AQHLneBFe3orbQ/feedshare-shrink_800/B56ZnkOHXMJQAg-/0/1760470529911?e=2147483647&v=beta&t=YPDu4yvx2mbuc_5LEz9L6XRbfgCDH4iQTdxM85tzjtU\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/feed/update/urn:li:activity:7384219317829083136/\\\",\\\"post_id\\\":\\\"7384219317829083136\\\",\\\"date\\\":\\\"2025-10-25T11:22:26.542Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Every day, I see the profound impact our Hispanic and Latino colleagues have on <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Medtronic</a>. \\\\n\\\\nThey don&#x2019;t just contribute to our success; they define it, enriching our workplace and strengthening our ability to deliver meaningful solutions for patients worldwide. \\\\n\\\\nAs we close out Hispanic Heritage Month, I&#x2019;m proud to share that this impact has been recognized externally as well: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Medtronic</a> has been honored with four 5-star ratings from <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/hispanic-association-on-corporate-responsibility?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>HACR - Hispanic Association on Corporate Responsibility</a> as part of its 2025 Corporate Inclusion Index, covering employment, procurement, philanthropy, and governance. \\\\n\\\\nThese ratings are more than just numbers. They reflect the people who make Medtronic what it is. To our Hispanic and Latino colleagues: thank you for what you bring to our Mission. <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/in/rosmedina?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Rodrigo Medina</a> and <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/in/greg-smith-5079315?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Greg Smith</a> &#x2013; your leadership of our Hispanic Latino Network continues to inspire! &#x2B50; &#x2B50; &#x2B50; &#x2B50; &#x2B50; \\\\n\\\\n<a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2Fhispanicheritagemonth&amp;trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>#HispanicHeritageMonth</a> <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2Fhashtag%2Fhacrresearch&amp;trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>#HACRResearch</a>\\\"}\",\"{\\\"likes_count\\\":129,\\\"text\\\":\\\"Expanding access to medical technology is critical to strengthening global health systems. This new study explores the critical barriers — and the real opportunities to expanding MedTech access in least developed countries. We’re dedicated to breaking those barriers and expanding access to innovative healthcare solutions worldwide.\\\",\\\"time\\\":\\\"1mo 1mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":13,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E22AQF6cbOHMdewTw/feedshare-shrink_1280/B4EZm4WGfGIMAs-/0/1759734426130?e=2147483647&v=beta&t=v5ZPKoJVWI7G_3eQmBIEHXikc6JozNUxnzoY2MLHYKI\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_expanding-access-to-medical-technology-is-activity-7382450647918354432-mSWH\\\",\\\"post_id\\\":\\\"7382450647918354432\\\",\\\"date\\\":\\\"2024-12-29T11:22:26.548Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":[{\\\"name\\\":\\\"World Intellectual Property Organization – WIPO\\\",\\\"link\\\":\\\"https://ch.linkedin.com/company/wipo?trk=organization_guest_main-feed-card_reshare-text\\\"},{\\\"name\\\":\\\"UN Technology Bank for the Least Developed Countries\\\",\\\"link\\\":\\\"https://tr.linkedin.com/company/un-technology-bank-for-least-developed-countries?trk=organization_guest_main-feed-card_reshare-text\\\"},{\\\"name\\\":\\\"Medtronic\\\",\\\"link\\\":\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card_reshare-text\\\"}],\\\"tagged_users\\\":null,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E22AQF6cbOHMdewTw/feedshare-shrink_1280/B4EZm4WGfGIMAs-/0/1759734426130?e=2147483647&v=beta&t=v5ZPKoJVWI7G_3eQmBIEHXikc6JozNUxnzoY2MLHYKI\\\"],\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":[\\\"Assistant Director General\\\",\\\"Global Challenges and Partnerships Sector at World Intellectual Property Organization\\\"]},\\\"text_html\\\":\\\"Expanding access to medical technology is critical to strengthening global health systems.\\\\nThis new study explores the critical barriers &#x2014; and the real opportunities&#xA0;to expanding MedTech access in least developed countries. We&#x2019;re dedicated to breaking those barriers and expanding access to innovative healthcare solutions worldwide.\\\"}\",\"{\\\"likes_count\\\":262,\\\"text\\\":\\\"We’re proud to share out our FY25 Impact Report – showing how Medtronic is staying true to our Mission of alleviating pain, restoring health, and extending life!\\\",\\\"time\\\":\\\"1mo Edited 1mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":5,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4D22AQEx_sWJzSq9Kw/feedshare-shrink_800/B4DZnEeoh4JcAg-/0/1759937989598?e=2147483647&v=beta&t=1D0S-1mRwv0fELio-gAZN53oUcR5-AecKtNM82-HEVw\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_were-proud-to-share-out-our-fy25-impact-activity-7381764616282095618-bdUQ\\\",\\\"post_id\\\":\\\"7381764616282095618\\\",\\\"date\\\":\\\"2024-12-29T11:22:26.551Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":[{\\\"name\\\":\\\"Medtronic\\\",\\\"link\\\":\\\"https://www.linkedin.com/company/medtronic?trk=organization_guest_main-feed-card_reshare-text\\\"}],\\\"tagged_users\\\":null,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4D22AQEx_sWJzSq9Kw/feedshare-shrink_800/B4DZnEeoh4JcAg-/0/1759937989598?e=2147483647&v=beta&t=1D0S-1mRwv0fELio-gAZN53oUcR5-AecKtNM82-HEVw\\\"],\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":[\\\"CEO & Chairman Of The Board Of Directors at Medtronic\\\"]},\\\"text_html\\\":\\\"We&#x2019;re proud to share out our FY25 Impact Report &#x2013; showing how Medtronic is staying true to our&#xA0;Mission of alleviating pain, restoring health, and extending life!\\\"}\",\"{\\\"likes_count\\\":293,\\\"text\\\":\\\"Protecting wildlife is about more than saving species—it’s about preserving the balance of entire ecosystems. 🌎🧬 Through an innovative partnership with the Smithsonian, technology is helping conservationists monitor endangered giant anteaters and gather meaningful data. Tools like the LINQ™ device—originally designed for human monitoring—are now enabling researchers to better understand stress responses and environmental threats to these animals. By bridging medicine and conservation, we’re protecting the future of our planet.\\\",\\\"time\\\":\\\"3mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":19,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-640p-30fp-crf28/B4EZiAHOCDHEAw-/0/1754496040600?e=2147483647&v=beta&t=lS2eHIUnzMMn1rNW5aUB1ykdJvT6Yo3u4GI6CQg98v0\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-720p-30fp-crf28/B4EZiAHOCDHEBo-/0/1754496039311?e=2147483647&v=beta&t=ayxPNRdh8OgRjQQFiLIXs_BSUi9tsVU0IWS0z3FNfFY\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQH8Lijzhr6zWg/mp4-360p-30fp-crf28/B4EZiAHOCDHEBk-/0/1754496038596?e=2147483647&v=beta&t=xCNiUbNus2TZKJK6qMBfPAe4vasHFTezS65K89yeslg\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_protecting-wildlife-is-about-more-than-saving-activity-7358889803154661377--xpq\\\",\\\"post_id\\\":\\\"7358889803154661377\\\",\\\"date\\\":\\\"2025-08-26T11:22:26.553Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Protecting wildlife is about more than saving species&#x2014;it&#x2019;s about preserving the balance of entire ecosystems. &#x1F30E;&#x1F9EC;\\\\nThrough an innovative partnership with the Smithsonian, technology is helping conservationists monitor endangered giant anteaters and gather meaningful data. Tools like the LINQ&#x2122; device&#x2014;originally designed for human monitoring&#x2014;are now enabling researchers to better understand stress responses and environmental threats to these animals. By bridging medicine and conservation, we&#x2019;re protecting the future of our planet.\\\"}\",\"{\\\"likes_count\\\":337,\\\"text\\\":\\\"When a giant anteater is safely recaptured, researchers retrieve more than a device—they retrieve answers. Thanks to the heart monitor from Medtronic, we’re gaining rare, real-time insights into how these vulnerable animals respond to stress, habitat disruption, and environmental change. This data isn’t just informative—it’s transformative. It helps shape smarter conservation strategies, guides habitat protections, and brings us one step closer to keeping these unique creatures in the wild, where they belong.\\\",\\\"time\\\":\\\"3mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":15,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-640p-30fp-crf28/B4EZhW6iECHIA0-/0/1753804851110?e=2147483647&v=beta&t=eE5v9bFHz71Mx0HHdChBITfnTRN1yKp4VZl8f0Pl1AU\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-720p-30fp-crf28/B4EZhW6iECHIBs-/0/1753804847240?e=2147483647&v=beta&t=ca3QAsgn3EMZGds-jStsYFzxBOu0M0QNyR_57RAfK6A\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQEciLzlJhyxcA/mp4-360p-30fp-crf28/B4EZhW6iECHIBo-/0/1753804846736?e=2147483647&v=beta&t=0qM2ybXtU0q4UfNVWMTEa60C5Q7UNI7GZGv4vCFDqZw\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_when-a-giant-anteater-is-safely-recaptured-activity-7355990735109726209-wtsA\\\",\\\"post_id\\\":\\\"7355990735109726209\\\",\\\"date\\\":\\\"2025-08-26T11:22:26.554Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"When a giant anteater is safely recaptured, researchers retrieve more than a device&#x2014;they retrieve answers. Thanks to the heart monitor from Medtronic, we&#x2019;re gaining rare, real-time insights into how these vulnerable animals respond to stress, habitat disruption, and environmental change. This data isn&#x2019;t just informative&#x2014;it&#x2019;s transformative. It helps shape smarter conservation strategies, guides habitat protections, and brings us one step closer to keeping these unique creatures in the wild, where they belong.\\\"}\",\"{\\\"likes_count\\\":228,\\\"text\\\":\\\"What does a Medtronic heart monitor have to do with saving a vulnerable species? In partnership with the Smithsonian's National Zoo and Conservation Biology Institute , the LINQ™ device—originally developed for human patients—now helps researchers monitor the heart health of giant anteaters in the wild. The data collected provides rare insights into how these animals respond to stress, habitat change, and human interaction—informing smarter, more effective conservation strategies. When innovation crosses disciplines, it creates impact far beyond the expected. Read more about our work with the anteaters here: http://bit.ly/4lVaWfK\\\",\\\"time\\\":\\\"4mo Edited\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":15,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-360p-30fp-crf28/B4EZgt7d2tHgBo-/0/1753117228134?e=2147483647&v=beta&t=O7anoQHu07YuA8rX-cf_fepGV8i08wFnGIEmGY4IkCk\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-640p-30fp-crf28/B4EZgt7d2tHgA0-/0/1753117229548?e=2147483647&v=beta&t=HwYII-bx7PFhkkXAvu8HZMQ0T84rTNf2liJmjQdWibE\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHULd3zMjqp0Q/mp4-720p-30fp-crf28/B4EZgt7d2tHgBs-/0/1753117229575?e=2147483647&v=beta&t=84s7c8kFjtdo_3bmreVSjxZgfFGFK2otlOBfVDkHEsw\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_what-does-a-medtronic-heart-monitor-have-activity-7353106648229421059-5OLt\\\",\\\"post_id\\\":\\\"7353106648229421059\\\",\\\"date\\\":\\\"2025-07-27T11:22:26.556Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"What does a Medtronic heart monitor have to do with saving a vulnerable species?\\\\nIn partnership with the <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/smithsonian-s-national-zoo-and-conservation-biology-institute?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Smithsonian&apos;s National Zoo and Conservation Biology Institute</a>, the LINQ&#x2122; device&#x2014;originally developed for human patients&#x2014;now helps researchers monitor the heart health of giant anteaters in the wild. The data collected provides rare insights into how these animals respond to stress, habitat change, and human interaction&#x2014;informing smarter, more effective conservation strategies. When innovation crosses disciplines, it creates impact far beyond the expected. \\\\nRead more about our work with the anteaters here: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"http://bit.ly/4lVaWfK?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" rel=\\\\\\\"nofollow\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>http://bit.ly/4lVaWfK</a> \\\"}\",\"{\\\"likes_count\\\":370,\\\"text\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they’re implanted with Medtronic heart monitors. For humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian’s National Zoo and Conservation Biology Institute expanded the technology’s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species. Read more about our work with the anteaters here: http://bit.ly/4lVaWfK\\\",\\\"time\\\":\\\"4mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":15,\\\"videos\\\":[\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-360p-30fp-crf28/B4EZgPrFrTGoBo-/0/1752609622515?e=2147483647&v=beta&t=Xmgqb6op8dTf5-nnkuvDp3EbuAC-SB2GADBbfdo7BfE\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-640p-30fp-crf28/B4EZgPrFrTGoA0-/0/1752609625237?e=2147483647&v=beta&t=rJ-WwFK4qaFUCStbNQOL1CT8kpADfKb71VXShy5fyhg\\\",\\\"https://dms.licdn.com/playlist/vid/v2/D4E10AQHBNn853BjerQ/mp4-720p-30fp-crf28/B4EZgPrFrTGoBs-/0/1752609622325?e=2147483647&v=beta&t=DyaKul79CKaHS1R-fIhKXc_GaC_eEP4LtYqLyArd7dQ\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_some-of-the-knuckle-walking-bushy-tailed-activity-7350977643875299328-J3-n\\\",\\\"post_id\\\":\\\"7350977643875299328\\\",\\\"date\\\":\\\"2025-07-27T11:22:26.558Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they&#x2019;re implanted with Medtronic heart monitors. \\\\nFor humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian&#x2019;s National Zoo and Conservation Biology Institute expanded the technology&#x2019;s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species. \\\\n\\\\nRead more about our work with the anteaters here: <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"http://bit.ly/4lVaWfK?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" rel=\\\\\\\"nofollow\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>http://bit.ly/4lVaWfK</a>  \\\\n\\\"}\",\"{\\\"likes_count\\\":620,\\\"text\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they’re implanted with Medtronic heart monitors. For humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the Smithsonian Institution ’s National Zoo and Conservation Biology Institute expanded the technology’s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species.\\\",\\\"time\\\":\\\"4mo\\\",\\\"title\\\":\\\"Medtronic\\\",\\\"comments_count\\\":27,\\\"images\\\":[\\\"https://media.licdn.com/dms/image/v2/D4E12AQGKbnqjo2I3HA/article-cover_image-shrink_720_1280/B4EZgJ5UWGGwAM-/0/1752512678453?e=2147483647&v=beta&t=rEgzmkSConSruWrUDWc0q28RUAeh-Wiuiwmfc3swR-Q\\\"],\\\"post_url\\\":\\\"https://www.linkedin.com/posts/medtronic_at-the-heart-of-giant-anteater-conservation-activity-7350615080050253824-Hctw\\\",\\\"post_id\\\":\\\"7350615080050253824\\\",\\\"date\\\":\\\"2025-07-27T11:22:26.560Z\\\",\\\"tagged_companies\\\":null,\\\"tagged_people\\\":null,\\\"repost\\\":{\\\"tagged_companies\\\":null,\\\"tagged_users\\\":null,\\\"images\\\":null,\\\"videos\\\":null,\\\"external_links\\\":null,\\\"repost_hangtags\\\":null},\\\"text_html\\\":\\\"Some of the knuckle-walking, bushy-tailed, ant-slurping giant anteaters of Brazil have another fascinating trait: they&#x2019;re implanted with Medtronic heart monitors.&#xA0;\\\\nFor humans, these devices monitor heart rhythms over time and catch issues like irregular heartbeats. Researchers from Medtronic and the <a class=\\\\\\\"link\\\\\\\" href=\\\\\\\"https://www.linkedin.com/company/smithsonian-institution?trk=organization_guest_main-feed-card-text\\\\\\\" target=\\\\\\\"_self\\\\\\\" data-tracking-control-name=\\\\\\\"organization_guest_main-feed-card-text\\\\\\\" data-tracking-will-navigate>Smithsonian Institution</a>&#x2019;s National Zoo and Conservation Biology Institute expanded the technology&#x2019;s scope beyond human patients and have implanted the monitors in animals around the world to help conserve species.&#xA0;&#xA0;\\\"}\"}","followers":"2359745","about":"A global healthcare technology leader — boldly attacking the most challenging health problems facing humanity with innovations that transform lives.","company_size":"10,001+ employees","industries":"Medical Equipment Manufacturing","headquarters":"Minneapolis, MN","funding":"{\"last_round_date\":\"2025-10-15T00:00:00.000Z\",\"last_round_type\":\"Post IPO debt\",\"rounds\":1,\"last_round_raised\":\"US$ 1.8B\"}","linkedin_url":"http://www.linkedin.com/company/medtronic","dtm_value_signals":["Global footprint across 12+ locations and 2.3M LinkedIn followers – indicates complex coordination and high admin load","2,432 open jobs spanning engineering, analytics, quality, logistics, and clinical roles – hiring surge suggests capacity strain","Posts highlighting new FDA‑cleared device (Symplicity Spyral™ renal denervation) and Medicare coverage – regulatory and reimbursement pipeline complexity","R&D‑heavy stories about wildlife heart‑monitoring (LINQ™) – massive unstructured sensor data and cross‑domain collaboration","Study on barriers to MedTech access in least‑developed countries – need for market‑entry analytics & supply‑chain optimisation","Frequent impact and FY25 reporting – manual reporting overhead"],"pain_points_identified":["Manual aggregation of clinical trial and device outcome data for regulatory submissions","Time‑intensive compliance documentation across US, EU, Asia and emerging markets","Large volumes of device telemetry requiring cleaning, labeling, and insight generation","Complex global supply‑chain coordination causing bottlenecks in logistics and inventory management","R&D teams need faster prototype iteration and hypothesis validation for novel devices and cross‑domain projects","Workforce scaling pressure – many open technical roles indicate current teams are stretched"],"dtm_opportunities":"{\"ai_engineering\":[\"Build AI models to analyze renal denervation and LINQ™ telemetry (real‑time anomaly detection, outcome prediction)\",\"Create generative‑design pipelines for rapid medical‑device prototyping (CAD + simulation + AI optimisation)\",\"Automate regulatory submission drafting using LLMs trained on FDA/EMA guidelines\",\"Develop predictive‑maintenance AI for manufacturing equipment across all sites\"],\"automation\":[\"RPA for compliance report generation (Medicare coverage, FY impact reporting)\",\"Automated ingestion pipelines from implanted devices to cloud data lakes and EMR systems\",\"Supply‑chain orchestration bots to sync inventory, shipment tracking, customs documentation across 12 locations\",\"Automatic scheduling and workflow routing for clinical‑trial document reviews\"],\"rnd_support\":[\"AI‑assisted literature mining and hypothesis generation for wildlife monitoring and human cardiac studies\",\"Rapid proof‑of‑concept environment using AI‑driven simulation for new therapeutic technologies\",\"Experiment‑tracking platform with automated data capture, versioning, and result summarisation\",\"Cross‑domain collaboration hub (human health ↔ veterinary) powered by AI to surface reusable insights\"],\"data_and_insights\":[\"Enterprise dashboard consolidating device performance, patient outcomes, and market‑access metrics globally\",\"Advanced analytics to forecast demand in emerging markets and identify supply‑chain risk factors\",\"ML‑based segmentation of patient populations for personalized therapy recommendations\",\"Real‑time wildlife telemetry analytics to guide conservation strategy and publish actionable reports\"],\"domain_trained_team\":[\"Healthcare & medical‑device regulatory specialists trained on AI‑assisted compliance tools\",\"Clinical‑research scientists up‑skilled in AI‑data‑science for sensor‑data analytics\",\"Supply‑chain & logistics engineers familiar with AI‑optimised inventory management in pharma/medical‑device space\",\"Veterinary‑health experts to bridge animal‑monitoring projects and data interpretation\"],\"workload_reduction\":[\"AI‑driven summarisation of clinical‑trial documents reduces manual review time ~40%\",\"RPA of repetitive QA checks cuts quality‑engineer effort across manufacturing sites\",\"Automated global reporting eliminates duplicated data‑entry for regulatory filings\",\"Intelligent scheduling assistants free project managers from manual calendar coordination across time zones\"]}","summary":"Medtronic’s extensive R&D pipeline, worldwide manufacturing footprint, and hiring surge signal heavy manual workloads in data processing, regulatory compliance, and supply‑chain coordination. Dedicated Team Members with AI engineering, automation, R&D acceleration, data‑analytics, and domain‑specific expertise can dramatically cut manual effort, speed device innovation, and improve global market access—especially for emerging‑market expansion and cross‑disciplinary wildlife monitoring projects.","value_fit_score":9.5,"confidence":"high"}}]},"versionId":"fdbc376f-0e81-4821-bbc5-3b1b4dce617b","triggerCount":0,"tags":[]}