ai-research-agent-for-ses-VOKecrvFBO0woGRi.json
{"updatedAt":"2025-08-03T16:39:53.000Z","createdAt":"2025-07-27T16:40:56.815Z","id":"VOKecrvFBO0woGRi","name":"AI Research Agent for SES","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1504,288],"id":"b33a8d66-5d8f-4f68-a160-0655a12f2f2f","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1971880d-1d72-44c1-81fc-63fa8e62afcd","leftValue":"={{ $json.name }}","rightValue":"={{ $('Code1').item.json.company_name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5696,-192],"id":"3315a4ae-eb02-409b-882d-71fb2c2c776b","name":"If2"},{"parameters":{"fieldToSplitOut":"organizations","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5104,-192],"id":"772abaec-ed74-4ca0-88c6-4dd32ac5a302","name":"Split Out1"},{"parameters":{"jsCode":"const organizationId = $input.first().json.id; // Replace \"name\" if your input field is different\n\nif (!organizationId) {\n  throw new Error(\"Missing organizationId input\");\n}\n\n// Base URL\nconst baseUrl = \"https://app.apollo.io/#/people\";\n\n// Hardcoded query parameters\nconst query = [\n  \"page=1\",\n  \"sortAscending=false\",\n  \"sortByField=recommendations_score\",\n  ...[\n    \"owner\", \"founder\", \"partner\", \"head\", \"vp\", \"c_suite\", \"director\"\n  ].map(val => `personSeniorities[]=${encodeURIComponent(val)}`),\n  ...[\n    \"India\", \"United States\", \"Australia\"\n  ].map(loc => `personLocations[]=${encodeURIComponent(loc)}`),\n  \"contactEmailStatusV2[]=verified\",\n  `organizationIds[]=${encodeURIComponent(organizationId)}`\n];\n\n// Combine everything\nconst fullUrl = `${baseUrl}?${query.join(\"&\")}`;\n\nreturn [\n  {\n    json: {\n      organizationId,\n      url: fullUrl\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5968,-224],"id":"4429aeb3-6835-4c96-8079-b80d45480654","name":"Code3"},{"parameters":{"method":"POST","url":"https://api.apollo.io/api/v1/mixed_companies/search ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"llf6QTT16sK_glg9JVwRwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"q_organization_name\": \"{{ $json.company_name }}\"\n} ","options":{}},"id":"51a3bab6-2735-4170-aabf-0b8005c4fc7f","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,-176]},{"parameters":{"resource":"Datasets","datasetId":"={{ $json.defaultDatasetId }}","limit":10},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[6752,-160],"id":"c772c284-63bb-418e-9cd7-7bf4c29991be","name":"Get dataset items","credentials":{"apifyApi":{"id":"oLtSixegpdrl6tmh","name":"Apify account 2"}}},{"parameters":{"actorId":{"__rl":true,"value":"jljBwyyQakqrL1wae","mode":"list","cachedResultName":"🔥Apollo Scraper - Scrape upto 50k Leads (code_crafter/apollo-io-scraper)","cachedResultUrl":"https://console.apify.com/actors/jljBwyyQakqrL1wae/input"},"customBody":"={\n  \"totalRecords\": 500,\n    \"url\": \"{{ $json.url }}\"\n} "},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[6208,-144],"id":"966042e4-e565-4e74-bb67-0db9b4fca47e","name":"Run an Actor","credentials":{"apifyApi":{"id":"oLtSixegpdrl6tmh","name":"Apify account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-search-preview-2025-03-11","mode":"list","cachedResultName":"GPT-4O-MINI-SEARCH-PREVIEW-2025-03-11"},"messages":{"values":[{"content":"You are an expert business research analyst. Your task is to extract comprehensive company and project insights based on the provided user query. Your response MUST be a valid JSON object, and ONLY the JSON object. Adhere strictly to the following schema. Do not include any preamble, conversational text, or explanations outside the JSON block. If any information cannot be found or is not applicable, use an empty string (\"\") for text fields, an empty array ([]) for list fields, or \"Unknown\" for categorical fields like 'business_size' and 'project_stage'.\n\nJSON Schema to follow:\n{\n  \"company_overview\": \"string\",\n  \"recent_announcement\": \"string\",\n  \"pain_point_tag\": \"string\",\n  \"tech_stack\": [\"string\"],\n  \"business_size\": \"string\",\n  \"competitor_association\": [\"string\"],\n  \"news_mentions\": [\"string\"]\n}","role":"system"},{"content":"=Conduct a detailed research on the company: **{{ $('Loop Over Items2').item.json.company_name }}**, focusing specifically on their recent project: **{{ $('Loop Over Items2').item.json.identified_opportunity }}** which is located in **{{ $('Loop Over Items2').item.json.location }}**. The project scope is described as: {{ $('Loop Over Items2').item.json.project_details_scope }}.\n\nBased on thorough research from available public and industry sources, extract and provide the following information. Ensure the data is current and relevant to the project described:\n\n-   **company_name**: Extract the most distinctive and searchable name of the company from the input. use following rules:\n1) Always return a value for this field — it is mandatory.\n2) Remove all generic legal suffixes or structural terms such as: Ltd., Limited, Pvt. Ltd., LLP, Inc., Corp., Corporation, Private Limited, PLC, Co., Company, etc.\n3) Retain only the unique and identifying part of the company name — this should be sufficient for fuzzy searching and exact matching across databases like Apollo, LinkedIn, or CRM tools.\n4) Output must be in Title Case, correctly spaced and capitalized.\n5) Do not return any abbreviation or shorthand. Do not omit meaningful words like “Technologies”, “Energy”, “Power”, “Infrastructure”, etc.\n6) If the input is ambiguous or too short (e.g., just “NTPC”), use context or known expansions to generate a meaningful name. But do not leave the field empty.\n\n\n\n-   **company_overview**: A comprehensive, high-level summary of the company, including its primary business, mission, and general market position.\n-   **recent_announcement**: The most recent, significant official announcement or confirmed update directly related to the project.\n-   **pain_point_tag**: Identify a key business or technical challenge that this company, or this specific project, is likely addressing or encountering.\n-   **tech_stack**: List of relevant technologies, platforms, or specific software/hardware stacks that the company uses or that are critical to the project's success. Provide this as an array of strings.\n-   **business_size**: An estimated classification of the company's size, chosen from 'Small', 'Mid', or 'Large', based on publicly available metrics (e.g., revenue, employee count, market capitalization). If exact size is unknown, provide 'Unknown'.\n-   **competitor_association**: List of primary competitors, direct rivals, or other notable companies operating in a similar market or industry as **{{ $('Fetch New Opportunities').item.json.company_name }}**. Provide this as an array of strings.\n-   **news_mentions**: A collection of significant external news articles, press releases, or prominent online mentions (provide URLs or titles) that are relevant to the company or the identified project. Provide this as an array of strings (URLs preferred).\n\nYour response must be ONLY the JSON object conforming to the schema provided in the system prompt."}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3312,-176],"id":"cf4009d8-216c-4a1f-837c-2bb46bd3937e","name":"Enrich Company Agent","credentials":{"openAiApi":{"id":"IWsGuBrx6QxC1Kx8","name":"TheLinkAI"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-search-preview-2025-03-11","mode":"list","cachedResultName":"GPT-4O-MINI-SEARCH-PREVIEW-2025-03-11"},"messages":{"values":[{"content":"You are a business intelligence analyst specializing in industrial project validation. Your task is to verify the credibility of business opportunities by analyzing multiple sources and providing evidence-based assessments. Focus on manufacturing, energy, chemical, and infrastructure projects. Be thorough but efficient in your analysis. Search across all available platforms including social media, business news, and official channels.","role":"system"},{"content":"=Validate this business opportunity with high precision across multiple platforms:\n\nCOMPANY: {{ $json.company_name }}\nPROJECT: {{ $json.identified_opportunity }}\nLOCATION: {{ $json.location }}\nSCOPE: {{ $json.project_details_scope }}\n\nInstructions:\n1. Search for recent announcements, press releases, or official statements about this specific project\n2. Verify the company's involvement and project status\n3. Look for supporting evidence from credible sources including:\n   - Official company websites and press releases\n   - Government announcements and project approvals\n   - Industry reports and trade publications\n   - Business news websites (Economic Times, Business Standard, MoneyControl, etc.)\n   - Social media platforms (LinkedIn, Twitter/X, Facebook)\n   - Professional networking sites (LinkedIn company pages, employee posts)\n   - Financial news and stock exchange announcements\n   - Local and regional news sources\n   - Industry-specific publications and journals\n4. Assess the credibility level based on available information\n5. Cross-reference information across multiple sources for consistency\n\nRespond in this exact JSON format:\n{\n  \"confidence\": true/false,\n  \"sources\": [\"url1\", \"url2\", \"url3\"],\n  \"snippet\": \"Brief summary of the most compelling evidence found\",\n  \"project_status\": \"planning/construction/announced/completed\",\n\"insights_summary\":\"summary of insight/opportunity which will be helpful to craft email to outreach company\"\n  \"verification_level\": \"high/medium/low\",\n  \"source_types\": [\"official_website\", \"social_media\", \"news_article\", \"government\", \"financial_report\"]\n}"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1776,224],"id":"d58c4ad2-5649-47d7-b5d1-26a289b7c1b4","name":"Validation agent","credentials":{"openAiApi":{"id":"IWsGuBrx6QxC1Kx8","name":"TheLinkAI"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    let content = item.json.choices?.[0]?.message?.content;\n\n    if (!content) {\n      throw new Error(\"Missing content field from LLM\");\n    }\n\n    // Remove markdown-style code block wrappers (```json ... ```)\n    content = content.replace(/^```json/, '').replace(/```$/, '').trim();\n\n    // Extract only the first complete JSON block between first \"{\" and last \"}\"\n    const firstCurly = content.indexOf('{');\n    const lastCurly = content.lastIndexOf('}');\n    if (firstCurly === -1 || lastCurly === -1 || lastCurly <= firstCurly) {\n      throw new Error(\"Could not locate a valid JSON object in the string\");\n    }\n\n    const jsonString = content.substring(firstCurly, lastCurly + 1);\n\n    // Parse clean JSON string\n    const parsed = JSON.parse(jsonString);\n\n    results.push({ json: parsed });\n\n  } catch (error) {\n    results.push({\n      json: {\n        error: error.message,\n        originalInput: item.json\n      }\n    });\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3776,-160],"id":"0f3a702c-14d4-42f9-b78d-96e6e0547307","name":"Code1"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Get the content field (string containing JSON)\n    let content = item.json.choices[0].message.content\n    if (!content) throw new Error('No content field found');\n\n    // Remove triple backticks and \"json\" if present\n    content = content.replace(/```json|```/g, '').trim();\n\n    // Parse the JSON string\n    const parsed = JSON.parse(content);\n\n    results.push({ json: parsed });\n  } catch (error) {\n    results.push({\n      json: {\n        error: error.message,\n        original: item.json\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,240],"id":"5f5d705d-7d6c-4433-85a3-65af364295d6","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"336074e3-b3b9-4dde-92d7-fb5af51b8ffa","name":"fullName","value":"={{ $json.first_name }} {{ $json.last_name }}","type":"string"},{"id":"da8362c5-75a5-4431-847d-fd4e02112bcc","name":"emailAddress","value":"={{ $json.email }}","type":"string"},{"id":"3c99e0e0-4184-4e85-baa0-8bb85e4e227b","name":"linkedInURL","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"a45af1ff-7026-47a0-a42c-bdb3b27c8e3d","name":"seniority ","value":"={{ $json.seniority }}","type":"string"},{"id":"fa551406-a981-4fbb-babc-aa78ab10010d","name":"jobTitle","value":"={{ $json.title }}","type":"string"},{"id":"2e8d8d61-bd02-4f24-91f1-707152d99806","name":"companyName","value":"={{ $json.organization_name }}","type":"string"},{"id":"1295a702-636a-48bd-8bcd-df92162237fb","name":"location","value":"={{ $json.city }}, {{ $json.state }},{{ $json.country }}","type":"string"},{"id":"0072b657-0296-4858-b190-621831943816","name":"country","value":"={{ $json.country }}","type":"string"},{"id":"22ce107c-30ef-4abe-9fab-8d49482da87c","name":"Number","value":"={{ $json.organization.primary_phone && $json.organization.primary_phone.sanitized_number && $json.organization.primary_phone.sanitized_number ? $json.organization.primary_phone.sanitized_number : null }}","type":"string"},{"id":"302b9529-e16b-49ce-bbb6-ae2de90fed93","name":"websiteURL","value":"={{ $json.organization_website_url || $json.organization_linkedin_url}}","type":"string"},{"id":"fcb892b3-0905-4d81-8372-d94aa4877ecc","name":"Industry_keywords","value":"={{ $json.keywords }}","type":"string"},{"id":"d391b3be-c68e-449e-83e8-be5ccb8c029d","name":"annual_revenue","value":"={{ $json.organization_annual_revenue }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6992,-160],"id":"62dc146b-cae0-4a6d-bc38-ef8d698ad6ad","name":"Extract Info1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"opportunity_insights","mode":"list","cachedResultName":"opportunity_insights"},"columns":{"mappingMode":"defineBelow","value":{"processed":true,"processed_at":"={{ new Date().toISOString() }}","insight_id":"={{ $('Fetch New Opportunities').item.json.insight_id }}"},"matchingColumns":["insight_id"],"schema":[{"id":"insight_id","displayName":"insight_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"article_source","displayName":"article_source","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"identified_opportunity","displayName":"identified_opportunity","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"project_details_scope","displayName":"project_details_scope","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remarks_recommended_action","displayName":"remarks_recommended_action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"mark-processed","name":"Mark Insight Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8368,240],"retryOnFail":true,"credentials":{"postgres":{"id":"VObWv0KbhN6NpzkP","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"schema":"public","table":"leads_master","columns":{"mappingMode":"defineBelow","value":{"full_name":"={{ $('Extract Info1').item.json.fullName }}","email":"={{ $('Extract Info1').item.json.emailAddress }}","linkedin_url":"={{ $('Extract Info1').item.json.linkedInURL }}","location":"={{ $('Extract Info1').item.json.location }}","created_at":"={{ new Date().toISOString() }}","updated_at":"={{ new Date().toISOString() }}","job_title":"={{ $('Extract Info1').item.json.jobTitle }}","seniority":"={{ $('Extract Info1').item.json['seniority '] }}","comapany_name":"={{ $('Code1').item.json.company_name }}","mobile":"={{ $('Extract Info1').item.json.Number }}","company_id":"={{ $json.research_id }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_id","displayName":"company_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"full_name","displayName":"full_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lead_type","displayName":"lead_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"seniority","displayName":"seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"comapany_name","displayName":"comapany_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mobile","displayName":"mobile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"store-leads","name":"Insert Leads to Master","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7856,-48],"retryOnFail":true,"credentials":{"postgres":{"id":"VObWv0KbhN6NpzkP","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"confidence","leftValue":"={{ $json.should_proceed }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"87dcdc0c-0380-499f-9f7c-cfe723b38d61","leftValue":"={{ $('Code').item.json.confidence }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"id":"filter-confidence","name":"Filter High-Confidence Insights","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2992,224]},{"parameters":{"schema":"public","table":"validation_log","columns":{"mappingMode":"defineBelow","value":{"confidence":"={{ $json.confidence }}","sources":"={{ $json.sources }}","snippet":"={{ $json.snippet }}","logged_at":"={{ new Date().toISOString() }}","insight_id":"={{ $('Validate Required Fields').item.json.insight_id }}","insights_summary":"={{ $json.insights_summary }}","project_status":"={{ $json.project_status }}"},"matchingColumns":[],"schema":[{"id":"log_id","displayName":"log_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"confidence","displayName":"confidence","required":true,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"sources","displayName":"sources","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"logged_at","displayName":"logged_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"insight_id","displayName":"insight_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"insights_summary","displayName":"insights_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"project_status","displayName":"project_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"log-validation","name":"Log Validation Results","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2624,224],"retryOnFail":true,"credentials":{"postgres":{"id":"VObWv0KbhN6NpzkP","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"functionCode":"const validInsights = [];\n\nfor (const item of $input.all()) {\n  const insight = item.json;\n  \n  if (insight.company_name && insight.location && insight.identified_opportunity) {\n\n    insight.company_name = insight.company_name.trim();\n    insight.location = insight.location.trim();\n    insight.identified_opportunity = insight.identified_opportunity.trim();\n    \n    insight.project_keywords = extractKeywords(insight.project_details_scope || '');\n    \n    validInsights.push(insight);\n  }\n}\n\nfunction extractKeywords(text) {\n  const keywords = text.toLowerCase()\n    .match(/\\b(plant|facility|expansion|project|construction|development|upgrade|modernization|hydrogen|ammonia|production|manufacturing)\\b/g) || [];\n  return [...new Set(keywords)];\n}\n\nreturn validInsights.map(insight => ({ json: insight }));"},"id":"validate-fields","name":"Validate Required Fields","type":"n8n-nodes-base.function","typeVersion":1,"position":[672,304]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM opportunity_insights WHERE processed = false OR processed IS NULL ORDER BY created_at DESC LIMIT 50","options":{}},"id":"fetch-opportunities","name":"Fetch New Opportunities","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,304],"retryOnFail":true,"credentials":{"postgres":{"id":"VObWv0KbhN6NpzkP","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"triggerTimes":{"item":[{}]}},"id":"cron-trigger","name":"Daily Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,304]},{"parameters":{"fieldToSplitOut":"insight_id, article_source, identified_opportunity, company_name,  location,   project_details_scope,    remarks_recommended_action,     created_at,    processed,  processed_at","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1088,304],"id":"aa58afef-604a-46de-aae9-ae72fe26cd49","name":"Split Out2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"91100b85-5ab1-466b-b232-287b5121f155","leftValue":"={{ $json.statusMessage }}","rightValue":"=🚀 Success! Apollo Prospects","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6464,-144],"id":"556ba491-22ca-4862-b679-37a6ea7f253d","name":"If3"},{"parameters":{"schema":"public","table":"company_research","columns":{"mappingMode":"defineBelow","value":{"company_name":"={{ $('Code1').item.json.company_name }}","company_overview":"={{ $('Code1').item.json.company_overview }}","recent_announcement":"={{ $('Code1').item.json.recent_announcement }}","pain_point_tag":"={{ $('Code1').item.json.pain_point_tag }}","tech_stack":"={{ $('Code1').item.json.tech_stack }}","business_size":"={{ $('Code1').item.json.business_size }}","competitor_association":"={{ $('Code1').item.json.competitor_association }}","news_mentions":"={{ $('Code1').item.json.news_mentions }}","project_stage":"={{ $('Code').item.json.project_status }}","insights_summary":"={{ $('Code').item.json.insights_summary }}","enriched_at":"={{ new Date().toISOString() }}"},"matchingColumns":[],"schema":[{"id":"research_id","displayName":"research_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_overview","displayName":"company_overview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recent_announcement","displayName":"recent_announcement","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pain_point_tag","displayName":"pain_point_tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tech_stack","displayName":"tech_stack","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"business_size","displayName":"business_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"competitor_association","displayName":"competitor_association","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"news_mentions","displayName":"news_mentions","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"project_stage","displayName":"project_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"insights_summary","displayName":"insights_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"enriched_at","displayName":"enriched_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"websiteURL","displayName":"websiteURL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"annual_revenue","displayName":"annual_revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Industry_keywords","displayName":"Industry_keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"686d1b50-dc71-4281-a4f1-e714972ae289","name":"Insert Company Research1","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7344,-160],"retryOnFail":true,"credentials":{"postgres":{"id":"VObWv0KbhN6NpzkP","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"errorMessage":"Stopped: You have reached your daily limit of 50 runs."},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[6736,80],"id":"f90be715-9b22-4b34-8d67-7af1a1b1566b","name":"Stop and Error"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[5312,-192],"id":"1197fdc1-71f9-4202-ba72-d6645bf298bc","name":"Information Extractor"}],"connections":{"If2":{"main":[[{"node":"Code3","type":"main","index":0}],[]]},"Split Out1":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Run an Actor","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Validation agent","type":"main","index":0}]]},"Get dataset items":{"main":[[{"node":"Extract Info1","type":"main","index":0}]]},"Run an Actor":{"main":[[{"node":"If3","type":"main","index":0}]]},"Enrich Company Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Validation agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Log Validation Results","type":"main","index":0}]]},"Extract Info1":{"main":[[{"node":"Insert Company Research1","type":"main","index":0}]]},"Insert Leads to Master":{"main":[[{"node":"Mark Insight Processed","type":"main","index":0}]]},"Filter High-Confidence Insights":{"main":[[{"node":"Enrich Company Agent","type":"main","index":0}],[{"node":"Mark Insight Processed","type":"main","index":0}]]},"Log Validation Results":{"main":[[{"node":"Filter High-Confidence Insights","type":"main","index":0}]]},"Validate Required Fields":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Fetch New Opportunities":{"main":[[{"node":"Validate Required Fields","type":"main","index":0}]]},"Daily Trigger":{"main":[[{"node":"Fetch New Opportunities","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Mark Insight Processed":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Get dataset items","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Insert Company Research1":{"main":[[{"node":"Insert Leads to Master","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d776db61-4d40-4c0a-9995-fc110ee17185","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.424Z","createdAt":"2025-12-11T08:33:33.424Z","role":"workflow:owner","workflowId":"VOKecrvFBO0woGRi","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}