apolo-:-email-automation-3biXnHRxQ7s3Ssl6.json
{"createdAt":"2025-07-31T22:27:20.733Z","updatedAt":"2025-08-02T17:38:37.000Z","id":"3biXnHRxQ7s3Ssl6","name":"Apolo : Email Automation","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,0],"id":"dfb66adb-b4cd-431c-b270-dd196910f2cd","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"-- SELECT \n--   \"Project_ID\",\n--   \"Promoter_Contact Person Name\" AS first_name,\n--   '' AS last_name,\n--   \"Promoter_Contact Person_Email\" AS email,\n--   \"Promoter Name\" AS company_name\n-- FROM \"Project\"\n-- WHERE \n--   \"Promoter_Contact Person_Email\" IS NOT NULL\n--   AND TRIM(\"Promoter_Contact Person_Email\") != ''\n--   AND \"Project_ID\" NOT IN (\n--     SELECT project_id FROM apollo_outbox\n--   )\n-- LIMIT 1;\n\n  SELECT \n  \"Project_ID\",\n  \"Promoter_Contact Person Name\" AS first_name,\n  '' AS last_name,\n  \"Promoter_Contact Person_Email\" AS email,\n  \"Promoter Name\" AS company_name\nFROM \"Project\"\nWHERE \n  \"Promoter_Contact Person_Email\" = 'ydvkhushi721@gmail.com'\nLIMIT 1;\n\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,16],"id":"644c91aa-2844-4326-9239-cf6cb26e1931","name":"Execute a SQL query","credentials":{"postgres":{"id":"Xj2FMl2Q5fs6Tbm0","name":"Postgres account 2"}}},{"parameters":{"method":"POST","url":"https://api.apollo.io/v1/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=x-api-key","value":"llf6QTT16sK_glg9JVwRwQ"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"email\": \"dweise@sibelco.com\",\n  \"organization_name\": \"{{ $json.company_name }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,16],"id":"43d54dad-b828-49d4-8986-be2076226107","name":"Create apollo contact"},{"parameters":{"method":"POST","url":"https://api.apollo.io/api/v1/emailer_campaigns/688e375390b28c000da2c51a/add_contact_ids","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cache-Control","value":"no-cache"},{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"llf6QTT16sK_glg9JVwRwQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact_ids\": [\"{{$json.contact_id}}\"]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,16],"id":"1b105ddf-4e3f-4eee-8184-e561488e2b95","name":"Add to Apollo Sequence"},{"parameters":{"assignments":{"assignments":[{"id":"7d3950ef-2e73-45ab-822b-6b950314ce32","name":"contact_id","value":"={{$json[\"contact\"][\"id\"].trim()}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-304],"id":"e11dbe35-7ea0-46d6-a05e-3a2e7fedebf1","name":"Edit Fields"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      contact_id: $json.contact.id.replace(/\\s/g, '')\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,16],"id":"c4c669df-06ec-44b0-a8bc-60d8eeaa6b53","name":"Clean Contact ID"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Create apollo contact","type":"main","index":0}]]},"Create apollo contact":{"main":[[{"node":"Clean Contact ID","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Clean Contact ID":{"main":[[{"node":"Add to Apollo Sequence","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c7139b96-426b-4901-898e-56f3f804a147","triggerCount":0,"tags":[]}