aum-advertise-DaOZcl16yBrXAl1u.json
{"createdAt":"2025-11-03T11:19:59.473Z","updatedAt":"2025-11-12T09:12:48.000Z","id":"DaOZcl16yBrXAl1u","name":"AUM ADVERTISE","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1200,-272],"id":"c6f65e92-470c-430b-9a87-b1ddc5e088dd","name":"When chat message received","webhookId":"55060ddf-34cc-4a27-8a63-ade20d9a897e"},{"parameters":{"content":"Generate Prompt","height":432,"width":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,-304],"id":"3b0205ff-5744-487e-86e6-c39da3a0af26","name":"Sticky Note"},{"parameters":{"resource":"image","prompt":"={{ $json.output}}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,-336],"id":"40c4b23e-759f-41a8-89a8-6fed15405bf5","name":"Generate an image","executeOnce":true,"credentials":{"openAiApi":{"id":"BEGEMDUz1LXVfQ41","name":"OpenAi account 11"}}},{"parameters":{"content":"Generate Image with GPT","height":240,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,-368],"id":"251258f0-2bae-4af8-a4c5-49f84e36e6ff","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/sora-2/image-to-video/pro","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 88a4b776-0fd6-4104-95bb-a81bf23d0b91:a2c2cd7ee4748d283d20a4a92ef820a0"},{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"make the image as live video\",\n  \"image_url\":\"{{$('Upload file').item.json.webContentLink.replace('download','view')}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-320],"id":"85498599-4235-4191-a4c9-c6d545bedec6","name":"HTTP Request1"},{"parameters":{"name":"test image","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-64,-320],"id":"d2e44c5b-911f-4c50-b9a5-4a958fbf8a9d","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"oV904GjdKuHGvvJI","name":"Google Drive account"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/sora-2/requests/{{ $json.request_id }}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 88a4b776-0fd6-4104-95bb-a81bf23d0b91:a2c2cd7ee4748d283d20a4a92ef820a0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-144],"id":"1d7dc1ee-7361-487b-8189-c70809477b66","name":"HTTP Request2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,-160],"id":"6e80016c-c921-41a6-a714-773c05e588e3","name":"Wait","webhookId":"3d996605-0deb-4074-8ace-d38a522ae2b7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf8ddb91-cab1-4b93-89b0-8000a39d1919","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,-144],"id":"54af4122-a73c-4a3f-b3b1-2a952d27b3ba","name":"If"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/sora-2/requests/{{ $json.request_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 88a4b776-0fd6-4104-95bb-a81bf23d0b91:a2c2cd7ee4748d283d20a4a92ef820a0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-160],"id":"54e3dfc7-4b8a-453a-b9ce-ef09847172fa","name":"HTTP Request3"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[96,-320],"id":"5883848d-61cc-4d1e-9872-827635d6a0e0","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"oV904GjdKuHGvvJI","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1600,32],"id":"582efe81-dca2-4b64-b0e4-04a2b5ee5a3b","name":"Merge"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/kling-video/v1/tts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 88a4b776-0fd6-4104-95bb-a81bf23d0b91:a2c2cd7ee4748d283d20a4a92ef820a0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,192],"id":"3e63b5af-5711-4ef2-8261-80cd305e2614","name":"HTTP Request4"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[656,208],"id":"de2f6a10-01f1-498e-9a33-bac4350e64a1","name":"Wait1","webhookId":"c4dd4cbb-fb54-44e4-b6ea-057d02e80e52"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 88a4b776-0fd6-4104-95bb-a81bf23d0b91:a2c2cd7ee4748d283d20a4a92ef820a0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,208],"id":"e06e8b46-26f3-4ca4-939b-13e40956bf42","name":"HTTP Request5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf8ddb91-cab1-4b93-89b0-8000a39d1919","leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,224],"id":"75592a97-6deb-4603-ba26-5c6d4fa5456c","name":"If1"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/kling-video/requests/{{$json.request_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key 88a4b776-0fd6-4104-95bb-a81bf23d0b91:a2c2cd7ee4748d283d20a4a92ef820a0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,192],"id":"bdafbc4f-1ce1-49d2-b651-4698321b8c2c","name":"HTTP Request6"},{"parameters":{"options":{"systemMessage":" Task:\n You are a highly skilled AI designed to transform a short theme, emotion, \nor story concept into a visually stunning, high-quality anime-style cinematic scene.\n The final output should resemble a 3D, glossy anime movie shot — polished and emotionally immersive. \nUse deep lighting, rich textures, and strong atmospheric presence. \nThink of the visual tone seen in films like Your Name, Weathering With You, Suzume, or Belle.\n The prompt must be versatile enough to work for both image and video generation platforms without needing modification.\n Prompt Format Output Rules):\n Generate one cinematic anime-style scene\n Use realistic lighting (e.g. glowing sunlight, city neon, reflections, fog)\n Include textures like wet pavement, glowing skin, glass, metal, fabric, etc.\n Add 3D depth (blurred backgrounds, layered clouds, subtle lens focus)\n Ensure strong mood and emotional storytelling\n Keep it under 950 characters\n Do not use JSON  clean text only\n User Input Example:\n Anime story input:\n  $json.chatInput }}\n Sample Outputs:\n Input: A group of kids laughing together at a fall festival\n Prompt:\n The air buzzes with laughter as a group of kids race through fields of pumpkins and golden hay bales. \nTheir colorful scarves flutter in the autumn breeze, and one waves a bright paper lantern high above their head. \nGlossy apples shine in small hands as leaves swirl around their sneakers. Lanterns glow softly overhead, \ncasting warm light over the joyful chaos, while the fading sun paints everything in a dreamy golden haze.\n Input: Two travelers setting off on a sunrise road trip\n Prompt:\n At the edge of a sleepy village, two travelers board a bright red car with backpacks and maps. \nThe morning sky blushes with soft pink and orange hues, and dew glistens on the road. \nOne checks the map with a grin, while the other throws their jacket into the trunk. \nTheir laughter fills the cool air, and the carʼs polished surface reflects the golden sunlight as they drive into a misty horizon.\n Input: A violinist performing alone in a glowing city square\n Prompt:\n Underneath a halo of streetlamps, a young violinist stands in a quiet plaza surrounded by glowing signs and falling snow. \nHer breath curls in the winter air as her bow dances across shimmering strings. \nRaindrops from earlier glisten on the pavement like glass, catching the warm glow of neon reflections. \nThe melody echoes softly as passersby pause, their shadows stretching long under the cinematic city lights.\n Input: A girl waiting for a train during a summer downpour\n Prompt:\n A girl stands under a glass shelter at a rural train station as summer rain pours in sheets around her. \nDroplets cling to her umbrella while soft thunder hums across the overcast sky. \nHer schoolbag rests at her feet, damp sneakers tapping nervously against the platform. \nIn the distance, headlights shimmer through the haze as the train approaches, its reflection warping in the rippling puddles below.\n Input: A boy finding an old camera in his attic\nPrompt:\n Dust floats in golden beams of afternoon light as a boy opens an old wooden chest tucked under the attic window. \nHe pulls out a vintage camera wrapped in velvet, its metal gleaming softly in the haze. \nCobwebs sway in the corner as he clicks the shutter, and a faded photograph drifts from inside. \nA breeze stirs through the cracked window, carrying the scent of pine and memory.\n Input: A girl dancing alone on a rooftop at sunset\n Prompt:\n On a quiet rooftop, a girl twirls barefoot across the warm tiles as the sun dips behind city towers. \nHer silhouette cuts against the coral sky, hair flowing in the breeze. \nBirds scatter into the air as she leaps, casting long shadows across the rooftop garden. \nThe soft hum of traffic below fades into a dreamlike rhythm as twilight wraps the scene in soft purple hues."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-912,-160],"id":"9217874f-5cf9-46e5-b40c-ffdbba530ef6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-928,0],"id":"a4bc804c-35bd-4e53-a4eb-fca276fd5060","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BEGEMDUz1LXVfQ41","name":"OpenAi account 11"}}},{"parameters":{"promptType":"define","text":"=this the user input: {{ $('When chat message received').item.json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"You are a voice-over generation agent. Your task is to generate a text-based voice-over script about the specific topic provided as input.\n\nYour output must be in JSON format as shown below with in 450 characters:\n\n{\n  \"text\": \"This is the sample output.\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-112,128],"id":"835776ae-f7c3-4b7a-ba26-6ad942a626e2","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,528],"id":"a85444c0-8e96-4871-9263-704c0787aca6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BEGEMDUz1LXVfQ41","name":"OpenAi account 11"}}},{"parameters":{"jsonSchemaExample":"{\n  \"text\": \"This is the sample output.\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[176,816],"id":"c065c62c-0752-4c23-a48d-fc82bf012061","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dDF7T63S77qGzipM9Xn8qYsXqiaM9vDC0-KzpuQpI4k","mode":"list","cachedResultName":"OM Ad","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dDF7T63S77qGzipM9Xn8qYsXqiaM9vDC0-KzpuQpI4k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dDF7T63S77qGzipM9Xn8qYsXqiaM9vDC0-KzpuQpI4k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Prompt":"={{ $('When chat message received').item.json.chatInput }}","Video Link":"={{ $('HTTP Request3').item.json.video.url }}","Audio Link":"={{ $('HTTP Request6').first().json.audio.url }}","Date":"={{ $json.currentDate }}"},"matchingColumns":[],"schema":[{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audio Link","displayName":"Audio Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2112,16],"id":"619b101a-20dc-4bfd-9efb-9131d77af9df","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"anKA85PRdht8ITuy","name":"Google Sheets account 3"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1856,32],"id":"d9e81063-c073-4aa7-b752-12014ed49ef4","name":"Date & Time","executeOnce":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[64,336],"id":"436cf439-0f0b-4d4c-ad40-97e5c82a310b","name":"Auto-fixing Output Parser"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"Upload file","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Share file":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request6","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Append row in sheet":{"main":[[]]},"Date & Time":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ae59211-2900-47c4-a6a0-34f780d43d40","triggerCount":1,"tags":[]}