automate-sql-data-analysis-with-ai-agents-SSrtfsMNkibCeoRm.json
{"updatedAt":"2025-12-09T08:59:48.000Z","createdAt":"2025-07-20T09:26:27.836Z","id":"SSrtfsMNkibCeoRm","name":"Automate SQL Data Analysis with AI Agents","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger - Natural Language Question","type":"n8n-nodes-base.manualTrigger","position":[240,304],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"question-assignment","name":"question","type":"string","value":"Show me last quarter's top 5 products by revenue"},{"id":"timestamp-assignment","name":"timestamp","type":"string","value":"={{ new Date().toISOString() }}"}]},"includeOtherFields":true,"options":{}},"id":"question-input","name":"Set Question Input","type":"n8n-nodes-base.set","position":[464,304],"typeVersion":3.4},{"parameters":{"url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"={{ $credentials.anthropicApi.apiKey }}"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-3-5-sonnet-20241022"},{"name":"max_tokens","value":1000},{"name":"system","value":"You are an AI orchestrator for SQL data analysis. Parse natural language questions and return a structured response with task description and payload for data retrieval. Always respond in valid JSON format."},{"name":"messages","value":"=[{\"role\": \"user\", \"content\": \"Analyze this question and provide a structured response: {{ $json.question }}\\n\\nReturn JSON with:\\n- task: clear description of what needs to be done\\n- payload: object with database_table, columns_needed, filters, aggregation_type, limit\\n- visualization_type: suggested chart type (bar, line, pie, table)\\n\\nExample:\\n{\\n  \\\"task\\\": \\\"Retrieve top 5 products by revenue for Q3 2024\\\",\\n  \\\"payload\\\": {\\n    \\\"database_table\\\": \\\"sales\\\",\\n    \\\"columns_needed\\\": [\\\"product_name\\\", \\\"revenue\\\", \\\"quarter\\\"],\\n    \\\"filters\\\": {\\\"quarter\\\": \\\"Q3 2024\\\"},\\n    \\\"aggregation_type\\\": \\\"sum\\\",\\n    \\\"limit\\\": 5\\n  },\\n  \\\"visualization_type\\\": \\\"bar\\\"\\n}\\\"}]"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"orchestrator-agent","name":"Orchestrator Agent - Claude","type":"n8n-nodes-base.httpRequest","position":[688,288],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"task-assignment","name":"task","type":"string","value":"={{ JSON.parse($json.content[0].text).task }}"},{"id":"payload-assignment","name":"payload","type":"object","value":"={{ JSON.parse($json.content[0].text).payload }}"},{"id":"visualization-type-assignment","name":"visualizationType","type":"string","value":"={{ JSON.parse($json.content[0].text).visualization_type }}"},{"id":"original-question-assignment","name":"originalQuestion","type":"string","value":"={{ $('Set Question Input').item.json.question }}"}]},"includeOtherFields":true,"options":{}},"id":"parse-orchestrator-response","name":"Parse Orchestrator Response","type":"n8n-nodes-base.set","position":[912,304],"typeVersion":3.4},{"parameters":{"url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"={{ $credentials.anthropicApi.apiKey }}"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-3-5-sonnet-20241022"},{"name":"max_tokens","value":500},{"name":"system","value":"You are a SQL expert. Generate parameterized PostgreSQL queries based on the provided payload. Always use parameterized queries for security. Return only the SQL query, no explanations."},{"name":"messages","value":"=[{\"role\": \"user\", \"content\": \"Generate a parameterized PostgreSQL query for this payload: {{ JSON.stringify($json.payload) }}\\n\\nDatabase schema:\\n- sales: {id, product_name, revenue, quarter, date, region}\\n- products: {id, name, category, price}\\n- customers: {id, name, email, region}\\n\\nReturn only the SQL query with proper parameterization.\\\"}]"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"sql-generation-agent","name":"SQL Generation Agent - Claude","type":"n8n-nodes-base.httpRequest","position":[1120,304],"typeVersion":4.2},{"parameters":{"operation":"executeQuery","query":"={{ $json.content[0].text }}","options":{"queryReplacement":"skip"}},"id":"execute-sql","name":"Execute SQL - PostgreSQL","type":"n8n-nodes-base.postgres","position":[1344,304],"typeVersion":2.6},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-results","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"check-sql-results","name":"Check SQL Results","type":"n8n-nodes-base.if","position":[1568,304],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"error-message","name":"error","type":"string","value":"No data found or SQL execution failed for the query: {{ $('SQL Generation Agent - Claude').item.json.content[0].text }}"},{"id":"status","name":"status","type":"string","value":"error"}]},"includeOtherFields":true,"options":{}},"id":"sql-error-handler","name":"SQL Error Handler","type":"n8n-nodes-base.set","position":[1920,512],"typeVersion":3.4},{"parameters":{"url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"={{ $credentials.anthropicApi.apiKey }}"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-3-5-sonnet-20241022"},{"name":"max_tokens","value":1000},{"name":"system","value":"You are a data visualization expert. Generate Plotly chart specifications based on the data and visualization type. Return valid JSON for Plotly.js."},{"name":"messages","value":"=[{\"role\": \"user\", \"content\": \"Create a Plotly chart specification for this data:\\n\\nData: {{ JSON.stringify($json) }}\\n\\nReturn a complete Plotly chart configuration in JSON format with proper styling and layout.\\\"}]"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"visualization-agent","name":"Visualization Agent - Claude","type":"n8n-nodes-base.httpRequest","position":[1872,208],"typeVersion":4.2},{"parameters":{"functionCode":"// Generate chart using Plotly.js\\nconst plotlySpec = $json.content[0].text;\\n\\n// Parse the Plotly specification\\nconst chartConfig = JSON.parse(plotlySpec);\\n\\n// Create HTML with embedded Plotly chart\\nconst htmlContent = `\\n<!DOCTYPE html>\\n<html>\\n<head>\\n    <script src=\\\"https://cdn.plot.ly/plotly-latest.min.js\\\"></script>\\n    <style>\\n        body { font-family: Arial, sans-serif; margin: 20px; }\\n        .chart-container { width: 100%; max-width: 800px; margin: 0 auto; }\\n        .summary { margin-bottom: 20px; padding: 15px; background: #f5f5f5; border-radius: 5px; }\\n    </style>\\n</head>\\n<body>\\n    <div class=\\\"summary\\\">\\n        <h2>Data Analysis Report</h2>\\n        <p><strong>Question:</strong> ${$('Parse Orchestrator Response').item.json.originalQuestion}</p>\\n        <p><strong>Task:</strong> ${$('Parse Orchestrator Response').item.json.task}</p>\\n        <p><strong>Results:</strong> ${$json.length} records found</p>\\n    </div>\\n    <div class=\\\"chart-container\\\">\\n        <div id=\\\"chart\\\"></div>\\n    </div>\\n    <script>\\n        Plotly.newPlot('chart', ${JSON.stringify(chartConfig.data)}, ${JSON.stringify(chartConfig.layout)});\\n    </script>\\n</body>\\n</html>`;\\n\\n// Return the HTML content\\nreturn {\\n  json: {\\n    htmlContent: htmlContent,\\n    chartConfig: chartConfig,\\n    dataSummary: {\\n      recordCount: $json.length,\\n      columns: Object.keys($json[0] || {}),\\n      sampleData: $json.slice(0, 3)\\n    }\\n  }\\n};"},"id":"generate-chart","name":"Generate Chart - Function Node","type":"n8n-nodes-base.function","position":[2080,208],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"report-title","name":"reportTitle","type":"string","value":"AI-Powered Data Analysis Report"},{"id":"summary","name":"summary","type":"string","value":"Analysis completed successfully for: {{ $('Parse Orchestrator Response').item.json.originalQuestion }}"},{"id":"html-report","name":"htmlReport","type":"string","value":"={{ $json.htmlContent }}"},{"id":"data-summary","name":"dataSummary","type":"object","value":"={{ $json.dataSummary }}"},{"id":"timestamp","name":"timestamp","type":"string","value":"={{ new Date().toISOString() }}"}]},"includeOtherFields":true,"options":{}},"id":"final-assembly","name":"Final Assembly & Response","type":"n8n-nodes-base.set","position":[2304,208],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-report","name":"error","type":"string","value":"={{ $json.error }}"},{"id":"status","name":"status","type":"string","value":"failed"},{"id":"timestamp","name":"timestamp","type":"string","value":"={{ new Date().toISOString() }}"}]},"includeOtherFields":true,"options":{}},"id":"error-response","name":"Error Response","type":"n8n-nodes-base.set","position":[2144,512],"typeVersion":3.4},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2512,208],"id":"e37e42fa-766e-461c-8145-caf2c62eb3e6","name":"Respond to Webhook"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2352,512],"id":"3293b9b5-d64e-4469-9af9-7c48cc5c70e1","name":"Respond to Webhook1"}],"connections":{"Manual Trigger - Natural Language Question":{"main":[[{"node":"Set Question Input","type":"main","index":0}]]},"Set Question Input":{"main":[[{"node":"Orchestrator Agent - Claude","type":"main","index":0}]]},"Orchestrator Agent - Claude":{"main":[[{"node":"Parse Orchestrator Response","type":"main","index":0}]]},"Parse Orchestrator Response":{"main":[[{"node":"SQL Generation Agent - Claude","type":"main","index":0}]]},"SQL Generation Agent - Claude":{"main":[[{"node":"Execute SQL - PostgreSQL","type":"main","index":0}]]},"Execute SQL - PostgreSQL":{"main":[[{"node":"Check SQL Results","type":"main","index":0}]]},"Check SQL Results":{"main":[[{"node":"Visualization Agent - Claude","type":"main","index":0}],[{"node":"SQL Error Handler","type":"main","index":0}]]},"SQL Error Handler":{"main":[[{"node":"Error Response","type":"main","index":0}]]},"Visualization Agent - Claude":{"main":[[{"node":"Generate Chart - Function Node","type":"main","index":0}]]},"Generate Chart - Function Node":{"main":[[{"node":"Final Assembly & Response","type":"main","index":0}]]},"Final Assembly & Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Response":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e54de7e6-a1e2-4f6b-b2c7-1db4cef76727","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.333Z","createdAt":"2025-12-11T08:33:33.333Z","role":"workflow:owner","workflowId":"SSrtfsMNkibCeoRm","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}