automated-outbound-hr-hiring-pipeline-3BHSKnIADNb61X29.json
{"updatedAt":"2025-09-05T12:30:22.000Z","createdAt":"2025-08-04T14:31:08.857Z","id":"3BHSKnIADNb61X29","name":"Automated Outbound HR Hiring Pipeline","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"Cron Trigger","name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[112,304],"notes":"Trigger workflow daily at 9 AM on weekdays"},{"parameters":{"url":"https://api.apollo.io/v1/people/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $env.APOLLO_API_KEY }}"},{"name":"page","value":"1"},{"name":"per_page","value":"10"},{"name":"q_organization_domains","value":"tech companies"},{"name":"person_titles","value":"engineer,developer,software"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $env.APOLLO_API_KEY }}"}]},"options":{}},"id":"Apollo.io Lead Search","name":"Apollo.io Lead Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[304,304],"notes":"Search for potential candidates on Apollo.io"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"Filter Valid Leads","name":"Filter Valid Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,304],"notes":"Filter leads with valid email addresses"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4"},{"name":"messages","value":"[{\"role\": \"system\", \"content\": \"You are a professional HR recruiter. Create personalized outreach messages based on candidate information.\"}, {\"role\": \"user\", \"content\": \"Create a personalized outreach message for: {{ $json.first_name }} {{ $json.last_name }}, {{ $json.title }} at {{ $json.organization_name }}. Include their background: {{ $json.organization_domain }}. Keep it professional, friendly, and under 150 words.\"}]"},{"name":"temperature","value":"0.7"},{"name":"max_tokens","value":"300"}]},"options":{}},"id":"OpenAI Personalization","name":"OpenAI Personalization","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[704,208],"notes":"Generate personalized outreach message using OpenAI"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Opportunity at {{ $env.COMPANY_NAME }} - {{ $json.first_name }}, let's connect!","message":"={{ $json.choices[0].message.content }}","options":{}},"id":"Send Email via Gmail","name":"Send Email via Gmail","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[912,208],"webhookId":"9771172f-2a75-4d53-8ebb-b48e3687f342","notes":"Send personalized email to candidate"},{"parameters":{"amount":3,"unit":"days"},"id":"Wait 2-3 Days","name":"Wait 2-3 Days","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1104,208],"webhookId":"4747fc6e-7a86-43ad-99d4-c57f315b8fb6","notes":"Wait for email response"},{"parameters":{"operation":"getMany"},"id":"Check Email Opens","name":"Check Email Opens","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1312,208],"webhookId":"bbb09edb-5a8e-471e-bcd8-747e5ca89c4a","notes":"Check for email responses"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"Filter No Response","name":"Filter No Response","type":"n8n-nodes-base.if","typeVersion":2,"position":[1504,208],"notes":"Check if no response received"},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic {{ $env.TWILIO_AUTH_TOKEN }}"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"From","value":"whatsapp:+{{ $env.TWILIO_PHONE_NUMBER }}"},{"name":"To","value":"whatsapp:{{ $json.phone }}"},{"name":"Body","value":"Hi {{ $json.first_name }}, I sent you an email about an exciting opportunity. Would you be interested in a quick call to discuss?"}]},"options":{}},"id":"Send WhatsApp Follow-up","name":"Send WhatsApp Follow-up","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1744,80],"notes":"Send WhatsApp follow-up if no email response"},{"parameters":{"method":"POST","url":"https://api.calendly.com/scheduling_links","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.CALENDLY_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"max_event_count","value":"1"},{"name":"owner","value":"{{ $env.CALENDLY_OWNER_URL }}"},{"name":"owner_type","value":"EventType"}]},"options":{}},"id":"Calendly Meeting Link","name":"Calendly Meeting Link","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1904,208],"notes":"Generate Calendly meeting link"},{"parameters":{"resource":"deal","operation":"getAll","filters":{}},"id":"Update HubSpot CRM","name":"Update HubSpot CRM","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[2112,208],"notes":"Update HubSpot CRM with lead information"},{"parameters":{"text":"New lead outreach completed: {{ $json.first_name }} {{ $json.last_name }} from {{ $json.organization_name }}. Email sent: {{ $json.email }}","otherOptions":{}},"id":"Slack Notification","name":"Slack Notification","type":"n8n-nodes-base.slack","typeVersion":2,"position":[2304,208],"webhookId":"629cb3f4-2b39-4c5e-8bd3-b57050864234","notes":"Send notification to Slack channel"},{"parameters":{"jsCode":"// Log error and continuenconsole.log(\"Error in workflow:\", $input.all()[0].json);nreturn $input.all();"},"id":"Error Handler","name":"Error Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[544,464],"notes":"Handle any errors in the workflow"}],"connections":{"Cron Trigger":{"main":[[{"node":"Apollo.io Lead Search","type":"main","index":0}]]},"Apollo.io Lead Search":{"main":[[{"node":"Filter Valid Leads","type":"main","index":0}]]},"Filter Valid Leads":{"main":[[{"node":"OpenAI Personalization","type":"main","index":0}],[{"node":"Error Handler","type":"main","index":0}]]},"OpenAI Personalization":{"main":[[{"node":"Send Email via Gmail","type":"main","index":0}]]},"Send Email via Gmail":{"main":[[{"node":"Wait 2-3 Days","type":"main","index":0}]]},"Wait 2-3 Days":{"main":[[{"node":"Check Email Opens","type":"main","index":0}]]},"Check Email Opens":{"main":[[{"node":"Filter No Response","type":"main","index":0}]]},"Filter No Response":{"main":[[{"node":"Send WhatsApp Follow-up","type":"main","index":0}],[{"node":"Calendly Meeting Link","type":"main","index":0}]]},"Send WhatsApp Follow-up":{"main":[[{"node":"Calendly Meeting Link","type":"main","index":0}]]},"Calendly Meeting Link":{"main":[[{"node":"Update HubSpot CRM","type":"main","index":0}]]},"Update HubSpot CRM":{"main":[[{"node":"Slack Notification","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"OpenAI Personalization","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":{},"versionId":"89d32cf3-3548-41a4-beae-f46ec3555ae4","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.460Z","createdAt":"2025-12-11T08:33:33.460Z","role":"workflow:owner","workflowId":"3BHSKnIADNb61X29","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}