calendly-integration-bDRJGpLnrZJnpz08.json
{"updatedAt":"2025-08-19T04:41:18.000Z","createdAt":"2025-08-07T06:51:09.191Z","id":"bDRJGpLnrZJnpz08","name":"Calendly Integration","active":false,"isArchived":false,"nodes":[{"parameters":{"events":["invitee.created"]},"type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[-96,-48],"id":"577bbbfe-7f4d-4d77-9ee6-64c9e68f5f48","name":"Calendly Trigger","webhookId":"3bf3eaa7-9a84-476d-b97d-87d9d6939125","credentials":{"calendlyApi":{"id":"OxyZcnEu9UsFsH1W","name":"Calendly account 2"}}},{"parameters":{"promptType":"define","text":"=Calendly Meeting Details:\n\nName: {{ $json.payload.name }}\nEmail: {{ $json.payload.email }}\nEvent Member name: {{ $json.payload.scheduled_event.event_memberships[0].user_name }}\nMeeting Title: {{ $json.payload.scheduled_event.name }}\nStart Time: {{ $json.payload.scheduled_event.start_time }}\nEnd Time: {{ $json.payload.scheduled_event.end_time }}\nLocation (Zoom): {{ $json.payload.scheduled_event.location.join_url }}\nMeeting Password: {{ $json.payload.scheduled_event.location.data.password }}\nReschedule URL: {{ $json.payload.reschedule_url }}\nCancel URL: {{ $json.payload.cancel_url }}\nAdditional Notes: {{ $json.payload.questions_and_answers[0].answer }}\n","options":{"systemMessage":"=# Calendly Event Notification Agent System Prompt\n\nYou are the Calendly Event Notification specialist within MAIRA, automatically triggered whenever a new meeting is scheduled through Calendly. Your role is to ensure seamless communication and preparation for upcoming meetings.\n\n## Automatic Trigger Context\nYou are activated automatically when:\n- New Calendly event is created\n- Meeting is confirmed by attendee\n- Event details are available in the system\n\n## Available Tools\n\n- **Email MCP**: Send, read, summarize, and search emails from Gmail/Outlook (use to find recipient emails when addresses are unknown)\n\n- sendWP Tool  \n**Purpose**: Send WhatsApp notifications to user (Hardik)\n**Usage**: Immediate alerts, quick updates, informal notifications\n\n### Professional Email Confirmation\n- **Attendee Notification**: Send polished confirmation email to meeting participant\n- **Meeting Details**: Include all relevant information (time, duration, agenda)\n- **Preparation Items**: Add any required documents or pre-meeting instructions\n- **Contact Information**: Provide alternative contact methods if needed\n\n## User Context (Hardik - TheLinkAI)\n- **Business Focus**: AI solutions company\n- **Meeting Types**: Client consultations, project discussions, team meetings\n- **Communication Style**: Professional yet approachable\n- **Time Zone**: Kolkata, West Bengal, IN\n\n## Notification Templates\n\n### WhatsApp Notification Format:\n```\n🗓️ NEW MEETING SCHEDULED\n\n📅 [Date & Time]\n👤 Attendee: [Name]\n📋 Meeting: [Title]\n⏱️ Duration: [Duration]\n\nMeeting confirmed & email sent to attendee.\nNeed any changes?\n```\n\n### Email Confirmation Format:\n```\nSubject: Meeting Confirmation - [Meeting Title] with [Hardik's Name]\n\nDear [Attendee Name],\n\nYour meeting with [Hardik] from TheLinkAI has been confirmed.\n\nMeeting Details:\n• Date & Time: [Full date/time with timezone]\n• Duration: [Duration]\n• Topic: [Meeting agenda/purpose]\n• Meeting Link: [If virtual meeting]\n\n[Any preparation instructions or materials]\n\nLooking forward to our discussion.\n\nBest regards,\nTheLinkAI\n```\n\nRemember: You operate autonomously to ensure no meeting goes unannounced. Be reliable, professional, and maintain TheLinkAI's reputation for excellent communication."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[224,-48],"id":"e8d5126e-d37e-49ff-bd86-d753bca2feed","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[128,176],"id":"fc055744-d0e2-4daf-94c5-9a9d3f6149ca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"2LzcbAixEP9G5pIr","name":"OpenAi account 6"}}},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/1c6c4278-c021-4154-9619-56bd4402f1c3"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[384,176],"id":"9db62308-a4b4-4e04-8434-3b03eca6e071","name":"Email MCP"}],"connections":{"Calendly Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Email MCP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/3b0b4ac4-0ee8-45ba-818d-ced2975e4e39"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Calendly Trigger":[{"json":{"created_at":"2025-08-07T07:55:14.000000Z","created_by":"https://api.calendly.com/users/bbdb4c74-5264-4174-bab8-8638e48b315c","event":"invitee.created","payload":{"cancel_url":"https://calendly.com/cancellations/005c5bfc-19c6-45ee-aa34-17bcb60d9d0b","created_at":"2025-08-07T07:55:09.308182Z","email":"rohnsha0@gmail.com","event":"https://api.calendly.com/scheduled_events/045904db-2615-4bf7-9b73-5cd42a51937e","first_name":null,"invitee_scheduled_by":"https://api.calendly.com/users/523786ab-22cb-4a9a-bbc8-f29aa645225b","last_name":null,"name":"Rohan Shaw (test)","new_invitee":null,"no_show":null,"old_invitee":null,"payment":null,"questions_and_answers":[{"answer":"test meeti","position":0,"question":"Please share anything that will help prepare for our meeting."}],"reconfirmation":null,"reschedule_url":"https://calendly.com/reschedulings/005c5bfc-19c6-45ee-aa34-17bcb60d9d0b","rescheduled":false,"routing_form_submission":null,"scheduled_event":{"created_at":"2025-08-07T07:55:09.288948Z","end_time":"2025-08-09T14:00:00.000000Z","event_guests":[],"event_memberships":[{"user":"https://api.calendly.com/users/bbdb4c74-5264-4174-bab8-8638e48b315c","user_email":"hardik@thelinkai.com","user_name":"Hardik Bhatt"}],"event_type":"https://api.calendly.com/event_types/d937f298-33cd-44bf-9286-56bb6491c59a","invitees_counter":{"total":1,"active":1,"limit":1},"location":{"data":{"id":87441134605,"settings":{"global_dial_in_numbers":[{"country_name":"US","city":"New York","number":"+1 929 205 6099","type":"toll","country":"US"},{"country_name":"US","city":"Washington DC","number":"+1 301 715 8592","type":"toll","country":"US"},{"country_name":"US","number":"+1 305 224 1968","type":"toll","country":"US"},{"country_name":"US","number":"+1 309 205 3325","type":"toll","country":"US"},{"country_name":"US","city":"Chicago","number":"+1 312 626 6799","type":"toll","country":"US"},{"country_name":"US","number":"+1 646 931 3860","type":"toll","country":"US"},{"country_name":"US","number":"+1 253 205 0468","type":"toll","country":"US"},{"country_name":"US","city":"Tacoma","number":"+1 253 215 8782","type":"toll","country":"US"},{"country_name":"US","city":"Houston","number":"+1 346 248 7799","type":"toll","country":"US"},{"country_name":"US","number":"+1 360 209 5623","type":"toll","country":"US"},{"country_name":"US","number":"+1 386 347 5053","type":"toll","country":"US"},{"country_name":"US","number":"+1 507 473 4847","type":"toll","country":"US"},{"country_name":"US","number":"+1 564 217 2000","type":"toll","country":"US"},{"country_name":"US","number":"+1 669 444 9171","type":"toll","country":"US"},{"country_name":"US","city":"San Jose","number":"+1 669 900 6833","type":"toll","country":"US"},{"country_name":"US","number":"+1 689 278 1000","type":"toll","country":"US"},{"country_name":"US","number":"+1 719 359 4580","type":"toll","country":"US"}]},"extra":{"intl_numbers_url":"https://us06web.zoom.us/u/kb3LFeRCuU"},"password":"013857"},"join_url":"https://us06web.zoom.us/j/87441134605?pwd=OOVduvLluHkMQ38aGuERvrbPizykjQ.1","status":"pushed","type":"zoom"},"meeting_notes_html":null,"meeting_notes_plain":null,"name":"30 Minute Meeting","start_time":"2025-08-09T13:30:00.000000Z","status":"active","updated_at":"2025-08-07T07:55:09.288948Z","uri":"https://api.calendly.com/scheduled_events/045904db-2615-4bf7-9b73-5cd42a51937e"},"scheduling_method":null,"status":"active","text_reminder_number":null,"timezone":"Asia/Kolkata","tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"updated_at":"2025-08-07T07:55:09.308182Z","uri":"https://api.calendly.com/scheduled_events/045904db-2615-4bf7-9b73-5cd42a51937e/invitees/005c5bfc-19c6-45ee-aa34-17bcb60d9d0b"}}}]},"versionId":"0816ebd2-6d68-4efd-a4a5-e6c8d7d41151","triggerCount":1,"shared":[{"updatedAt":"2025-12-11T08:33:33.503Z","createdAt":"2025-12-11T08:33:33.503Z","role":"workflow:owner","workflowId":"bDRJGpLnrZJnpz08","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}