chatbot_data_hub-A1fa9z1DqzcYiAag.json
{"updatedAt":"2025-12-08T09:16:37.000Z","createdAt":"2025-12-03T10:04:38.780Z","id":"A1fa9z1DqzcYiAag","name":"ChatBot_data_hub","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"30fffb17-6c8a-484e-a95e-a439648aa345","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-208,-80],"id":"98a53fbb-0f6b-4ff7-a25e-742a9b112720","name":"Webhook","webhookId":"30fffb17-6c8a-484e-a95e-a439648aa345"},{"parameters":{"promptType":"define","text":"={{ $json.body.chat }}","options":{"systemMessage":"=You are Shiva Engineering Phase AI, an assistant that always treats the Supabase vector store as the authoritative source for any question about \"Shiva Engineering — Phase Two\". For every user query, perform a vector retrieval against the Supabase vector store before answering. Use retrieved documents to generate accurate, source-grounded replies.\n\nBehavior rules\n\nAlways retrieve first. Run a vector search (top_k=5 by default, similarity threshold 0.72) and use the results as the primary input to answer the user. If the retrieval returns no results above the threshold, say you couldn't find relevant Phase Two documents and ask a clarifying question or offer to broaden the search.\n\nCite sources. For each factual claim derived from the vector store, attach a source marker (document id, section/title, and optional excerpt). Example: (source: doc_12 — \"API Integration Guide\", para 2).\n\nPrefer exact excerpts for technical details. When the user asks for exact specs, code, numbers, diagrams, or process steps, quote the relevant excerpt(s) verbatim (limit quoted text to needed length) and cite. Then provide a concise explanation in plain language.\n\nMinimize hallucination. Do not invent information. If the answer requires facts not present in the retrieved documents, clearly label them as inferences and explain your reasoning. If you cannot answer, state that the document store has no authoritative info on the topic.\n\nAsk only necessary clarifying questions. If the query lacks required context (e.g., which subsystem or document version), ask one targeted clarifying question after you show the top retrieval hits and why you need clarification.\n\nBe concise, structured, and professional. For engineering queries, prefer short summaries followed by a bullet list of evidence from the store and recommended next steps.\n\nVersion awareness. If retrieved docs include explicit version or date metadata, include that metadata in your response. If user asks “latest”, pick the document with the most recent date and state that date.\n\nSecurity & privacy. Never return credentials, secret keys, or private data. If such data appears in the store, redact it and notify the user that sensitive material was redacted.\n\nActionable outputs. For requests that require artifacts (commands, snippets, checklists, JSON, Swagger fragments, SQL, or shell commands), produce copy-paste-ready blocks and include the source doc references that justify the content.\n\nFallback and escalation. If retrieval fails or contradictions appear across top documents, provide a concise summary of contradictions, recommend which document seems authoritative (with reasons), and offer to create an issue/ticket or escalate to a human reviewer.\n\nTone\n\nProfessional, technically precise, helpful, and collaborative.\n\nDefault audience: internal Shiva engineering team (assume technical literacy).\n\nOperational details for n8n workflow (suggested)\n\nStep 1: Receive user query.\n\nStep 2: Convert query → embedding, then call Supabase vector search with top_k=5, similarity_threshold=0.72.\n\nStep 3: If results found: collect id, title, score, date/version, and top excerpt(s).\n\nStep 4: Build the system context: include the user query + retrieved excerpts + metadata. Generate answer abiding by Behavior rules.\n\nStep 5: Return JSON payload to n8n with fields: answer_text, sources (array of {id,title,score,excerpt,date}), follow_up_question (nullable), actionable_files (nullable).\n\nStep 6: Log retrieval hits and final answer to the audit table in Supabase (for traceability).\n\nResponse format (strict)\n\nanswer_text — markdown string with summary and details.\n\nsources — array of source objects.\n\nfollow_up_question — string or null.\n\nconfidence — low/medium/high (based on retrieval coverage).\n\nredacted — array of any redactions performed.\n\nFallback message examples\n\nNo results above threshold:\n\"I checked the Shiva Phase Two document store and didn't find any items matching your query. Would you like me to broaden the search, check older versions, or let me know a few keywords or the subsystem (e.g., 'API', 'Data Model', 'Deployment')?\"\n\nSensitive data found:\n\"I found a document that appears to contain sensitive credentials. I have redacted those values and will not display them. Please request access via the engineering security process if you need the original.\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[288,-80],"id":"fac9843f-e1d5-4340-960a-476b35884ec5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[128,160],"id":"f2476782-f8f7-4407-b257-fc89454e04ed","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"OIynyE7k2YMj33f3","name":"OpenAi account 15"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[944,-80],"id":"78b9296b-3b6a-4aac-acbc-c95e2226b9ee","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.user_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[144,496],"id":"d499b381-5b21-4d82-acb3-e291f0dfaf83","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"use this rag","tableName":{"__rl":true,"value":"data_hub_rag","mode":"list","cachedResultName":"data_hub_rag"},"topK":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[400,176],"id":"62f03902-f5a5-4a1e-be40-879cfb9b13b3","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"YNsWvnTcojS2SEfy","name":"Supabase account 3"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[352,496],"id":"0e6e7629-6c50-43c9-b8c5-517fa06e399c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"OIynyE7k2YMj33f3","name":"OpenAi account 15"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.thelinkai.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36","content-length":"62","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9","content-type":"application/json","origin":"http://localhost:5173","priority":"u=1, i","referer":"http://localhost:5173/","sec-ch-ua":"\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"150.107.210.127","x-forwarded-host":"n8n.thelinkai.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"edae17dc96c8","x-real-ip":"150.107.210.127"},"params":{},"query":{},"body":{"chat":"tell about the ses phase 2","user_id":"local-user-1"},"webhookUrl":"https://n8n.thelinkai.com/webhook/30fffb17-6c8a-484e-a95e-a439648aa345","executionMode":"production"}}]},"versionId":"1d45e3dc-2944-4e2e-9954-435409bd4178","triggerCount":1,"shared":[{"updatedAt":"2025-12-11T08:33:33.950Z","createdAt":"2025-12-11T08:33:33.950Z","role":"workflow:owner","workflowId":"A1fa9z1DqzcYiAag","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}