coldmail-Lt1wQ2TSwy2oLUlh.json
{"updatedAt":"2025-11-28T04:36:21.000Z","createdAt":"2025-11-22T09:03:02.364Z","id":"Lt1wQ2TSwy2oLUlh","name":"Coldmail","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"1a7a0eb0-7ac2-47b1-b073-af27871ff857","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-384,-400],"id":"1ec2986a-4e24-4fdf-9bd9-c68116e41de2","name":"Webhook","webhookId":"1a7a0eb0-7ac2-47b1-b073-af27871ff857"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,80],"id":"784a0693-083b-432c-8a26-2d6ec89ae57b","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"=Create a highly personalized cold email using following detaills:\nUse only the data fields below. Do not add new facts or assumptions.\nOpportunity details:\nKey_signals_detected: {{ $('Get row_linkai_company_opportunites').item.json.key_signals_detected }}\nrelevant_departments: {{ $('Get row_linkai_company_opportunites').item.json.relevant_departments }}\nDtm_signals: {{ $('Get row_linkai_company_opportunites').item.json.dtm_services_opportunities.signals }}\nrecommended_pitch: {{ $('Get row_linkai_company_opportunites').item.json.dtm_services_opportunities.recommended_pitch }}\n\nCompany research:\ncompany_name: {{ $('Get a row_of_company_reaserch').item.json.company_name }}\nentity_name: {{ $('Get a row_of_company_reaserch').item.json.entity_name }}\nsector: {{ $('Get a row_of_company_reaserch').item.json.sector }}\nsubsector: {{ $('Get a row_of_company_reaserch').item.json.sub_sector }}\noverview: {{ $('Get a row_of_company_reaserch').item.json.overview }}\nbusiness_model: {{ $('Get a row_of_company_reaserch').item.json.business_model }}\nproducts_or_services: {{ $('Get a row_of_company_reaserch').item.json.products_or_services }}\ndepartments_relevant_to_linkai: {{ $('Get a row_of_company_reaserch').item.json.departments_relevant_to_linkai }}\ninitiatives_or_programs: {{ $('Get a row_of_company_reaserch').item.json.initiatives_or_programs }}\nrecent_news_or_projects: {{ $('Get a row_of_company_reaserch').item.json.recent_news_or_projects }}\npersonal_information:\nfirst_name:{{ $json.first_name }}\nlast_name:{{ $json.last_name }}\nfull name:{{ $json.full_name }}\ntitle:\n{{ $json.title }}\nheadline:{{ $json.headline }}\n\nInstruction:\nProduce one final cold email using the required RACT→AIDA + 5-section flow:\nGreeting → Introduction → Personalized Observation → Proposal → Closing/CTA.\nKeep it human, concise, and under 300 words.\nOnly output the final email.\n**Do not overuse or forcefully inject all the above information. Intentionally keep it light and use only what is relevant to the email approach**","hasOutputParser":true,"options":{"systemMessage":"=**ROLE**\nYou are a senior cold-email writer for **TheLinkAI**, with over 20 years of experience in outbound communication and converting cold leads into warm, high-value opportunities. Your task is to transform structured company research into highly personalized, natural, human-sounding outreach emails that strictly follow the defined structure.\n\n---\n\n**ACTION**\nGenerate **two complete cold email variations (A and B)** for DTM / contract hiring outreach.\nEach variation must have its **own subject line and its own body**.\nOutput **only** a single JSON object in the following exact format:\n\n```json\n{\n  \"a_subject\": \"...\",\n  \"a_body\": \"...\",\n  \"b_subject\": \"...\",\n  \"b_body\": \"...\"\n}\n```\n\nNo additional fields.\nNo explanations.\nNo markdown outside the JSON.\n\n---\n\n# ✅ **RULES FOR SUBJECTS**\n\n* `a_subject` and `b_subject` **must be different**.\n* Each subject must be **8 words or fewer**.\n* Keep them clear, simple, and human — avoid salesy or spam-trigger phrases.\n* The subject must accurately reflect the email’s theme.\n\n---\n\n# ✅ **RULES FOR BODIES (a_body, b_body)**\n\nEach version must follow the **5-section cold email flow** and follow the instructions for each section:\n\n---\n\n### **1. Greeting**\n\n* It should be more personalized using their name, for example: *“Hi name,”*.\n* Keep it minimal, warm, and positive to create a strong first impression.\n\n---\n\n### **2. Introduction**\n\nThis section has two parts:\n**a. Purpose of the email**\nExample:\n“I’m writing this email to share an update on how companies are resolving AI infrastructure and resource management challenges more efficiently.”\n\n**b. Introduction of the sender + TheLinkAI**\nExample:\n“I’m Hardik, the founder of TheLinkAI. We provide customized AI solutions for companies and industrial teams based on their operational needs.”\n\n---\n\n### **3. Personalized Observation (using data provided)**\n\n* Highlight the importance of the recipient’s role, their contribution to the organization, and their leadership in driving growth or AI-related progress.\n  Example:\n  “I truly appreciate the growth is achieving and your commitment to innovation and AI-driven improvement.”\n\n---\n\n### **4. Proposal**\n\nDescribe **TheLinkAI’s Dedicated Team Member (DTM)** service or **contract hiring** offering, and explain the benefits clients have experienced.\nExample or use this :\n\n* “I’d love to share how our dedicated or contract AI engineers helped one of our clients save 80% of costs without compromising quality.”\n* “With our highly trained AI engineers, teams have achieved up to 12× productivity increases.”\n\nIf `recommended_pitch` or `dtm_signals` are provided, integrate them naturally into this section.\n\n---\n\n### **5. Closing + CTA (invite for a 30-minute call)**\n\n* Give confidence that the time invested will be valuable.\n* Emphasize the positive impact and clarity the call will provide.\n  Example:\n  “If you’d like to explore how we can deliver meaningful value, I’d be happy to walk you through our approach. I promise the 30-minute call will be worth your time. Looking forward to connecting.”\n\nAdd this Calendly link at the end:\n**[https://calendly.com/hardik-thelinkai/30min](https://calendly.com/hardik-thelinkai/30min)**\n\n\n---\n\n# ✅ **ADDITIONAL BODY REQUIREMENTS**\n\n* Each email body must be **under 140 words**.\n* Tone must be **warm, human, conversational, and natural** — never robotic or overly salesy.\n* Use **only** the data fields provided by the user.\n* If any field is empty, skip it — do **not** invent facts.\n* No bullet points, no numbering, no markdown in the email body.\n* All content must be plain text strings within the JSON.\n\n---\n\n# ✅ **STRICT OUTPUT FORMAT**\n\nYou must output ONLY the following JSON object and nothing else:\n\n```json\n{\n  \"a_subject\": \"...\",\n  \"a_body\": \"...\",\n  \"b_subject\": \"...\",\n  \"b_body\": \"...\"\n}\n```\n\nNo commentary.\nNo explanation.\nNo additional text.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[976,224],"id":"d9c80c67-8da7-4bfe-9def-4aa42da07142","name":"AI_agent_for_cold_mail_writing","retryOnFail":true},{"parameters":{"operation":"getAll","tableId":"linkai_company_opportunities"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,80],"id":"cd831bbc-5220-4aa5-be83-337df814e6e3","name":"Get row_linkai_company_opportunites","credentials":{"supabaseApi":{"id":"YNsWvnTcojS2SEfy","name":"Supabase account 3"}}},{"parameters":{"operation":"get","tableId":"linkai_company_leads","filters":{"conditions":[{"keyName":"organisation_id","keyValue":"={{ $('Get row_linkai_company_opportunites').item.json.organisation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[512,80],"id":"e3c075b7-793a-402a-9ab0-bfc1cc3e96d4","name":"Get a row of _linkai_company_leads","credentials":{"supabaseApi":{"id":"YNsWvnTcojS2SEfy","name":"Supabase account 3"}}},{"parameters":{"operation":"get","tableId":"linkai_company_research","filters":{"conditions":[{"keyName":"company_research_id","keyValue":"={{ $json.company_research_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[288,80],"id":"29ae0d41-6b3b-4407-9995-b41d8d745e64","name":"Get a row_of_company_reaserch","credentials":{"supabaseApi":{"id":"YNsWvnTcojS2SEfy","name":"Supabase account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"options":{"temperature":0.8,"maxRetries":2,"topP":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[960,448],"id":"e1c06e8e-b25c-4ac9-b1fd-e6090dbabde5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"OIynyE7k2YMj33f3","name":"OpenAi account 15"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.vertical }}","rightValue":"dtm","operator":{"type":"string","operation":"equals"},"id":"2aedc2c7-7a05-4e9e-855f-336070226b47"}],"combinator":"and"},"renameOutput":true,"outputKey":"Dtm"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[64,80],"id":"856769e8-2437-478e-bfec-093eb59d2a94","name":"Switch_service_type"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[1088,448],"id":"b9ca1f30-2009-4a65-9907-9c33dbe7cf94","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"a_subject\": \"subject\",\n  \"a_body\": \"a body_content\",\n  \"b_subject\": \"b_subject\",\n  \"b_body\": \"b_body\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1168,656],"id":"1db3ca2e-056e-4b50-bf78-8d1264386339","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[976,624],"id":"4afa68fe-4feb-4093-9faa-e952484686b4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"OIynyE7k2YMj33f3","name":"OpenAi account 15"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,80],"id":"9f420c00-d564-4787-8151-62b971194141","name":"Loop Over Items"},{"parameters":{"fromEmail":"={{ $json.body.user_email }}","toEmail":"=pounkumar.ai@gmail.com","subject":"={{ $json.body.subject }}","html":"={{ $json.body.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[208,880],"id":"c934112f-36c4-4a73-9f0d-3166595b82e5","name":"Send email","webhookId":"aedea6f3-9a6b-4499-8950-2eaa88c275bd","credentials":{"smtp":{"id":"1mwLCxgZe3n7DOyH","name":"SMTP account pounkumar@thelinkai.com"}}},{"parameters":{"tableId":"ab_emails","fieldsUi":{"fieldValues":[{"fieldId":"mail_a","fieldValue":"={{ $json.output.mail_a }}"},{"fieldId":"mail_b","fieldValue":"={{ $json.output.mail_b }}"},{"fieldId":"subject_a","fieldValue":"={{ $('AI_agent_for_cold_mail_writing').item.json.output.a_subject }}"},{"fieldId":"subject_b","fieldValue":"={{ $('AI_agent_for_cold_mail_writing').item.json.output.b_subject }}"},{"fieldId":"opportunity_id","fieldValue":"={{ $('Get row_linkai_company_opportunites').item.json.opportunity_id }}"},{"fieldId":"name","fieldValue":"={{ $('Get a row of _linkai_company_leads').item.json.full_name }}"},{"fieldId":"email","fieldValue":"={{ $('Get a row of _linkai_company_leads').item.json.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2320,352],"id":"99e3eafa-42d9-498c-8faf-b4a9145007a2","name":"Create a row","credentials":{"supabaseApi":{"id":"YNsWvnTcojS2SEfy","name":"Supabase account 3"}}},{"parameters":{"httpMethod":"POST","path":"1c2673a7-a10c-46ed-becd-0006fea007cd","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,1056],"id":"77e5262a-59ab-4615-b33b-eff6eceb8e1d","name":"Webhook1","webhookId":"1c2673a7-a10c-46ed-becd-0006fea007cd"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[496,1056],"id":"de9cd738-2481-4f29-8b7a-96937e4c85ec","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.user_email }}","rightValue":"pounkumar@thelinkai.com","operator":{"type":"string","operation":"equals"},"id":"512784cc-fcee-4da3-ace9-da54fc38a327"}],"combinator":"and"},"renameOutput":true,"outputKey":"pounkumar@thelinkai.com"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6dc0cac-f2e1-4962-81b4-c2c898671739","leftValue":"={{ $json.body.user_email }}","rightValue":"hardik@thelinkai.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hardik@thelinkai.com"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-128,1168],"id":"bb5b856a-f466-4101-ad47-b3676e22bb54","name":"Switch"},{"parameters":{"fromEmail":"={{ $json.body.user_email }}","toEmail":"=pounkumar.ai@gmail.com","subject":"={{ $json.body.subject }}","html":"={{ $json.body.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[176,1232],"id":"b4b40a25-d64a-45a2-a326-f10af5ff0148","name":"Send email1","webhookId":"aedea6f3-9a6b-4499-8950-2eaa88c275bd","credentials":{"smtp":{"id":"1mwLCxgZe3n7DOyH","name":"SMTP account pounkumar@thelinkai.com"}}},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[480,1280],"id":"4b2d28b6-506c-44a1-8943-5cfb4d57877c","name":"Respond to Webhook1"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"options":{"temperature":0.8,"maxRetries":2,"topP":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1632,576],"id":"1c528520-02ba-400b-8580-d1546a78ba9e","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"OIynyE7k2YMj33f3","name":"OpenAi account 15"}}},{"parameters":{"jsonSchemaExample":"{\n  \"mail_a\": \"<!DOCTYPE html><html>...complete HTML for mail_a ...</html>\",\n  \"mail_b\": \"<!DOCTYPE html><html>...complete HTML for mail_b ...</html>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1856,544],"id":"c80407c1-e467-4285-92b0-def9512760ff","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=SYSTEM / INSTRUCTION PROMPT — HTML Email Generator (Gmail Windows Landscape)\n\nYou are an HTML Email Generator Agent.\nYour job: convert two plain-text emails (mail_a and mail_b) into professional HTML emails formatted exactly like the Gmail Windows desktop version in landscape layout, just like the reference screenshot.\n\nReturn only:\n\n{\n  \"mail_a\": \"<!DOCTYPE html> ... full HTML ...\",\n  \"mail_b\": \"<!DOCTYPE html> ... full HTML ...\"\n}\n\n\nNo extra explanation. No surrounding text.\n\n🔥 CRITICAL OUTPUT RULES (STRICT)\n1. MUST use clean UTF-8 characters\n\nNever output unicode escapes like:\n\n\\u0019\n\n\\u2019\n\nsmart quotes converted into escapes\n\nYou must output clean characters like:\n\nI’m, I’ve, don’t, it’s\n\n2. MUST match Gmail Desktop (Windows) structure\n\nYour generated email must match this layout exactly:\n\nA very large left margin (Gmail’s natural layout)\n\nContent appears in a vertical column centered/right-shifted\n\nNo background colors except pure white\n\nNo table borders or card-style formatting\n\nNo modern UI blocks\n\nPure, classic professional paragraphs\n\n3. MUST follow Gmail’s default reading flow\n\nSpacing must match the examples:\n\nParagraph spacing: margin-bottom: 18px\n\nLine-height: 1.65–1.75\n\nFont: Arial, Helvetica, sans-serif\n\nFont size: 15px\n\nNo indentation\n\nLeft-aligned text\n\n4. MUST use a container width (like Gmail’s natural block)\n\nUse this outer container:\n\n<div style=\"width:100%; padding:0; margin:0; background:#ffffff;\">\n  <div style=\"max-width:680px; margin:0 auto; padding:0;\">\n    <!-- email content here -->\n  </div>\n</div>\n\n\nThis ensures landscape email layout on Windows Gmail UI.\n\n5. MUST format content exactly like your example\n\nGreeting bold: Hi Amol,\n\nProper paragraph breaks\n\nBolding for companies, roles, key metrics\n\nLinks are underlined, Gmail blue (#1a73e8)\n\nBullets styled like Google Docs:\n\n<ul style=\"margin:0 0 18px 20px; padding:0;\">\n  <li style=\"margin-bottom:10px;\"> ... </li>\n</ul>\n\n6. MUST include full HTML document\n\nEach email must start with:\n\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Email</title>\n</head>\n<body style=\"margin:0; padding:0; background:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:1.7; color:#222;\">\n\n7. MUST preserve all content exactly\n\nNo rewriting\n\nNo summarizing\n\nNo adding new sentences\n\nOnly convert formatting\n\nMaintain order and meaning exactly as given\n\n8. MUST escape HTML safely inside JSON\n\nEnsure each HTML document is provided as a valid JSON string.\n\n📌 INPUT FORMAT TO THE AGENT\n\nThe agent will receive something like:\n\n{\n  \"mail_a\": \"{{ $json.output.a_body }}\",\n  \"mail_b\": \"{{ $json.output.b_body }}\"\n}\n\n📌 OUTPUT FORMAT (SUPER STRICT)\n\nReturn ONLY:\n\n{\n  \"mail_a\": \"<!DOCTYPE html>...full html...\",\n  \"mail_b\": \"<!DOCTYPE html>...full html...\"\n}\n\n\nNo comments.\nNo explanations.\nNo markdown.\nOnly JSON.\n\n📌 ADDITIONAL STYLING RULES (To match your screenshot exactly)\n✔ Wide breathing room\n\nParagraphs must look airy, exactly like:\n\n<p style=\"margin:0 0 18px 0;\">...</p>\n\n✔ Bold key phrases\n\nUse <strong> sparingly, matching the tone:\n\nGreeting\n\nNames\n\nCompanies\n\nR&D roles\n\nAI/ML terms\n\nCTAs (30-minute call, calendar links)\n\n✔ Links must match Gmail style\n<a href=\"...\" style=\"color:#1a73e8; text-decoration:underline;\">...</a>\n\n✔ No tables unless absolutely needed\n\nPrefer <div> + <p> + <ul> layout.\n\n📌 LANDSCAPE REQUIREMENT\n\nYour output must always be optimized for:\n\nDesktop Gmail (Windows)\n\n1920px landscape screens\n\nNatural center column width (640–680px)\n\nThis is exactly the layout shown in your screenshot:\n✔ centered block\n✔ wide margins\n✔ professional reading experience","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1632,224],"id":"c8ac592f-210d-49b2-b73a-0c149e9694a3","name":"AI Agent for genrating html"}],"connections":{"Webhook":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row_linkai_company_opportunites","type":"main","index":0}]]},"Get row_linkai_company_opportunites":{"main":[[{"node":"Switch_service_type","type":"main","index":0}]]},"Get a row of _linkai_company_leads":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a row_of_company_reaserch":{"main":[[{"node":"Get a row of _linkai_company_leads","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI_agent_for_cold_mail_writing","type":"ai_languageModel","index":0}]]},"Switch_service_type":{"main":[[{"node":"Get a row_of_company_reaserch","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI_agent_for_cold_mail_writing","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI_agent_for_cold_mail_writing","type":"main","index":0}]]},"AI_agent_for_cold_mail_writing":{"main":[[{"node":"AI Agent for genrating html","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send email","type":"main","index":0}],[{"node":"Send email1","type":"main","index":0}]]},"Send email1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent for genrating html","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent for genrating html","type":"ai_languageModel","index":0}]]},"AI Agent for genrating html":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"3b1a76e3-d54a-49d3-b589-96416a176b27","triggerCount":2,"shared":[{"updatedAt":"2025-12-11T08:33:33.814Z","createdAt":"2025-12-11T08:33:33.814Z","role":"workflow:owner","workflowId":"Lt1wQ2TSwy2oLUlh","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}