customer-order-summarization-Y04w1jOmfPcjxW1c.json
{"createdAt":"2025-11-03T16:36:11.898Z","updatedAt":"2025-11-05T15:47:29.000Z","id":"Y04w1jOmfPcjxW1c","name":"customer order summarization","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1c89NYxnd73xoSsEZjUN0pf9xj2-MkIYnLLvx1BGOGcU","mode":"list","cachedResultName":"n8n test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c89NYxnd73xoSsEZjUN0pf9xj2-MkIYnLLvx1BGOGcU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c89NYxnd73xoSsEZjUN0pf9xj2-MkIYnLLvx1BGOGcU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-112,-96],"id":"41434160-40e0-4f09-b9ab-c4780cbf4ddc","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"EFeYAnK7DyyPePas","name":"Google Sheets Trigger account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are in charge of client orders. Your job is to take incoming information regarding new orders and generate a professional summary email to be sent to the internal team.  \n\nUse the following fields from the incoming data:\nOrder ID:{{ $json['Order ID'] }}\nCustomer Name:{{ $json['Customer Name'] }}\nProduct:{{ $json.Product }}\nQuantity:{{ $json.Quantity }}\nPrice:{{ $json['Price (USD)'] }}\nOrder Date:{{ $json['Order Date'] }}\nStatus:{{ $json.Status }}\n\nPlease output the following:\n1. Email Subject  \n2. Email Body  \n\nThe email should have a friendly, professional tone and be signed off as:  \n\"Customer Success Team\"\n\nFormat example:\n\nEmail Subject: [short and clear subject line]\nEmail Body:\nHi Team,\nWe’ve received a new customer order with the following details:\n\nOrder Summary\n- Order ID: \n- Customer Name: \n\n\n- Product: \n- Quantity: \n- Price: \n- Order Date: \n- Status: \n\nPlease review and proceed with the required actions.\n\nBest regards,  \nCustomer Success Team\n "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[112,-96],"id":"570a3dfb-7035-4174-b67e-3844cbb51462","name":"summarize","credentials":{"openAiApi":{"id":"nNrKtyrWEkTF6zth","name":"OpenAi account 14"}}},{"parameters":{"sendTo":"16arun06@gmail.com","subject":"={{ $json.message.content['Email Subject'] }}","emailType":"text","message":"={{ $json.message.content['Email Body'] }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,-96],"id":"604ae6d7-8850-4aab-8290-e26ca766452f","name":"Send a message","webhookId":"00f2d4e2-b8f7-4a54-abcd-757683ed431f","credentials":{"gmailOAuth2":{"id":"YuKeuIEgYibzhply","name":"Gmail account 4"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"summarize","type":"main","index":0}]]},"summarize":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1c89NYxnd73xoSsEZjUN0pf9xj2-MkIYnLLvx1BGOGcU","sheetId":0,"lastRevision":23,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1c89NYxnd73xoSsEZjUN0pf9xj2-MkIYnLLvx1BGOGcU&revision=23&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7a33372-d13f-47ca-8ab8-cf7a40f968b7","triggerCount":1,"tags":[]}