email2_t2-C7urOAH7JdMmNZbB.json
{"createdAt":"2025-07-27T12:59:31.368Z","updatedAt":"2025-07-27T12:59:31.368Z","id":"C7urOAH7JdMmNZbB","name":"Email2_T2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * Wed"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2496,1408],"id":"11c71290-87e4-41c4-93a7-8d0bba8c7d43","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email#1 Sent","lookupValue":"Yes"},{"lookupColumn":"Email#2 Sent","lookupValue":"No"},{"lookupColumn":"Time Zone","lookupValue":"T2"},{"lookupColumn":"Replied","lookupValue":"No"},{"lookupColumn":"Opted Out","lookupValue":"No"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2176,1392],"id":"53278c9f-ed54-43ad-856c-02683ccd5a33","name":"Google Sheets1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Sender Email'] }}","rightValue":"kiaghasem.dev@gmail.com","operator":{"type":"string","operation":"equals"},"id":"b895fd00-6f66-41d1-ab55-b1337e744a7f"}],"combinator":"and"},"renameOutput":true,"outputKey":"kgd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b90ae81e-e015-4138-955b-f8efae253fba","leftValue":"={{ $json['Sender Email'] }}","rightValue":"kia@kamexa.ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"k"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93b60147-610f-4c3c-adf6-a7f8b2159096","leftValue":"={{ $json['Sender Email'] }}","rightValue":"youremail@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"h"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1744,1392],"id":"acf93ae6-6263-4331-abd7-9600e02c1777","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"2d1b89f0-661b-4b21-9bb2-cb8419b22035","name":"replied","value":"={{ Object.keys($json).length > 0 ? \"Yes\" : \"No\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,1632],"id":"cf25a5d5-41f0-43bb-a87c-0c488dd246a4","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177601be-b2c3-45cc-8e15-cd064fbaf578","leftValue":"={{ $json.replied }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,1664],"id":"20a57e1c-4180-4b1d-8be2-07afa5f36f9f","name":"If1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[48,1488],"id":"8d77315c-7be9-4581-8bc7-333006adf542","name":"Merge1"},{"parameters":{"operation":"getAll","limit":1,"filters":{"sender":"={{ $json['Email Address'] }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-416,1632],"id":"96a31831-8450-4654-952a-4e9f7447e372","name":"Replied?1","webhookId":"6cdae860-913e-4fa7-97af-e49f0cdcd11d","alwaysOutputData":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $json[\"LinkedIn URL\"] }}","Replied":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,1840],"id":"8af8de2f-53cb-47b3-8f80-df44552eb88e","name":"Replied = Yes1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $('Switch1').item.json['LinkedIn URL'] }}","Email#2 Sent":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,1184],"id":"6282b659-d6e8-40f7-a562-6bc4c603e87d","name":"Google Sheets9","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,1472],"id":"2325d5e5-ec63-4755-a741-cf89c35beefa","name":"Loop Over Items3"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1088,1952],"id":"f4e15003-5f85-498b-acd4-b5737a7f83d4","name":"Wait3","webhookId":"5fcbde9f-0750-405b-8ff7-8bce2e4a16ef"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/messages/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"raw","value":"={{ $json.raw }}"},{"name":"=threadId","value":"={{ $json.threadId }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1824],"id":"d81517ae-5118-45cc-a36e-412cf845d9e4","name":"HTTP Request3"},{"parameters":{"jsCode":"// JavaScript code for n8n Code node to prepare HTML email for Gmail API\nconst emailData = {\n  messageId: $input.item.json['Message ID'],\n  threadId: $input.item.json['Thread ID'] || $input.item.json['Message ID'],\n  subject: $input.item.json['Email#1 Subject'],\n  senderEmail: $input.item.json['Sender Email'],\n  recipientEmail: $input.item.json['Email Address'],\n  token: $input.item.json['Token']\n};\n\n// Check available input keys to help diagnose the issue\nconst inputKeys = Object.keys($input.item.json);\nconsole.log('Available input keys:', inputKeys);\n\n// Try to find the email body in different possible formats\nlet emailBodyContent = '';\n// First try the exact key name\nif ($input.item.json['Email#2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email#2 Body'];\n} \n// Try with a space after the hash\nelse if ($input.item.json['Email #2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email #2 Body'];\n} \n// Try other possible variations\nelse if ($input.item.json['EmailBody'] !== undefined) {\n  emailBodyContent = $input.item.json['EmailBody'];\n} \n// Default fallback message if none found\nelse {\n  emailBodyContent = \"Thank you for your attention to this matter.\";\n  console.log(\"No email body found, using default text\");\n}\n\n// Ensure message ID is properly formatted\nconst formattedMessageId = emailData.messageId.startsWith('<') ? \n  emailData.messageId : \n  `<${emailData.messageId}>`;\n\n// Create HTML email body with unsubscribe link\nconst htmlBody = `${emailBodyContent}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn=${emailData.token}\">Click Here to Unsubscribe</a>`;\n\n// Create email in RFC 2822 format with HTML content type\nconst emailContent = \n  `In-Reply-To: ${formattedMessageId}\\n` +\n  `References: ${formattedMessageId}\\n` +\n  `Subject: Re: ${emailData.subject}\\n` +\n  `From: ${emailData.senderEmail}\\n` +\n  `To: ${emailData.recipientEmail}\\n` +\n  `Content-Type: text/html; charset=\"UTF-8\"\\n\\n` +\n  `${htmlBody}`;\n\n// Base64 encode and convert to base64url format\nconst base64EncodedEmail = Buffer.from(emailContent)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\n// Return an object with the encoded email and thread ID\nreturn {\n  json: {\n    raw: base64EncodedEmail,\n    threadId: emailData.threadId\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,1712],"id":"db54cf91-db8d-4879-b526-504406eba0a3","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"2d1b89f0-661b-4b21-9bb2-cb8419b22035","name":"replied","value":"={{ Object.keys($json).length > 0 ? \"Yes\" : \"No\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,448],"id":"359a1279-9073-4757-9076-71e554bf65dc","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177601be-b2c3-45cc-8e15-cd064fbaf578","leftValue":"={{ $json.replied }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,480],"id":"0e17d5d7-0c41-4fed-b426-9aaed4e694d6","name":"If2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[208,304],"id":"e4ff219a-053e-465e-a556-4df4a2922d3b","name":"Merge2"},{"parameters":{"operation":"getAll","limit":3,"filters":{"sender":"={{ $json['Email Address'] }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-256,448],"id":"9892640d-eaa5-45c2-8618-46979626b2fd","name":"Replied?2","webhookId":"6cdae860-913e-4fa7-97af-e49f0cdcd11d","alwaysOutputData":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $json[\"LinkedIn URL\"] }}","Replied":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[640,672],"id":"41a1cab5-d9d2-409e-96c1-54d26b32c08b","name":"Replied = Yes2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $('Switch1').item.json['LinkedIn URL'] }}","Email#2 Sent":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"f0de4ac4-fecc-4068-bd2a-88ccc06bbb76","name":"Google Sheets10","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-576,288],"id":"a37f9515-fd98-47e3-be3c-bb9524ec80de","name":"Loop Over Items4"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,768],"id":"3ca66e80-15ae-4cea-80ab-e8700751448d","name":"Wait4","webhookId":"5fcbde9f-0750-405b-8ff7-8bce2e4a16ef"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/messages/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"raw","value":"={{ $json.raw }}"},{"name":"=threadId","value":"={{ $json.threadId }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,640],"id":"2ca772a1-8fb0-4123-9908-28d6bfa4a153","name":"HTTP Request4"},{"parameters":{"jsCode":"// JavaScript code for n8n Code node to prepare HTML email for Gmail API\nconst emailData = {\n  messageId: $input.item.json['Message ID'],\n  threadId: $input.item.json['Thread ID'] || $input.item.json['Message ID'],\n  subject: $input.item.json['Email#1 Subject'],\n  senderEmail: $input.item.json['Sender Email'],\n  recipientEmail: $input.item.json['Email Address'],\n  token: $input.item.json['Token']\n};\n\n// Check available input keys to help diagnose the issue\nconst inputKeys = Object.keys($input.item.json);\nconsole.log('Available input keys:', inputKeys);\n\n// Try to find the email body in different possible formats\nlet emailBodyContent = '';\n// First try the exact key name\nif ($input.item.json['Email#2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email#2 Body'];\n} \n// Try with a space after the hash\nelse if ($input.item.json['Email #2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email #2 Body'];\n} \n// Try other possible variations\nelse if ($input.item.json['EmailBody'] !== undefined) {\n  emailBodyContent = $input.item.json['EmailBody'];\n} \n// Default fallback message if none found\nelse {\n  emailBodyContent = \"Thank you for your attention to this matter.\";\n  console.log(\"No email body found, using default text\");\n}\n\n// Ensure message ID is properly formatted\nconst formattedMessageId = emailData.messageId.startsWith('<') ? \n  emailData.messageId : \n  `<${emailData.messageId}>`;\n\n// Create HTML email body with unsubscribe link\nconst htmlBody = `${emailBodyContent}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn=${emailData.token}\">Click Here to Unsubscribe</a>`;\n\n// Create email in RFC 2822 format with HTML content type\nconst emailContent = \n  `In-Reply-To: ${formattedMessageId}\\n` +\n  `References: ${formattedMessageId}\\n` +\n  `Subject: Re: ${emailData.subject}\\n` +\n  `From: ${emailData.senderEmail}\\n` +\n  `To: ${emailData.recipientEmail}\\n` +\n  `Content-Type: text/html; charset=\"UTF-8\"\\n\\n` +\n  `${htmlBody}`;\n\n// Base64 encode and convert to base64url format\nconst base64EncodedEmail = Buffer.from(emailContent)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\n// Return an object with the encoded email and thread ID\nreturn {\n  json: {\n    raw: base64EncodedEmail,\n    threadId: emailData.threadId\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,528],"id":"1b7c5035-9e2a-4219-96e5-3f83e342a35e","name":"Code4"},{"parameters":{"assignments":{"assignments":[{"id":"2d1b89f0-661b-4b21-9bb2-cb8419b22035","name":"replied","value":"={{ Object.keys($json).length > 0 ? \"Yes\" : \"No\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,2752],"id":"5dc659ec-5360-45fd-b5ed-d36c8ddced09","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177601be-b2c3-45cc-8e15-cd064fbaf578","leftValue":"={{ $json.replied }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,2784],"id":"5c279e6e-062b-401b-82e6-30e3471127cd","name":"If3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[48,2608],"id":"7d87082a-8c9e-41fd-b119-49c056ca2f81","name":"Merge3"},{"parameters":{"operation":"getAll","limit":3,"filters":{"sender":"={{ $json['Email Address'] }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-416,2752],"id":"5ea605ff-6c6d-4864-86b3-ffff8f8b8ba6","name":"Replied?3","webhookId":"6cdae860-913e-4fa7-97af-e49f0cdcd11d","alwaysOutputData":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $json[\"LinkedIn URL\"] }}","Replied":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,2960],"id":"f5ede7ce-8119-4c58-aa85-e08047a5d59e","name":"Replied = Yes3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $('Switch1').item.json['LinkedIn URL'] }}","Email#2 Sent":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,2304],"id":"0c1ec822-b768-411b-8bab-2d10648ee127","name":"Google Sheets12","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,2592],"id":"9f323698-5af8-48d9-9efd-fc628e8bf01b","name":"Loop Over Items6"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1088,3072],"id":"89c81006-c78c-4b92-a0b5-56f6ddc9c463","name":"Wait6","webhookId":"5fcbde9f-0750-405b-8ff7-8bce2e4a16ef"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/messages/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"raw","value":"={{ $json.raw }}"},{"name":"=threadId","value":"={{ $json.threadId }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,2944],"id":"c0f1afdd-ebd3-485e-924f-a520fc98943f","name":"HTTP Request6"},{"parameters":{"jsCode":"// JavaScript code for n8n Code node to prepare HTML email for Gmail API\nconst emailData = {\n  messageId: $input.item.json['Message ID'],\n  threadId: $input.item.json['Thread ID'] || $input.item.json['Message ID'],\n  subject: $input.item.json['Email#1 Subject'],\n  senderEmail: $input.item.json['Sender Email'],\n  recipientEmail: $input.item.json['Email Address'],\n  token: $input.item.json['Token']\n};\n\n// Check available input keys to help diagnose the issue\nconst inputKeys = Object.keys($input.item.json);\nconsole.log('Available input keys:', inputKeys);\n\n// Try to find the email body in different possible formats\nlet emailBodyContent = '';\n// First try the exact key name\nif ($input.item.json['Email#2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email#2 Body'];\n} \n// Try with a space after the hash\nelse if ($input.item.json['Email #2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email #2 Body'];\n} \n// Try other possible variations\nelse if ($input.item.json['EmailBody'] !== undefined) {\n  emailBodyContent = $input.item.json['EmailBody'];\n} \n// Default fallback message if none found\nelse {\n  emailBodyContent = \"Thank you for your attention to this matter.\";\n  console.log(\"No email body found, using default text\");\n}\n\n// Ensure message ID is properly formatted\nconst formattedMessageId = emailData.messageId.startsWith('<') ? \n  emailData.messageId : \n  `<${emailData.messageId}>`;\n\n// Create HTML email body with unsubscribe link\nconst htmlBody = `${emailBodyContent}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn=${emailData.token}\">Click Here to Unsubscribe</a>`;\n\n// Create email in RFC 2822 format with HTML content type\nconst emailContent = \n  `In-Reply-To: ${formattedMessageId}\\n` +\n  `References: ${formattedMessageId}\\n` +\n  `Subject: Re: ${emailData.subject}\\n` +\n  `From: ${emailData.senderEmail}\\n` +\n  `To: ${emailData.recipientEmail}\\n` +\n  `Content-Type: text/html; charset=\"UTF-8\"\\n\\n` +\n  `${htmlBody}`;\n\n// Base64 encode and convert to base64url format\nconst base64EncodedEmail = Buffer.from(emailContent)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\n// Return an object with the encoded email and thread ID\nreturn {\n  json: {\n    raw: base64EncodedEmail,\n    threadId: emailData.threadId\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,2832],"id":"4770546e-0b7e-494c-8098-3bbdeb1342fc","name":"Code6"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}],[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Loop Over Items6","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"If1":{"main":[[{"node":"Replied = Yes1","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Replied?1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Google Sheets9","type":"main","index":0}],[{"node":"Replied?1","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Replied = Yes1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"If2":{"main":[[{"node":"Replied = Yes2","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Replied?2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Replied = Yes2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Google Sheets10","type":"main","index":0}],[{"node":"Replied?2","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"If3":{"main":[[{"node":"Replied = Yes3","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Replied?3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Replied = Yes3":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"Google Sheets12","type":"main","index":0}],[{"node":"Replied?3","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6e53b9f4-c387-4706-81d9-be8b442c6222","triggerCount":0,"tags":[]}