email1_t2-rT9ZtvEr8p2xpFg6.json
{"createdAt":"2025-07-27T12:57:11.141Z","updatedAt":"2025-07-27T12:57:11.141Z","id":"rT9ZtvEr8p2xpFg6","name":"Email1_T2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * Mon"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1296,1072],"id":"43736783-3a5d-4793-8125-3a2ddd84cf00","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email#1 Sent","lookupValue":"No"},{"lookupColumn":"Time Zone","lookupValue":"T2"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1088,1072],"id":"2f5c41a3-cbad-4793-a502-4df11737e390","name":"Google Sheets"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Sender Email'] }}","rightValue":"kiaghasem.dev@gmail.com","operator":{"type":"string","operation":"equals"},"id":"b895fd00-6f66-41d1-ab55-b1337e744a7f"}],"combinator":"and"},"renameOutput":true,"outputKey":"kgd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b90ae81e-e015-4138-955b-f8efae253fba","leftValue":"={{ $json['Sender Email'] }}","rightValue":"kia@kamexa.ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"k"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93b60147-610f-4c3c-adf6-a7f8b2159096","leftValue":"={{ $json['Sender Email'] }}","rightValue":"youremail@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"h"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-864,1072],"id":"a6517c6e-6a7c-4ef8-ac61-344042a69898","name":"Switch"},{"parameters":{"sendTo":"=kiaghasem.dev@gmail.com","subject":"={{ $json['Email#1 Subject'] }}","message":"={{ $json['Email#1 Body'] }}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn={{ $json.Token }}\">Click Here to Unsubscribe</a>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-128,224],"id":"af943c18-3cbc-43a2-a894-2b2a6f735620","name":"Gmail","webhookId":"7991dbd6-9db7-4a38-ab95-b4c9756b93ee"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $('Switch').item.json['LinkedIn URL'] }}","Email#1 Sent":"Yes","Message ID":"={{ $json.id }}"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"8e6f4e9d-cca2-4972-a9c2-d81ab1dd748a","name":"Google Sheets4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,144],"id":"f729d8e9-82c2-4258-8675-f21e77bface5","name":"Loop Over Items"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,288],"id":"574b0f8d-fde4-411f-897d-384daefc41d6","name":"Wait","webhookId":"c4cf719a-d47f-4761-8a16-aff92b8e9a19"},{"parameters":{"sendTo":"=kiaghasem.dev@gmail.com","subject":"={{ $json['Email#1 Subject'] }}","message":"={{ $json['Email#1 Body'] }}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn={{ $json.Token }}\">Click Here to Unsubscribe</a>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-96,944],"id":"541975bd-763a-4a3e-9749-fac1f3424caa","name":"Gmail3","webhookId":"7991dbd6-9db7-4a38-ab95-b4c9756b93ee"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $('Switch').item.json['LinkedIn URL'] }}","Email#1 Sent":"Yes","Message ID":"={{ $json.id }}"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-16,640],"id":"6bda19dd-b56c-41b3-ab0e-1063280dfbed","name":"Google Sheets6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,784],"id":"8534c388-5bd9-4f03-a26a-341ffb9cafc2","name":"Loop Over Items1"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,960],"id":"b7e77c61-0f28-402e-b063-7fd2bc525985","name":"Wait1","webhookId":"c4cf719a-d47f-4761-8a16-aff92b8e9a19"},{"parameters":{"sendTo":"=kiaghasem.dev@gmail.com","subject":"={{ $json['Email#1 Subject'] }}","message":"={{ $json['Email#1 Body'] }}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn={{ $json.Token }}\">Click Here to Unsubscribe</a>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-48,1664],"id":"633ecd70-2fed-4a45-a07e-6d9440bb155f","name":"Gmail4","webhookId":"7991dbd6-9db7-4a38-ab95-b4c9756b93ee"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $('Switch').item.json['LinkedIn URL'] }}","Email#1 Sent":"Yes","Message ID":"={{ $json.id }}"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,1360],"id":"66b68593-b38b-4b16-85d8-d77b71370d47","name":"Google Sheets7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,1504],"id":"58e36055-1c4c-4e9b-a41a-5ac11abd6e10","name":"Loop Over Items2"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,1680],"id":"20c280cf-c9af-4466-bae9-48fc95e24731","name":"Wait2","webhookId":"c4cf719a-d47f-4761-8a16-aff92b8e9a19"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets4","type":"main","index":0}],[{"node":"Gmail","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Google Sheets6","type":"main","index":0}],[{"node":"Gmail3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Gmail4":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Google Sheets7","type":"main","index":0}],[{"node":"Gmail4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"adf1e7b5-3eea-4601-819e-4963bb8ad925","triggerCount":0,"tags":[]}