flow-3:-mailgun-reply-detection-→-meeting-scheduling-B3Q4Aclpa0zZmyYE.json
{"createdAt":"2025-08-04T16:50:31.634Z","updatedAt":"2025-08-04T17:00:37.000Z","id":"B3Q4Aclpa0zZmyYE","name":"Flow 3: Mailgun Reply Detection → Meeting Scheduling","active":false,"isArchived":true,"nodes":[{"id":"1","name":"Mailgun Reply Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"parameters":{"httpMethod":"POST","path":"email-reply","responseMode":"responseNode","options":{}}},{"id":"2","name":"Extract Reply Data","type":"n8n-nodes-base.code","typeVersion":1,"position":[460,300],"parameters":{"jsCode":"// Extract reply data from Mailgun webhooknconst replyData = {n  job_id: $input.first().json.job_id,n  sender_email: $input.first().json.sender,n  reply_content: $input.first().json.body,n  reply_timestamp: new Date().toISOString(),n  message_id: $input.first().json.message_idn};nnreturn [{ json: replyData }];"}},{"id":"3","name":"AI Reply Analysis","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[680,300],"parameters":{"authentication":"apiKey","resource":"chat","model":"gpt-4","messages":{"messageValues":[{"role":"system","content":"Analyze email replies to determine if the candidate is interested in the job opportunity. Look for positive indicators like interest, availability, or willingness to discuss further."},{"role":"user","content":"Analyze this email reply: {{$json.reply_content}}. Is this a positive response indicating interest? Respond with POSITIVE, NEGATIVE, or NEUTRAL."}]}}},{"id":"4","name":"Filter Positive Replies","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1","leftValue":"={{$json.message}}","rightValue":"POSITIVE","operator":{"type":"string","operation":"equals"}}]}}},{"id":"5","name":"Get Job Details","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,200],"parameters":{"operation":"select","table":"jobs","filters":{"conditions":{"conditions":[{"key":"id","condition":"equal","value":"={{$json.job_id}}"}]}}}},{"id":"6","name":"Generate Meeting Email","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[1340,200],"parameters":{"authentication":"apiKey","resource":"chat","model":"gpt-4","messages":{"messageValues":[{"role":"system","content":"Generate a professional email inviting the candidate to schedule a meeting."},{"role":"user","content":"Create a meeting invitation email for a {{$json.job_title}} position at {{$json.company_name}}. Include a Calendly link."}]}}},{"id":"7","name":"Create Calendly Link","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1560,200],"parameters":{"method":"POST","url":"https://api.calendly.com/scheduling_links","sendBody":true,"bodyParameters":{"parameters":[{"name":"owner","value":"={{$env.CALENDLY_OWNER_URL}}"},{"name":"max_event_count","value":"1"},{"name":"owner_type","value":"EventType"}]}}},{"id":"8","name":"Send Meeting Invitation","type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[1780,200],"parameters":{"authentication":"apiKey","resource":"email","fromEmail":"={{$env.RECRUITER_EMAIL}}","toEmail":"={{$json.sender_email}}","subject":"Meeting Invitation - {{$json.job_title}} at {{$json.company_name}}","message":"={{$json.message}}"}},{"id":"9","name":"Skip Negative Reply","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,400],"parameters":{}},{"id":"10","name":"Update Reply Status","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2000,300],"parameters":{"operation":"update","table":"jobs","updateKey":"id","columns":{"mappingMode":"defineBelow","value":{"replied_at":"={{$json.reply_timestamp}}","reply_content":"={{$json.reply_content}}"}}}},{"id":"11","name":"Calendly Booking Webhook","type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[2220,300],"parameters":{"events":["invitee.created"]}},{"id":"12","name":"Process Booking","type":"n8n-nodes-base.code","typeVersion":1,"position":[2440,300],"parameters":{"jsCode":"// Process Calendly bookingnconst bookingData = {n  job_id: $input.first().json.payload.event.invitee.questions.find(q => q.question === \"Job ID\")?.answer,n  meeting_time: $input.first().json.payload.event.invitee.start_time,n  meeting_end_time: $input.first().json.payload.event.invitee.end_time,n  invitee_name: $input.first().json.payload.event.invitee.name,n  invitee_email: $input.first().json.payload.event.invitee.email,n  booking_created_at: new Date().toISOString()n};nnreturn [{ json: bookingData }];"}},{"id":"13","name":"Update Meeting Booked Status","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2660,300],"parameters":{"operation":"update","table":"jobs","updateKey":"id","columns":{"mappingMode":"defineBelow","value":{"meeting_booked":true,"booking_time":"={{$json.meeting_time}}","meeting_end_time":"={{$json.meeting_end_time}}"}}}},{"id":"14","name":"Send Confirmation Email","type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[2880,300],"parameters":{"authentication":"apiKey","resource":"email","fromEmail":"={{$env.RECRUITER_EMAIL}}","toEmail":"={{$json.invitee_email}}","subject":"Meeting Confirmed - {{$json.job_title}}","message":"Your meeting has been confirmed for {{$json.meeting_time}}. We look forward to speaking with you!"}}],"connections":{"Mailgun Reply Webhook":{"main":[[{"node":"Extract Reply Data","type":"main","index":0}]]},"Extract Reply Data":{"main":[[{"node":"AI Reply Analysis","type":"main","index":0}]]},"AI Reply Analysis":{"main":[[{"node":"Filter Positive Replies","type":"main","index":0}]]},"Filter Positive Replies":{"main":[[{"node":"Get Job Details","type":"main","index":0}],[{"node":"Skip Negative Reply","type":"main","index":0}]]},"Get Job Details":{"main":[[{"node":"Generate Meeting Email","type":"main","index":0}]]},"Generate Meeting Email":{"main":[[{"node":"Create Calendly Link","type":"main","index":0}]]},"Create Calendly Link":{"main":[[{"node":"Send Meeting Invitation","type":"main","index":0}]]},"Send Meeting Invitation":{"main":[[{"node":"Update Reply Status","type":"main","index":0}]]},"Skip Negative Reply":{"main":[[{"node":"Update Reply Status","type":"main","index":0}]]},"Update Reply Status":{"main":[[{"node":"Calendly Booking Webhook","type":"main","index":0}]]},"Calendly Booking Webhook":{"main":[[{"node":"Process Booking","type":"main","index":0}]]},"Process Booking":{"main":[[{"node":"Update Meeting Booked Status","type":"main","index":0}]]},"Update Meeting Booked Status":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"d67c469e-ca01-4dfa-b855-b8632190304e","triggerCount":0,"tags":[]}