flow-2:-email-opened-→-follow-up-with-twilio-sLBktS5IdWA2GUdd.json
{"createdAt":"2025-08-04T16:49:49.374Z","updatedAt":"2025-08-04T17:00:34.000Z","id":"sLBktS5IdWA2GUdd","name":"Flow 2: Email Opened → Follow-up with Twilio","active":false,"isArchived":true,"nodes":[{"id":"1","name":"Mailgun Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"parameters":{"httpMethod":"POST","path":"email-opened","responseMode":"responseNode","options":{}}},{"id":"2","name":"Log Open Event","type":"n8n-nodes-base.code","typeVersion":1,"position":[460,300],"parameters":{"jsCode":"// Log email open event to Supabasenconst openData = {n  job_id: $input.first().json.job_id,n  email_opened_at: new Date().toISOString(),n  recipient: $input.first().json.recipient,n  message_id: $input.first().json.message_idn};nnreturn [{ json: openData }];"}},{"id":"3","name":"Update Supabase with Open","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[680,300],"parameters":{"operation":"update","table":"jobs","updateKey":"id","columns":{"mappingMode":"defineBelow","value":{"opened_at":"={{$json.email_opened_at}}"}}}},{"id":"4","name":"Wait 48 Hours","type":"n8n-nodes-base.wait","typeVersion":1,"position":[900,300],"parameters":{"amount":48,"unit":"hours"}},{"id":"5","name":"Get Job Details","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,300],"parameters":{"operation":"select","table":"jobs","filters":{"conditions":{"conditions":[{"key":"id","condition":"equal","value":"={{$json.job_id}}"}]}}}},{"id":"6","name":"Generate WhatsApp Message","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[1340,300],"parameters":{"authentication":"apiKey","resource":"chat","model":"gpt-4","messages":{"messageValues":[{"role":"system","content":"Generate a friendly WhatsApp follow-up message for job candidates who opened an email but didnt reply."},{"role":"user","content":"Create a WhatsApp message for a {{$json.job_title}} position at {{$json.company_name}}. Keep it casual and friendly."}]}}},{"id":"7","name":"Send WhatsApp via Twilio","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[1560,300],"parameters":{"authentication":"accountSidAuthToken","resource":"sms","operation":"send","from":"={{$env.TWILIO_PHONE_NUMBER}}","to":"={{$json.contact_phone}}","message":"={{$json.message}}"}},{"id":"8","name":"Wait for Twilio Response","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1780,300],"parameters":{"amount":24,"unit":"hours"}},{"id":"9","name":"Check Twilio Messages","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[2000,300],"parameters":{"authentication":"accountSidAuthToken","resource":"sms","operation":"getAll","to":"={{$env.TWILIO_PHONE_NUMBER}}","from":"={{$json.contact_phone}}"}},{"id":"10","name":"Analyze Response with AI","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[2220,300],"parameters":{"authentication":"apiKey","resource":"chat","model":"gpt-4","messages":{"messageValues":[{"role":"system","content":"Analyze WhatsApp responses to determine if the candidate wants to meet or is interested."},{"role":"user","content":"Analyze this response: {{$json.body}}. Does the person want to meet or are they interested? Respond with YES or NO."}]}}},{"id":"11","name":"Filter Positive Responses","type":"n8n-nodes-base.if","typeVersion":1,"position":[2440,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1","leftValue":"={{$json.message}}","rightValue":"YES","operator":{"type":"string","operation":"contains"}}]}}},{"id":"12","name":"Generate Calendly Link","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2660,200],"parameters":{"method":"POST","url":"https://api.calendly.com/scheduling_links","sendBody":true,"bodyParameters":{"parameters":[{"name":"owner","value":"={{$env.CALENDLY_OWNER_URL}}"},{"name":"max_event_count","value":"1"},{"name":"owner_type","value":"EventType"}]}}},{"id":"13","name":"Send Calendly Link via Twilio","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[2880,200],"parameters":{"authentication":"accountSidAuthToken","resource":"sms","operation":"send","from":"={{$env.TWILIO_PHONE_NUMBER}}","to":"={{$json.contact_phone}}","message":"Great! Here is your meeting link: {{$json.booking_url}}"}},{"id":"14","name":"Skip Negative Response","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2660,400],"parameters":{}},{"id":"15","name":"Update Follow-up Status","type":"ncp-nodes-base.supabase","typeVersion":1,"position":[3100,300],"parameters":{"operation":"update","table":"jobs","updateKey":"id","columns":{"mappingMode":"defineBelow","value":{"follow_up_sent_at":"={{new Date().toISOString()}}"}}}}],"connections":{"Mailgun Webhook Trigger":{"main":[[{"node":"Log Open Event","type":"main","index":0}]]},"Log Open Event":{"main":[[{"node":"Update Supabase with Open","type":"main","index":0}]]},"Update Supabase with Open":{"main":[[{"node":"Wait 48 Hours","type":"main","index":0}]]},"Wait 48 Hours":{"main":[[{"node":"Get Job Details","type":"main","index":0}]]},"Get Job Details":{"main":[[{"node":"Generate WhatsApp Message","type":"main","index":0}]]},"Generate WhatsApp Message":{"main":[[{"node":"Send WhatsApp via Twilio","type":"main","index":0}]]},"Send WhatsApp via Twilio":{"main":[[{"node":"Wait for Twilio Response","type":"main","index":0}]]},"Wait for Twilio Response":{"main":[[{"node":"Check Twilio Messages","type":"main","index":0}]]},"Check Twilio Messages":{"main":[[{"node":"Analyze Response with AI","type":"main","index":0}]]},"Analyze Response with AI":{"main":[[{"node":"Filter Positive Responses","type":"main","index":0}]]},"Filter Positive Responses":{"main":[[{"node":"Generate Calendly Link","type":"main","index":0}],[{"node":"Skip Negative Response","type":"main","index":0}]]},"Generate Calendly Link":{"main":[[{"node":"Send Calendly Link via Twilio","type":"main","index":0}]]},"Send Calendly Link via Twilio":{"main":[[{"node":"Update Follow-up Status","type":"main","index":0}]]},"Skip Negative Response":{"main":[[{"node":"Update Follow-up Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"ce6ae940-5dd7-40ee-a214-b7d0efaff6b8","triggerCount":0,"tags":[]}