flow-1:-cron-based-job-scraper-to-mail-sender-Dr5iLppF1QHQ7Ki6.json
{"createdAt":"2025-08-04T16:49:12.292Z","updatedAt":"2025-08-04T17:00:38.000Z","id":"Dr5iLppF1QHQ7Ki6","name":"Flow 1: Cron-Based Job Scraper to Mail Sender","active":false,"isArchived":true,"nodes":[{"id":"1","name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"hour","expression":"*/2"}]}}},{"id":"2","name":"AI URL Generator","type":"n8n-nodes-base.code","typeVersion":1,"position":[460,300],"parameters":{"jsCode":"// AI-powered URL generation for job searchnconst jobRoles = ['software engineer', 'data scientist', 'product manager'];nconst locations = ['remote', 'san francisco', 'new york'];nnconst searchUrls = [];nfor (const role of jobRoles) {n  for (const location of locations) {n    searchUrls.push({n      platform: 'naukri',n      url: `https://www.naukri.com/jobs-in-${location.replace(' ', '-')}-${role.replace(' ', '-')}`,n      role,n      locationn    });n    searchUrls.push({n      platform: 'indeed',n      url: `https://www.indeed.com/jobs?q=${encodeURIComponent(role)}&l=${encodeURIComponent(location)}`,n      role,n      locationn    });n    searchUrls.push({n      platform: 'linkedin',n      url: `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(role)}&location=${encodeURIComponent(location)}`,n      role,n      locationn    });n  }n}nnreturn searchUrls.map(url => ({ json: url }));"}},{"id":"3","name":"Apify Naukri Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[680,200],"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/muhemmetakurt~naukri-job-scraper/runs?token={{$env.APIFY_TOKEN}}","sendBody":true,"bodyParameters":{"parameters":[{"name":"startUrls","value":"={{$json.url}}"},{"name":"maxRequestRetries","value":"3"}]}}},{"id":"4","name":"Apify Indeed Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[680,300],"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/miscres~indeed-scraper-1000/runs?token={{$env.APIFY_TOKEN}}","sendBody":true,"bodyParameters":{"parameters":[{"name":"startUrls","value":"={{$json.url}}"},{"name":"maxRequestRetries","value":"3"}]}}},{"id":"5","name":"Apify LinkedIn Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[680,400],"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/PPR~linkedin-jobs-scraper/runs?token={{$env.APIFY_TOKEN}}","sendBody":true,"bodyParameters":{"parameters":[{"name":"startUrls","value":"={{$json.url}}"},{"name":"maxRequestRetries","value":"3"}]}}},{"id":"6","name":"Process Scraped Jobs","type":"n8n-nodes-base.code","typeVersion":1,"position":[900,300],"parameters":{"jsCode":"// Process scraped job datanconst jobs = [];nn// Extract job information from scraped datanfor (const item of $input.all()) {n  if (item.json && item.json.data) {n    for (const job of item.json.data) {n      jobs.push({n        job_title: job.title || job.jobTitle,n        company_name: job.company || job.companyName,n        job_url: job.url || job.jobUrl,n        location: job.location,n        salary_range: job.salary,n        description: job.description,n        platform: item.json.platform,n        scraped_at: new Date().toISOString()n      });n    }n  }n}nnreturn jobs.map(job => ({ json: job }));"}},{"id":"7","name":"Check Duplicates in Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,300],"parameters":{"operation":"select","table":"jobs","filters":{"conditions":{"conditions":[{"key":"job_url","condition":"equal","value":"={{$json.job_url}}"}]}}}},{"id":"8","name":"Filter New Jobs","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1","leftValue":"={{$json.length}}","rightValue":"0","operator":{"type":"number","operation":"equals"}}]}}},{"id":"9","name":"Insert New Job","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1560,200],"parameters":{"operation":"insert","table":"jobs","columns":{"mappingMode":"defineBelow","value":{"job_title":"={{$json.job_title}}","company_name":"={{$json.company_name}}","job_url":"={{$json.job_url}}","location":"={{$json.location}}","salary_range":"={{$json.salary_range}}","description":"={{$json.description}}","platform":"={{$json.platform}}","scraped_at":"={{$json.scraped_at}}"}}}},{"id":"10","name":"Skip Duplicate","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1560,400],"parameters":{}},{"id":"11","name":"Fetch All Jobs from Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1780,300],"parameters":{"operation":"select","table":"jobs","filters":{"conditions":{"conditions":[{"key":"apollo_company_id","condition":"isNull"}]}}}},{"id":"12","name":"Enrich with Apollo API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2000,300],"parameters":{"method":"GET","url":"https://api.apollo.io/v1/organizations/enrich","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$env.APOLLO_API_KEY}}"},{"name":"domain","value":"={{$json.company_name.toLowerCase().replace(/\\s+/g, '')}}.com"}]}}},{"id":"13","name":"Update Job with Apollo Data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2220,300],"parameters":{"operation":"update","table":"jobs","updateKey":"id","columns":{"mappingMode":"defineBelow","value":{"apollo_company_id":"={{$json.organization.id}}","contact_email":"={{$json.organization.primary_email}}"}}}},{"id":"14","name":"Generate Personalized Email","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[2440,300],"parameters":{"authentication":"apiKey","resource":"chat","model":"gpt-4","messages":{"messageValues":[{"role":"system","content":"You are a professional recruiter. Generate personalized outreach emails for job candidates."},{"role":"user","content":"Generate a personalized email for a {{$json.job_title}} position at {{$json.company_name}}. Include their name and make it engaging."}]}}},{"id":"15","name":"Send Email via Mailgun","type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[2660,300],"parameters":{"authentication":"apiKey","resource":"email","fromEmail":"={{$env.RECRUITER_EMAIL}}","toEmail":"={{$json.contact_email}}","subject":"Opportunity at {{$json.company_name}} - {{$json.job_title}}","message":"={{$json.message}}"}},{"id":"16","name":"Update Email Sent Status","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2880,300],"parameters":{"operation":"update","table":"jobs","updateKey":"id","columns":{"mappingMode":"defineBelow","value":{"email_sent":true,"email_sent_at":"={{new Date().toISOString()}}"}}}}],"connections":{"Cron Trigger":{"main":[[{"node":"AI URL Generator","type":"main","index":0}]]},"AI URL Generator":{"main":[[{"node":"Apify Naukri Scraper","type":"main","index":0},{"node":"Apify Indeed Scraper","type":"main","index":0},{"node":"Apify LinkedIn Scraper","type":"main","index":0}]]},"Apify Naukri Scraper":{"main":[[{"node":"Process Scraped Jobs","type":"main","index":0}]]},"Apify Indeed Scraper":{"main":[[{"node":"Process Scraped Jobs","type":"main","index":0}]]},"Apify LinkedIn Scraper":{"main":[[{"node":"Process Scraped Jobs","type":"main","index":0}]]},"Process Scraped Jobs":{"main":[[{"node":"Check Duplicates in Supabase","type":"main","index":0}]]},"Check Duplicates in Supabase":{"main":[[{"node":"Filter New Jobs","type":"main","index":0}]]},"Filter New Jobs":{"main":[[{"node":"Insert New Job","type":"main","index":0}],[{"node":"Skip Duplicate","type":"main","index":0}]]},"Insert New Job":{"main":[[{"node":"Fetch All Jobs from Supabase","type":"main","index":0}]]},"Skip Duplicate":{"main":[[{"node":"Fetch All Jobs from Supabase","type":"main","index":0}]]},"Fetch All Jobs from Supabase":{"main":[[{"node":"Enrich with Apollo API","type":"main","index":0}]]},"Enrich with Apollo API":{"main":[[{"node":"Update Job with Apollo Data","type":"main","index":0}]]},"Update Job with Apollo Data":{"main":[[{"node":"Generate Personalized Email","type":"main","index":0}]]},"Generate Personalized Email":{"main":[[{"node":"Send Email via Mailgun","type":"main","index":0}]]},"Send Email via Mailgun":{"main":[[{"node":"Update Email Sent Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"9b051fd3-f3e9-48b0-aaf8-2c7df92bb852","triggerCount":0,"tags":[]}