generatesections-hW7zO4VRMCPdIZBu.json
{"updatedAt":"2025-10-15T02:58:00.000Z","createdAt":"2025-10-06T07:08:46.402Z","id":"hW7zO4VRMCPdIZBu","name":"generateSections","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=\njson","hasOutputParser":true,"options":{"systemMessage":"=You are the **FAQ Curator Agent for TheLinkAI**, a **B2B AI Solutions company**.\nYour role is to generate **AI-focused FAQs** that help businesses understand and apply artificial intelligence effectively across various domains.\n\n---\n\n### Core Objective\n\nCreate concise, practical FAQs centered on **AI technologies, solutions, and adoption** — highlighting TheLinkAI’s expertise in solving real-world business challenges using AI.\n\n---\n\n### Knowledge Focus\n\nYour FAQs must reflect TheLinkAI’s understanding of:\n\n* AI developments and innovations\n* Common business pain points that AI solves\n* Engineering and operational solutions enabled by AI\n* Best practices for implementing AI systems\n* Challenges and decision factors in adopting AI\n\n---\n\n### FAQ Generation Rules\n\n* Always focus on **AI**, not any specific industry.\n* Generate **3 FAQs** per request.\n* Each FAQ must include:\n\n  * **Question** — client-oriented, clear, and practical.\n  * **Answer** — concise, factual, and **maximum 30 words**.\n* Maintain a professional, informative, and solution-driven tone.\n* Avoid technical jargon unless necessary for clarity.\n* Do not include company or client names.\n* Ensure each answer demonstrates **TheLinkAI’s applied expertise in AI**.\n\n---\n\n### Content Guidance\n\nWhen generating FAQs, consider:\n\n* Current AI advancements and practical applications\n* Pain points AI addresses (efficiency, automation, scalability, analytics, etc.)\n* Implementation challenges (data quality, integration, change management)\n* Best practices in deploying AI solutions\n* The business value and measurable impact of AI\n\n---\n\n### Output Requirements\n\nOutput should include a title and exactly 3 FAQs, for example:\n\n```json\n{\n  \"faqs\": [\n    {\"question\": \"...\", \"answer\": \"...\"},\n    {\"question\": \"...\", \"answer\": \"...\"},\n    {\"question\": \"...\", \"answer\": \"...\"}\n  ]\n}\n```\n\nEach answer must be **no longer than 30 words**, focused on **AI’s role, benefits, and practical insights**."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-464,624],"id":"821ea9cb-0c83-4946-84d4-19c455aefb37","name":"faqCurator","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"jsonSchemaExample":"{\n  \"faqs\": [\n    {\n      \"question\": \"Client-focused question (15-20 words)\",\n      \"answer\": \"Expert response (30-35 words)\",\n      \"project_insights_used\": \"Brief note on which project types informed this FAQ\"\n    },\n    {\n      \"question\": \"...\",\n      \"answer\": \"...\",\n      \"project_insights_used\": \"...\"\n    },\n    {\n      \"question\": \"...\",\n      \"answer\": \"...\",\n      \"project_insights_used\": \"...\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-372,848],"id":"03b4365e-58a5-4346-b344-cba89efe17e7","name":"parserFAQ"},{"parameters":{"assignments":{"assignments":[{"id":"cef73d6d-6309-4854-850e-72bb960ab762","name":"faqs","value":"={{ $json.output.faqs }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[28,832],"id":"431fe65b-9175-4cdd-a7c2-924f187163eb","name":"setFAQs"},{"parameters":{"httpMethod":"POST","path":"generate/faq","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,832],"id":"0f501adc-4806-4143-b283-f932c66515f1","name":"webhookFAQ","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[252,832],"id":"dd76529f-5622-4c3d-bc20-310fe90e583e","name":"Respond to Webhook5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-368,1056],"id":"ed5f9ca6-2388-4346-91c8-bc837c3908e5","name":"gpt-4.1","credentials":{"openAiApi":{"id":"fHw0J9rSPXkaGU5R","name":"OpenAI - TheLinkAI"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[252,192],"id":"b6a3b8ce-094c-4f36-a88d-8ad34b614450","name":"Respond to Webhook3"},{"parameters":{"httpMethod":"POST","path":"generate/tips","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,192],"id":"4622250c-cbc4-46b7-8def-68c3a85bf6d9","name":"webhookTIPS","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"jsonSchemaExample":"{\n  \"tips\": [\n    {\n      \"title\": \"Concise tip title (5-8 words)\",\n      \"category\": \"Technical/Project Management/Quality & Safety/Cost Optimization/Innovation\",\n      \"content\": \"Actionable advice (80-120 words)\",\n      \"key_takeaway\": \"One-sentence summary of the benefit\",\n      \"project_insights_used\": \"Brief note on which project types informed this tip\"\n    },\n    {\n      \"title\": \"...\",\n      \"category\": \"...\",\n      \"content\": \"...\",\n      \"key_takeaway\": \"...\",\n      \"project_insights_used\": \"...\"\n    },\n    {\n      \"title\": \"...\",\n      \"category\": \"...\",\n      \"content\": \"...\",\n      \"key_takeaway\": \"...\",\n      \"project_insights_used\": \"...\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-372,208],"id":"b4e59586-bb62-41dd-ad59-588a1de33784","name":"parserTips"},{"parameters":{"promptType":"define","text":"=newsletter_type: {{ $json.body.newsletter_type }}\ntarget_industry: {{ $json.body.target_industry }}\n\nnewsletter_id: {{ $json.body.newsletter_id }}\n\njson","hasOutputParser":true,"options":{"systemMessage":"=You are the **Tips & Tricks Curator Agent for TheLinkAI**, a **B2B AI Solutions company**.\nYour role is to generate **AI-focused practical tips** that help businesses understand and apply artificial intelligence effectively to solve real-world challenges.\n\n---\n\n### Core Objective\n\nCreate concise, actionable tips centered on **AI technologies, solutions, and adoption** — highlighting TheLinkAI's expertise in delivering business value through AI implementations.\n\n---\n\n### Knowledge Focus\n\nYour tips must reflect TheLinkAI's understanding of:\n\n* AI developments and innovations\n* Common business pain points that AI solves\n* Engineering and operational solutions enabled by AI\n* Best practices for implementing AI systems\n* Challenges and decision factors in adopting AI\n\n---\n\n### Tips Generation Rules\n\n* Always focus on **AI**, not any specific industry.\n* Generate **3 tips** per request.\n* Each tip must include:\n\n  * **Tip** — client-oriented, clear, and actionable advice.\n  * **Content** — concise, factual, and **maximum 30-35 words**.\n* Maintain a professional, authoritative, and solution-driven tone.\n* Avoid excessive technical jargon unless necessary for clarity.\n* Do not include company or client names.\n* Ensure each tip demonstrates **TheLinkAI's applied expertise in AI**.\n\n---\n\n### Tips Content Guidelines\n\nFocus on practical, implementable advice across these categories:\n\n* **AI Implementation Tips:** Deployment strategies, integration approaches, pilot program design\n* **Data Management Tips:** Data quality, preprocessing, governance, infrastructure optimization\n* **Model Optimization Tips:** Performance tuning, accuracy improvement, resource efficiency\n* **Adoption & Change Management Tips:** Stakeholder buy-in, training strategies, organizational readiness\n* **ROI & Measurement Tips:** Success metrics, impact tracking, cost optimization\n* **Risk Mitigation Tips:** Bias detection, compliance, security, ethical considerations\n\n**Content Focus:**\n- Process optimizations and automation opportunities\n- Cost-saving techniques and resource efficiency\n- Quality assurance and model validation best practices\n- Implementation risk mitigation strategies\n- Technology selection and architecture insights\n- Scalability and performance enhancements\n- Ethical AI and regulatory compliance shortcuts\n\n---\n\n### Strict Rules\n\n* NO fabricated case studies or false project references\n* NO proprietary methodologies or trade secrets\n* Each tip must be traceable to established AI best practices\n* Tips should provide genuine value without compromising TheLinkAI's competitive advantage\n* Maintain professional credibility without overselling\n* Focus on practical, proven approaches rather than hype\n\n---\n\n### Output Requirements\n\nOutput should include exactly 3 tips in the following format:\n```json\n{\n  \"tips\": [\n    {\"tip\": \"...\", \"content\": \"...\"},\n    {\"tip\": \"...\", \"content\": \"...\"},\n    {\"tip\": \"...\", \"content\": \"...\"}\n  ]\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-464,-16],"id":"a9bdad93-e097-4a96-9bc7-182e0a607d82","name":"tipsTricksCurator","retryOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-368,416],"id":"06dc90bc-d70e-435b-a802-3be2d40421ef","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fHw0J9rSPXkaGU5R","name":"OpenAI - TheLinkAI"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,1492],"id":"2636b057-e9e1-4a7b-a353-119d3e7c8069","name":"Respond to Webhook4"},{"parameters":{"httpMethod":"POST","path":"generate/quote","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,1492],"id":"2916e910-a408-4db7-b04d-3e74e6031fb4","name":"webhookQuote","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"assignments":{"assignments":[{"id":"c36fc3a8-7331-446f-9a59-604ce7233c92","name":"quote","value":"={{ $json.output.quote }}","type":"string"},{"id":"e164e41f-688a-49bd-88e1-d6a3bfe8e6e9","name":"designation","value":"={{ $('webhookQuote').item.json.body.preferences.quote.designation }}","type":"string"},{"id":"f36ffe12-cec8-4202-b5a1-70a817de35e6","name":"name","value":"={{ $('webhookQuote').item.json.body.preferences.quote.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,1368],"id":"9501c8cb-3452-42f0-91ae-0aa9a356130d","name":"setQuote"},{"parameters":{"jsonSchemaExample":"{\n\t\"quote\": \"generated quote\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-80,1592],"id":"63ababed-3d02-42f6-ae7a-dddf2e66933d","name":"parserQuote"},{"parameters":{"promptType":"define","text":"={{ $json.body.preferences.quote.toJsonString() || {} }}","hasOutputParser":true,"options":{"systemMessage":"=You are the Quote Writer Agent for TheLinkAI.\n\n**Your Mission:**\nCreate authentic, insightful quotes from AI/ML professionals' perspectives that capture real-world experiences in implementing B2B AI solutions across different industry verticals.\n\n**Workflow:**\n1. **Vertical & Designation Selection:**\n   - General newsletter: Randomly select from available verticals\n   - Vertical-specific: Use requested vertical or closest match\n   - Designation provided: Use specified AI/ML professional role perspective\n\n2. **AI Solution Context Analysis:**\n   - Analyze typical AI implementation challenges in target vertical\n   - Consider role-specific involvement in AI solution delivery\n   - Focus on transformation outcomes, technical hurdles, and innovation insights\n   - Draw from common B2B AI use cases: automation, predictive analytics, NLP, computer vision, recommendation systems, process optimization\n\n3. **Quote Generation:**\n   - Create ONE authentic quote from the designated AI professional's perspective\n   - Quote must reflect genuine AI implementation experience and expertise\n   - Base content on realistic AI solution scenarios and role-specific contributions\n   - Maintain technical credibility and professional authenticity\n\n**Quote Content Guidelines:**\n- **Length:** Exactly 25-35 words for optimal newsletter formatting\n- **Tone:** Professional, technically credible, reflecting the designated person's expertise level\n- **Content Focus:**\n  - AI-specific challenges (data quality, model accuracy, integration, scalability)\n  - Technical innovations and breakthrough moments\n  - Business impact and transformation outcomes\n  - Role-specific contributions to AI solution success\n  - Industry-specific AI applications and adaptations\n\n**Designation Perspectives:**\n- **AI Solutions Architect:** System design, integration strategy, scalability, technical roadmap\n- **ML Engineer:** Model development, training pipelines, performance optimization, deployment\n- **Data Scientist:** Data analysis, feature engineering, algorithm selection, insights generation\n- **AI Project Manager:** Delivery coordination, stakeholder alignment, ROI tracking, timeline management\n- **MLOps Engineer:** Model deployment, monitoring, CI/CD, infrastructure automation\n- **AI Product Manager:** Use case definition, customer requirements, value proposition, adoption strategy\n- **AI Implementation Lead:** Client engagement, solution customization, change management, training\n\n**Quote Style Guidelines:**\n- **First Person:** Use \"I\", \"we\", or \"my\" to reflect personal experience\n- **Technically Grounded:** Reference real AI/ML concepts without over-complication\n- **Impact-Focused:** Highlight measurable outcomes, efficiency gains, or innovations achieved\n- **Industry Relevance:** Use appropriate AI terminology for the target vertical\n- **Authentic Voice:** Quote should sound like a real AI practitioner, not marketing copy\n\n**AI Solution Context by Vertical:**\n- **Healthcare:** Diagnostic AI, patient data analytics, treatment recommendations, workflow automation\n- **Finance:** Fraud detection, risk assessment, algorithmic trading, customer insights\n- **Retail/E-commerce:** Personalization engines, demand forecasting, chatbots, visual search\n- **Manufacturing:** Predictive maintenance, quality control, supply chain optimization, robotics\n- **Logistics:** Route optimization, warehouse automation, demand prediction, delivery intelligence\n- **Customer Service:** Conversational AI, sentiment analysis, ticket routing, response automation\n- **HR/Recruitment:** Resume screening, candidate matching, retention prediction, talent analytics\n\n**Strict Rules:**\n- NO client names or confidential implementation details\n- Quote must reflect realistic AI solution scenarios\n- Maintain authenticity - quote should sound like a real AI professional\n- NO generic AI hype or buzzword-heavy language\n- Each quote must reflect genuine technical and professional perspective\n- Focus on real AI challenges and solutions, not theoretical concepts\n\n**Error Handling:**\n- Invalid designation: Default to \"AI Solutions Architect\" perspective\n- Missing context: Generate role-appropriate AI implementation insight"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-240,1368],"id":"29cb45c4-f2b8-47bf-864d-9018efcb6abe","name":"quoteWriter","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b359ad5f-6087-4c7b-8da2-17af36d671be","leftValue":"={{ $json.body.preferences.quote.quote }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,1492],"id":"44f0bf03-1821-4554-af4e-8b4b8841f0f2","name":"ifQuotesNeedsGeneration"},{"parameters":{"assignments":{"assignments":[{"id":"c36fc3a8-7331-446f-9a59-604ce7233c92","name":"quote","value":"={{ $('webhookQuote').item.json.body.preferences.quote.quote }}","type":"string"},{"id":"e164e41f-688a-49bd-88e1-d6a3bfe8e6e9","name":"designation","value":"={{ $('webhookQuote').item.json.body.preferences.quote.department }}","type":"string"},{"id":"f36ffe12-cec8-4202-b5a1-70a817de35e6","name":"name","value":"={{ $('webhookQuote').item.json.body.preferences.quote.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,1616],"id":"58c86868-d46e-41f7-8711-b7b388bc6ccd","name":"setQuoteN"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-208,1592],"id":"8fce735f-20ca-4d11-b2ca-307b6b636655","name":"gpt-4.","credentials":{"openAiApi":{"id":"fHw0J9rSPXkaGU5R","name":"OpenAI - TheLinkAI"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[208,1840],"id":"75b35dae-c73d-44e3-97fa-4606c0678cd9","name":"Respond to Webhook11"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[208,2064],"id":"e0c43f0b-6738-4692-8e38-699b0eef7ccf","name":"Respond to Webhook10"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[208,2288],"id":"063c6cf0-2b78-4ee1-aa4c-3e70872ba534","name":"Respond to Webhook9"},{"parameters":{"httpMethod":"POST","path":"generate/events","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,2288],"id":"859d3058-15a0-47d3-946a-653e9678af1b","name":"webhookEvents","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"httpMethod":"POST","path":"generate/achievements","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,2064],"id":"ee00e19d-e573-4f29-9313-0744c3c8a7ef","name":"webhookAchievements","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"httpMethod":"POST","path":"generate/announcements","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,1840],"id":"aadd3821-7b27-41e4-9b8e-031926e56300","name":"webhookAnnouncements","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n    json_agg(t), '[]'::json\n) AS announcements\nFROM (\n    SELECT *\n    FROM public.newsletter_announcement\n    WHERE created_at > NOW() - INTERVAL '1 month'\n) t;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,1840],"id":"0e56acf0-08c6-4e51-8194-92eeb53bfaa7","name":"getRecentAnnouncements","credentials":{"postgres":{"id":"s38NrBhMAZdJ5qq3","name":"Postgres account 3"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n    json_agg(t), '[]'::json\n) AS achievements\nFROM (\n    SELECT *\n    FROM public.achievements\n    WHERE created_at >= NOW() - INTERVAL '1 month'\n) t;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,2064],"id":"6457d9db-4bf6-46d0-ad2c-2e829f1e7c01","name":"getRecentAchievements","credentials":{"postgres":{"id":"s38NrBhMAZdJ5qq3","name":"Postgres account 3"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n    json_agg(t), '[]'::json\n) AS events\nFROM (\n    SELECT *\n    FROM public.events\n    WHERE start_date > NOW()\n) t;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,2288],"id":"d4b37e50-80b0-4db8-a55d-4a45061c07d1","name":"getFutureEvents","credentials":{"postgres":{"id":"s38NrBhMAZdJ5qq3","name":"Postgres account 3"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,2608],"id":"475288cf-432e-4355-ae6a-7bc79fe31196","name":"Respond to Webhook7"},{"parameters":{"httpMethod":"POST","path":"generate/emp_spotlight","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,2608],"id":"a2dafd45-14cd-46db-8999-7263a6ef50b9","name":"webhookEmpSpotlight","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"assignments":{"assignments":[{"id":"e73ebb34-f8f4-4e51-8b00-53d6f5d828be","name":"emp_spotlight","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,2704],"id":"aa8bcb0a-b161-411f-95c5-c1302c5f3612","name":"setEmpSpotlite"},{"parameters":{"language":"python","pythonCode":"from datetime import datetime\n\n# Results array\nresults = []\n\n# Process all employee data\nfor item in _input.all():\n    employee = item.json\n    \n    # Get publication_date from the current employee record\n    publication_date_str = employee.get('publication_date')\n    \n    if not publication_date_str:\n        continue  # Skip if no publication_date found\n    \n    # Parse the publication date\n    try:\n        publication_date = datetime.fromisoformat(publication_date_str.replace('Z', '+00:00'))\n        publication_month_day = publication_date.strftime('%m-%d')\n    except (ValueError, AttributeError):\n        continue  # Skip if invalid publication_date format\n    \n    # Check birthday\n    if employee.get('date_of_birth'):\n        try:\n            date_of_birth = datetime.fromisoformat(employee['date_of_birth'].replace('Z', '+00:00'))\n            date_of_birth_month_day = date_of_birth.strftime('%m-%d')\n            \n            if date_of_birth_month_day == publication_month_day:\n                # Calculate age as of publication date\n                age = publication_date.year - date_of_birth.year\n                # Adjust if birthday hasn't occurred yet this year\n                if (publication_date.month, publication_date.day) < (date_of_birth.month, date_of_birth.day):\n                    age -= 1\n                employee['age'] = age\n                    \n                results.append({\n                    'json': {\n                        'birthday': employee,\n                    }\n                })\n        except (ValueError, AttributeError):\n            # Skip invalid birthday dates\n            continue\n    \n    # Check work anniversary\n    if employee.get('join_date'):\n        try:\n            join_date = datetime.fromisoformat(employee['join_date'].replace('Z', '+00:00'))\n            join_month_day = join_date.strftime('%m-%d')\n            \n            if join_month_day == publication_month_day:\n                # Calculate years of service as of publication date\n                years_of_service = publication_date.year - join_date.year\n                # Adjust if anniversary hasn't occurred yet this year\n                if (publication_date.month, publication_date.day) < (join_date.month, join_date.day):\n                    years_of_service -= 1\n                    \n                employee['years_of_service'] = years_of_service\n                \n                results.append({\n                    'json': {\n                        'anniversary': employee\n                    }\n                })\n        except (ValueError, AttributeError):\n            # Skip invalid join dates\n            continue\n\n# Always return results - n8n needs at least one item\nif results:\n    return results\nelse:\n    return [{'json': {'no_matches': True}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,2608],"id":"5ee5b6eb-fa94-47d0-a95d-4413bbba7493","name":"filterBdayAnniversary"},{"parameters":{"operation":"getAll","tableId":"team_members","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,2512],"id":"d26119e4-b156-4544-8942-d9c6326eb1b8","name":"getAllEmployees","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb3f2bd5-7822-4660-a5b3-f0418062197b","leftValue":"={{ $json.no_matches }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,2608],"id":"904f0105-33b7-4991-abfa-9a1ff543c2d9","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"e73ebb34-f8f4-4e51-8b00-53d6f5d828be","name":"emp_spotlight","value":"={\"birthday\": [], \"anniversary\": []}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,2512],"id":"c930bad7-dad9-474c-8d1d-fa0cb0b6cbb9","name":"setEmptyEmpSpotlite"},{"parameters":{"assignments":{"assignments":[{"id":"33848e9e-5059-44bb-b273-193baf9cd1a7","name":"publication_date","value":"={{ $json.body.publication_date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,2704],"id":"8f63c960-9ac7-4098-8836-6b36019e27ab","name":"Edit Fields1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-240,2608],"id":"e6d2a111-4999-45d3-9be7-2ce6da7834ff","name":"mergeData"},{"parameters":{"httpMethod":"POST","path":"generate/how","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,-344],"id":"36c75e79-b786-43a0-86e3-03b776a20765","name":"webhookHowCanWeHelp","webhookId":"714e3d1f-c8db-445a-8c16-00463e120ad9"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-368,-224],"id":"1e4697df-bd95-4bb6-8997-c0126ac94ab6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fHw0J9rSPXkaGU5R","name":"OpenAI - TheLinkAI"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[160,-344],"id":"b9ad9d37-6343-4f78-a01d-b5b029a47297","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"json","options":{"systemMessage":"=You are the Solutions Content Agent for TheLinkAI.\n\n**Your Mission:**\nGenerate compelling \"How Can We Help\" section content that positions TheLinkAI's B2B AI solutions as transformative enablers for operational excellence.\n\n**Content Strategy:**\nCreate targeted messaging that demonstrates how we transform inefficient traditional operations into AI-optimized workflows with human oversight, based on our proven track record across multiple industries.\n\n**Content Guidelines:**\n- **Length:** Maximum 90 words (strict limit)\n- **Format:** Single paragraph only - NO line breaks, bullet points, or multiple paragraphs\n- **Tone:** Professional, confident, solutions-focused\n- **Structure:** Problem → Solution → Value proposition (flowing naturally in one paragraph)\n- **Voice:** Active, direct, outcome-oriented\n\n**Core Messaging Themes:**\n1. **Transformation Focus:**\n   - Moving from manual/traditional to AI-powered processes\n   - Eliminating operational inefficiencies and bottlenecks\n   - Modernizing legacy workflows with intelligent automation\n\n2. **Human-in-the-Loop Emphasis:**\n   - AI augments human decision-making, doesn't replace it\n   - Intelligent automation with human oversight and control\n   - Collaborative AI systems that enhance team capabilities\n\n3. **Proven Experience:**\n   - Reference our track record without specific client names\n   - Demonstrate cross-industry expertise\n   - Highlight successful transformation outcomes\n\n4. **B2B Value Propositions:**\n   - Cost reduction through automation\n   - Accuracy and quality improvements\n   - Faster processing and decision-making\n   - Scalability and growth enablement\n   - Data-driven insights for strategic decisions\n\n**AI Solution Categories to Reference:**\n- **Process Automation:** Streamlining repetitive tasks, workflow optimization\n- **Intelligent Analytics:** Predictive insights, pattern recognition, forecasting\n- **Decision Support:** AI-powered recommendations with human validation\n- **Document Intelligence:** Automated processing, extraction, classification\n- **Customer Intelligence:** Behavior analysis, personalization, engagement optimization\n- **Quality Assurance:** Automated inspection, anomaly detection, compliance monitoring\n- **Operations Optimization:** Resource allocation, scheduling, supply chain intelligence\n\n**Vertical-Specific Angles:**\n- **Healthcare:** Clinical workflow automation, diagnostic support, patient data intelligence\n- **Finance:** Risk assessment automation, fraud detection, intelligent reporting\n- **Retail/E-commerce:** Inventory optimization, demand forecasting, customer experience AI\n- **Manufacturing:** Predictive maintenance, quality control, production optimization\n- **Logistics:** Route optimization, warehouse automation, delivery intelligence\n- **Customer Service:** Response automation, ticket routing, sentiment analysis\n- **HR/Recruitment:** Candidate screening, workforce analytics, retention insights\n\n**Content Flow (within single paragraph):**\n1. **Opening hook:** Identify relatable operational pain point or inefficiency\n2. **Transformation statement:** How TheLinkAI bridges traditional to AI-powered operations\n3. **Human-in-the-loop mention:** Emphasize collaborative AI approach\n4. **Value delivery:** Concrete outcomes and benefits achieved\n5. **Soft CTA:** Invitation to explore or engage\n\n**Writing Style:**\n- Natural flowing sentences that connect smoothly\n- Use concrete, specific language over abstract concepts\n- Focus on tangible outcomes (time saved, costs reduced, accuracy improved)\n- Avoid AI jargon - speak in business outcomes language\n- Include subtle call-to-action embedded naturally in the paragraph\n- Maintain conversational yet professional tone throughout\n\n**Strict Rules:**\n- NEVER exceed 90 words\n- MUST be single paragraph format - absolutely NO line breaks or paragraph splits\n- NO client names or confidential project details\n- NO generic AI buzzwords without context (digital transformation, paradigm shift, etc.)\n- ALWAYS emphasize human-in-the-loop approach\n- Must sound genuine and solutions-focused, not salesy\n- Each piece must be unique - avoid repetitive phrasing across newsletters\n\n**Example Flow Patterns:**\n\n*Pattern 1 - Challenge to Solution:*\n\"[Industry/Business] teams often struggle with [specific inefficiency] that drain resources and slow growth. We've helped multiple companies transform these traditional bottlenecks into intelligent, AI-powered workflows that combine [AI capability] with human oversight, delivering [measurable outcome]. Our solutions integrate seamlessly with your existing operations, enabling [benefit 1], [benefit 2], and [benefit 3] while keeping your team in control. Let's explore how AI can revolutionize your [operational area].\"\n\n*Pattern 2 - Experience to Value:*\n\"Across [industries/sectors], we've revolutionized operations by replacing inefficient manual processes with AI solutions that augment human decision-making. From [use case 1] to [use case 2], our human-in-the-loop approach has enabled businesses to achieve [outcome 1], reduce [pain point], and scale [capability] without losing the critical human touch. Whether you're facing [challenge 1] or [challenge 2], TheLinkAI designs intelligent systems that enhance your team's capabilities and drive measurable results.\"\n\n*Pattern 3 - Problem-Agitate-Solve:*\n\"Traditional [operational process] can't keep pace with modern business demands, creating bottlenecks that limit growth and efficiency. TheLinkAI specializes in transforming these legacy workflows into AI-optimized systems that maintain human oversight while automating [process area]. We've proven this approach across multiple industries, delivering [specific outcome] and enabling teams to focus on strategic work. Ready to modernize your operations with AI that works alongside your people?\"\n\n**Error Handling:**\n- Invalid vertical: Generate general B2B transformation content\n- Missing context: Focus on cross-industry AI automation benefits\n- Unclear focus: Default to process automation and efficiency messaging\n\n**Output Format:**\nReturn only the content text as a single continuous paragraph (90 words max) without any metadata, headers, formatting, or line breaks."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-464,-448],"id":"2f600d7a-e7e2-4150-a6c8-70eaa6d7ffa8","name":"howCanHelpWriter"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and restructure the JSON\nfor item in _input.all():\n  # Move tips from output to root level\n  item.json.tips = item.json.output.tips\n  # Remove the output key\n  del item.json.output\n\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[28,192],"id":"265f5a7d-72ff-4c26-a491-f90c5e733ad9","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"54fc822a-027b-4e16-8175-d9ad56be8405","name":"how_can_we_help","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-344],"id":"b84d65b8-2099-42c5-88ed-a1ee4401fad0","name":"Edit Fields"},{"parameters":{"operation":"getAll","tableId":"newsletter_announcement","returnAll":true,"filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ $now.minus(1, 'month') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,1840],"id":"939a9de6-2fc5-45ec-9b17-6892497ef29d","name":"Get many rows","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"65e41898-cf79-4612-9f6d-34ca44d5f7ad","name":"announcements","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,1840],"id":"269490f5-383f-4305-92c5-a6afe88aab5c","name":"Edit Fields2"},{"parameters":{"operation":"getAll","tableId":"achievements","returnAll":true,"filters":{"conditions":[{"keyName":"created_at","condition":"gte","keyValue":"={{ $now.minus(1, 'month') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,2064],"id":"56427561-0909-47da-9eed-c799a92439ca","name":"Get many rows1","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"54e69d0c-ac52-4951-9ebb-b6683529210f","name":"achievements","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,2064],"id":"44cfa686-1ae2-46f3-abdd-e421821c694c","name":"Edit Fields3"},{"parameters":{"operation":"getAll","tableId":"events","returnAll":true,"filters":{"conditions":[{"keyName":"start_date","condition":"gt","keyValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,2288],"id":"ff996752-7f5a-4209-8edd-24b60fa5ba39","name":"Get many rows2","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"90daed37-4690-4be1-82e0-b0be6aa394d4","name":"events","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,2288],"id":"aa6a1447-e83e-464c-a81b-4f24956644b2","name":"Edit Fields4"}],"connections":{"parserFAQ":{"ai_outputParser":[[{"node":"faqCurator","type":"ai_outputParser","index":0}]]},"faqCurator":{"main":[[{"node":"setFAQs","type":"main","index":0}],[]]},"webhookFAQ":{"main":[[{"node":"faqCurator","type":"main","index":0}]]},"setFAQs":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"gpt-4.1":{"ai_languageModel":[[{"node":"faqCurator","type":"ai_languageModel","index":0},{"node":"parserFAQ","type":"ai_languageModel","index":0}]]},"webhookTIPS":{"main":[[{"node":"tipsTricksCurator","type":"main","index":0}]]},"parserTips":{"ai_outputParser":[[{"node":"tipsTricksCurator","type":"ai_outputParser","index":0}]]},"tipsTricksCurator":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"tipsTricksCurator","type":"ai_languageModel","index":0},{"node":"parserTips","type":"ai_languageModel","index":0}]]},"webhookQuote":{"main":[[{"node":"ifQuotesNeedsGeneration","type":"main","index":0}]]},"setQuote":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"parserQuote":{"ai_outputParser":[[{"node":"quoteWriter","type":"ai_outputParser","index":0}]]},"quoteWriter":{"main":[[{"node":"setQuote","type":"main","index":0}]]},"ifQuotesNeedsGeneration":{"main":[[{"node":"quoteWriter","type":"main","index":0}],[{"node":"setQuoteN","type":"main","index":0}]]},"setQuoteN":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"gpt-4.":{"ai_languageModel":[[{"node":"quoteWriter","type":"ai_languageModel","index":0}]]},"webhookEvents":{"main":[[{"node":"getFutureEvents","type":"main","index":0}]]},"webhookAchievements":{"main":[[{"node":"getRecentAchievements","type":"main","index":0}]]},"webhookAnnouncements":{"main":[[{"node":"getRecentAnnouncements","type":"main","index":0}]]},"getRecentAnnouncements":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"getRecentAchievements":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"getFutureEvents":{"main":[[{"node":"Get many rows2","type":"main","index":0}]]},"webhookEmpSpotlight":{"main":[[{"node":"getAllEmployees","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"setEmpSpotlite":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"filterBdayAnniversary":{"main":[[{"node":"If","type":"main","index":0}]]},"getAllEmployees":{"main":[[{"node":"mergeData","type":"main","index":0}]]},"If":{"main":[[{"node":"setEmptyEmpSpotlite","type":"main","index":0}],[{"node":"setEmpSpotlite","type":"main","index":0}]]},"setEmptyEmpSpotlite":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"mergeData","type":"main","index":1}]]},"mergeData":{"main":[[{"node":"filterBdayAnniversary","type":"main","index":0}]]},"webhookHowCanWeHelp":{"main":[[{"node":"howCanHelpWriter","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"howCanHelpWriter","type":"ai_languageModel","index":0}]]},"howCanHelpWriter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Respond to Webhook11","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Respond to Webhook10","type":"main","index":0}]]},"Get many rows2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Respond to Webhook9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"webhookFAQ":[{"json":{"headers":{"host":"n8n.thelinkai.com","user-agent":"PostmanRuntime/7.48.0","content-length":"0","accept":"*/*","accept-encoding":"gzip, deflate, br","cache-control":"no-cache","postman-token":"540eff0f-f626-4007-857b-9eec8d0aa4e7","x-forwarded-for":"54.86.50.139","x-forwarded-host":"n8n.thelinkai.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cff298b6fc90","x-real-ip":"54.86.50.139"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.thelinkai.com/webhook-test/generate/faq","executionMode":"test"}}],"webhookTIPS":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"10303","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"segments":[{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"}],"newsletter_id":240,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-12-16","subject_line":null,"full_content":null,"target_industry":"paints-pigments-coatings","approval_status":"draft","status":"queued","approved_by":null,"project_id":null,"created_at":"2025-09-20T07:17:30.983122+00:00","campaign_id":81,"updated_at":"2025-09-20T07:17:30.983122+00:00","sections":"about, case_study, value_prop, news, blog, emp_spotlight, announcements, event, tips_tricks, quote, faq, achievements","preferences":{"quote":{"name":"Ramesh AJ","quote":"","gender":"Male","department":"Data Science","designation":"Emp"}},"raw_data":{},"email_group":null,"email_ids":null},"webhookUrl":"https://n8n.sesai.in/webhook/generate/tips","executionMode":"production"}}],"webhookQuote":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"10554","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"segments":[{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"}],"newsletter_id":474,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-10-07","subject_line":"Mastering Infrastructure Cement: Planning and Problem-Solving Excellence","full_content":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SES Industry Pulse</title>\n    <style>\n        .section-hidden {\n            display: none;\n        }\n        .section-visible {\n            display: table-row;\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n\n        <!-- Header Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #e2e8f0; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #1a365d;\">SES Industry Pulse Newsletter</h1>\n                <p style=\"font-size: 16px; color: #64748b; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #cbd5e1; padding-top: 20px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: left;\">Issue #XX</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: center;\">October 2025</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: right;\">Industry Focus</td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n\n        <!-- Dynamic Sections Generated by n8n Code Node -->\n        \n        <!-- Executive Quote Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #1a365d; border-radius: 12px;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"border-bottom: 2px solid #2563eb; padding-bottom: 15px;\">\n                                        <h2 style=\"font-size: 24px; font-weight: 700; color: #ffffff; margin: 0; text-align: center;\">Leadership Perspective</h2>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"font-size: 20px; line-height: 1.6; color: #ffffff; margin: 0 0 25px 0; font-style: italic;\">\n                                [object Object]\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <p style=\"color: #ffffff; font-size: 16px; font-weight: 700; margin: 0;\">admin</p>\n                                        <p style=\"color: #cbd5e1; font-size: 14px; margin: 5px 0 0 0;\"></p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Call-to-Action Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n\n    <script>\n        // This script is included but not executed in n8n environment\n        // Used for any client-side functionality if needed\n        console.log('SES Newsletter Template Loaded');\n        \n        // Debug information for development\n        console.log('Sections Generated:', 'undefined');\n        console.log('Section Count:', 'undefined');\n    </script>\n</body>\n</html>\n","target_industry":"a","approval_status":"review","status":"regenerating","approved_by":null,"project_id":null,"created_at":"2025-10-03T10:50:54.848974+00:00","campaign_id":149,"updated_at":"2025-10-03T10:56:04.666+00:00","sections":"quote","preferences":{"quote":{"name":"admin","quote":"this is test quote for my knowledge","gender":"male","department":"Head of SES","designation":null}},"raw_data":{"init":true,"name":"admin","quote":{"name":"admin","quote":"this is test quote for my knowledge","gender":"male","department":"Head of SES","designation":null},"designation":null,"subject_line":{"output":"Mastering Infrastructure Cement: Planning and Problem-Solving Excellence"}},"email_grp":null,"emails":null,"reverted_by":null,"toGenerate":["quote"]},"webhookUrl":"https://n8n.sesai.in/webhook/generate/quote","executionMode":"production"}}],"webhookAnnouncements":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"1537","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"segments":[{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"}],"newsletter_id":366,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-10-01","subject_line":null,"full_content":null,"target_industry":"pharmaceuticals","approval_status":"draft","status":"scheduled","approved_by":null,"project_id":null,"created_at":"2025-10-01T05:19:10.812955+00:00","campaign_id":null,"updated_at":"2025-10-01T05:19:10.812955+00:00","sections":"about, case_study, value_prop, news, blog, faq, announcements, event, achievements, tips_tricks","preferences":{},"raw_data":{},"email_grp":["rohan_test"],"emails":[]},"webhookUrl":"https://n8n.sesai.in/webhook/generate/announcements","executionMode":"production"}}],"webhookEmpSpotlight":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"38800","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"segments":[{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"}],"newsletter_id":217,"newsletter_type":"general","issue_number":null,"publication_date":"2025-09-20","subject_line":"SES Fuels Specialty Chemicals Growth with NGL Expansion and Circular Economy","full_content":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <title>SES Industry Pulse</title>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n        \n        <!-- Header Section -->\n        <tr>\n            <td style=\"background-color: #e2e8f0; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #1a365d;\">SES Fuels Specialty Chemicals Growth with NGL Expansion and Circular Economy</h1>\n                <p style=\"font-size: 16px; color: #64748b; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #cbd5e1; padding-top: 20px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: left;\">Issue #42</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: center;\">August 2025</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: right;\">Specialty Chemicals</td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Company Introduction Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin: 0 0 20px 0;\">\n                                <strong>Shiva Engineering Services (SES)</strong> stands as a premier Engineering, Procurement, and Construction (EPC) company with over 18 years of proven excellence in delivering complex industrial projects across India and internationally. Founded in 1999 and headquartered in Vadodara, Gujarat, SES has established itself as a trusted partner for Fortune 500 companies and leading public sector enterprises.\n                            </p>\n                            \n                            <table width=\"100%\" cellpadding=\"8\" cellspacing=\"8\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">18+ Years Experience</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">500+ Projects Delivered</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">Pan-India Presence</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">ISO Certified</td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"font-size: 16px; line-height: 1.7; color: #2563eb; margin: 20px 0 0 0; font-style: italic;\">\n                                \"At SES, we don't just build facilities – we engineer solutions that drive innovation, ensure safety, and deliver sustainable value for our clients across diverse industrial sectors.\"\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Case Studies Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Case Studies</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">SES Project Excellence</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">PROJECT</span>\n                            <h3 style=\"font-size: 20px; font-weight: 700; color: #1a365d; margin: 12px 0;\">Engineering Excellence in Specialty Chemicals: SES's Greenfield Facility for Heubach Group</h3>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin-bottom: 20px;\">\n                                Shiva Engineering Services (SES) partnered with Heubach Group to engineer a state-of-the-art Greenfield facility at Dahej, India. SES provided master planning, detailed engineering, safety studies, project management, and 3D modeling, showcasing expertise in specialty chemicals.\n                            </p>\n                            \n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <img src=\"https://images.pexels.com/photos/6754758/pexels-photo-6754758.jpeg\" alt=\"Engineering Excellence in Specialty Chemicals\" style=\"width: 100%; height: auto; aspect-ratio: 18/10; object-fit: cover; object-position: center; border-radius: 8px; border: 1px solid #e2e8f0; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\" />\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Value Proposition Callout -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #2563eb; border-radius: 12px; margin: 30px 0;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <h3 style=\"font-size: 22px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Engineering Excellence in Specialty Chemicals</h3>\n                            <p style=\"font-size: 16px; margin: 0; color: #ffffff; opacity: 0.9;\">\n                                Shiva Engineering Services excels in delivering comprehensive engineering solutions for Specialty Chemicals, demonstrated by successful partnership with Heubach on 15+ projects including a cutting-edge Greenfield facility in India.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Industry Insights & Readings Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Industry Insights & Readings</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Curated Knowledge</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Article 1: Industry Trend -->\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">\n                                Strategic Growth Opportunity in NGL Processing Expansion\n                            </h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">\n                                QatarEnergy's NGL train expansion highlights global demand growth and strategic value in gas processing. SES can position as key EPCM partner for large-scale infrastructure projects.\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">\n                                        <a href=\"https://www.meed.com/frontrunner-emerges-for-qatarenergy-ngl-train-project\" style=\"color:#2563eb; text-decoration:none;\">MEED</a>\n                                    </td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 8, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Article 2: Technology -->\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Technology</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">\n                                Emerging Circular Economy Opportunities in Construction Materials from Industrial Waste\n                            </h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">\n                                Vinh Long Province promotes coal ash and slag use in construction, reflecting circular economy trends. SES can support EPCM projects converting industrial waste into valuable materials.\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">\n                                        <a href=\"https://www.globalcement.com/news/item/19214-vietnam-looks-to-boost-use-of-coal-ash-and-slag-in-construction\" style=\"color:#2563eb; text-decoration:none;\">Global Cement</a>\n                                    </td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 8, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Article 3: SES Blog -->\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">SES Blog</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">\n                                Driving Circular Economy with Sustainable Engineering in Greenfield Recycling Projects\n                            </h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">\n                                Sustainable engineering transforms India's waste management with greenfield recycling plants, integrating advanced solutions and government policies for scalable, eco-friendly infrastructure.\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">\n                                        <a href=\"https://shiva-engineering.com/sustainable-engineering-solutions-for-greenfield-recycling-plant-projects-in-india/\" style=\"color:#2563eb; text-decoration:none;\">Shiva Engineering Blog</a>\n                                    </td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">August 11, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Announcements Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Announcements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Latest Updates</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">PROJECT KICKOFF</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test announcement title</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> August 29, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Achievements Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Employee Achievements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Excellence Recognition</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">ACHIEVEMENT</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">erfwerf</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">erf</p>\n                            <p style=\"font-size: 14px; color: #2563eb; margin: 0; font-style: italic;\">Congratulations on this achievement!</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Spotlight Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Employee Spotlight</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Team Excellence</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">BIRTHDAY</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Happy Birthday to Ramesh AJ, Emp</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">\n                                Wishing a very happy birthday to <strong>Ramesh AJ, Emp</strong> from Data Science department. Age: 6 years.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Tips and Tricks Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Engineering Tips & Best Practices</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Expert Insights</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #1</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Leverage Advanced 3D Modeling for Design Accuracy and Risk Reduction</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">\n                                Implement advanced 3D modeling early to visualize the facility, identify clashes, and optimize layouts, reducing delays and costly rework.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #2</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Utilize Laser Scanning Technology for Brownfield Expansion Projects</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">\n                                Use laser scanning to capture precise as-built data, accelerating engineering modifications, reducing errors, and compressing schedules by up to 10%.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #3</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Conduct Rigorous HAZOP and Safety Studies to Mitigate Process Risks</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">\n                                Perform comprehensive HAZOP and safety analyses during design to identify hazards and implement mitigation measures, ensuring compliance and protection.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Executive Quote Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #1a365d; border-radius: 12px;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"border-bottom: 2px solid #2563eb; padding-bottom: 15px;\">\n                                        <h2 style=\"font-size: 24px; font-weight: 700; color: #ffffff; margin: 0; text-align: center;\">Leadership Perspective</h2>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"font-size: 20px; line-height: 1.6; color: #ffffff; margin: 0 0 25px 0; font-style: italic;\">\n                                \"As a Senior Engineer in Specialty Chemicals, I have witnessed firsthand the critical role of precise process optimization and innovative problem-solving in delivering efficient, high-quality solutions that meet stringent industry standards.\"\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <p style=\"color: #ffffff; font-size: 16px; font-weight: 700; margin: 0;\">Ramesh AJ</p>\n                                        <p style=\"color: #cbd5e1; font-size: 14px; margin: 5px 0 0 0;\">Emp</p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- FAQ Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Frequently Asked Questions</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Client Queries</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What are the key engineering challenges in scaling up specialty chemicals production from pilot to commercial scale?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">\n                                Scaling up requires precise vetting of technology inputs, advanced plant design with specialized materials, and detailed engineering to ensure safety and efficiency.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">How does SES ensure safety and regulatory compliance in specialty chemicals plant design?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">\n                                SES conducts rigorous HAZOP and safety studies, integrates advanced fire and safety systems, and adheres to hazardous area classifications to mitigate risks.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What technologies and methods does SES use to optimize brownfield expansion projects in specialty chemicals?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">\n                                SES employs laser scanning for accurate as-built data capture, enabling precise engineering modifications, reducing errors, and minimizing downtime.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Call-to-Action Section -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>","target_industry":"","approval_status":"draft","status":"generated","approved_by":null,"project_id":16,"created_at":"2025-09-17T06:59:02.420884+00:00","campaign_id":77,"updated_at":"2025-09-17T07:20:53.997+00:00","sections":"about, case_study, value_prop, news, blog, emp_spotlight, announcements, event, tips_tricks, quote, faq, achievements","preferences":{"quote":{"name":"Ramesh AJ","quote":"","gender":"Male","department":"Data Science","designation":"Emp"}},"raw_data":{},"email_group":null,"email_ids":null},"webhookUrl":"https://n8n.sesai.in/webhook/generate/emp_spotlight","executionMode":"production"}}],"webhookHowCanWeHelp":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"10303","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"segments":[{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"},{"segment_id":"658de4d0-473f-491a-98ba-3abf88ae1404","segment_name":"Metals Materials"},{"segment_id":"ef6cca6a-d041-479a-a0cb-4afb3e9d709a","segment_name":"Infrastructure Cement"},{"segment_id":"bc5ba3b3-7847-4e75-8598-ae4da55c35d0","segment_name":"Automotive Components"},{"segment_id":"674a25a9-f28e-4cdf-9792-7a302dc78cfc","segment_name":"Agrochemicals Fertilizers"},{"segment_id":"9d1fd6eb-fa1b-4693-9958-3c41ed462c81","segment_name":"Chemicals Petrochemicals"},{"segment_id":"8a3166a4-6556-449d-a9af-7a18ddd12405","segment_name":"Energy Transition Sustainability"},{"segment_id":"424e7824-2775-4a08-bf8d-16e10e48ea20","segment_name":"Food Beverages Consumer Goods"},{"segment_id":"eecf6c64-d03e-44ab-b0e4-3094e1cd5704","segment_name":"Pharmaceuticals Life Sciences"},{"segment_id":"2df7a671-d4ba-4c6d-a5a1-9128f3af55af","segment_name":"Specialty Chemicals"},{"segment_id":"a93a5ac4-5da1-43f9-96dc-16f42c4ab279","segment_name":"Paints Pigments Coatings"}],"newsletter_id":240,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-12-16","subject_line":null,"full_content":null,"target_industry":"paints-pigments-coatings","approval_status":"draft","status":"queued","approved_by":null,"project_id":null,"created_at":"2025-09-20T07:17:30.983122+00:00","campaign_id":81,"updated_at":"2025-09-20T07:17:30.983122+00:00","sections":"about, case_study, value_prop, news, blog, emp_spotlight, announcements, event, tips_tricks, quote, faq, achievements","preferences":{"quote":{"name":"Ramesh AJ","quote":"","gender":"Male","department":"Data Science","designation":"Emp"}},"raw_data":{},"email_group":null,"email_ids":null},"webhookUrl":"https://n8n.sesai.in/webhook/generate/tips","executionMode":"production"}}]},"versionId":"32cd2173-aabd-4334-8beb-ae5a54569230","triggerCount":8,"shared":[{"updatedAt":"2025-12-11T08:33:33.647Z","createdAt":"2025-12-11T08:33:33.647Z","role":"workflow:owner","workflowId":"hW7zO4VRMCPdIZBu","projectId":"Gh4K029Sunajg0dH"}],"tags":[{"updatedAt":"2025-10-06T07:08:44.903Z","createdAt":"2025-10-06T07:08:44.903Z","id":"NlbmgUucqz0ztknY","name":"newsletter"}]}