generatenewsletters-f8TkD1Ve3BEGM4nl.json
{"updatedAt":"2025-10-15T04:38:27.000Z","createdAt":"2025-10-14T04:31:39.472Z","id":"f8TkD1Ve3BEGM4nl","name":"generateNewsletters","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sections }}","rightValue":"about","operator":{"type":"string","operation":"contains"},"id":"0faae536-2e31-4354-a229-bcbd213a829c"}],"combinator":"and"},"renameOutput":true,"outputKey":"about"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"394e538b-b38a-47d4-8fe7-5b66ed129989","leftValue":"={{ $json.sections }}","rightValue":"case_study","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"case_study"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a1d5cdc-7478-4c5e-be0d-570d5b1c7ada","leftValue":"={{ $json.sections }}","rightValue":"value_prop","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"value_prop"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96763d68-d464-44aa-a14e-888653e1e952","leftValue":"={{ $json.sections }}","rightValue":"news","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"news"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"572037b4-94ee-417d-8f22-42daab8c5a0b","leftValue":"={{ $json.sections }}","rightValue":"blog","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"blog"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb2b48ba-9b83-43c8-997e-6a35276c6fdf","leftValue":"={{ $json.sections }}","rightValue":"faq","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"faq"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1d45db5-a4cc-49ae-9350-6103d749958d","leftValue":"={{ $json.sections }}","rightValue":"tips_tricks","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"tips_tricks"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20a436a7-14bf-4ddc-91cc-1c37d790889a","leftValue":"={{ $json.sections }}","rightValue":"event","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"event"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6455f774-6fe1-42f0-b366-428a747ad246","leftValue":"={{ $json.sections }}","rightValue":"achievements","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"achievements"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25f6d487-d997-4da7-9348-1450f099b16b","leftValue":"={{ $json.sections }}","rightValue":"announcements","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"announcements"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e8b88b3-7de8-46d2-b08b-63ce0ae9e6c0","leftValue":"={{ $json.sections }}","rightValue":"quote","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"quote"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9184872e-ab77-42cf-889e-7d6dc911d703","leftValue":"={{ $json.sections }}","rightValue":"emp_spotlight","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"emp_spotlight"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,1824],"id":"8baeb67c-f220-4e43-a99f-e7de18dc0316","name":"Switch"},{"parameters":{"mode":"combineBySql","numberInputs":10,"query":"SELECT * \nFROM input1 \nLEFT JOIN input2 ON input1.name = input2.id\nLEFT JOIN input3 ON input1.name = input3.id\nLEFT JOIN input4 on input1.name = input4.id\nLEFT JOIN input5 on input1.name = \ninput5.id\nLEFT JOIN input6 on input1.name = \ninput6.id\nLEFT JOIN input7 on input1.name = \ninput7.id\nLEFT JOIN input8 on input1.name = \ninput8.id\nLEFT JOIN input9 on input1.name = \ninput9.id\nLEFT JOIN input10 on input1.name = \ninput10.id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[448,288],"id":"079d9d88-9cf4-4f1a-9bf1-c8b6fdcb52c3","name":"Merge"},{"parameters":{"operation":"update","tableId":"newsletter","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"generated"},{"fieldId":"full_content","fieldValue":"={{ $json.html }}"},{"fieldId":"subject_line","fieldValue":"={{ $('mergeMaster').item.json.subject_line.output }}"},{"fieldId":"project_id","fieldValue":"={{ $('mergeMaster').item.json.case_study.project_id || null }}"},{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"raw_data","fieldValue":"={{ $('removeINIT').item.json.toJsonString() }}"},{"fieldId":"approval_status","fieldValue":"review"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2240,368],"id":"8b5db012-b1fd-4a65-be9c-a65497a778e9","name":"updateNewsletter","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,416],"id":"3f4c014b-04ee-4bba-ba72-10a083b7b75a","name":"When Executed by Another Workflow"},{"parameters":{"mode":"combineBySql","numberInputs":5,"query":"SELECT * \nFROM input1 \nLEFT JOIN input2 ON input1.name = input2.id\nLEFT JOIN input3 ON input1.name = input3.id\nLEFT JOIN input4 on input1.name = input4.id\nLEFT JOIN input5 on input1.name = \ninput5.id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[448,1696],"id":"78ddfb7e-5b47-409e-a5eb-b27b7a84243f","name":"mergeQuote"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,640],"id":"9b85e6e0-20be-44b9-bdc6-eae2ad6204b4","name":"mergeMaster"},{"parameters":{"mode":"combineBySql","numberInputs":3,"query":"SELECT * \n  FROM input1 \n  LEFT JOIN input2 ON input1.name = input2.id\n  LEFT JOIN input3 ON input1.name = input3.id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,624],"id":"632c6ab2-6dae-412d-8e47-90e38b914a31","name":"mergeContents"},{"parameters":{"assignments":{"assignments":[{"id":"b52b4417-d8cd-4b04-aa5d-3ef525a59a0e","name":"about","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,1648],"id":"3a205f1d-f75b-4225-a243-639ef9afc3c7","name":"setAboutBool"},{"parameters":{"operation":"update","tableId":"newsletter","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"generating"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"id":"9d00fd38-65e5-4dc9-be00-f58195aacc58","name":"updateStatus2Gen","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"378b4c10-74f2-4ed4-a64e-1414e30bcf77","name":"init","value":"true","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,688],"id":"e5aa40a9-7118-440b-a922-696f90e967c4","name":"init"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  if 'init' in item.json:\n    del item.json['init']\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,640],"id":"aff763b3-546c-469d-9785-918b6c134b6f","name":"removeINIT"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/generate/value-prop","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1072],"id":"3cbe9605-5b91-4717-a282-a298a659c849","name":"generateValueProp","disabled":true},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/generate/news","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1264],"id":"44f0b6d0-d0f0-4154-b250-f91cebca95db","name":"generateNews","disabled":true},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/generate/blog","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2992],"id":"a4c0b56f-79ff-4448-8488-e9423f1cdb58","name":"generateBlog","disabled":true},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/tips","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1456],"id":"e0021c8a-0690-436b-ab41-852ad8095707","name":"generateTips"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/announcements","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2224],"id":"3f668195-411f-4b6c-8ee0-6dd55e687476","name":"generateAnnouncements"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/achievements","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2416],"id":"8fd1145c-b4b4-4729-a0b3-1a0b87e8e151","name":"generateAchievements1"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/emp_spotlight","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2032],"id":"efd72c43-2eea-485b-aaa3-d409c941adc0","name":"generateEmpSpotlight"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/quote","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,1840],"id":"41a9f664-99fc-4d79-8267-efd68499d5c6","name":"generateQuote"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1568,368],"id":"245cfb9b-be3a-4ef7-8d21-d672c60ca68c","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"c820907f-8379-40bb-8915-f7216c4c2b2e","name":"sections","value":"={{ $json.sections }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,144],"id":"c7a55d92-66cc-49b3-bd20-91969f965bf3","name":"Edit Fields"},{"parameters":{"html":"{{ $json.newsletter_html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2016,368],"id":"7b79f66c-f5b4-4d79-9bee-d997c2ad91d7","name":"fuseCompleteHTML"},{"parameters":{"jsCode":"// n8n Code Node for Dynamic Newsletter Template Generation\n// This code will generate complete newsletter HTML based on input JSON data\n\n// Define all section templates\nconst sectionTemplates = {\n    about: (data) => `\n    <!-- Section Divider -->\n    <tr>\n        <td>\n            <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n        </td>\n    </tr>\n    \n    <!-- About Section -->\n    <tr>\n        <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n            <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">About The Link AI</h2>\n            \n            <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);\">\n                <tr>\n                    <td style=\"padding: 28px;\">\n                        <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">Company Introduction</h3>\n                        <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">\n                            The Link AI is a cutting-edge technology company specializing in artificial intelligence solutions \n                            that transform how businesses operate. We bridge the gap between complex AI technologies and practical \n                            business applications, making AI accessible and valuable for organizations of all sizes.\n                        </p>\n                        <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                            <strong>Founded:</strong> 2024 • <strong>Focus:</strong> AI Solutions & Innovation\n                        </div>\n                    </td>\n                </tr>\n            </table>\n        </td>\n    </tr>`,\n\n    news: (data) => {\n        const hasNews = data.articles?.selected_articles?.length > 0;\n        const hasBlogs = data.blogs && Array.isArray(data.blogs) && data.blogs.length > 0;\n        \n        // Return empty if neither news nor blogs exist\n        if (!hasNews && !hasBlogs) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- News & Updates Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Recent News & Updates</h2>\n                \n                ${hasNews ? data.articles.selected_articles.map(article => `\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">\n                            <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">${article.insight_title || 'Industry Insight'}</h3>\n                            <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">${article.strategic_insight || ''}</p>\n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                <strong>Source:</strong> ${article.publisher_name || 'Industry News'} • <strong>Relevance Score:</strong> ${article.relevance_score || 'N/A'}%\n                            </div>\n                        </td>\n                    </tr>\n                </table>`).join('') : ''}\n                \n                ${hasBlogs ? data.blogs.map(blogItem => {\n                    const blog = blogItem.selected_blog;\n                    if (!blog) return '';\n                    \n                    return `\n                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                        <tr>\n                            <td style=\"padding: 28px;\">\n                                <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">${blog.insight_title || blog.blog?.title || 'Featured Blog Post'}</h3>\n                                <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">${blog.strategic_insight || (blog.blog?.content ? blog.blog.content.substring(0, 300) + '...' : '')}</p>\n                                <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                    <strong>Published:</strong> ${blog.blog?.publication_date || 'Recently'} • <strong>Relevance Score:</strong> ${blog.relevance_score || 'N/A'}%\n                                </div>\n                                ${blog.blog?.url ? `<table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin-top: 20px;\"><tr><td><a href=\"${blog.blog.url}\" style=\"display: inline-block; padding: 14px 28px; background: linear-gradient(135deg, #3182ce 0%, #2b6cb0 100%); color: #ffffff; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 15px; box-shadow: 0 4px 12px rgba(49, 130, 206, 0.3);\">Read Full Article</a></td></tr></table>` : ''}\n                            </td>\n                        </tr>\n                    </table>`;\n                }).join('') : ''}\n            </td>\n        </tr>`;\n    },\n\n    blog: (data) => {\n        // Blog section is now handled within the news section to avoid duplication\n        return '';\n    },\n\n    emp_spotlight: (data) => {\n        if (!data.emp_spotlight) return '';\n        \n        // Check if anniversary exists and is not an empty array\n        const hasAnniversary = data.emp_spotlight.anniversary && \n            Array.isArray(data.emp_spotlight.anniversary) ? \n            data.emp_spotlight.anniversary.length > 0 : \n            data.emp_spotlight.anniversary;\n            \n        // Check if birthday exists and is not an empty array\n        const hasBirthday = data.emp_spotlight.birthday && \n            Array.isArray(data.emp_spotlight.birthday) ? \n            data.emp_spotlight.birthday.length > 0 : \n            data.emp_spotlight.birthday;\n            \n        // Return empty if both are empty or non-existent\n        if (!hasAnniversary && !hasBirthday) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- Employee Spotlight Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Celebrations</h2>\n                \n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">\n                            <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">🎉 ${new Date().toLocaleDateString('en-US', { month: 'long' })} Birthdays & Work Anniversaries</h3>\n                            <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">\n                                ${hasBirthday ? `<strong>Birthdays:</strong><br>` : ''}\n                                ${hasBirthday && Array.isArray(data.emp_spotlight.birthday) ? \n                                    data.emp_spotlight.birthday.map(person => `• ${person}<br>`).join('') : \n                                    (hasBirthday ? `• ${data.emp_spotlight.birthday}<br>` : '')}\n                                ${hasBirthday ? '<br>' : ''}\n                                \n                                ${hasAnniversary ? `<strong>Work Anniversaries:</strong><br>` : ''}\n                                ${hasAnniversary && Array.isArray(data.emp_spotlight.anniversary) ? \n                                    data.emp_spotlight.anniversary.map(person => `• ${person}<br>`).join('') : \n                                    (hasAnniversary ? `• ${data.emp_spotlight.anniversary}<br>` : '')}\n                                \n                                ${!hasBirthday && !hasAnniversary ? 'No celebrations this month, but we celebrate our amazing team every day!' : ''}\n                            </p>\n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                Automatically fetched from employee database\n                            </div>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>`;\n    },\n\n    announcements: (data) => {\n        // Handle both single announcement object and array of announcements\n        let announcements = [];\n        if (data.announcements) {\n            if (Array.isArray(data.announcements)) {\n                announcements = data.announcements;\n            } else {\n                announcements = [data.announcements];\n            }\n        }\n        \n        if (announcements.length === 0) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- Announcements Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Announcements</h2>\n                \n                ${announcements.map(announcement => `\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">\n                            <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">📢 ${announcement.title || 'Company Announcement'}</h3>\n                            <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">${announcement.description || announcement.content || ''}</p>\n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                <strong>Posted:</strong> ${announcement.created_at ? new Date(announcement.created_at).toLocaleDateString() : 'Recently'}\n                            </div>\n                        </td>\n                    </tr>\n                </table>`).join('')}\n            </td>\n        </tr>`;\n    },\n\n    event: (data) => {\n        // Handle both single event object and array of events\n        let events = [];\n        if (data.events) {\n            if (Array.isArray(data.events)) {\n                events = data.events;\n            } else {\n                events = [data.events];\n            }\n        }\n        \n        if (events.length === 0) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- Events Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Upcoming Events</h2>\n                \n                ${events.map(event => `\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">\n                            <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">📅 ${event.name || 'Company Event'}</h3>\n                            <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">${event.description || ''}</p>\n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                <strong>Date:</strong> ${event.start_date ? new Date(event.start_date).toLocaleDateString() : 'TBA'}${event.end_date ? ' - ' + new Date(event.end_date).toLocaleDateString() : ''}<br>\n                                <strong>Venue:</strong> ${event.venue || 'TBA'} • <strong>Type:</strong> ${event.type || 'Event'}\n                            </div>\n                            <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin-top: 20px;\">\n                                <tr>\n                                    <td>\n                                        <a href=\"#\" style=\"display: inline-block; padding: 14px 28px; background: linear-gradient(135deg, #3182ce 0%, #2b6cb0 100%); color: #ffffff; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 15px; box-shadow: 0 4px 12px rgba(49, 130, 206, 0.3);\">RSVP Now</a>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>`).join('')}\n            </td>\n        </tr>`;\n    },\n\n    tips_tricks: (data) => {\n        if (!data.tips || !Array.isArray(data.tips) || data.tips.length === 0) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- Tips & Tricks Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Tips and Tricks</h2>\n                \n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">                    \n                            ${data.tips.map((tip, index) => `\n                            <div style=\"margin-bottom: 20px;\">\n                                <p style=\"font-weight: 600; color: #1e293b; margin: 0 0 8px 0;\">Tip #${index + 1}: ${tip.title || 'Expert Tip'}</p>\n                                <p style=\"margin: 0 0 8px 16px; color: #475569;\">${tip.content || ''}</p>\n                            </div>`).join('')}\n                            \n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                Need implementation guidance? <a href=\"mailto:hello@thelinkai.com\" style=\"color: #90cdf4; text-decoration: none;\">Contact our experts</a> for personalized advice.\n                            </div>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>`;\n    },\n\n    quote: (data) => {\n        if (!data.quote) return '';\n        \n        const preferences = data.preferences || {};\n        const quoteInfo = preferences.quote || {};\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- Quote Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Message from Leadership</h2>\n                \n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background: linear-gradient(135deg, #1e40af 0%, #3b82f6 100%); border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px; text-align: center;\">\n                            <p style=\"font-size: 18px; font-style: italic; margin: 0 0 20px 0; color: white; line-height: 1.6;\">\n                                \"${data.quote}\"\n                            </p>\n                            <div style=\"border-top: 1px solid rgba(255,255,255,0.3); padding-top: 16px;\">\n                                <strong style=\"color: white;\">${quoteInfo.name || data.name || 'Leadership Team'}</strong><br>\n                                <span style=\"color: rgba(255,255,255,0.8); font-size: 14px;\">${quoteInfo.department || ''}${quoteInfo.designation ? ', ' + quoteInfo.designation : ''}</span>\n                            </div>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>`;\n    },\n\n    faq: (data) => {\n        if (!data.faqs || !Array.isArray(data.faqs) || data.faqs.length === 0) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- FAQ Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Frequently Asked Questions</h2>\n                \n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\"> \n                            ${data.faqs.map((faq, index) => `\n                            <div style=\"margin-bottom: 20px;\">\n                                <p style=\"font-weight: 600; color: #1e293b; margin: 0 0 8px 0;\">Q: ${faq.question}</p>\n                                <p style=\"margin: 0 0 16px 16px; color: #475569;\">A: ${faq.answer}</p>\n                            </div>`).join('')}\n                            \n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                Have more questions? <a href=\"mailto:hello@thelinkai.com\" style=\"color: #90cdf4; text-decoration: none;\">Contact our team</a> for personalized answers.\n                            </div>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>`;\n    },\n\n    achievements: (data) => {\n        // Handle both single achievement object and array of achievements\n        let achievements = [];\n        if (data.achievements) {\n            if (Array.isArray(data.achievements)) {\n                achievements = data.achievements;\n            } else {\n                achievements = [data.achievements];\n            }\n        }\n        \n        if (achievements.length === 0) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- Achievements Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">Employee Achievements</h2>\n                \n                ${achievements.map(achievement => `\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">\n                            <h3 style=\"font-size: 20px; font-weight: 600; color: #1a202c; margin: 0 0 16px 0; line-height: 1.4;\">🏆 ${achievement.title || 'Team Accomplishment'}</h3>\n                            <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">${achievement.content || ''}</p>\n                            <div style=\"font-size: 13px; color: #718096; margin-top: 20px; padding-top: 16px; border-top: 1px solid #e2e8f0; font-style: italic;\">\n                                ${achievement.name_and_role ? `<strong>Employee:</strong> ${achievement.name_and_role} • ` : ''}<strong>Date:</strong> ${achievement.created_at ? new Date(achievement.created_at).toLocaleDateString() : 'Recently'}\n                            </div>\n                        </td>\n                    </tr>\n                </table>`).join('')}\n            </td>\n        </tr>`;\n    },\n\n    how_can_we_help: (data) => {\n        if (!data.how_can_we_help) return '';\n        \n        return `\n        <!-- Section Divider -->\n        <tr>\n            <td>\n                <hr style=\"height: 2px; background: linear-gradient(90deg, #e2e8f0 0%, #cbd5e1 50%, #e2e8f0 100%); margin: 0; border: none;\">\n            </td>\n        </tr>\n        \n        <!-- How Can We Help Section -->\n        <tr>\n            <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                <h2 style=\"font-size: 24px; font-weight: 700; color: #1a202c; margin: 0 0 32px 0; position: relative; padding-bottom: 12px; border-bottom: 3px solid #3182ce; border-bottom-width: 3px; display: inline-block;\">How Can We Help</h2>\n                \n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); margin-bottom: 24px;\">\n                    <tr>\n                        <td style=\"padding: 28px;\">\n                            <p style=\"font-size: 15px; color: #4a5568; line-height: 1.7; margin: 0;\">${data.how_can_we_help}</p>\n                            <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin-top: 20px;\">\n                                <tr>\n                                    <td>\n                                        <a href=\"mailto:hello@thelinkai.com\" style=\"display: inline-block; padding: 14px 28px; background: linear-gradient(135deg, #3182ce 0%, #2b6cb0 100%); color: #ffffff; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 15px; box-shadow: 0 4px 12px rgba(49, 130, 206, 0.3);\">Schedule Consultation</a>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>`;\n    }\n};\n\n// Main function to generate complete newsletter HTML\nfunction generateNewsletterHTML(data) {\n    const baseHTML = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>${data.subject_line || 'Newsletter'}</title>\n    \n    <!-- Email client compatibility -->\n    <!--[if mso]>\n    <noscript>\n        <xml>\n            <o:OfficeDocumentSettings>\n                <o:PixelsPerInch>96</o:PixelsPerInch>\n            </o:OfficeDocumentSettings>\n        </xml>\n    </noscript>\n    <![endif]-->\n    \n    <style type=\"text/css\">\n        /* Reset styles for email clients */\n        body, table, td, p, a, li, blockquote {\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        }\n        \n        table, td {\n            mso-table-lspace: 0pt;\n            mso-table-rspace: 0pt;\n        }\n        \n        img {\n            -ms-interpolation-mode: bicubic;\n            border: 0;\n            display: block;\n            outline: none;\n            text-decoration: none;\n        }\n        \n        /* General styles */\n        body {\n            margin: 0 !important;\n            padding: 0 !important;\n            background-color: #f5f7fa;\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n        }\n        \n        /* Responsive */\n        @media only screen and (max-width: 640px) {\n            .email-container {\n                width: 100% !important;\n            }\n            \n            .content-section {\n                padding: 20px 16px !important;\n            }\n            \n            .hero-section {\n                padding: 30px 16px !important;\n            }\n            \n            .hero-title {\n                font-size: 28px !important;\n            }\n        }\n    </style>\n</head>\n\n<body style=\"margin: 0 !important; padding: 0 !important; background-color: #f5f7fa; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif; line-height: 1.6; color: #333333;\">\n    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f8fafc;\">\n        <tr>\n            <td align=\"center\">\n                \n                <!-- Email Container -->\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);\" class=\"email-container\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background-color: #035391; padding: 40px 30px; text-align: center; color: #ffffff;\">\n                            <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <a href=\"https://thelinkai.com/\" style=\"display: inline-block;\">\n                                            <img src=\"https://thelinkai.com/lovable-uploads/6f109070-b50c-4efa-8f4e-435d9f5eea7e.png\" alt=\"The Link AI\" style=\"height: 90px; margin: 0 auto; border: 0; display: block;\">\n                                        </a>\n                                        <div style=\"font-size: 14px; margin-top: 20px; opacity: 0.9; font-weight: 500; color: #ffffff;\">Issue #${data.newsletter_id || 'N/A'} | ${new Date().toLocaleDateString('en-US', { month: 'long', year: 'numeric' })}</div>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>`;\n\n    // Generate dynamic sections\n    let sectionsHTML = '';\n    const sections = data.sections ? data.sections.split(', ') : [];\n\n    // Process sections in order\n    sections.forEach(section => {\n        if (sectionTemplates[section]) {\n            const sectionHTML = sectionTemplates[section](data);\n            if (sectionHTML.trim()) {\n                sectionsHTML += sectionHTML;\n            }\n        }\n    });\n\n    // Add \"How Can We Help\" if it exists but not in sections\n    if (data.how_can_we_help && !sections.includes('how_can_we_help')) {\n        sectionsHTML += sectionTemplates.how_can_we_help(data);\n    }\n\n    // Footer\n    const footerHTML = `\n                    <!-- Call to Action Section -->\n                    <tr>\n                        <td style=\"padding: 50px 30px; background-color: #ffffff;\">\n                            <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"text-align: center; background: #4facfe; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);\">\n                                <tr>\n                                    <td style=\"padding: 28px; text-align: center;\">\n                                        <h3 style=\"color: white; font-size: 24px; font-weight: 700; margin: 0 0 20px 0;\">Ready to Transform Your Business with AI?</h3>\n                                        <p style=\"color: rgba(255,255,255,0.95); font-size: 16px; line-height: 1.7; margin: 0 0 28px 0;\">\n                                            Whether you have questions about our services, want to schedule a consultation, \n                                            or need support with an existing project, our team is here to help.\n                                        </p>\n                                        \n                                        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"margin: 24px 0;\">\n                                            <tr>\n                                                <td style=\"text-align: center;\">\n                                                    <p style=\"margin: 12px 0; color: rgba(255,255,255,0.9); font-size: 16px;\"><strong>📞 Call us:</strong> (555) 123-4567</p>\n                                                    <p style=\"margin: 12px 0; color: rgba(255,255,255,0.9); font-size: 16px;\"><strong>✉️ Email us:</strong> <a href=\"mailto:hello@thelinkai.com\" style=\"color: white; text-decoration: none;\">hello@thelinkai.com</a></p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                                            <tr>\n                                                <td style=\"padding: 0 6px;\">\n                                                    <a href=\"mailto:hello@thelinkai.com\" style=\"display: inline-block; padding: 14px 28px; background: rgba(255,255,255,0.2); border: 2px solid rgba(255,255,255,0.3); color: #ffffff; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 15px;\">Send Email</a>\n                                                </td>\n                                                <td style=\"padding: 0 6px;\">\n                                                    <a href=\"tel:+15551234567\" style=\"display: inline-block; padding: 14px 28px; background: rgba(255,255,255,0.9); color: #1a202c; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 15px;\">Call Now</a>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #2d3748 0%, #1a202c 100%); color: #e2e8f0; padding: 50px 30px;\">\n                            <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <h3 style=\"font-size: 20px; margin: 0 0 20px 0; color: #ffffff;\">Stay Connected</h3>\n                                        <p style=\"margin: 16px 0; line-height: 1.7; color: #e2e8f0;\">\n                                            The Link AI<br>\n                                            123 Innovation Drive, Tech Valley, CA 94000<br>\n                                            Phone: (555) 123-4567 • Email: hello@thelinkai.com\n                                        </p>\n                                        \n                                        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin: 28px auto;\">\n                                            <tr>\n                                                <td style=\"padding: 0 3px;\">\n                                                    <a href=\"#\" style=\"display: inline-block; padding: 12px 20px; background: rgba(255, 255, 255, 0.1); color: #ffffff; border-radius: 8px; text-decoration: none; font-size: 14px; font-weight: 500;\">LinkedIn</a>\n                                                </td>\n                                                <td style=\"padding: 0 3px;\">\n                                                    <a href=\"#\" style=\"display: inline-block; padding: 12px 20px; background: rgba(255, 255, 255, 0.1); color: #ffffff; border-radius: 8px; text-decoration: none; font-size: 14px; font-weight: 500;\">Twitter</a>\n                                                </td>\n                                                <td style=\"padding: 0 3px;\">\n                                                    <a href=\"#\" style=\"display: inline-block; padding: 12px 20px; background: rgba(255, 255, 255, 0.1); color: #ffffff; border-radius: 8px; text-decoration: none; font-size: 14px; font-weight: 500;\">GitHub</a>\n                                                </td>\n                                                <td style=\"padding: 0 3px;\">\n                                                    <a href=\"#\" style=\"display: inline-block; padding: 12px 20px; background: rgba(255, 255, 255, 0.1); color: #ffffff; border-radius: 8px; text-decoration: none; font-size: 14px; font-weight: 500;\">Blog</a>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <p style=\"margin: 16px 0; line-height: 1.7; color: #e2e8f0;\">\n                                            Visit our website: <a href=\"https://thelinkai.com/\" style=\"color: #90cdf4; text-decoration: none;\">thelinkai.com</a><br>\n                                            Questions? Contact us at <a href=\"mailto:hello@thelinkai.com\" style=\"color: #90cdf4; text-decoration: none;\">hello@thelinkai.com</a>\n                                        </p>\n                                        \n                                        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"margin-top: 28px; padding-top: 24px; border-top: 1px solid rgba(255, 255, 255, 0.1);\">\n                                            <tr>\n                                                <td style=\"text-align: center;\">\n                                                    <p style=\"font-size: 13px; color: #718096; line-height: 1.6; margin: 0;\">\n                                                        You're receiving this newsletter because you subscribed to The Link AI updates.<br>\n                                                        <a href=\"#\" style=\"color: #90cdf4; text-decoration: none;\">Update preferences</a> • <a href=\"#\" style=\"color: #90cdf4; text-decoration: none;\">Unsubscribe</a> • <a href=\"#\" style=\"color: #90cdf4; text-decoration: none;\">View in browser</a>\n                                                    </p>\n                                                    <p style=\"font-size: 13px; color: #718096; line-height: 1.6; margin: 16px 0 0 0;\">\n                                                        © 2025 The Link AI. All rights reserved.<br>\n                                                        Privacy Policy • Terms of Service\n                                                    </p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                </table>\n                \n            </td>\n        </tr>\n    </table>\n</body>\n</html>`;\n\n    return baseHTML + sectionsHTML + footerHTML;\n}\n\n// Main logic for n8n Code Node\n// Process each input item\nfor (const item of $input.all()) {\n    try {\n        // Get data from current item\n        const data = item.json;\n        \n        // Generate complete newsletter HTML\n        const newsletterHTML = generateNewsletterHTML(data);\n        \n        // Add the generated HTML to the item\n        item.json.newsletter_html = newsletterHTML;\n        item.json.generation_status = 'success';\n        item.json.generated_at = new Date().toISOString();\n    } catch (error) {\n        console.error('Error processing item:', error);\n        item.json.newsletter_html = '';\n        item.json.generation_status = 'error';\n        item.json.error = error.message;\n        item.json.generated_at = new Date().toISOString();\n    }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,368],"id":"8858b812-b442-4dbf-9809-8feb3b0ba13d","name":"buildDynamicHTMLSections"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/faq","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2800],"id":"4c7a7922-ffee-4fa5-81e9-8bdd1b69f401","name":"generateFAQ"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/generate/title","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,352],"id":"540ae2fd-e929-41bd-9f24-5e3fbf6ee05f","name":"generateTitle"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/how","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,880],"id":"1891cb7f-72ca-4306-aff7-4dbce259046c","name":"generateHowCanHelp"},{"parameters":{"method":"POST","url":"https://n8n.thelinkai.com/webhook/generate/events","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2608],"id":"0618deea-d8d8-420d-b3ae-ffd4bcde34bd","name":"generateEvents"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-224,3440],"id":"43f7b151-0584-4f5d-b9d7-3fd966bde073","name":"OpenAI Chat Model1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=full_content: {{ $json.toJsonString() }}\n\n\nsections_needed: [{{ $('When Executed by Another Workflow').item.json.sections }}, footer, cta]"},{"content":"=You are an AI agent that converts structured JSON newsletter data into finalized HTML email templates.\n\n## PRIMARY INSTRUCTION - SECTION FILTERING\n\n**CRITICAL**: You MUST only include sections that are explicitly listed in the `sections_needed` array. This is the primary rule that overrides everything else.\n\n### Step 1: Section Filtering Logic\n1. **Parse the `sections_needed` array first**\n2. **Only process sections that appear in this array**\n3. **Completely ignore and remove any template section not in `sections_needed`**\n4. **Always include these core sections regardless of `sections_needed`:**\n   - Header Section\n   - Company Introduction Section  \n   - Footer & CTA Section\n\n### Step 2: Template Section Mapping\nBefore processing any content, map the template sections to `sections_needed` values:\n- `\"case-study\"` → Case Studies Section\n- `\"value-proposition\"` → Value Proposition Callout Section\n- `\"industry-insights\"` → Industry Insights & Readings Section\n- `\"faqs\"` → FAQ Section\n- `\"tips\"` → Tips and Best Practices Section\n- `\"events\"` → Company Events Section\n- `\"achievements\"` → Employee Achievements Section\n- `\"announcements\"` → Company Announcements Section\n- `\"quote\"` → Executive Quote/Leadership Perspective Section\n\n### Step 3: Section Processing Rules\n**MANDATORY PRE-PROCESSING STEP**: Before generating any content, create a list of sections to include based on `sections_needed` array.\n\n**Processing Order:**\n1. **Filter**: Only process sections present in `sections_needed`\n2. **Validate**: Check if filtered sections have valid data in JSON\n3. **Generate**: Create content only for sections that pass both filters\n4. **Clean**: Ensure template contains no traces of excluded sections\n\n**Implementation Logic:**\n```\nFOR EACH template section:\n  IF section_name NOT IN sections_needed:\n    REMOVE entire section from template\n  ELSE IF section_name IN sections_needed AND has_valid_data:\n    PROCESS section content\n  ELSE IF section_name IN sections_needed AND no_valid_data:\n    REMOVE entire section from template\n```\n\n## Core Instructions\n\nAlways start with the provided HTML newsletter template as the base structure. Replace placeholder content with values from JSON input while maintaining all CSS, colors, and table layouts exactly as in the template. **CRITICAL**: Only include sections specified in the `sections_needed` array.\n\n## Content Replacement Mapping\n\n### Header Section (Always Included)\n- Replace `<h1>` title with `subject_line` from JSON\n- Replace Issue number with `issue_number`\n- Replace Publication date with `publication_date`\n- Replace Segment/Industry Focus with `target_industry`\n\n### Case Study Section\n- **Include ONLY if**: \"case-study\" is in `sections_needed` array AND `case-study-title`/`case-study` fields exist and are not empty\n- Replace project title `<h3>` with `case-study-title`\n- Replace paragraph with `case-study`\n- Replace Project Image `<img src=\"\">` with `case-study-img` URL\n- **Remove entirely if**: Not in `sections_needed` OR fields are missing/empty\n\n### Value Proposition Callout Section\n- **Include ONLY if**: \"value-proposition\" is in `sections_needed` array AND `value_proposition_title`/`value_proposition` fields exist and are not empty\n- Replace heading `<h3>` with `value_proposition_title` from JSON\n- Replace supporting paragraph with `value_proposition` from JSON  \n- **Remove entirely if**: Not in `sections_needed` OR no `value_proposition_title`/`value_proposition` keys are provided\n- The section to remove spans from the table with `background-color: #2563eb` through its closing `</table>` tag\n\n### Industry Insights & Readings Section\n- **Include ONLY if**: \"industry-insights\" is in `sections_needed` array AND either `industry-news` or `insights` arrays contain data\n- For each `industry-news` item, insert links as sources\n- For each `insight` item, replace text content of insight blocks\n- Format each news-insight pair as a block with:\n  - **Category label** (Industry Trend, Technology, SES Blog based on input order)\n  - **Headline/summary** from `news_article_insight_X` (keep crisp, concise, scannable)\n  - **Clickable link** to `news_article_url_X`\n- **Remove entirely if**: Not in `sections_needed` OR both `industry-news` and `insights` arrays are empty/missing\n\n### FAQ Section\n- **Include ONLY if**: \"faqs\" is in `sections_needed` array AND `faqs` array contains data\n- Replace existing FAQ blocks with items from `faqs` array\n- For each FAQ item, create table block with:\n  - **Category label**: \"Q&A\" (maintain existing styling)\n  - **Question**: Replace `<h3>` with `question` from JSON\n  - **Answer**: Replace paragraph with `answer` from JSON\n  - **Structure**: Each FAQ in own table with `margin-bottom: 20px` (except last)\n- Ensure answers follow under 30 word limit\n- **Remove entirely if**: Not in `sections_needed` OR `faqs` array is empty/missing\n\n### Tips and Best Practices Section\n- **Include ONLY if**: \"tips\" is in `sections_needed` array AND `tips` array contains data\n- Replace existing tip blocks with items from `tips` array\n- For each tip item, create table block with:\n  - **Category label**: Use `category` from JSON with sequential numbering (TIP #1, TIP #2, etc.)\n  - **Title**: Replace `<h3>` with `title` from JSON\n  - **Content**: Replace paragraph with `content` from JSON\n  - **Structure**: Each tip in own table with `margin-bottom: 20px` (except last)\n- Use `key_takeaway` field as brief concluding statement if needed\n- Ensure content follows under 30 word limit\n- **Remove entirely if**: Not in `sections_needed` OR `tips` array is empty/missing\n\n### Company Events Section\n- **Include ONLY if**: \"events\" is in `sections_needed` array AND `events` array contains data\n- Replace existing event blocks with items from `events` array\n- For each event item, create table block with:\n  - **Category label**: Use `type` from JSON (transform to uppercase)\n  - **Event title**: Replace `<h3>` with `name` from JSON\n  - **Description**: Replace paragraph with `description` from JSON\n  - **Info box**: Include formatted date range, venue, and type\n  - **Structure**: Each event in own table with `margin-bottom: 20px` (except last)\n- Format dates user-friendly (e.g., \"September 10, 2025\" or \"Sep 10-12, 2025\" for multi-day)\n- Ensure descriptions follow under 30 word limit\n- **Remove entirely if**: Not in `sections_needed` OR `events` array is empty/missing\n\n### Employee Achievements Section\n- **Include ONLY if**: \"achievements\" is in `sections_needed` array AND `achievements` array contains data\n- Replace existing achievement blocks with items from `achievements` array\n- For each achievement item, create table block with:\n  - **Category label**: Use generic type (CERTIFICATION, RECOGNITION, EDUCATION, PROMOTION)\n  - **Title**: Replace `<h3>` with `title` from JSON\n  - **Content**: Replace paragraph with `content` from JSON\n  - **Closing**: Add congratulatory statement in italics\n  - **Structure**: Each achievement in own table with `margin-bottom: 20px` (except last)\n- Format `created_at` timestamp for achievement date if needed\n- Ensure content follows under 30 word limit\n- **Remove entirely if**: Not in `sections_needed` OR `achievements` array is empty/missing\n\n### Company Announcements Section\n- **Include ONLY if**: \"announcements\" is in `sections_needed` array AND `announcements` array contains data\n- Replace existing announcement blocks with items from `announcements` array\n- For each announcement item, create table block with:\n  - **Category label**: Use appropriate type (PROJECT KICKOFF, PROJECT COMPLETION, EXPANSION, MILESTONE)\n  - **Title**: Replace `<h3>` with `title` from JSON\n  - **Description**: Replace paragraph with `description` from JSON\n  - **Info box**: Include formatted date, status, and project-specific details\n  - **Structure**: Each announcement in own table with `margin-bottom: 20px` (except last)\n- Format `created_at` timestamp user-friendly (e.g., \"August 29, 2025\")\n- Ensure descriptions follow under 30 word limit\n- **Remove entirely if**: Not in `sections_needed` OR `announcements` array is empty/missing\n\n### Executive Quote Section\n- **Include ONLY if**: \"quote\" is in `sections_needed` array AND `quote` object contains data\n- Replace existing quote block with item from `quote` JSON\n- Replace main quote paragraph with `quote` from JSON\n- Replace executive name with `name` from JSON\n- Replace title/designation with `designation` from JSON (expand abbreviations: \"vp\" → \"Vice President\")\n- Maintain existing table structure and CSS styling for dark background\n- Keep \"Leadership Perspective\" heading unchanged\n- Ensure quote follows under 30 word limit while preserving key message and leadership tone\n- **Remove entirely if**: Not in `sections_needed` OR `quote` object is missing/empty\n\n### Company Introduction Section (Always Included)\nKeep unchanged - this section always appears regardless of `sections_needed`.\n\n### Employee Spotlight Section \n- **Include ONLY if**: \"emp_spotlight\" is in `sections_needed` array AND `emp_spotlight` object contains data\n\n**For Anniversary entries:**\n- Use the `anniversary` object data\n- Calculate years of service from `join_date` or use provided `years_of_service`\n- Display: `{first_name} {last_name}, {designation}` \n- Include department: `{department}`\n- Format: \"Celebrating {years_of_service} Years with SES\"\n- Use ANNIVERSARY badge/tag\n- **Remove entirely if**: Not in `sections_needed` OR `quote` object is missing/empty\n\n**For Birthday entries:**\n- Use the `birthday` object data  \n- Extract birth date from `bday` field\n- Display: `{first_name} {last_name}, {designation}`\n- Include department: `{department}` \n- Calculate age from `bday` field or use provided `age`\n- Format: \"Happy Birthday to {first_name} {last_name}, {designation}\"\n- Use BIRTHDAY badge/tag\n- **Remove entirely if**: Not in `sections_needed` OR `quote` object is missing/empty\n\n### Footer & CTA Section (Always Included)\nKeep unchanged - this section always appears regardless of `sections_needed`.\n\n## Technical Requirements\n\n1. **Template Integrity**: Maintain all CSS, colors, and table layouts exactly as in template for included sections\n2. **Character Escaping**: Properly escape special characters when inserting JSON values\n3. **Missing Fields**: Leave original placeholder text if JSON field is missing\n4. **Word Count Management**: All descriptive content must be under 30 words maximum (do not shorten about section)\n5. **Content Optimization**: When shortening content, preserve key facts, maintain original meaning, keep actionable insights, ensure readability\n6. **Professional Tone**: Use concise language while retaining professional tone and impact\n7. **HTML Validation**: Always verify output HTML using `verifyHTML` tool to ensure proper utilization\n8. **Section Filtering**: Always check `sections_needed` array first before processing any section content\n\n## Content Guidelines\n\n- Only include sections explicitly listed in `sections_needed` array\n- Use sequential numbering system for tips (TIP #1, TIP #2, etc.)\n- Transform category labels to uppercase for consistency\n- Format dates in user-friendly format throughout\n- Add appropriate congratulatory statements for achievements\n- Expand professional abbreviations (CEO, VP, etc.)\n- Maintain inspirational and leadership tone in executive quotes\n- Ensure proper table spacing with `margin-bottom: 20px` for all blocks except the last in each section\n\n## MANDATORY VERIFICATION STEP\nAfter generating the HTML newsletter, you MUST use the verifyHTML tool to validate your output. If the verification returns \"status\": \"fail\", you must regenerate the HTML addressing all issues identified in the verification report. Only proceed when verification returns \"status\": \"pass\".\n\n## Final Quality Control\n\nBefore outputting the final HTML:\n1. **Verify ONLY `sections_needed` sections are present (plus core sections: Header, Company Introduction, Footer/CTA)**\n2. **Confirm no unwanted sections remain in the output**\n3. **Check that the HTML flows properly between remaining sections**\n4. **Ensure no broken HTML structure or orphaned elements**\n5. **Validate all JSON data has been properly inserted**\n6. **Confirm no placeholder text remains**\n\nIf any excluded sections are detected in the final output, regenerate the HTML with proper section filtering.","role":"assistant"},{"content":"=## HTML newsletter template\n\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SES Industry Pulse</title>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n        \n        <!-- Header Section -->\n        <tr>\n            <td style=\"background-color: #e2e8f0; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #1a365d;\">Fuel Additive Industry Pulse</h1>\n                <p style=\"font-size: 16px; color: #64748b; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #cbd5e1; padding-top: 20px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: left;\">Issue #42</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: center;\">August 2025</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: right;\">Fuel Additive Segment Focus</td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Company Introduction Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin: 0 0 20px 0;\">\n                                <strong>Shiva Engineering Services (SES)</strong> stands as a premier Engineering, Procurement, and Construction (EPC) company with over 18 years of proven excellence in delivering complex industrial projects across India and internationally. Founded in 1999 and headquartered in Vadodara, Gujarat, SES has established itself as a trusted partner for Fortune 500 companies and leading public sector enterprises.\n                            </p>\n                            \n                            <table width=\"100%\" cellpadding=\"8\" cellspacing=\"8\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">18+ Years Experience</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">500+ Projects Delivered</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">Pan-India Presence</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">ISO Certified</td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"font-size: 16px; line-height: 1.7; color: #2563eb; margin: 20px 0 0 0; font-style: italic;\">\n                                \"At SES, we don't just build facilities – we engineer solutions that drive innovation, ensure safety, and deliver sustainable value for our clients across diverse industrial sectors.\"\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Case Studies Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Case Studies</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">SES Project Excellence</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">PROJECT</span>\n                            <h3 style=\"font-size: 20px; font-weight: 700; color: #1a365d; margin: 12px 0;\">Nano Dispersion Pilot Plant for Fuel Additives</h3>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin-bottom: 20px;\">\n                                India's largest public sector company Fortune 500 in the oil & gas sector envisioned a cutting-edge Nano Dispersion Pilot Plant for fuel additives at their state-of-the-art R&D facility in Faridabad. As pioneers in advancing fuel technology, this project aimed to set a benchmark in research and innovation. Recognizing SES's proven track record in delivering complex engineering solutions, the client entrusted SES with the end-to-end EPC scope for this critical project.\n                            </p>\n                            \n                            <!-- Project Image -->\n                            <!-- Project Image -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <img src=\"https://images.pexels.com/photos/30449359/pexels-photo-30449359.jpeg\" alt=\"Advanced Fuel Additive Manufacturing Facility\" style=\"width: 100%; height: auto; aspect-ratio: 18/10; object-fit: cover; object-position: center; border-radius: 8px; border: 1px solid #e2e8f0; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\" />\n                                        <p style=\"font-size: 12px; color: #64748b; margin: 8px 0 0 0; font-style: italic;\">State-of-the-art manufacturing facility showcasing advanced engineering capabilities</p>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; border-left: 4px solid #2563eb; margin: 20px 0; border: 1px solid #bfdbfe;\">\n                                <tr>\n                                    <td>\n                                        <p style=\"font-weight: 600; color: #1e40af; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px; margin: 0 0 10px 0;\">SES Expertise Applied</p>\n                                        <p style=\"margin: 0; font-size: 14px; line-height: 1.6; color: #334155;\">\n                                            <strong>Engineering:</strong> Detailed engineering design to meet stringent industry standards and client specifications.<br>\n                                            <strong>Procurement:</strong> Sourcing high-quality materials and equipment for precision and reliability.<br>\n                                            <strong>Fabrication and Supply:</strong> Ensuring on-time delivery of custom-fabricated components.<br>\n                                            <strong>Construction:</strong> Managing site construction activities with a focus on safety and efficiency.<br>\n                                            <strong>Installation:</strong> Assembling and integrating critical systems seamlessly.<br>\n                                            <strong>Mechanical Completion:</strong> Delivering a fully functional facility ready for testing.<br>\n                                            <strong>Commissioning:</strong> Ensuring operational readiness with thorough testing and calibration.\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Value Proposition Callout -->\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #2563eb; border-radius: 12px; margin: 30px 0;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <h3 style=\"font-size: 22px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Excellence in Fuel Additive Technology</h3>\n                            <p style=\"font-size: 16px; margin: 0; color: #ffffff; opacity: 0.9;\">SES delivers cutting-edge engineering solutions for fuel additive manufacturing, combining decades of expertise with innovative technologies to help clients achieve operational excellence and regulatory compliance.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Readings Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Industry Insights & Readings</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Curated Knowledge</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Reading Items -->\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Advanced Fuel Additives Market Growth in 2025</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">The global fuel additives market is experiencing significant growth driven by stricter emission regulations and the demand for enhanced fuel performance. Nano-dispersion technology is emerging as a key differentiator in additive manufacturing.</p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Chemical Industry Journal</td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">August 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Technology</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Nano-Dispersion Technology in Fuel Production</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Recent advances in nano-dispersion pilot plants are revolutionizing fuel additive production, enabling better dispersion uniformity and enhanced performance characteristics in automotive and aviation fuels.</p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Process Engineering Today</td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">July 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">SES Blog</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">EPC Excellence in Specialized Manufacturing</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Our comprehensive approach to Engineering, Procurement, and Construction ensures seamless project delivery for complex manufacturing facilities, from initial design to final commissioning.</p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">SES Engineering Blog</td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">August 2025</td>\n                                </tr>\n                            </table>\n                            <p style=\"margin: 15px 0 0 0;\"><a href=\"https://shiva-engineering.com/blog/epc-excellence\" style=\"color: #2563eb; text-decoration: none; font-weight: 600;\">Read on SES Blog →</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Announcements Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Announcements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Latest Updates</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">PROJECT KICKOFF</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Advanced Catalyst Production Facility - Project Launch</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">SES is proud to announce the commencement of a major EPC project for a leading petrochemical company. The ₹45 Crore Advanced Catalyst Production Facility in Dahej, Gujarat will feature state-of-the-art nano-catalyst manufacturing capabilities. Project timeline: 18 months with expected completion by February 2027.</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Project Value:</strong> ₹45 Crores | <strong>Location:</strong> Dahej, Gujarat | <strong>Completion:</strong> Q1 2027</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">PROJECT COMPLETION</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Fuel Testing Laboratory Successfully Commissioned</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">We're delighted to announce the successful completion and commissioning of the Fuel Testing Laboratory for BPCL R&D Center, Noida. The facility includes advanced fuel analysis equipment, automated testing systems, and meets international quality standards. Project delivered 2 weeks ahead of schedule with zero safety incidents.</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Client:</strong> BPCL R&D | <strong>Status:</strong> Successfully Commissioned | <strong>Achievement:</strong> 2 weeks ahead of schedule</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">EXPANSION</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">New Regional Office Opening in Chennai</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">As part of our expansion strategy to better serve clients in South India, SES is opening a new regional office in Chennai. The facility will house our project management team, technical specialists, and procurement division to support upcoming projects in Tamil Nadu and Karnataka. Operations begin October 2025.</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Location:</strong> Anna Nagar, Chennai | <strong>Opening:</strong> October 2025 | <strong>Team Size:</strong> 25+ professionals</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Achievements Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Employee Achievements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Excellence Recognition</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">CERTIFICATION</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Professional Engineering Certifications Achieved</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Congratulations to <strong>Deepak Kumar, Senior Design Engineer</strong> for successfully completing his PMP (Project Management Professional) certification and <strong>Meera Joshi, Process Engineer</strong> for achieving her Six Sigma Black Belt certification. These achievements enhance our team's capability to deliver world-class engineering solutions.</p>\n                            <p style=\"font-size: 14px; color: #2563eb; margin: 0; font-style: italic;\">SES supports continuous learning and professional development for all team members!</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">RECOGNITION</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Safety Excellence Award</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\"><strong>Suresh Patil, Safety Manager</strong> has been recognized with the \"Safety Champion Award\" by the Indian Institute of Chemical Engineers for his outstanding contribution to industrial safety practices. Under his leadership, SES has maintained a zero-accident record for 1000+ consecutive days across all active project sites.</p>\n                            <p style=\"font-size: 14px; color: #2563eb; margin: 0; font-style: italic;\">Excellence in safety creates excellence in everything we do!</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">EDUCATION</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Advanced Degree Completion</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\"><strong>Anita Sharma, Junior Engineer</strong> has successfully completed her M.Tech in Chemical Engineering from IIT Bombay while working full-time with SES. Her thesis on \"Optimization of Nano-Catalyst Production Processes\" directly contributes to our ongoing research initiatives and project innovations.</p>\n                            <p style=\"font-size: 14px; color: #2563eb; margin: 0; font-style: italic;\">Balancing work and education - truly inspiring dedication!</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Company Events Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Events</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Team Building</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">CELEBRATION</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">SES 18th Foundation Day Celebration</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">We celebrated SES's 18th Foundation Day with great enthusiasm at our Vadodara headquarters. The event featured awards for outstanding performers, project milestone recognitions, and a special presentation on our journey from startup to industry leader. Over 150 employees and their families participated in the festivities.</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> August 12, 2025 | <strong>Venue:</strong> SES Vadodara Office | <strong>Attendees:</strong> 150+ employees & families</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TRAINING</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Advanced Safety Training Workshop</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">SES conducted a comprehensive 3-day Advanced Safety Training Workshop for all field engineers and site supervisors. The program covered updated OSHA standards, emergency response protocols, and new safety technologies. External safety experts from IIT Bombay led specialized sessions on chemical plant safety management.</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Duration:</strong> 3 Days | <strong>Participants:</strong> 45 Engineers | <strong>Certification:</strong> Advanced Safety Management</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">CSR</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Environmental Sustainability Drive</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">SES team participated in a tree plantation drive as part of our environmental sustainability initiative. We planted 500 saplings in collaboration with the Vadodara Municipal Corporation and local environmental groups. This effort supports our commitment to carbon neutrality and environmental stewardship in engineering practices.</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Trees Planted:</strong> 500 Saplings | <strong>Location:</strong> Vadodara City | <strong>Impact:</strong> Carbon Offset Initiative</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Tips and Tricks Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Engineering Tips & Best Practices</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Expert Insights</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #1</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Optimize Equipment Procurement Lead Times</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Always maintain a 15-20% buffer in procurement schedules for specialized equipment. Create vendor qualification matrices early in the project phase and establish backup suppliers for critical components to avoid project delays.</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #2</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Safety Protocol Implementation</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Implement daily safety toolbox talks and use digital safety checklists. Regular safety audits should be conducted weekly during construction phases, and all personnel must complete project-specific safety training before site entry.</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #3</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Commissioning Efficiency</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Start commissioning documentation during fabrication phase, not after installation. Pre-commission individual systems before integration to identify issues early and reduce overall commissioning time by 30-40%.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Executive Quote Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #1a365d; border-radius: 12px;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"border-bottom: 2px solid #2563eb; padding-bottom: 15px;\">\n                                        <h2 style=\"font-size: 24px; font-weight: 700; color: #ffffff; margin: 0; text-align: center;\">Leadership Perspective</h2>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"font-size: 20px; line-height: 1.6; color: #ffffff; margin: 0 0 25px 0; font-style: italic;\">\n                                \"The future of engineering lies in our ability to integrate cutting-edge technology with proven project management methodologies. At SES, we're not just building facilities – we're creating the infrastructure for tomorrow's innovations in fuel technology and beyond.\"\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <p style=\"color: #ffffff; font-size: 16px; font-weight: 700; margin: 0;\">Rajesh Shiva</p>\n                                        <p style=\"color: #cbd5e1; font-size: 14px; margin: 5px 0 0 0;\">President & Founder, Shiva Engineering Services</p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Spotlight Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Employee Spotlight</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Team Excellence</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">ANNIVERSARY</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Celebrating 8 Years with SES</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">\n                                <strong>Amit Patel, Senior Process Engineer</strong> - Congratulations on completing 8 successful years with SES! Amit has been instrumental in delivering complex fuel additive projects and has led the commissioning of over 15 specialized manufacturing units. His expertise in process optimization has consistently delivered exceptional results for our clients.\n                            </p>\n                            <p style=\"font-size: 14px; color: #2563eb; margin: 0; font-style: italic;\">Join us in congratulating Amit on this milestone achievement!</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">BIRTHDAY</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Birthday Wishes</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">\n                                Happy Birthday to <strong>Priya Sharma, Project Manager</strong> (August 15th) and <strong>Vikram Singh, Safety Engineer</strong> (August 22nd)! We appreciate your dedication and the positive energy you bring to every project. Hope you both had wonderful celebrations!\n                            </p>\n                            <p style=\"font-size: 14px; color: #2563eb; margin: 0; font-style: italic;\">Wishing you both success and happiness in the year ahead!</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- FAQ Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Frequently Asked Questions</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Client Queries</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What makes SES different from other EPC contractors?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES combines 18+ years of specialized experience with a deep understanding of fuel additive and chemical manufacturing processes. Our integrated approach covers everything from initial design to final commissioning, ensuring seamless project delivery with proven expertise in regulatory compliance and safety standards.</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">How does SES ensure project timelines are met?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">We use advanced project management tools combined with phased milestone reviews. Our procurement team maintains strategic vendor partnerships to minimize supply chain delays, and we implement parallel work streams wherever possible to optimize project schedules without compromising quality or safety.</p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What safety standards does SES follow during construction?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES adheres to international safety standards including OSHA, IS:3764, and client-specific safety protocols. We maintain comprehensive safety training programs, conduct daily safety briefings, and implement zero-tolerance policies for safety violations. Our safety record includes zero major incidents across 500+ completed projects.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Call-to-Action Section -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>","role":"system"}]},"simplify":false,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-224,3216],"id":"8abcbf99-83c7-4172-9fd8-7020a7cc6001","name":"buildNewsletterHTML1","retryOnFail":true,"maxTries":2,"alwaysOutputData":false,"disabled":true},{"parameters":{"resource":"draft","subject":"test","emailType":"html","message":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2368,704],"id":"fd35ef51-34b4-4bd2-8aec-499106637200","name":"Create a draft","webhookId":"460ab9d3-bc73-4ecf-807e-24500f883c74","credentials":{"gmailOAuth2":{"id":"qHOlzqpoxS8A6vYT","name":"testemail"}}}],"connections":{"Switch":{"main":[[{"node":"setAboutBool","type":"main","index":0}],[{"node":"generateHowCanHelp","type":"main","index":0}],[{"node":"generateValueProp","type":"main","index":0}],[{"node":"generateNews","type":"main","index":0}],[{"node":"generateBlog","type":"main","index":0}],[{"node":"generateFAQ","type":"main","index":0}],[{"node":"generateTips","type":"main","index":0}],[{"node":"generateEvents","type":"main","index":0}],[{"node":"generateAchievements1","type":"main","index":0}],[{"node":"generateAnnouncements","type":"main","index":0}],[{"node":"generateQuote","type":"main","index":0}],[{"node":"generateEmpSpotlight","type":"main","index":0}]]},"Merge":{"main":[[{"node":"mergeContents","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"updateStatus2Gen","type":"main","index":0},{"node":"init","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"mergeQuote":{"main":[[{"node":"mergeContents","type":"main","index":1}]]},"mergeMaster":{"main":[[{"node":"removeINIT","type":"main","index":0}]]},"mergeContents":{"main":[[{"node":"mergeMaster","type":"main","index":1},{"node":"generateTitle","type":"main","index":0}]]},"setAboutBool":{"main":[[{"node":"mergeQuote","type":"main","index":3}]]},"init":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"mergeQuote","type":"main","index":0},{"node":"mergeContents","type":"main","index":0}]]},"removeINIT":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"generateValueProp":{"main":[[{"node":"Merge","type":"main","index":1}]]},"generateNews":{"main":[[{"node":"Merge","type":"main","index":2}]]},"generateBlog":{"main":[[{"node":"Merge","type":"main","index":3}]]},"generateTips":{"main":[[{"node":"Merge","type":"main","index":5}]]},"generateAnnouncements":{"main":[[{"node":"Merge","type":"main","index":8}]]},"generateAchievements1":{"main":[[{"node":"Merge","type":"main","index":7}]]},"generateEmpSpotlight":{"main":[[{"node":"mergeQuote","type":"main","index":2}]]},"generateQuote":{"main":[[{"node":"mergeQuote","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"buildDynamicHTMLSections","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"fuseCompleteHTML":{"main":[[{"node":"updateNewsletter","type":"main","index":0},{"node":"Create a draft","type":"main","index":0}]]},"buildDynamicHTMLSections":{"main":[[{"node":"fuseCompleteHTML","type":"main","index":0}]]},"generateFAQ":{"main":[[{"node":"Merge","type":"main","index":4}]]},"generateTitle":{"main":[[{"node":"mergeMaster","type":"main","index":0}]]},"generateHowCanHelp":{"main":[[{"node":"Merge","type":"main","index":9}]]},"generateEvents":{"main":[[{"node":"Merge","type":"main","index":6}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"newsletter_id":615,"newsletter_type":"general","issue_number":"","publication_date":null,"subject_line":"Driving Specialty Chemicals Innovation with Advanced Engineering and Safety","full_content":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SES Industry Pulse</title>\n    <style>\n        .section-hidden {\n            display: none;\n        }\n        .section-visible {\n            display: table-row;\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n\n        <!-- Header Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #e2e8f0; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #1a365d;\">Driving Specialty Chemicals Innovation with Advanced Engineering and Safety</h1>\n                <p style=\"font-size: 16px; color: #64748b; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #cbd5e1; padding-top: 20px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: center;\">Issue #615 | October 2025</td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n\n        <!-- Dynamic Sections Generated by n8n Code Node -->\n        \n    <!-- Company Introduction Section -->\n    <tr>\n        <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n            <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                <tr>\n                    <td>\n                        <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin: 0 0 20px 0;\">\n                            <strong>Shiva Engineering Services (SES)</strong> stands as a premier Engineering, Procurement, and Construction (EPC) company with over 18 years of proven excellence in delivering complex industrial projects across India and internationally. Founded in 1999 and headquartered in Vadodara, Gujarat, SES has established itself as a trusted partner for Fortune 500 companies and leading public sector enterprises.\n                        </p>\n                        \n                        <table width=\"100%\" cellpadding=\"8\" cellspacing=\"8\" border=\"0\" style=\"margin: 20px 0;\">\n                            <tr>\n                                <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">18+ Years Experience</td>\n                                <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">500+ Projects Delivered</td>\n                                <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">Pan-India Presence</td>\n                                <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">ISO Certified</td>\n                            </tr>\n                        </table>\n                        \n                        <p style=\"font-size: 16px; line-height: 1.7; color: #2563eb; margin: 20px 0 0 0; font-style: italic;\">\n                            \"At SES, we don't just build facilities – we engineer solutions that drive innovation, ensure safety, and deliver sustainable value for our clients across diverse industrial sectors.\"\n                        </p>\n                    </td>\n                </tr>\n            </table>\n        </td>\n    </tr>\n        <!-- Industry News & Insights Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Industry News & Insights</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Market Updates & Expert Insights</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Advanced Infrared PET Recycling Technology for Flexible Feedstocks</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Infrared SSP technology enables flexible PET recycling with lower energy use, expanding feedstock options and supporting SES's EPCM opportunities in next-gen recycling plants.</p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Recycling Magazine</td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Strategic Expansion in Specialty Chemicals with Automated Production</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Givaudan's new automated fragrance facility in China exemplifies localized production and innovation, aligning with market growth and SES's EPCM capabilities in specialty chemicals.</p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Indian Chemical News</td>\n                                    <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n                \n                \n                    <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                        <tr>\n                            <td>\n                                <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">SES Blog</span>\n                                <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Driving Sustainability with Greenfield Recycling Plants</h3>\n                                <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Greenfield recycling plants are key to India's sustainable waste management and circular economy goals, driving industrial innovation and environmental impact reduction.</p>\n                                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                    <tr>\n                                        <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">SES Engineering Blog</td>\n                                        <td style=\"font-size: 12px; color: #64748b; text-align: right;\">August 2025</td>\n                                    </tr>\n                                </table>\n                                <p style=\"margin: 15px 0 0 0;\"><a href=\"https://shiva-engineering.com/sustainable-engineering-solutions-for-greenfield-recycling-plant-projects-in-india/\" style=\"color: #2563eb; text-decoration: none; font-weight: 600;\">Read Full Article →</a></p>\n                            </td>\n                        </tr>\n                    </table>\n            </td>\n        </tr>\n        <!-- Case Studies Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Case Studies</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">SES Project Excellence</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">PROJECT</span>\n                            <h3 style=\"font-size: 20px; font-weight: 700; color: #1a365d; margin: 12px 0;\">Advanced Engineering Solutions for Specialty Chemicals Manufacturing</h3>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin-bottom: 20px;\">\n                                SES delivered advanced engineering solutions for a leading specialty chemicals manufacturer, focusing on modular design, process optimization, and comprehensive safety studies. The project encompassed detailed engineering across multiple disciplines, including process, mechanical, electrical, and control systems, ensuring operational efficiency and safety compliance. Utilizing 3D modeling and rigorous HAZOP analysis, SES optimized plant layout and execution timelines, resulting in reduced onsite construction time and enhanced project delivery. This engagement highlights SES's expertise in managing complex chemical engineering challenges with precision and innovation.\n                            </p>\n                            \n                            \n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <img src=\"https://images.pexels.com/photos/9629666/pexels-photo-9629666.jpeg\" alt=\"Project Image\" style=\"width: 100%; height: auto; aspect-ratio: 18/10; object-fit: cover; object-position: center; border-radius: 8px; border: 1px solid #e2e8f0; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\" />\n                                        <p style=\"font-size: 12px; color: #64748b; margin: 8px 0 0 0; font-style: italic;\">Advanced engineering capabilities showcase</p>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; border-left: 4px solid #2563eb; margin: 20px 0; border: 1px solid #bfdbfe;\">\n                                <tr>\n                                    <td>\n                                        <p style=\"font-weight: 600; color: #1e40af; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px; margin: 0 0 10px 0;\">SES Expertise Applied</p>\n                                        <p style=\"margin: 0; font-size: 14px; line-height: 1.6; color: #334155;\">\n                                            <strong>Engineering Design:</strong> Comprehensive design solutions covering all engineering disciplines.<br>\n                                            <strong>Project Management:</strong> End-to-end project coordination ensuring timely delivery.<br>\n                                            <strong>Safety Systems:</strong> Advanced safety systems and risk assessment studies.<br>\n                                            <strong>Procurement Support:</strong> Strategic sourcing and vendor management.<br>\n                                            <strong>Construction Management:</strong> Efficient execution with focus on quality and safety.\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        <!-- FAQ Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Frequently Asked Questions</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Client Queries</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What are the key engineering challenges in developing agrochemical manufacturing facilities?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Agrochemical projects require precise site master planning for efficient workflows, detailed process and utility design, and stringent safety measures including HAZOP studies to handle complex chemical processes safely.</p>\n                        </td>\n                    </tr>\n                </table>\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">How does SES ensure operational safety and compliance in agrochemical plants?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES integrates advanced fire and safety engineering, conducts rigorous SIL and HAZOP studies, and designs control and automation systems to meet global safety standards, ensuring safe and compliant operations.</p>\n                        </td>\n                    </tr>\n                </table>\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; \">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What best practices does SES follow for efficient project execution in agrochemical sector?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES emphasizes modular design, 3D modeling, procurement support, and comprehensive construction management to optimize timelines, reduce costs, and ensure quality delivery in agrochemical projects.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        <!-- Tips Section -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Engineering Tips & Best Practices</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Expert Insights</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #1</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Leverage Advanced Laser Scanning for Accurate Plant Modifications</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Utilize laser scanning technology to capture precise as-built data for brownfield projects. This reduces errors, minimizes rework, and compresses project schedules by up to 10%, enhancing overall efficiency.</p>\n                        </td>\n                    </tr>\n                </table>\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #2</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Implement Rigorous HAZOP and Safety Studies Early</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Conduct comprehensive HAZOP and safety analyses during design phases to identify and mitigate risks, especially when handling hazardous chemicals like ethylene oxide and solvents, ensuring safer operations and regulatory compliance.</p>\n                        </td>\n                    </tr>\n                </table>\n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; \">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">TIP #3</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">Adopt 3D Modeling for Enhanced Design Visualization and Risk Reduction</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Use advanced 3D design tools to visualize entire plant layouts before construction. This approach minimizes design errors, optimizes site layout for scalability, and supports efficient procurement and construction management.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Call-to-Action Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"https://shiva-engineering.com/privacy-policy/\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\n","target_industry":"","approval_status":"review","status":"queued","approved_by":"","project_id":55,"created_at":"2025-10-10T08:54:34.65366+00:00","campaign_id":200,"updated_at":"2025-10-11T04:39:50.884+00:00","sections":"about, achievements, tips_tricks, announcements, case_study, event, quote, news, faq, emp_spotlight, blog","preferences":{"quote":{"name":"admin","gender":"male","department":"Head of SES","designation":null}},"raw_data":"{\"subject_line\":{\"output\":\"Driving Specialty Chemicals Innovation with Advanced Engineering and Safety\"},\"about\":true,\"articles\":{\"selected_articles\":[{\"article\":{\"article_id\":\"RDID-3b5ad4b3-e2ba-4e75-87ef-0871abcaaefe\",\"raw_article_id\":\"1ddf49d2-8bb9-44a4-a018-9489eb384502\",\"article_link\":\"https://www.recycling-magazine.com/2025/09/29/flexible-pet-processing-with-infrared-based-solution/\",\"article_date\":\"\\\"2025-09-29T00:00:00.000+05:30\\\"\",\"type_of_article\":\"RD\",\"segment_id\":\"8a3166a4-6556-449d-a9af-7a18ddd12405\",\"validation_score\":1,\"insights_summary\":\"MAS has introduced its Iqonic Twin Hyper PET platform, an infrared-based solution for PET recycling. This system integrates a conical twin-screw extruder with a nitrogen-free, infrared solid-state polymerisation (SSP) step, which improves viscosity, colour consistency, and reduces acetaldehyde, all while lowering energy consumption. Crucially, it can process PET trays alongside bottles, broadening feedstock options. This innovation signifies a step forward in advanced PET recycling, offering potential EPCM opportunities for SES in designing and implementing such next-gen recycling facilities.\",\"pp_scope\":\"Development and commercialization of a new PET recycling platform utilizing infrared-based solid-state polymerisation for flexible feedstock processing.\",\"pp_stage\":\"Pilot Plant\",\"location\":\"Austria\",\"client_id\":\"\",\"company_mentioned\":\"MAS\",\"project_name\":\"MAS Iqonic Twin Hyper PET Platform: Development of Infrared-Based Advanced PET Recycling Technology for Flexible Feedstocks\",\"deep_research_status\":\"pending\",\"drop_reason\":null,\"created_at\":\"2025-09-30T12:37:29.092908+00:00\",\"email_draft_id\":\"\"},\"relevance_score\":95,\"selection_rationale\":\"Selected for its innovation in advanced PET recycling technology with energy efficiency and feedstock flexibility, aligning with SES's sustainability and EPCM interests in circular economy solutions.\",\"strategic_insight\":\"Infrared SSP technology enables flexible PET recycling with lower energy use, expanding feedstock options and supporting SES's EPCM opportunities in next-gen recycling plants.\",\"insight_title\":\"Advanced Infrared PET Recycling Technology for Flexible Feedstocks\",\"publisher_name\":\"Recycling Magazine\"},{\"article\":{\"article_id\":\"PPID-aa3048c0-d2ad-4147-bd87-c64040ce4bb8\",\"raw_article_id\":\"02e0b0ae-2bfe-446a-8e8e-c1c8fd152e4d\",\"article_link\":\"https://www.indianchemicalnews.com/general/givaudan-breaks-ground-on-new-fragrance-facility-in-guangzhou-27647\",\"article_date\":\"\\\"2025-09-29T00:00:00.000+05:30\\\"\",\"type_of_article\":\"PP\",\"segment_id\":\"2df7a671-d4ba-4c6d-a5a1-9128f3af55af\",\"validation_score\":1,\"insights_summary\":\"Givaudan has broken ground on a new fragrance facility in Guangzhou, China. This significant investment includes a creative center and a highly automated production site on a 30,000 square meter plot. The project aims to support Givaudan's fragrance business growth in high-growth markets, particularly China, by enhancing creative capabilities, increasing production capacity, and reinforcing market competitiveness. SES, with its EPCM expertise in specialty chemical and consumer goods facilities, is well-positioned to offer services for the automated production units, utility infrastructure, and EHS systems. This project signals Givaudan's strategic commitment to localized production and innovation in key markets, aligning with their 2030 strategy, and presents an opportunity for SES to engage through competitive bids for subsequent project phases or direct proposals for specialized engineering services.\",\"pp_scope\":\"Construction of a new fragrance facility including a creative centre (evaluation, marketing, sales, application teams, perfumers, analysts) and a highly automated production site. The facility will also incorporate state-of-the-art environmental, health and safety (EHS) solutions.\",\"pp_stage\":\"Under Construction\",\"location\":\"Guangzhou, China\",\"client_id\":\"\",\"company_mentioned\":\"Givaudan\",\"project_name\":\"Givaudan New Automated Fragrance Facility in Guangzhou Boosting Production and Innovation\",\"deep_research_status\":\"pending\",\"drop_reason\":null,\"created_at\":\"2025-09-30T15:52:16.76063+00:00\",\"email_draft_id\":\"\"},\"relevance_score\":90,\"selection_rationale\":\"Chosen for its strategic investment in specialty chemicals and consumer goods production with automation and innovation, offering EPCM opportunities for SES in a high-growth market.\",\"strategic_insight\":\"Givaudan's new automated fragrance facility in China exemplifies localized production and innovation, aligning with market growth and SES's EPCM capabilities in specialty chemicals.\",\"insight_title\":\"Strategic Expansion in Specialty Chemicals with Automated Production\",\"publisher_name\":\"Indian Chemical News\"}]},\"blogs\":[{\"selected_blog\":{\"blog\":{\"id\":33,\"title\":\"Sustainable Engineering Solutions for Greenfield Recycling Plant Projects in India\",\"publication_date\":\"2025-08-11\",\"content\":\"Introduction With millions of tons of solid waste generated annually in India, the need for modern high-capacity recycling infrastructure is more urgent than ever. The shift from a collect-and-dump model to a resource recovery economy needs greenfield recycling plants that are environmentally friendly and maximize material recovery. The Government of India’s progressive policies, producer responsibility…\",\"url\":\"https://shiva-engineering.com/sustainable-engineering-solutions-for-greenfield-recycling-plant-projects-in-india/\"},\"relevance_score\":92,\"selection_rationale\":\"This blog is highly relevant for a general newsletter due to its focus on sustainability, a critical and broad industrial theme. It is recent (2025), offers deep insights into greenfield recycling plant projects, and has strong engagement potential by addressing urgent environmental infrastructure needs in India.\",\"strategic_insight\":\"Greenfield recycling plants are key to India's sustainable waste management and circular economy goals, driving industrial innovation and environmental impact reduction.\",\"insight_title\":\"Driving Sustainability with Greenfield Recycling Plants\"}}],\"\":\"\",\"faqs\":[{\"question\":\"What are the key engineering challenges in developing agrochemical manufacturing facilities?\",\"answer\":\"Agrochemical projects require precise site master planning for efficient workflows, detailed process and utility design, and stringent safety measures including HAZOP studies to handle complex chemical processes safely.\",\"project_insights_used\":\"Projects for PI Industries, ADAMA, Heranba Industries, Dhanuka Agritech, Sajjan India Ltd, Cropnosys, and Willowood in the Agrochemicals segment.\"},{\"question\":\"How does SES ensure operational safety and compliance in agrochemical plants?\",\"answer\":\"SES integrates advanced fire and safety engineering, conducts rigorous SIL and HAZOP studies, and designs control and automation systems to meet global safety standards, ensuring safe and compliant operations.\",\"project_insights_used\":\"Safety and control system design insights from multiple agrochemical projects including Heranba Industries and Agrocel Industries.\"},{\"question\":\"What best practices does SES follow for efficient project execution in agrochemical sector?\",\"answer\":\"SES emphasizes modular design, 3D modeling, procurement support, and comprehensive construction management to optimize timelines, reduce costs, and ensure quality delivery in agrochemical projects.\",\"project_insights_used\":\"Project execution methodologies observed in multiple greenfield and brownfield agrochemical projects across India.\"}],\"output\":{\"tips\":[{\"title\":\"Leverage Advanced Laser Scanning for Accurate Plant Modifications\",\"category\":\"Innovation Tips\",\"content\":\"Utilize laser scanning technology to capture precise as-built data for brownfield projects. This reduces errors, minimizes rework, and compresses project schedules by up to 10%, enhancing overall efficiency.\",\"key_takeaway\":\"Laser scanning significantly improves project accuracy and timeline compression.\",\"project_insights_used\":\"Projects Sr No 25, 93\"},{\"title\":\"Implement Rigorous HAZOP and Safety Studies Early\",\"category\":\"Quality & Safety Tips\",\"content\":\"Conduct comprehensive HAZOP and safety analyses during design phases to identify and mitigate risks, especially when handling hazardous chemicals like ethylene oxide and solvents, ensuring safer operations and regulatory compliance.\",\"key_takeaway\":\"Early safety studies prevent risks and ensure compliance.\",\"project_insights_used\":\"Projects Sr No 55, 50, 52\"},{\"title\":\"Adopt 3D Modeling for Enhanced Design Visualization and Risk Reduction\",\"category\":\"Technical Tips\",\"content\":\"Use advanced 3D design tools to visualize entire plant layouts before construction. This approach minimizes design errors, optimizes site layout for scalability, and supports efficient procurement and construction management.\",\"key_takeaway\":\"3D modeling reduces risks and improves project execution.\",\"project_insights_used\":\"Projects Sr No 50, 52, 16\"}],\"target_segment\":\"Specialty Chemicals\",\"projects_analyzed\":\"11 projects in Specialty Chemicals segment including greenfield and brownfield expansions, technical due diligence, and advanced engineering services.\",\"project_ids_referenced\":[\"16\",\"25\",\"50\",\"52\",\"55\",\"93\"]},\"case_study\":{\"case_study\":\"SES delivered advanced engineering solutions for a leading specialty chemicals manufacturer, focusing on modular design, process optimization, and comprehensive safety studies. The project encompassed detailed engineering across multiple disciplines, including process, mechanical, electrical, and control systems, ensuring operational efficiency and safety compliance. Utilizing 3D modeling and rigorous HAZOP analysis, SES optimized plant layout and execution timelines, resulting in reduced onsite construction time and enhanced project delivery. This engagement highlights SES's expertise in managing complex chemical engineering challenges with precision and innovation.\",\"case_study_title\":\"Advanced Engineering Solutions for Specialty Chemicals Manufacturing\",\"case_study_img\":\"https://images.pexels.com/photos/9629666/pexels-photo-9629666.jpeg\",\"project_id\":\"55\",\"usedAlternateSegment\":true,\"usedPastProject\":true,\"newsletter_id\":\"615\"}}","email_grp":"","emails":"","reverted_by":""}}]},"versionId":"f9e1a667-5ab3-4800-bf13-98e1e9aa5033","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.705Z","createdAt":"2025-12-11T08:33:33.705Z","role":"workflow:owner","workflowId":"f8TkD1Ve3BEGM4nl","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}