getdsm-JlWrLRNo2lsDcSEJ.json
{"createdAt":"2025-12-11T10:17:01.063Z","updatedAt":"2025-12-12T12:48:54.000Z","id":"JlWrLRNo2lsDcSEJ","name":"getDSM","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[496,-80],"id":"7585c15c-7836-4693-81f0-56b293aee890","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"449d617e-2e4c-4b71-9e2a-aa380c63c98b","name":"transcripts","value":"=for 11/12/2025\n\n1\n00:00:00.080 --> 00:00:05.500\nHardik Bhatt: the… Fine-tune or the, you know, customized model.\n\n2\n00:00:06.330 --> 00:00:12.540\nHardik Bhatt: In which, which are the open source models available, which are the NLP feature in there.\n\n3\n00:00:13.290 --> 00:00:17.579\nHardik Bhatt: So far, you have not explored anything featured in the open source model.\n\n4\n00:00:17.940 --> 00:00:22.580\nHardik Bhatt: So, that is very important to, you know, self-learn and adapt.\n\n5\n00:00:22.680 --> 00:00:31.100\nHardik Bhatt: Nothing's… How it… how, like, what are the open source models available? How it is working?\n\n6\n00:00:31.840 --> 00:00:42.920\nHardik Bhatt: For self-learning, do we need to provide, you know, our databases, and only they can learn. I don't know what could be the challenges, but that is to be explained.\n\n7\n00:00:45.700 --> 00:00:55.179\nHardik Bhatt: That is the thing which I could see that, you know, that is required as of now. So that, along with the vision, this also is required.\n\n8\n00:00:55.930 --> 00:00:57.330\nHardik Bhatt: Yes, Ron?\n\n9\n00:00:59.750 --> 00:01:02.399\nRohan Shaw: So, today I will,\n\n10\n00:01:03.260 --> 00:01:08.350\nRohan Shaw: work on the thing, a workflow, which I… which I started, yesterday on the weekly report only.\n\n11\n00:01:08.460 --> 00:01:13.900\nRohan Shaw: So today, I will, use this recording and then integrate with the system I built yesterday.\n\n12\n00:01:14.900 --> 00:01:25.460\nHardik Bhatt: Sorry? Weekly status report, we just, given tasks, and he has almost completed. Now, thus, we are fine-tuning this. I'll also check from my dad and mom's also.\n\n13\n00:01:25.550 --> 00:01:40.859\nHardik Bhatt: So, I think today it will be the 10th, right? Today is the first time it will be done. Okay. So, like, we'll review once it is done, we'll see what kind of, you know, dynamic provisions are there, how we can incorporate those aspects. Okay. Yes, Noel?\n\n14\n00:01:43.390 --> 00:01:44.320\nNavya Sree Sandineni: That's jaw.\n\n15\n00:01:44.700 --> 00:01:47.390\nNavya Sree Sandineni: Currently, I'm exploring, like, a…\n\n16\n00:01:47.560 --> 00:01:58.380\nNavya Sree Sandineni: How to, you know, how to improve the accuracy of the model, and what are the different models we can use, and how to… if planning is required, how we can do\n\n17\n00:01:58.530 --> 00:02:00.789\nNavya Sree Sandineni: And also, I'm, exploring…\n\n18\n00:02:00.900 --> 00:02:10.190\nNavya Sree Sandineni: Like, if we give any PNITs and, it will store how it will store that, data with the RAG system, and I'm exporting all those kind of things.\n\n19\n00:02:10.430 --> 00:02:12.569\nHardik Bhatt: I'll let you know every second of what…\n\n20\n00:02:12.790 --> 00:02:13.829\nNavya Sree Sandineni: I have done.\n\n21\n00:02:14.370 --> 00:02:17.380\nHardik Bhatt: Yes, yes, please do. Okay, Nikita?\n\n22\n00:02:18.970 --> 00:02:30.739\nNikita Prasad: Today, I will work on, like, what we discussed yesterday at the end of the day, and by second half, probably, I'll just update, like, what I've explored about each model and all.\n\n23\n00:02:33.640 --> 00:02:36.730\nHardik Bhatt: Okay, so, you know, today we got a mail.\n\n24\n00:02:36.860 --> 00:02:44.320\nHardik Bhatt: for civil inputs. Okay. All data we have received. So, that will put it in the server.\n\n25\n00:02:44.460 --> 00:02:52.170\nHardik Bhatt: And, server finalization to be done today, so all the things gradually we should fit in. Okay. So, that we will do.\n\n26\n00:02:54.140 --> 00:02:58.500\nHardik Bhatt: Further planning can be done. Civil also can be done. Okay.\n\n27\n00:02:59.660 --> 00:03:03.639\nHardik Bhatt: Okay, so… Yeah, yeah, I'll work with,\n\n28\n00:03:03.950 --> 00:03:15.950\nHardik Bhatt: Yeah, weekly status report. I will throw one, second thing, folder structure to be decided. And, third thing, GitLab, I think created GitLab Project Management.\n\n29\n00:03:15.950 --> 00:03:32.349\nHardik Bhatt: So, that all, means all the things to be finalized means how we will, create issues, then how we will assign it to, members, and how they… so, what outcomes there, then how we can automatically\n\n30\n00:03:32.350 --> 00:03:38.510\nHardik Bhatt: inserting our task to GitLab, so all that things… Very exploratory.\n\n31\n00:03:39.110 --> 00:03:58.229\nHardik Bhatt: Next week onward, let's finalize a couple of systems, like, you know, the builder structure, the project management. Let's start implementing those things. By this week, we could, input also. Yeah, okay. Let's start implementing those things. Yes, yes, absolutely. Also, plus implementation also. Okay.\n\n32\n00:03:59.070 --> 00:04:00.230\nHardik Bhatt: Okay.\n\n33\n00:04:01.690 --> 00:04:03.920\nHardik Bhatt: Okay, thank you, all of you.\n\n34\n00:04:04.200 --> 00:04:05.180\nNikita Prasad: Thank you, sir.\n\n\nfor 12/12/2025:-\nWEBVTT\n\n1\n00:00:41.130 --> 00:00:42.440\nHardik Bhatt: Good morning, guys!\n\n2\n00:00:45.730 --> 00:00:46.800\nNikita Prasad: Good morning, Sue.\n\n3\n00:00:53.380 --> 00:00:54.130\nHardik Bhatt: Boop?\n\n4\n00:00:55.400 --> 00:01:02.829\nHardik Bhatt: Pooja is only, Utah and Ron, as of now, not available. So, we'll start with, you know, our inspection.\n\n5\n00:01:02.980 --> 00:01:04.120\nHardik Bhatt: Let's begin.\n\n6\n00:01:07.270 --> 00:01:09.009\nHardik Bhatt: What are you going to do today?\n\n7\n00:01:11.690 --> 00:01:18.760\nHardik Bhatt: And we're into a flight to the… Please give your birthday.\n\n8\n00:01:19.150 --> 00:01:22.489\nHardik Bhatt: And, also we need to test out the…\n\n9\n00:01:23.350 --> 00:01:31.830\nHardik Bhatt: We are taking backup in MacBase 3, so we need to test if it is working correctly.\n\n10\n00:01:33.550 --> 00:01:41.670\nHardik Bhatt: I need to add one other customer on the baby… Yesterday, we called,\n\n11\n00:01:41.870 --> 00:01:47.750\nHardik Bhatt: Our internal communication system in our server, we require domain communication in the system.\n\n12\n00:01:54.140 --> 00:01:55.290\nHardik Bhatt: What else?\n\n13\n00:01:56.110 --> 00:02:01.080\nHardik Bhatt: badly, but… Right before that goes to us.\n\n14\n00:02:01.380 --> 00:02:07.770\nHardik Bhatt: But based on what you are planning, that you are not planning, Don't think it's subways?\n\n15\n00:02:07.900 --> 00:02:16.990\nHardik Bhatt: So, after analyzing of detail, what we are going to do business, we will… Yeah.\n\n16\n00:02:19.020 --> 00:02:21.900\nHardik Bhatt: I was happy to have, you know, people all over the other stuff.\n\n17\n00:02:22.050 --> 00:02:27.510\nHardik Bhatt: One addition I found, we should give you the service of the AI, or it'll give you the content.\n\n18\n00:02:29.770 --> 00:02:34.180\nHardik Bhatt: That also to be included in… the service…\n\n19\n00:02:34.630 --> 00:02:38.670\nHardik Bhatt: People would prefer to have a JI already, so…\n\n20\n00:02:39.210 --> 00:02:42.430\nHardik Bhatt: A filth vertical, but we will provide it compliment.\n\n21\n00:02:43.710 --> 00:02:48.279\nHardik Bhatt: You know, the… how they will understand that AI is recording them.\n\n22\n00:02:48.890 --> 00:02:52.610\nHardik Bhatt: So AI already is the plan. And Jack, we will provide complement.\n\n23\n00:02:54.590 --> 00:02:57.030\nHardik Bhatt: So I'll provide you the content for that.\n\n24\n00:02:58.010 --> 00:02:59.250\nHardik Bhatt: Yes, Maria?\n\n25\n00:03:01.370 --> 00:03:06.859\nHardik Bhatt: Yeah, so… actually, we had discussed, like, what I have done and what I'm getting.\n\n26\n00:03:07.040 --> 00:03:11.600\nNavya Sree Sandineni: Today, I have to research on those, how to improve that accuracy and all?\n\n27\n00:03:12.110 --> 00:03:14.939\nNavya Sree Sandineni: Like, what are the other possible ways we can do?\n\n28\n00:03:15.620 --> 00:03:16.330\nHardik Bhatt: Hmm.\n\n29\n00:03:17.170 --> 00:03:18.569\nNavya Sree Sandineni: With the terrible VMs.\n\n30\n00:03:19.740 --> 00:03:21.199\nHardik Bhatt: Play it back.\n\n31\n00:03:21.940 --> 00:03:23.629\nNavya Sree Sandineni: No, sir, no, I'm not.\n\n32\n00:03:24.020 --> 00:03:28.539\nHardik Bhatt: Okay, okay. So I thought that you are, you know, exhausted with the, you know, this effort.\n\n33\n00:03:28.540 --> 00:03:29.350\nNavya Sree Sandineni: No, no, no.\n\n34\n00:03:29.350 --> 00:03:30.629\nHardik Bhatt: This is the beginning.\n\n35\n00:03:30.980 --> 00:03:31.740\nNavya Sree Sandineni: Yeah.\n\n36\n00:03:31.740 --> 00:03:51.730\nHardik Bhatt: Today, you know, by end of the day, around, like, you know, 5 or 6, we will discuss jointly with you, Nikita, we'll understand what you have done, how we can do, and explore brainstorming the ideas. So, you know, on weekend, you could have a good, you know.\n\n37\n00:03:51.730 --> 00:03:55.209\nHardik Bhatt: something new, good thoughts comes up, and then Monday we can work.\n\n38\n00:03:55.910 --> 00:03:56.950\nNavya Sree Sandineni: Yes, sir, sure.\n\n39\n00:03:57.140 --> 00:03:58.480\nHardik Bhatt: So, when I'm leaving.\n\n40\n00:04:00.170 --> 00:04:01.140\nNavya Sree Sandineni: I'm Lisa.\n\n41\n00:04:01.390 --> 00:04:05.720\nHardik Bhatt: Sunday, so you will come on Monday, on Tuesday. On Monday.\n\n42\n00:04:05.730 --> 00:04:11.590\nNavya Sree Sandineni: Monday, I'll come to Madura on Monday, and I'll come to office of Shanwas.\n\n43\n00:04:11.900 --> 00:04:14.610\nHardik Bhatt: Okay, Monday, by what time you are reaching Vodra?\n\n44\n00:04:15.520 --> 00:04:16.819\nNavya Sree Sandineni: 3 is that they are four.\n\n45\n00:04:17.430 --> 00:04:19.550\nHardik Bhatt: Okay, in, in the UK.\n\n46\n00:04:20.140 --> 00:04:20.800\nNavya Sree Sandineni: Yes.\n\n47\n00:04:21.589 --> 00:04:24.550\nHardik Bhatt: So, will you be able to attend your convocation?\n\n48\n00:04:26.030 --> 00:04:28.620\nNavya Sree Sandineni: No, sir, I haven't registered for that.\n\n49\n00:04:29.500 --> 00:04:33.839\nNavya Sree Sandineni: I don't know, I come to, like, I will come to Badhodra unexpectedly.\n\n50\n00:04:35.210 --> 00:04:36.209\nNavya Sree Sandineni: All of this.\n\n51\n00:04:36.770 --> 00:04:38.880\nNavya Sree Sandineni: Otherwise, I'll go to convocation.\n\n52\n00:04:39.420 --> 00:04:41.010\nHardik Bhatt: Okay, fine.\n\n53\n00:04:41.010 --> 00:04:42.839\nNavya Sree Sandineni: Yes, Nadia, Nikita?\n\n54\n00:04:44.510 --> 00:04:56.350\nNikita Prasad: In the first half, I'll continue with the documentation. Yesterday, I've said Instrument Index, and in the second half, probably, I'll start, exploring about different models, which I said.\n\n55\n00:04:56.470 --> 00:04:58.339\nNikita Prasad: all TLM and all.\n\n56\n00:05:01.410 --> 00:05:05.409\nHardik Bhatt: So, you know, like, in second up, we'll, you know…\n\n57\n00:05:13.180 --> 00:05:15.810\nHardik Bhatt: And, understand what you are.\n\n58\n00:05:17.350 --> 00:05:21.190\nNikita Prasad: Sir, can you please repeat the voice breaking?\n\n59\n00:05:22.530 --> 00:05:24.150\nHardik Bhatt: Just a moment.\n\n60\n00:05:24.840 --> 00:05:25.780\nHardik Bhatt: I don't know.\n\n61\n00:05:27.010 --> 00:05:28.000\nHardik Bhatt: Hello?\n\n62\n00:05:35.370 --> 00:05:37.259\nHardik Bhatt: What is the English flu?\n\n63\n00:05:37.550 --> 00:05:38.520\nHardik Bhatt: Hello.\n\n64\n00:05:39.600 --> 00:05:40.829\nNavya Sree Sandineni: Yes, and it is audible now.\n\n65\n00:05:40.830 --> 00:05:41.600\nHardik Bhatt: Hello.\n\n66\n00:05:42.940 --> 00:05:43.530\nNavya Sree Sandineni: Oh my goodness.\n\n67\n00:05:44.500 --> 00:05:45.930\nNavya Sree Sandineni: Yeah, sir, it is moving on.\n\n68\n00:05:45.930 --> 00:05:47.299\nHardik Bhatt: Everybody will? Yes, yes.\n\n69\n00:05:47.850 --> 00:05:49.390\nNavya Sree Sandineni: I didn't need time.\n\n70\n00:05:49.390 --> 00:05:51.600\nHardik Bhatt: Second half, we will, you know…\n\n71\n00:05:55.010 --> 00:06:04.699\nHardik Bhatt: Okay. In second half, we'll discuss, whatever you both have explored, and, you know, get some new ideas.\n\n72\n00:06:05.310 --> 00:06:06.310\nHardik Bhatt: Okay?\n\n73\n00:06:06.450 --> 00:06:07.470\nNavya Sree Sandineni: Sure.\n\n74\n00:06:07.620 --> 00:06:14.139\nHardik Bhatt: So let's, you know, get back to work, and explore more things, whatever we have planned.\n\n75\n00:06:14.270 --> 00:06:17.409\nHardik Bhatt: And, we'll discuss whenever you are stuck.\n\n76\n00:06:19.800 --> 00:06:20.840\nNavya Sree Sandineni: Okay, so…\n\n77\n00:06:21.200 --> 00:06:22.710\nNikita Prasad: get that today? Yes, sir.\n\n78\n00:06:25.080 --> 00:06:28.700\nHardik Bhatt: So, we have two Nikita together.\n\n79\n00:06:31.620 --> 00:06:32.840\nHardik Bhatt: Hello.\n\n80\n00:06:32.840 --> 00:06:35.320\nNikita Prasad: Hello, sir. Sir, am I audible?\n\n81\n00:06:37.320 --> 00:06:39.319\nHardik Bhatt: Yes, yes, yes, we are already good.\n\n82\n00:06:40.150 --> 00:06:46.990\nHardik Bhatt: So, we'll discuss in second half whatever you have explored, jointly, and, you know…\n\n83\n00:06:47.550 --> 00:06:49.610\nHardik Bhatt: A brainstorm on the new part.\n\n84\n00:06:50.750 --> 00:06:54.400\nHardik Bhatt: maintain you, like… Excellent.\n\n85\n00:06:55.310 --> 00:07:01.719\nHardik Bhatt: So, whatever the things, whatever the understanding, whatever you can explore that we can, you know, discuss.\n\n86\n00:07:02.250 --> 00:07:03.110\nHardik Bhatt: Okay.\n\n87\n00:07:03.660 --> 00:07:06.520\nHardik Bhatt: Okay, sure, bye, good night, good day.\n\ntoday's dateL: {{ $now }}","type":"array"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-80],"id":"7addba58-cebe-4ca2-bb26-bb27beacedc4","name":"setDSMTranscripts"},{"parameters":{"promptType":"define","text":"=transcripts: {{ $json.toJsonString() }}\n\n\ntoday's date: {{ $now }}","hasOutputParser":true,"options":{"systemMessage":"=You are an AI assistant specialized in analyzing Daily Standup Meeting (DSM) transcripts and generating comprehensive weekly status reports. Your task is to process multiple days of DSM transcripts and synthesize them into a structured weekly status report following a specific JSON format.\n\n## Input Format\nYou will receive an array of DSM transcripts, where each element contains:\n- `date`: Meeting date\n- `meeting_type`: Type of meeting (DSM)\n- `project`: Project name\n- `client`: Client name\n- `attendees`: List of team members\n- `transcript`: Array of timestamped conversations with speaker, role, and message\n- `action_items`: List of action items from the meeting\n- `key_metrics`: Sprint progress, story points, blockers, and demo readiness\n\n## Output Format\nGenerate a JSON object with the following structure:\n\n```json\n{\n  \"project_name\": \"SHIVA ENGINEERING SERVICES - PHASE II\",\n  \"report_date\": \"Week Ending: [Date]\",\n  \"progress_data\": [\n    {\n      \"area\": \"string\",\n      \"planned\": \"string\",\n      \"completed\": \"string\",\n      \"percent\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"tasks_completed\": [\n    {\n      \"tasks\": \"string\",\n      \"owner\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"planned_next_week\": [\n    {\n      \"task\": \"string\",\n      \"owner\": \"string\",\n      \"expected_outcome\": \"string\"\n    }\n  ],\n  \"risks_issues\": [\n    {\n      \"risk_issue\": \"string\",\n      \"impact_hml\": \"H|M|L\",\n      \"owner\": \"string\",\n      \"mitigation\": \"string\"\n    }\n  ],\n  \"blockers\": [\n    {\n      \"blockers\": \"string\",\n      \"owner\": \"string\",\n      \"action_reqd\": \"string\"\n    }\n  ],\n  \"milestone_status\": [\n    {\n      \"milestone\": \"string\",\n      \"planned_date\": \"string\",\n      \"status\": \"Completed|In Progress|At Risk|Not Started\",\n      \"comment\": \"string\"\n    }\n  ],\n  \"decisions_needed\": [\n    {\n      \"decision\": \"string\",\n      \"impact\": \"string\",\n      \"due_by\": \"string\"\n    }\n  ],\n  \"dependencies\": [\n    {\n      \"dependency\": \"string\",\n      \"status\": \"Completed|In Progress|Blocked\",\n      \"owner\": \"string\"\n    }\n  ],\n  \"action_items\": [\n    {\n      \"action_item\": \"string\",\n      \"owner\": \"string\",\n      \"due_by\": \"string\",\n      \"status\": \"Completed|In Progress|Not Started\"\n    }\n  ]\n}\n```\n\n## Analysis Instructions\n\n### 1. Progress Data\n- Identify different technical areas mentioned (Backend, Frontend, ML/AI, DevOps, Database, QA, Documentation)\n- Extract what was planned vs completed for each area\n- Calculate completion percentages based on team updates across all days\n- Add relevant notes about status or challenges\n\n### 2. Tasks Completed\n- Consolidate all \"yesterday\" accomplishments mentioned across all DSM transcripts\n- Assign proper owner based on who mentioned completing the task\n- Include brief technical notes about implementation details\n\n### 3. Planned Next Week\n- Extract all \"today I'm working on\" statements from the last day's transcript\n- Identify ongoing work that will continue into next week\n- Include expected outcomes based on team discussions\n\n### 4. Risks & Issues\n- Identify potential problems mentioned in conversations\n- Assess impact level (High/Medium/Low) based on:\n  - H: Could delay milestones, affect client demo, or block critical features\n  - M: Could slow progress but has workarounds\n  - L: Minor issues with minimal impact\n- Extract or infer mitigation strategies from team discussions\n\n### 5. Blockers\n- Find explicit blockers mentioned by team members\n- Identify the owner responsible for resolution\n- Extract or suggest required actions from the conversation\n\n### 6. Milestone Status\n- Infer project phases from sprint information and demo schedules\n- Determine status based on:\n  - Completed: Explicitly finished\n  - In Progress: Currently being worked on\n  - At Risk: Behind schedule or has blockers\n  - Not Started: Not yet begun\n- Add relevant comments about progress\n\n### 7. Decisions Needed\n- Identify questions asked by PM or team that require management input\n- Extract client requests that need approval\n- Determine urgency based on demo dates and sprint timelines\n\n### 8. Dependencies\n- Find external dependencies mentioned (client access, third-party systems, other teams)\n- Determine status from conversation context\n- Identify the responsible party or vendor\n\n### 9. Action Items\n- Consolidate action items from all days\n- Update status based on subsequent days' updates:\n  - Completed: If mentioned as done in later transcripts\n  - In Progress: If actively being worked on\n  - Not Started: If not mentioned again\n- Infer due dates from context (demo dates, sprint end, etc.)\n\n## Key Analysis Principles\n\n1. **Cross-reference across days**: Track how tasks and blockers evolve across multiple DSM transcripts\n2. **Synthesize, don't duplicate**: Combine related updates into single coherent entries\n3. **Infer intelligently**: Extract implied information from context and conversations\n4. **Maintain accuracy**: Base all data on actual transcript content, not assumptions\n5. **Use proper names**: Extract actual team member names, not just roles\n6. **Calculate realistically**: Estimate percentages based on work completed vs remaining\n7. **Prioritize client impact**: Focus on demo-related items and client requests\n8. **Technical depth**: Include specific technical details (APIs, models, integrations, metrics)\n\n## Output Requirements\n\n- Generate valid JSON only (no markdown code blocks, no explanatory text)\n- Use consistent date formatting: \"MMM DD, YYYY\" format\n- Ensure all array fields contain at least one relevant entry if data exists\n- Set realistic completion percentages (0%, 25%, 50%, 75%, 90%, 100%)\n- Keep descriptions concise but informative (1-2 sentences)\n- Maintain professional tone suitable for executive/client reporting\n\n## Special Considerations\n\n- If demo is mentioned, ensure it appears in milestone_status\n- Client feedback or requests should appear in decisions_needed\n- Security/access issues are typically High impact\n- Integration work with legacy systems often has Medium-High risk\n- Sprint metrics should inform progress_data percentages\n- Team member availability issues should be noted in risks_issues\n\nBegin processing the DSM transcripts and generate the weekly status report."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[944,-80],"id":"95539455-03f7-4c47-b241-93a9c1f6602f","name":"generateReportData"},{"parameters":{"jsonSchemaExample":"{\n  \"project_name\": \"Shiva Engineering Service <do not change this>\",\n  \"report_date\": \"Week Ending: [Date]\",\n  \"progress_data\": [\n    {\n      \"area\": \"string\",\n      \"planned\": \"string\",\n      \"completed\": \"string\",\n      \"percent\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"tasks_completed\": [\n    {\n      \"tasks\": \"string\",\n      \"owner\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"planned_next_week\": [\n    {\n      \"task\": \"string\",\n      \"owner\": \"string\",\n      \"expected_outcome\": \"string\"\n    }\n  ],\n  \"risks_issues\": [\n    {\n      \"risk_issue\": \"string\",\n      \"impact_hml\": \"H|M|L\",\n      \"owner\": \"string\",\n      \"mitigation\": \"string\"\n    }\n  ],\n  \"blockers\": [\n    {\n      \"blockers\": \"string\",\n      \"owner\": \"string\",\n      \"action_reqd\": \"string\"\n    }\n  ],\n  \"milestone_status\": [\n    {\n      \"milestone\": \"string\",\n      \"planned_date\": \"string\",\n      \"status\": \"Completed|In Progress|At Risk|Not Started\",\n      \"comment\": \"string\"\n    }\n  ],\n  \"decisions_needed\": [\n    {\n      \"decision\": \"string\",\n      \"impact\": \"string\",\n      \"due_by\": \"string\"\n    }\n  ],\n  \"dependencies\": [\n    {\n      \"dependency\": \"string\",\n      \"status\": \"Completed|In Progress|Blocked\",\n      \"owner\": \"string\"\n    }\n  ],\n  \"action_items\": [\n    {\n      \"action_item\": \"string\",\n      \"owner\": \"string\",\n      \"due_by\": \"string\",\n      \"status\": \"Completed|In Progress|Not Started\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1040,144],"id":"86878616-f594-4324-840b-98cd9ed94dd0","name":"Structured Output Parser"},{"parameters":{"method":"POST","url":"http://69.62.82.163:8000/api/generate-weekly-report","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-80],"id":"c8803f83-5a50-40d1-9713-311ee2dc45cc","name":"getReport"},{"parameters":{"sendTo":"vishal@thelinkai.com","subject":"Weekly Report","emailType":"text","message":"Please find attached the latest weekly report","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]},"ccList":"rohan@thelinkai.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1664,-80],"id":"40a5ee18-11d8-40b2-bf42-ee2132b78446","name":"sendReport","webhookId":"1534c2ae-708a-4968-b33d-9f2f6a1041da","credentials":{"gmailOAuth2":{"id":"qHOlzqpoxS8A6vYT","name":"testemail"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[800,128],"id":"4fb68249-2cb3-4908-be30-2a8b6aa07113","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Bd93ptZVkUbolZmU","name":"OpenAi account 12"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"setDSMTranscripts","type":"main","index":0}]]},"setDSMTranscripts":{"main":[[{"node":"generateReportData","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"generateReportData","type":"ai_outputParser","index":0}]]},"generateReportData":{"main":[[{"node":"getReport","type":"main","index":0}]]},"getReport":{"main":[[{"node":"sendReport","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"generateReportData","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a73c420-eeec-4606-ab1a-336a51e479ff","triggerCount":0,"tags":[]}