getdsm-NDD8kn3xngb80KOn.json
{"updatedAt":"2025-12-11T06:57:05.000Z","createdAt":"2025-12-11T04:14:09.957Z","id":"NDD8kn3xngb80KOn","name":"getDSM","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,-64],"id":"de05cc40-833c-4bb0-8b6a-22f637e8f93d","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"449d617e-2e4c-4b71-9e2a-aa380c63c98b","name":"transcripts","value":"=WEBVTT\n\n1\n00:00:00.080 --> 00:00:05.500\nHardik Bhatt: the… Fine-tune or the, you know, customized model.\n\n2\n00:00:06.330 --> 00:00:12.540\nHardik Bhatt: In which, which are the open source models available, which are the NLP feature in there.\n\n3\n00:00:13.290 --> 00:00:17.579\nHardik Bhatt: So far, you have not explored anything featured in the open source model.\n\n4\n00:00:17.940 --> 00:00:22.580\nHardik Bhatt: So, that is very important to, you know, self-learn and adapt.\n\n5\n00:00:22.680 --> 00:00:31.100\nHardik Bhatt: Nothing's… How it… how, like, what are the open source models available? How it is working?\n\n6\n00:00:31.840 --> 00:00:42.920\nHardik Bhatt: For self-learning, do we need to provide, you know, our databases, and only they can learn. I don't know what could be the challenges, but that is to be explained.\n\n7\n00:00:45.700 --> 00:00:55.179\nHardik Bhatt: That is the thing which I could see that, you know, that is required as of now. So that, along with the vision, this also is required.\n\n8\n00:00:55.930 --> 00:00:57.330\nHardik Bhatt: Yes, Ron?\n\n9\n00:00:59.750 --> 00:01:02.399\nRohan Shaw: So, today I will,\n\n10\n00:01:03.260 --> 00:01:08.350\nRohan Shaw: work on the thing, a workflow, which I… which I started, yesterday on the weekly report only.\n\n11\n00:01:08.460 --> 00:01:13.900\nRohan Shaw: So today, I will, use this recording and then integrate with the system I built yesterday.\n\n12\n00:01:14.900 --> 00:01:25.460\nHardik Bhatt: Sorry? Weekly status report, we just, given tasks, and he has almost completed. Now, thus, we are fine-tuning this. I'll also check from my dad and mom's also.\n\n13\n00:01:25.550 --> 00:01:40.859\nHardik Bhatt: So, I think today it will be the 10th, right? Today is the first time it will be done. Okay. So, like, we'll review once it is done, we'll see what kind of, you know, dynamic provisions are there, how we can incorporate those aspects. Okay. Yes, Noel?\n\n14\n00:01:43.390 --> 00:01:44.320\nNavya Sree Sandineni: That's jaw.\n\n15\n00:01:44.700 --> 00:01:47.390\nNavya Sree Sandineni: Currently, I'm exploring, like, a…\n\n16\n00:01:47.560 --> 00:01:58.380\nNavya Sree Sandineni: How to, you know, how to improve the accuracy of the model, and what are the different models we can use, and how to… if planning is required, how we can do\n\n17\n00:01:58.530 --> 00:02:00.789\nNavya Sree Sandineni: And also, I'm, exploring…\n\n18\n00:02:00.900 --> 00:02:10.190\nNavya Sree Sandineni: Like, if we give any PNITs and, it will store how it will store that, data with the RAG system, and I'm exporting all those kind of things.\n\n19\n00:02:10.430 --> 00:02:12.569\nHardik Bhatt: I'll let you know every second of what…\n\n20\n00:02:12.790 --> 00:02:13.829\nNavya Sree Sandineni: I have done.\n\n21\n00:02:14.370 --> 00:02:17.380\nHardik Bhatt: Yes, yes, please do. Okay, Nikita?\n\n22\n00:02:18.970 --> 00:02:30.739\nNikita Prasad: Today, I will work on, like, what we discussed yesterday at the end of the day, and by second half, probably, I'll just update, like, what I've explored about each model and all.\n\n23\n00:02:33.640 --> 00:02:36.730\nHardik Bhatt: Okay, so, you know, today we got a mail.\n\n24\n00:02:36.860 --> 00:02:44.320\nHardik Bhatt: for civil inputs. Okay. All data we have received. So, that will put it in the server.\n\n25\n00:02:44.460 --> 00:02:52.170\nHardik Bhatt: And, server finalization to be done today, so all the things gradually we should fit in. Okay. So, that we will do.\n\n26\n00:02:54.140 --> 00:02:58.500\nHardik Bhatt: Further planning can be done. Civil also can be done. Okay.\n\n27\n00:02:59.660 --> 00:03:03.639\nHardik Bhatt: Okay, so… Yeah, yeah, I'll work with,\n\n28\n00:03:03.950 --> 00:03:15.950\nHardik Bhatt: Yeah, weekly status report. I will throw one, second thing, folder structure to be decided. And, third thing, GitLab, I think created GitLab Project Management.\n\n29\n00:03:15.950 --> 00:03:32.349\nHardik Bhatt: So, that all, means all the things to be finalized means how we will, create issues, then how we will assign it to, members, and how they… so, what outcomes there, then how we can automatically\n\n30\n00:03:32.350 --> 00:03:38.510\nHardik Bhatt: inserting our task to GitLab, so all that things… Very exploratory.\n\n31\n00:03:39.110 --> 00:03:58.229\nHardik Bhatt: Next week onward, let's finalize a couple of systems, like, you know, the builder structure, the project management. Let's start implementing those things. By this week, we could, input also. Yeah, okay. Let's start implementing those things. Yes, yes, absolutely. Also, plus implementation also. Okay.\n\n32\n00:03:59.070 --> 00:04:00.230\nHardik Bhatt: Okay.\n\n33\n00:04:01.690 --> 00:04:03.920\nHardik Bhatt: Okay, thank you, all of you.\n\n34\n00:04:04.200 --> 00:04:05.180\nNikita Prasad: Thank you, sir.","type":"array"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-64],"id":"0968fc99-ba8c-4c48-aa3b-d051050adc44","name":"setDSMTranscripts"},{"parameters":{"promptType":"define","text":"=transcripts: {{ $json.toJsonString() }}\n\n\ntoday's date: {{ $now }}","hasOutputParser":true,"options":{"systemMessage":"=You are an AI assistant specialized in analyzing Daily Standup Meeting (DSM) transcripts and generating comprehensive weekly status reports. Your task is to process multiple days of DSM transcripts and synthesize them into a structured weekly status report following a specific JSON format.\n\n## Input Format\nYou will receive an array of DSM transcripts, where each element contains:\n- `date`: Meeting date\n- `meeting_type`: Type of meeting (DSM)\n- `project`: Project name\n- `client`: Client name\n- `attendees`: List of team members\n- `transcript`: Array of timestamped conversations with speaker, role, and message\n- `action_items`: List of action items from the meeting\n- `key_metrics`: Sprint progress, story points, blockers, and demo readiness\n\n## Output Format\nGenerate a JSON object with the following structure:\n\n```json\n{\n  \"project_name\": \"SHIVA ENGINEERING SERVICES - PHASE II\",\n  \"report_date\": \"Week Ending: [Date]\",\n  \"progress_data\": [\n    {\n      \"area\": \"string\",\n      \"planned\": \"string\",\n      \"completed\": \"string\",\n      \"percent\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"tasks_completed\": [\n    {\n      \"tasks\": \"string\",\n      \"owner\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"planned_next_week\": [\n    {\n      \"task\": \"string\",\n      \"owner\": \"string\",\n      \"expected_outcome\": \"string\"\n    }\n  ],\n  \"risks_issues\": [\n    {\n      \"risk_issue\": \"string\",\n      \"impact_hml\": \"H|M|L\",\n      \"owner\": \"string\",\n      \"mitigation\": \"string\"\n    }\n  ],\n  \"blockers\": [\n    {\n      \"blockers\": \"string\",\n      \"owner\": \"string\",\n      \"action_reqd\": \"string\"\n    }\n  ],\n  \"milestone_status\": [\n    {\n      \"milestone\": \"string\",\n      \"planned_date\": \"string\",\n      \"status\": \"Completed|In Progress|At Risk|Not Started\",\n      \"comment\": \"string\"\n    }\n  ],\n  \"decisions_needed\": [\n    {\n      \"decision\": \"string\",\n      \"impact\": \"string\",\n      \"due_by\": \"string\"\n    }\n  ],\n  \"dependencies\": [\n    {\n      \"dependency\": \"string\",\n      \"status\": \"Completed|In Progress|Blocked\",\n      \"owner\": \"string\"\n    }\n  ],\n  \"action_items\": [\n    {\n      \"action_item\": \"string\",\n      \"owner\": \"string\",\n      \"due_by\": \"string\",\n      \"status\": \"Completed|In Progress|Not Started\"\n    }\n  ]\n}\n```\n\n## Analysis Instructions\n\n### 1. Progress Data\n- Identify different technical areas mentioned (Backend, Frontend, ML/AI, DevOps, Database, QA, Documentation)\n- Extract what was planned vs completed for each area\n- Calculate completion percentages based on team updates across all days\n- Add relevant notes about status or challenges\n\n### 2. Tasks Completed\n- Consolidate all \"yesterday\" accomplishments mentioned across all DSM transcripts\n- Assign proper owner based on who mentioned completing the task\n- Include brief technical notes about implementation details\n\n### 3. Planned Next Week\n- Extract all \"today I'm working on\" statements from the last day's transcript\n- Identify ongoing work that will continue into next week\n- Include expected outcomes based on team discussions\n\n### 4. Risks & Issues\n- Identify potential problems mentioned in conversations\n- Assess impact level (High/Medium/Low) based on:\n  - H: Could delay milestones, affect client demo, or block critical features\n  - M: Could slow progress but has workarounds\n  - L: Minor issues with minimal impact\n- Extract or infer mitigation strategies from team discussions\n\n### 5. Blockers\n- Find explicit blockers mentioned by team members\n- Identify the owner responsible for resolution\n- Extract or suggest required actions from the conversation\n\n### 6. Milestone Status\n- Infer project phases from sprint information and demo schedules\n- Determine status based on:\n  - Completed: Explicitly finished\n  - In Progress: Currently being worked on\n  - At Risk: Behind schedule or has blockers\n  - Not Started: Not yet begun\n- Add relevant comments about progress\n\n### 7. Decisions Needed\n- Identify questions asked by PM or team that require management input\n- Extract client requests that need approval\n- Determine urgency based on demo dates and sprint timelines\n\n### 8. Dependencies\n- Find external dependencies mentioned (client access, third-party systems, other teams)\n- Determine status from conversation context\n- Identify the responsible party or vendor\n\n### 9. Action Items\n- Consolidate action items from all days\n- Update status based on subsequent days' updates:\n  - Completed: If mentioned as done in later transcripts\n  - In Progress: If actively being worked on\n  - Not Started: If not mentioned again\n- Infer due dates from context (demo dates, sprint end, etc.)\n\n## Key Analysis Principles\n\n1. **Cross-reference across days**: Track how tasks and blockers evolve across multiple DSM transcripts\n2. **Synthesize, don't duplicate**: Combine related updates into single coherent entries\n3. **Infer intelligently**: Extract implied information from context and conversations\n4. **Maintain accuracy**: Base all data on actual transcript content, not assumptions\n5. **Use proper names**: Extract actual team member names, not just roles\n6. **Calculate realistically**: Estimate percentages based on work completed vs remaining\n7. **Prioritize client impact**: Focus on demo-related items and client requests\n8. **Technical depth**: Include specific technical details (APIs, models, integrations, metrics)\n\n## Output Requirements\n\n- Generate valid JSON only (no markdown code blocks, no explanatory text)\n- Use consistent date formatting: \"MMM DD, YYYY\" format\n- Ensure all array fields contain at least one relevant entry if data exists\n- Set realistic completion percentages (0%, 25%, 50%, 75%, 90%, 100%)\n- Keep descriptions concise but informative (1-2 sentences)\n- Maintain professional tone suitable for executive/client reporting\n\n## Special Considerations\n\n- If demo is mentioned, ensure it appears in milestone_status\n- Client feedback or requests should appear in decisions_needed\n- Security/access issues are typically High impact\n- Integration work with legacy systems often has Medium-High risk\n- Sprint metrics should inform progress_data percentages\n- Team member availability issues should be noted in risks_issues\n\nBegin processing the DSM transcripts and generate the weekly status report."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[96,-64],"id":"e0458029-36a4-4b45-bc9b-9b345f8ff057","name":"generateReportData"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-48,144],"id":"b50b8cd8-b7c4-4996-a97b-114888b1d84d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"hd2xj5G3oXiLZkmw","name":"OpenRouter - SES"}}},{"parameters":{"jsonSchemaExample":"{\n  \"project_name\": \"Shiva Engineering Service <do not change this>\",\n  \"report_date\": \"Week Ending: [Date]\",\n  \"progress_data\": [\n    {\n      \"area\": \"string\",\n      \"planned\": \"string\",\n      \"completed\": \"string\",\n      \"percent\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"tasks_completed\": [\n    {\n      \"tasks\": \"string\",\n      \"owner\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"planned_next_week\": [\n    {\n      \"task\": \"string\",\n      \"owner\": \"string\",\n      \"expected_outcome\": \"string\"\n    }\n  ],\n  \"risks_issues\": [\n    {\n      \"risk_issue\": \"string\",\n      \"impact_hml\": \"H|M|L\",\n      \"owner\": \"string\",\n      \"mitigation\": \"string\"\n    }\n  ],\n  \"blockers\": [\n    {\n      \"blockers\": \"string\",\n      \"owner\": \"string\",\n      \"action_reqd\": \"string\"\n    }\n  ],\n  \"milestone_status\": [\n    {\n      \"milestone\": \"string\",\n      \"planned_date\": \"string\",\n      \"status\": \"Completed|In Progress|At Risk|Not Started\",\n      \"comment\": \"string\"\n    }\n  ],\n  \"decisions_needed\": [\n    {\n      \"decision\": \"string\",\n      \"impact\": \"string\",\n      \"due_by\": \"string\"\n    }\n  ],\n  \"dependencies\": [\n    {\n      \"dependency\": \"string\",\n      \"status\": \"Completed|In Progress|Blocked\",\n      \"owner\": \"string\"\n    }\n  ],\n  \"action_items\": [\n    {\n      \"action_item\": \"string\",\n      \"owner\": \"string\",\n      \"due_by\": \"string\",\n      \"status\": \"Completed|In Progress|Not Started\"\n    }\n  ]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[272,144],"id":"a97f1e6d-c599-40c9-ba89-d7be3ed6a2e8","name":"Structured Output Parser"},{"parameters":{"method":"POST","url":"http://69.62.82.163:8000/api/generate-weekly-report","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-64],"id":"c1754aed-43cc-431c-b6d1-c9a7661ed460","name":"getReport"},{"parameters":{"sendTo":"vishal@thelinkai.com","subject":"Weekly Report","emailType":"text","message":"Please find attached the latest weekly report","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]},"ccList":"rohan@thelinkai.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[736,-64],"id":"1de1e40a-4750-4bbe-92bd-69368deee36e","name":"sendReport","webhookId":"1534c2ae-708a-4968-b33d-9f2f6a1041da","credentials":{"gmailOAuth2":{"id":"qHOlzqpoxS8A6vYT","name":"testemail"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"setDSMTranscripts","type":"main","index":0}]]},"setDSMTranscripts":{"main":[[{"node":"generateReportData","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"generateReportData","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"generateReportData","type":"ai_outputParser","index":0}]]},"generateReportData":{"main":[[{"node":"getReport","type":"main","index":0}]]},"getReport":{"main":[[{"node":"sendReport","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caa6016b-2d9a-4c79-81c0-c82379e8c531","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.960Z","createdAt":"2025-12-11T08:33:33.960Z","role":"workflow:owner","workflowId":"NDD8kn3xngb80KOn","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}