getlastconvo-3eOsT26YjzFMP8l5.json
{"updatedAt":"2025-08-09T16:42:28.000Z","createdAt":"2025-08-09T16:37:37.255Z","id":"3eOsT26YjzFMP8l5","name":"getLastConvo","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,0],"id":"7e5bcc8d-f58f-4b89-8c71-b22d2b841519","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://api.getzep.com/api/v2/sessions/thelinkai-session/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,0],"id":"74ecabbb-305d-4a07-857b-fc9747c76872","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"f31a8673-6760-49a9-b734-9cbdc8370cec","name":"data","value":"={{ $json.data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,0],"id":"e0a75c7f-2f54-4727-9090-e0d04da68b54","name":"Edit Fields"},{"parameters":{"language":"python","pythonCode":"import json\n\n# 'items' is automatically provided by n8n\nmessages = items[0][\"json\"][\"data\"][\"messages\"]\n\n# Take only the last 10 messages (5 pairs)\nlast_messages = messages[-10:]\n\npairs = []\nfor i in range(0, len(last_messages), 2):\n    human_msg = last_messages[i].get(\"content\", \"\")\n    ai_msg = last_messages[i + 1].get(\"content\", \"\") if i + 1 < len(last_messages) else \"\"\n    pairs.append({\"human\": human_msg, \"ai\": ai_msg})\n\n# Return data in n8n's required format\nreturn [{\"json\": {\"pairs\": pairs}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0],"id":"419617d9-1ae9-4673-8e03-7513a0b2cbe1","name":"Code1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"21f2b9d9-6870-4aeb-974b-7c552eed19d5","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.529Z","createdAt":"2025-12-11T08:33:33.529Z","role":"workflow:owner","workflowId":"3eOsT26YjzFMP8l5","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}