gmail-urgent-email-to-telegram-alert-WfCaXy4HmFAD4tVx.json
{"createdAt":"2025-07-20T08:41:03.790Z","updatedAt":"2025-07-20T09:49:14.000Z","id":"WfCaXy4HmFAD4tVx","name":"Gmail Urgent Email to Telegram Alert","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"id":"gmail-trigger","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[240,304],"notesInFlow":true,"notes":"📧 **GMAIL TRIGGER CONFIGURATION**nn**Required Setup:**n1. Add Gmail OAuth2 credentialsn2. Grant required scopes:n   - gmail.readonlyn   - gmail.modifynn**Current Settings:**n- Monitors for emails with \"subject:Urgent\"n- Triggers on new message receivedn- Simple mode enabled for cleaner datann**To Customize:**n- Change query to monitor different subjectsn- Add more filters (from:, to:, etc.)n- Adjust polling intervalnn**Test:** Send email with \"Urgent\" in subject"},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"={{ $json.formattedMessage }}","additionalFields":{}},"id":"send-telegram-alert","name":"Send Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,304],"webhookId":"37d74caf-a303-44a5-8aef-06c49c303608","notes":"📱 **TELEGRAM ALERT CONFIGURATION**nn**Required Setup:**n1. Create Telegram bot via @BotFathern2. Get your chat ID (use @get_id_bot)n3. Add Telegram Bot Token credentialsnn**Current Settings:**n- Sends formatted messagen- Uses Markdown parsingn- Disables web previewnn**To Configure:**n- Replace YOUR_TELEGRAM_CHAT_ID with actual chat IDn- Add bot token credentialsn- Customize message format if needednn**Test:** Check if bot can send messages to your chat"},{"parameters":{"method":"POST","url":"YOUR_WEBHOOK_URL","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"event_type","value":"urgent_email_received"},{"name":"email_subject","value":"={{ $json.emailSubject }}"},{"name":"email_sender","value":"={{ $json.emailSender }}"},{"name":"timestamp","value":"={{ new Date().toISOString() }}"}]},"options":{}},"id":"log-event-webhook","name":"Log Event to Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304],"notesInFlow":true,"notes":"🌐 **WEBHOOK LOGGING (OPTIONAL)**nn**Purpose:** Logs events to external systemnn**Current Configuration:**n- POST request to YOUR_WEBHOOK_URLn- Sends JSON with event detailsn- Includes timestamp and email infonn**To Configure:**n- Replace YOUR_WEBHOOK_URL with actual endpointn- Add authentication if requiredn- Customize payload formatnn**Data Sent:**n- event_type: \"urgent_email_received\"n- email_subject, email_sendern- timestamp: ISO formatnn**Can be disabled** if not needed"},{"parameters":{"jsCode":"// Format the email data into a Telegram messagenconst emailData = $input.first().json;nnconst formattedMessage = `🚨 *URGENT EMAIL ALERT*nn*Subject:* ${emailData.subject}n*From:* ${emailData.from}n*Date:* ${emailData.date}n*Snippet:* ${emailData.snippet}nn*Email ID:* ${emailData.id}`;nnreturn [{n  json: {n    ...emailData,n    formattedMessage: formattedMessagen  }n}];"},"id":"format-message","name":"Format Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"notesInFlow":true,"notes":"💻 **CODE NODE - MESSAGE FORMATTING**nn**Purpose:** Formats email data for Telegramnn**What it does:**n- Extracts email details (subject, sender, date, snippet)n- Creates formatted message with emojis and markdownn- Preserves original email datann**Customization:**n- Modify message templaten- Add/remove fieldsn- Change formatting stylenn**Output:**n- formattedMessage: Ready for Telegramn- All original email data preserved"}],"connections":{"Send Telegram Alert":{"main":[[{"node":"Log Event to Webhook","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Format Message","type":"main","index":0}]]},"Format Message":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":{},"versionId":"e973dfda-7db3-4bd7-96e0-86bf5a04bd5c","triggerCount":0,"tags":[]}