gmail-ai-reply-28rdavS5zGcxAuBp.json
{"updatedAt":"2025-10-13T12:50:39.000Z","createdAt":"2025-10-09T09:15:40.729Z","id":"28rdavS5zGcxAuBp","name":"Gmail AI reply","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,0],"id":"ff454395-d7ac-42de-81c5-2c7735c39227","name":"Check for New msg","credentials":{"gmailOAuth2":{"id":"KqYzZY03fmH6tjVY","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[272,16],"id":"8aaedb11-e1e7-4e60-9d76-8ceab8503089","name":"Get a message","webhookId":"67dad25f-4dba-4008-a1ee-1700742001de","credentials":{"gmailOAuth2":{"id":"KqYzZY03fmH6tjVY","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=You are Email Responding Agent\n\nBelow are the content of latest email I got\n\nSubject:{{ $json.labels }}\n\nBody:{{ $json.snippet }}\n\nYou have to do 2 things.\n1. Specify the label based on the email\nuse the tool to get all the labels and there Id and mention both of them properly.\nlabel can be one of below :\ncourse\ndoubt\nsponsership\n2. as a smart assistant please draft the response of me so that I can reply to my email.with subject and body.\n\nMake sure that reply is very respectable whenever required please explain studen doubt in depth with example and also make sure that reply follows html format so it is easy to read.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[480,16],"id":"a9932d25-c484-4f2c-bb21-8e4834a44acb","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[352,224],"id":"d0ddf819-60dc-4429-b125-a79d2050cfb4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BEGEMDUz1LXVfQ41","name":"OpenAi account 11"}}},{"parameters":{"jsonSchemaExample":"{\n  \"label\": \"dought\",\n  \"label_id\":\"1234654\",\n  \"Subject\":\"doubt_ans\",\n  \"reply\": \"thanks for reaching out\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[656,224],"id":"e39f68a9-dd23-41a5-90aa-e992ecb5809b","name":"Structured Output Parser"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Get a message').item.json.id }}","labelIds":"={{ $json.output.label_id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[832,16],"id":"ccc4d48f-421c-4034-b2a6-64749aae15af","name":"Add label to message","webhookId":"f5a6b251-c95e-479d-9a71-43509262c169","credentials":{"gmailOAuth2":{"id":"KqYzZY03fmH6tjVY","name":"Gmail account"}}},{"parameters":{"resource":"label","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[496,272],"id":"834bf8ea-d04f-4992-ba07-d2e68c1c5fa0","name":"Get many labels in Gmail","webhookId":"5a9c5c2b-5383-4e6a-93b2-f19205b7c798","credentials":{"gmailOAuth2":{"id":"KqYzZY03fmH6tjVY","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"={{ $('AI Agent').item.json.output.Subject }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,16],"id":"63b46ac6-f51e-4748-b161-a58d9e7343c7","name":"Create a draft","webhookId":"1fb822b4-f587-4f43-81bc-9d7e433a6f69","credentials":{"gmailOAuth2":{"id":"KqYzZY03fmH6tjVY","name":"Gmail account"}}}],"connections":{"Check for New msg":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Add label to message","type":"main","index":0}]]},"Get many labels in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Add label to message":{"main":[[{"node":"Create a draft","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Check for New msg":[{"json":{"id":"199dc17bd9f5d3f5","threadId":"199dc17bd9f5d3f5","snippet":"Jobs similar to Assistant Manager - Global Service Operations at Tata Communications ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏","payload":{"mimeType":"multipart/alternative"},"sizeEstimate":162604,"historyId":"6347104","internalDate":"1760334165000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"IMPORTANT","name":"IMPORTANT"},{"id":"CATEGORY_UPDATES","name":"CATEGORY_UPDATES"}],"From":"LinkedIn <jobs-noreply@linkedin.com>","Subject":"New jobs similar to Assistant Manager - Global Service Operations at Tata Communications","To":"\"Vishal Vadalkar PMP ®, CSM®\" <vvvadalkar@gmail.com>"}}]},"versionId":"934d476a-203f-488e-bedc-d28c9a493556","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.678Z","createdAt":"2025-12-11T08:33:33.678Z","role":"workflow:owner","workflowId":"28rdavS5zGcxAuBp","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}