information-extractor-0aVDVm0vCh2HZ3fW.json
{"createdAt":"2025-11-22T12:04:16.942Z","updatedAt":"2025-11-24T11:15:36.000Z","id":"0aVDVm0vCh2HZ3fW","name":"information extractor","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ceb768c8-8b36-4e26-adcf-1a62f6f4bf57","leftValue":"={{ $json.article_link }}","rightValue":".pdf","operator":{"type":"string","operation":"contains"}},{"id":"06a4a9e3-0c48-458d-95e8-6c63fc77eb63","leftValue":"=data {{ $json.article_link }}","rightValue":".jpg","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,592],"id":"88826a38-93b3-4bc4-ab85-5bedc7e1191d","name":"If1"},{"parameters":{"url":"={{ $json.article_link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,416],"id":"bd5993f9-aa32-461b-9504-770453dcee59","name":"article-url-to-html","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"text":"={{ $json.data }}","attributes":{"attributes":[{"name":"output"}]},"options":{"systemPromptTemplate":"=You are the Official Website Mission/Vision Information Extractor for TheLinkAI.\n\nYour task is to analyze ONLY the provided HTML content and extract the company’s:\n- mission statement\n- vision statement\n- confidence levels\n- source URLs used\n- website identification\n\nYou MUST extract ONLY what appears inside the HTML. \nIf a field is not present in the HTML, leave it empty (\"\") and set confidence to \"none\".\n\nDo NOT use external knowledge.\nDo NOT infer beyond what the HTML explicitly states.\nDo NOT modify or rewrite content except to remove boilerplate UI text.\n\n-----------------------------------\nEXTRACTION RULES\n-----------------------------------\nMISSION:\n• If HTML includes a section titled “Mission”, extract the exact text.\n• If a purpose/value description functions as a mission → extract and use \"medium\" confidence.\n• If no mission present → mission = \"\" and mission_confidence = \"none\".\n\nVISION:\n• If HTML includes a section titled “Vision”, extract exact text.\n• If inferable from strategic statements → extract shortest meaningful part and set vision_confidence = \"low\".\n• If not present → vision = \"\" and vision_confidence = \"none\".\n\nWEBSITE:\n• The domain or base URL of the page being analyzed.\n\nSOURCE LINKS:\n• Must list ALL URLs that were provided as input (validated_urls).\n\n-----------------------------------\nOUTPUT FORMAT (STRICT)\n-----------------------------------\nReturn ONLY this JSON:\n\n{\n  \"website\": \"\",\n  \"mission\": \"\",\n  \"mission_confidence\": \"\",\n  \"mission_source_url\": \"\",\n  \"vision\": \"\",\n  \"vision_confidence\": \"\",\n  \"vision_source_url\": \"\",\n  \"source_links\": []\n}\n\nNo markdown.\nNo explanations.\nOnly the JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1088,592],"id":"a599af67-355a-46bb-945b-4433badbaad9","name":"extracting-article-content","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1040,816],"id":"6b05ad50-4e74-4e14-a6a1-62481f9376fe","name":"Google Gemini Chat Model20"},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,592],"id":"00050929-0c74-47ab-bff7-07d47fb1a116","name":"Execute Workflow"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"article-url-to-html","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"extracting-article-content","type":"main","index":0}]]},"article-url-to-html":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Gemini Chat Model20":{"ai_languageModel":[[{"node":"extracting-article-content","type":"ai_languageModel","index":0}]]},"extracting-article-content":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5cef0eb3-fdf0-4f6a-b92e-4dfd4aa59c78","triggerCount":0,"tags":[]}