information-extractor-XRHR2JwAmoXNkhFW.json
{"updatedAt":"2025-11-27T10:17:39.000Z","createdAt":"2025-11-27T04:59:19.595Z","id":"XRHR2JwAmoXNkhFW","name":"information-extractor","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"4ff03007-41f4-4fc9-9795-d7751587d740","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"a55aa7c4-3169-4749-be5d-9a81dcdb8498","name":"HTTP Request"},{"parameters":{"text":"={{ $json.data }}","attributes":{"attributes":[{"name":"mission","description":"mission of the company"},{"name":"vision","description":"vision of the company"},{"name":"purpose","description":"purpose of the company"},{"name":"description","description":"description of the company"},{"name":"goals or strategy","description":"goals and strategy"}]},"options":{"systemPromptTemplate":"=You are an HTML Content Summarization Agent.\n\nYour only job is to read the raw HTML content provided in the input and produce a clean, concise summary containing ONLY the important information that is actually present in the HTML.\n\n----------------------------------------------------------------------\nSTRICT RULES\n----------------------------------------------------------------------\n\n1. **Use ONLY the content inside the provided HTML.**\n   - No external knowledge.\n   - No assumptions.\n   - No hallucinations or invented facts.\n\n2. **Remove all UI/boilerplate elements**, such as:\n   - menus, headers, footers\n   - navigation links\n   - cookie banners\n   - buttons\n   - forms\n   - ads\n   - pagination\n\n3. **Extract ONLY meaningful text**, such as:\n   - sections describing the company\n   - product information\n   - services\n   - mission/vision (if present)\n   - business activities\n   - news content\n   - insights or key messages\n   - article/blog content\n\n4. **Summarize the useful content clearly and accurately.**\n   - No rewriting meaning.\n   - Preserve factual phrases from the HTML.\n   - Compress long text into meaningful points.\n\n5. **Return ONLY JSON. No explanations. No markdown.**\n\n----------------------------------------------------------------------\nOUTPUT FORMAT\n----------------------------------------------------------------------\n\nReturn exactly this JSON structure:\n\n{\n  \"summary\": \"\",          // clean summarized text from HTML, only meaningful content\n  \"important_points\": [], // list of key points extracted from the HTML\n  \"website\": \"\",          // base domain from the analyzed URL\n  \"source_links\": []      // all URLs received as input\n}\n\n----------------------------------------------------------------------\nSUMMARY RULES\n----------------------------------------------------------------------\n\n• The summary must include ONLY information explicitly present in the HTML.  \n• Do NOT beautify the writing; just make it readable and concise.  \n• Keep the meaning intact.  \n• Do NOT add titles or labels unless they appear in HTML.  \n• If HTML is empty or contains no meaningful info → summary = \"\" and important_points = [].\n\n----------------------------------------------------------------------\nIMPORTANT POINTS RULES\n----------------------------------------------------------------------\n\nExtract bullet-style short items such as:\n• what the page is about  \n• products or services listed  \n• key messages  \n• announcements  \n• statistics  \n• names, dates, events (only if inside HTML)  \n\n----------------------------------------------------------------------\nWEBSITE EXTRACTION\n----------------------------------------------------------------------\n\n• Extract the base domain from the URL being analyzed (e.g., \"https://example.com\").  \n• If not provided, return \"\".\n\n----------------------------------------------------------------------\nFINAL REQUIREMENT\n----------------------------------------------------------------------\n\nReturn **ONLY JSON**, nothing else.\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[400,0],"id":"06a67b10-d08a-4560-bd91-0926ef2506b3","name":"extracting-article-content","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[416,256],"id":"322fb124-6aba-4f30-9c6f-7346d7ecd778","name":"Google Gemini Chat Model20","credentials":{"googlePalmApi":{"id":"CHdOL0M80XP7uKzC","name":"Google Gemini(PaLM) Api account-pooja963"}}},{"parameters":{"workflowId":{"__rl":true,"value":"UURWqgsXqZVziNUg","mode":"list","cachedResultName":"agent4-webscraping-news/article"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[752,0],"id":"0d22068e-1ad0-4ad2-a7f5-b568e6a2eda7","name":"Execute Workflow"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Gemini Chat Model20":{"ai_languageModel":[[{"node":"extracting-article-content","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"extracting-article-content","type":"main","index":0}]]},"extracting-article-content":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"extracting-article-content":[{"json":{"output":{"mission":"To contribute to human welfare by application of biomedical engineering in the research, design, manufacture, and sale of instruments or appliances that alleviate pain, restore health, and extend life.","vision":"to be the global healthcare technology leader, alleviating pain, restoring health, and extending life.","purpose":"Contribute to human welfare","description":"If you're looking at the medical device space, you have to start with Medtronic plc. This company isn't just a player; it's the largest medical device company in the world by revenue, and its history is the history of modern medical technology itself. Medtronic started small in 1949 in a Minneapolis, Minnesota, garage, founded by Earl Bakken and Palmer Hermundslie as a medical equipment repair shop. Their early innovation, the first battery-powered, wearable cardiac pacemaker in 1957, fundamentally changed cardiac care. Today, Medtronic operates in over 150 countries, providing a vast portfolio of healthcare technologies and therapies. The company's focus is on four major segments, which together generated worldwide revenue of $33.537 billion for the full fiscal year 2025 (FY25), an increase of 3.6% as reported. That's a massive operation. Cardiovascular Portfolio: Pacemakers, defibrillators, stents. Neuroscience Portfolio: Spinal fixation devices, neurovascular products. Medical Surgical Portfolio: Surgical tools, advanced energy products. Diabetes: Insulin pumps and glucose monitoring systems.","goals or strategy":"This robust performance led the company to raise its full-year FY26 guidance, now projecting organic revenue growth of about 5.5% and adjusted EPS in the range of $5.62 to $5.66. The company is committed to flowing 20% of its revenue from new products and therapies back into research and development (R&D) innovation, a commitment they surpassed in FY25. This self-funding model for innovation is how they ensure a continuous pipeline of life-extending technologies. Plus, the strong Q2 FY26 revenue of $9.0 billion with a 6.6% increase confirms that their strategic bets on innovation are accelerating growth. They're not waiting for the future; they're engineering it. In FY25, Medtronic served more than 79 million patients globally, and they've set a goal to serve 82 million in FY26. Cardiac Ablation Solutions revenue rose 71% in Q2 FY26. Diabetes revenue grew 10% in Q2 FY26. The goal is to serve 82 million patients in FY26. The final pillar, extending life, is the long-term play, requiring massive investment in research and development (R&D) and a global reach. Near-term opportunities like the Altaviva™ device for urge urinary incontinence and the Symplicity™ procedure for uncontrolled hypertension are key. Advanced product innovation, surpassing their goal to flow 20% of revenue from new products and therapies back into R&D. Drove a 71% year-over-year growth in the Cardiac Ablation Solutions business in Q2 FY26, largely due to the strength of the pulsed field ablation (PFA) portfolio. Launched Medtronic Spark, a global initiative aiming to get one million students from low-income households into health tech careers over ten years."}}}]},"versionId":"a1e2d5f1-e72b-46dc-9a47-f055a792f729","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.940Z","createdAt":"2025-12-11T08:33:33.940Z","role":"workflow:owner","workflowId":"XRHR2JwAmoXNkhFW","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}