leave-application---notion-NTltWtl7uvXXs3eO.json
{"createdAt":"2025-09-10T07:17:29.186Z","updatedAt":"2025-09-10T12:44:28.000Z","id":"NTltWtl7uvXXs3eO","name":"Leave Application - Notion","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"83a64c3a-236f-4021-8ed7-d2e699c926ef","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f94aca0d-5806-40c6-b488-e7e74969556d","name":"Webhook","webhookId":"83a64c3a-236f-4021-8ed7-d2e699c926ef"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"22d6a291-5024-80e2-b2b7-ee08ca80f46f","mode":"list","cachedResultName":"Team","cachedResultUrl":"https://www.notion.so/22d6a291502480e2b2b7ee08ca80f46f"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"Person|people","condition":"contains","peopleValue":"={{ $json.body.data.properties[\"Created by\"].created_by.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[208,0],"id":"491b0686-2677-4341-bbb0-cad7641ad0dd","name":"Get many database pages","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.data.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Employee|relation","relationValue":["={{ $json.id }}"]},{"key":"Name|title","title":"={{ $('Webhook').item.json.body.data.properties[\"Created by\"].created_by.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[416,16],"id":"66c4ba57-5701-4edd-9c1d-103549684b2e","name":"Update a database page","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}}],"connections":{"Webhook":{"main":[[{"node":"Get many database pages","type":"main","index":0}]]},"Get many database pages":{"main":[[{"node":"Update a database page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.thelinkai.com","user-agent":"NotionAutomation","content-length":"2249","baggage":"sentry-environment=production,sentry-release=20250910.0216-5b812d1,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=96073969790445a8a517913de041eb65","content-type":"application/json","sentry-trace":"96073969790445a8a517913de041eb65-9bed350f08a6ca5e","traceparent":"00-9cf95903a6010d793e6ea0092c89a969-b4db1b9e0742d7c2-00","x-forwarded-for":"35.95.200.202","x-forwarded-host":"n8n.thelinkai.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cff298b6fc90","x-real-ip":"35.95.200.202","accept-encoding":"gzip"},"params":{},"query":{},"body":{"source":{"type":"automation","automation_id":"26a6a291-5024-80e6-96ea-004d8459bceb","action_id":"26a6a291-5024-80ea-a77e-005a996922ec","event_id":"9b4ccd49-1d62-4cc6-aee7-bb61841b58eb","attempt":1},"data":{"object":"page","id":"26a6a291-5024-81e0-b55c-f06e73de9cc0","created_time":"2025-09-10T12:36:00.000Z","last_edited_time":"2025-09-10T12:36:00.000Z","created_by":{"object":"user","id":"229d872b-594c-8139-ad0b-00025ec29529"},"last_edited_by":{"object":"user","id":"00000000-0000-0000-0000-000000000003"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25b6a291-5024-80b7-bd63-fc5ab5dc17d2"},"archived":false,"in_trash":false,"properties":{"Created time":{"id":"%3Et%5Dp","type":"created_time","created_time":"2025-09-10T12:36:00.000Z"},"Note":{"id":"Qi%40b","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test","href":null}]},"Leave Type":{"id":"THWK","type":"select","select":null},"Manager":{"id":"%5Eh%3Bn","type":"formula","formula":{"type":"string","string":null}},"End Date":{"id":"%60m~%5E","type":"date","date":{"start":"2025-09-12","end":null,"time_zone":null}},"Created by":{"id":"evH%5E","type":"created_by","created_by":{"object":"user","id":"229d872b-594c-8139-ad0b-00025ec29529","name":"Hardik Bhatt","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/f17d43b8-f3bb-4738-9677-0ed0f4870cc2/Hardik.jpg","type":"person","person":{"email":"hardik@thelinkai.com"}}},"Start Date":{"id":"hc%7B%5C","type":"date","date":{"start":"2025-09-10","end":null,"time_zone":null}},"Status":{"id":"t%3E%3FN","type":"select","select":{"id":"0e85c1da-887e-46e2-a114-e282ef2c7573","name":"In Review","color":"orange"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"New submission","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New submission","href":null}]}},"url":"https://www.notion.so/New-submission-26a6a291502481e0b55cf06e73de9cc0","public_url":null,"request_id":"730b3d14-e160-4308-8e7e-ad28854ca6c7"}},"webhookUrl":"https://n8n.thelinkai.com/webhook-test/83a64c3a-236f-4021-8ed7-d2e699c926ef","executionMode":"test"}}]},"versionId":"4d60b95c-2779-412e-9ba8-e6400e2f4622","triggerCount":1,"tags":[]}