leave-request-submission-8CT11bflr5AhpBN3.json
{"createdAt":"2025-07-19T13:17:51.721Z","updatedAt":"2025-07-19T13:17:51.721Z","id":"8CT11bflr5AhpBN3","name":"Leave Request Submission","active":false,"isArchived":false,"nodes":[{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"parameters":{"httpMethod":"POST","path":"leave-request","responseMode":"lastNode","responseData":"allEntries"}},{"id":"2","name":"Insert Leave Request","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[400,300],"parameters":{"operation":"insert","table":"leave_requests","columns":"employee_id,leave_type,start_date,end_date,days_requested,reason,status,medical_certificate_url","returnFields":"*"}},{"id":"3","name":"Send Notification Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[600,300],"parameters":{"fromEmail":"notifications@company.com","toEmail":"manager@company.com","subject":"New Leave Request Submitted","text":"A new leave request has been submitted by {{$json[\"employee_id\"]}} for {{$json[\"leave_type\"]}} from {{$json[\"start_date\"]}} to {{$json[\"end_date\"]}}."}}],"connections":{"Webhook":{"main":[[{"node":"Insert Leave Request","type":"main","index":0}]]},"Insert Leave Request":{"main":[[{"node":"Send Notification Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"b4ab6d9b-fc15-40c4-a025-020326d13d25","triggerCount":0,"tags":[]}