leave-approval-workflow-jSx4V97Du7LmB608.json
{"createdAt":"2025-07-19T13:20:11.898Z","updatedAt":"2025-07-19T13:20:11.898Z","id":"jSx4V97Du7LmB608","name":"Leave Approval Workflow","active":false,"isArchived":false,"nodes":[{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"parameters":{"httpMethod":"POST","path":"leave-approval","responseMode":"lastNode","responseData":"allEntries"}},{"id":"2","name":"Filter Policy Compliant","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,300],"parameters":{"conditions":{"conditions":[{"leftValue":"{{ $json.policy_compliant }}","rightValue":"true","operator":{"type":"boolean","operation":"equals"}}]}}},{"id":"3","name":"Manager Approval Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[600,200],"parameters":{"fromEmail":"notifications@company.com","toEmail":"manager@company.com","subject":"Leave Request Approval Needed","text":"A leave request from {{$json[\"employee_id\"]}} requires your approval."}},{"id":"4","name":"Auto Approve","type":"n8n-nodes-base.code","typeVersion":1,"position":[600,400],"parameters":{"functionCode":"// Auto-approve logic\nreturn [{...$json, status: 'approved'}];"}}],"connections":{"Webhook":{"main":[[{"node":"Filter Policy Compliant","type":"main","index":0}]]},"Filter Policy Compliant":{"main":[[{"node":"Manager Approval Email","type":"main","index":0}],[{"node":"Auto Approve","type":"main","index":0}]],"mainBranch":["true","false"]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"cda6a3e0-9a28-410e-9fd3-3a4ffd4eed6d","triggerCount":0,"tags":[]}