manul_backup-n0NGQyIXpixulYsv.json
{"updatedAt":"2025-12-11T07:23:50.000Z","createdAt":"2025-12-11T07:16:00.745Z","id":"n0NGQyIXpixulYsv","name":"Manul_backup","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"a0328d49-79c1-42a9-881c-cfc76c1e48ed","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[80,272]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"c7128c88-b144-4e55-982c-294167006f29","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[288,272]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"06a2c686-97fe-4bcd-8d7b-846ac70907eb","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,272]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"pounkumarthelinkai","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/pounkumarthelinkai/n8n"}},"id":"eba1c36a-80d5-4ae2-a634-48ea4bf0b026","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[688,272],"alwaysOutputData":true,"webhookId":"7a1c0974-d2af-4176-88e2-0b92ea11cfc0","credentials":{"githubApi":{"id":"x33WJboXsyZQetEF","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"4bd782c9-8389-489e-adcd-1270c7f62917","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[880,272]},{"parameters":{"filters":{},"requestOptions":{}},"id":"9c7a3e4b-259c-429c-a280-c10fb877c4ef","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1088,272],"credentials":{"n8nApi":{"id":"qBvzpR9BMYmqo0qu","name":"n8n account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"3980826a-35a1-413a-9e4b-6f457b79122a","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1520,272]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"7ef86033-1b2d-4a9d-bbd6-277d2459dc4e","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1760,256]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"pounkumarthelinkai","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/pounkumarthelinkai/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('On form submission').item.json.Entermessage }}-{{ $node['Set commit date1'].json.commitDate }}","additionalParameters":{"branch":{"branch":"dev"}}},"id":"82d628e7-b800-4004-bf6b-4d1c30742567","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1984,0],"webhookId":"5e45376d-31e2-4965-b03d-c133ea42a168","credentials":{"githubApi":{"id":"x33WJboXsyZQetEF","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"pounkumarthelinkai","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/pounkumarthelinkai/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('On form submission').item.json.Entermessage }}-{{ $node['Set commit date1'].json.commitDate }}","additionalParameters":{"branch":{"branch":"dev"}}},"id":"aa487778-d050-46df-9203-e3b8e51a19d2","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1984,400],"webhookId":"2ca53107-59f2-452d-ae9a-d181d41496a4","credentials":{"githubApi":{"id":"x33WJboXsyZQetEF","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Set and format date/time\n","height":339.42690909090965,"width":585.4045090909088,"color":3},"id":"d261c898-51a6-4d94-bd3b-b53e627ef68f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,128]},{"parameters":{"content":"## Make a list of existing files\n","height":339.42690909090965,"width":389.89265454545443},"id":"fd5462b9-d181-4655-86ea-cea4b273fb79","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[656,128]},{"parameters":{"content":"## Retrieve workflows\n","height":339.42690909090965,"width":384.14708363636373,"color":5},"id":"33810b7d-68ba-4eea-a3bf-817f304c52bc","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,128]},{"parameters":{"content":"## Upload backup\n","height":731.633426614796,"width":703.8733020263451,"color":6},"id":"90dd5cba-aa6b-48aa-af5b-f1d927fa2a67","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472,-64]},{"parameters":{"formTitle":"Commit_Message","formFields":{"values":[{"fieldLabel":"Entermessage"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-416,272],"id":"6659197e-e3b3-448d-9238-94c2eca02729","name":"On form submission","webhookId":"8f75c5c1-e036-428e-b09b-1ef8ddea232f"},{"parameters":{"content":"## Manual","height":912,"width":2752,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-160],"id":"5320b074-0326-46d5-9c46-1c90d0bc2005","name":"Sticky Note8"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"0a630ce9-3127-420e-8d0a-4bf4fdbb3126","name":"Convert JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1280,272]}],"connections":{"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Convert JSON to binary1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Set date1","type":"main","index":0}]]},"Convert JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e9a11bbb-fdce-4fdc-97ef-2e1f89d6a23e","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.963Z","createdAt":"2025-12-11T08:33:33.963Z","role":"workflow:owner","workflowId":"n0NGQyIXpixulYsv","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}