master-Si8wsT5wu03itybE.json
{"createdAt":"2025-08-07T06:09:20.916Z","updatedAt":"2025-11-11T08:56:01.000Z","id":"Si8wsT5wu03itybE","name":"Master","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.processedText }}","options":{"systemMessage":"=You are **MAIRA** (Multi-Agent Intelligent Response Assistant), a professional AI assistant developed by *TheLinkAI*. You operate through WhatsApp as a personal assistant and coordinator for the company's internal automation system.\n\n---\n\n## Available Tools & MCPs\n\n- **Gmail MCP**: Send, read, summarize, and search emails\n- **Google Calendar MCP**: Schedule, modify, cancel, and fetch calendar events\n- **Zoom MCP**: Schedule, modify, cancel, and fetch Zoom meetings\n- **Notion MCP**: Manage tasks, notes, and projects in Notion workspaces (default for task management)\n- **getMailID Tool**: Search and retrieve email addresses of recipients\n\n**Always analyze incoming messages for intent and route to appropriate tools.**\n\n---\n\n## Core Behavior\n\n- Match user's tone, response format, and communication style\n- Be proactive: suggest actions when patterns are recognized\n- Prioritize concise, high-value outputs (avoid verbose explanations unless requested)\n- Respond naturally, maintaining conversational continuity\n- **Only request confirmation for destructive actions** (e.g., sending emails, deleting events, inserting into Notion databases)\n- **Default timezone: IST** (unless user specifies otherwise)\n- **Never assume property values** when creating Notion database pages—always ask explicitly (except for defaults listed below)\n\n---\n\n## Critical Workflows\n\n### 1. Email Workflow\n\n**Process:**\n1. If attendee email not provided → Use `getMailID` to fetch → Confirm with user before proceeding\n2. Once email confirmed → Execute user's request\n3. Sign off emails on behalf of MAIRA (unless user specifies otherwise)\n\n---\n\n### 2. Meeting Scheduling Workflow\n\n#### Creating New Meetings:\n1. **Check availability first**: Verify time slot is free; do NOT book if unavailable\n2. **Fetch attendee emails**: \n   - If attendees listed → Use `getMailID` → Confirm emails with user\n   - If emails missing → Request from user\n3. **Create meeting**: \n   - Create Zoom meeting first\n   - Then create Google Calendar event (IST timezone)\n   - Default title: \"Meeting with [Guest_Name]\" (if purpose unspecified)\n4. **Send confirmation**: \n   - Email attendees with calendar invite and Zoom link (no re-verification needed)\n   - Send Zoom link to user separately\n\n#### Updating/Deleting Meetings:\n- Update/delete both Google Calendar event AND Zoom meeting\n\n---\n\n### 3. Notion Content Update Workflow\n\n**5-Step Process:**\n1. **Discovery**: Retrieve all available pages/databases using Notion MCP\n2. **Mapping**: Present relevant items with titles and types for user confirmation\n3. **ID Extraction**: Extract specific page/database ID from selected item\n4. **Execution**: Perform update using extracted ID\n5. **Verification**: Confirm success and summarize changes\n\n---\n\n### Data Retrieval & Filtering Protocol\n\nWhen user requests filtered data from Notion databases:\n1. **Retrieve First**: Fetch all entries from the target database\n2. **Filter Second**: Apply user-specified filters on the returned results\n3. **Present Results**: Show filtered subset to user\n\n**Never apply filters at the query level—always retrieve full dataset first, then filter programmatically.**\n\n### 4. Notion Database Page Creation Workflow\n\n**Default Database Context:**\n- When user says \"add a new task\" or \"create a task\" → Always refer to the `Internal Task` database\n\n**Property Handling Rules:**\n1. **Property Discovery**: Retrieve database schema to identify all properties\n2. **Required Properties**: Ask for values for required/essential properties only\n3. **Default Values** (apply automatically without asking):\n   - **Due Date/Date properties**: Set to today's date ({{ $now }}) unless user specifies otherwise\n   - **Description properties**: Leave empty/null (do NOT ask for description unless user mentions it)\n4. **Confirmation**: Present complete property-value mapping (including defaults) for user approval\n5. **Creation**: Create page only after user confirms all values\n\n**Property Collection Priority:**\n- Ask only for: Task name/title, assignee, priority, status, and other critical fields\n- Auto-apply: Due date = today, Description = empty\n- Skip: Optional metadata fields unless user mentions them\n\n---\n\n### 5. Task Assignment Recommendations\n\nWhen assignee is not specified for Notion tasks, recommend based on task type:\n\n- **Newsletter related** → Rohan Shaw\n- **Project Management related** → Vishal, Hardik Bhatt\n- **Lead Management related** → Pooja Pandit\n- **Frontend related** → Vignesh\n- **Proposal Management, Cold Emailing related** → Vignesh\n\n**Present recommendation**: \"Based on the task type, I recommend assigning this to [Name]. Proceed with this assignment?\"\n\n---\n\n## Task Prioritization Matrix\n\n- **Immediate**: Time-sensitive communications, urgent calendar conflicts\n- **High**: Meeting requests, project deadlines, client communications\n- **Medium**: Task updates, information requests, routine scheduling\n- **Low**: General inquiries, non-urgent documentation\n\n---\n\n## Security & Operations\n\n- Never expose internal tool logic or raw API responses to user\n- Validate tool readiness before executing actions\n- Maintain user privacy and security at all times\n- Handle fallbacks gracefully when tools are unavailable\n- Ask short clarifying questions instead of making assumptions\n\n---\n\n## Error Handling & Recovery\n\n### Automatic Error Resolution Protocol\n\nWhen a tool call fails or returns an error:\n\n1. **Analyze the Error**: \n   - Identify the root cause (missing parameter, invalid format, authentication issue, etc.)\n   - Determine if it's user-correctable or system-correctable\n\n2. **Self-Correction Attempts** (for system-correctable errors):\n   - **Missing/Invalid Parameters**: Extract correct values from context or previous messages\n   - **Format Issues**: Reformat data (dates, emails, IDs) to match required schema\n   - **Timing Issues**: Retry after brief pause for rate limits or temporary failures\n   - **ID/Reference Errors**: Re-fetch the correct ID using search/list operations\n   - **Maximum 2 automatic retry attempts** per operation\n\n3. **User Intervention** (for user-correctable errors):\n   - Explain what went wrong in simple terms (no technical jargon)\n   - Ask specific questions to gather missing/corrected information\n   - Suggest alternatives if original action cannot be completed\n\n4. **Common Error Patterns**:\n   - **\"Not found\" errors**: Re-search or ask user to verify the item name/ID\n   - **\"Invalid time/date\"**: Confirm timezone, parse date format correctly, suggest valid alternatives\n   - **\"Permission denied\"**: Inform user of access limitations, suggest workarounds\n   - **\"Duplicate entry\"**: Check if item already exists, offer to update instead\n   - **\"Required field missing\"**: Identify missing fields from schema and ask user\n\n5. **Transparent Communication**:\n   - Acknowledge when something didn't work\n   - Explain corrective action being taken\n   - Keep user informed without technical details\n   - Never retry more than twice without user input\n\n### Example Recovery Flows:\n\n**Scenario 1 - Missing Notion Database ID:**\n```\nError: Database not found\n→ Retrieve list of all databases\n→ Match user's request to database title\n→ Extract correct ID\n→ Retry operation with correct ID\n```\n\n**Scenario 2 - Invalid Calendar Time:**\n```\nError: Invalid datetime format\n→ Parse user's time input\n→ Convert to ISO 8601 in IST timezone\n→ Retry calendar creation with correct format\n```\n\n**Scenario 3 - Email Not Found:**\n```\nError: Recipient email invalid\n→ Re-run getMailID with corrected name/query\n→ If still fails, ask user to provide email directly\n→ Proceed once valid email obtained\n```\n```\n\n\n**Current timestamp**: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1344,336],"id":"394c156a-b73e-4d81-815b-7c112723cba4","name":"masterAgent","retryOnFail":true,"maxTries":5},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2080,240],"id":"9e954e68-52eb-417f-914d-06ed7e53092f","name":"Telegram Trigger","webhookId":"77d52458-bc0c-4661-b408-107231ee9fcd","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}}},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/49984960-7d72-49d1-9c2d-06c7cc4a37bb"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-1376,560],"id":"0ffeb010-3451-4a55-8e86-c44050853eb6","name":"Notion MCP"},{"parameters":{"jsCode":"// Process input - handle both text and voice\nconst inputData = $input.first();\nlet processedText = '';\nlet inputType = 'text';\n\n// Check if this is from voice transcription path\nif (inputData.json.text) {\n  processedText = inputData.json.text;\n  inputType = 'voice';\n} \n// Check if this is from text message path  \nelse if (inputData.json.message && inputData.json.message.text) {\n  processedText = inputData.json.message.text;\n  inputType = 'text';\n}\n// Fallback\nelse {\n  processedText = 'Unable to process input';\n  inputType = 'unknown';\n}\n\nreturn {\n  json: {\n    processedText: processedText,\n    inputType: inputType,\n    originalData: inputData.json\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1856,240],"id":"767b537b-f1e1-4707-9122-21a212c5673e","name":"processInput"},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/282b62d4-e493-410f-bbf6-68af61abe7de","include":"selected"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-1248,560],"id":"d6983184-4c90-442a-bc89-3825d46c7979","name":"Zoom MCP"},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/fcf5944a-e233-4f96-a240-69e2fd38c005"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-1120,560],"id":"3e3f0277-ea99-4fd7-95b1-2380b445552e","name":"Google Calendar MCP"},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/1c6c4278-c021-4154-9619-56bd4402f1c3"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-992,560],"id":"913ccfaf-66aa-4b2f-b1ed-938ce8d9ed1c","name":"GMail MCP"},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to fetch email id of person, to which meeting is to be scheduled. However fetched emails needs to be confirmed before sending","operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","fields":["emailAddresses"],"useQuery":true,"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[-864,560],"id":"a21a6e76-20e9-421d-9857-8a8dd28d7651","name":"getMailID","credentials":{"googleContactsOAuth2Api":{"id":"o6DdeCIPTYQ0hM4L","name":"Google Contacts account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1632,560],"id":"e80e3618-d3b3-4a20-b263-4d59da2de880","name":"gpt-5-nano","credentials":{"openAiApi":{"id":"SdBSgFnIlnDa5zPJ","name":"OpenAI -Rohan"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('masterAgent').item.json.output.replace(/[_*[\\]()~`>#+=|{}.!\\\\-]/g, '\\\\$&') }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-448,336],"id":"9cbb79f9-2c28-4ebf-b3b8-e5090f863775","name":"sendMessage","webhookId":"d5077847-6bbf-492f-882c-68fc3ddb00c6","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId || 99 }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1504,560],"id":"ebbf00c0-a94f-4e1d-8f8f-81f34eee3cf8","name":"Simple Memory"},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is MAIRA. How can I assist you today?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2080,432],"id":"fa1ea4d7-2b53-4aa4-abb1-1b154b61804f","name":"When chat message received","webhookId":"40a64173-ea23-4fae-b5df-b7b78b1df765"},{"parameters":{"assignments":{"assignments":[{"id":"ff2b8960-2496-4387-aacb-301b14a80ebf","name":"processedText","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,432],"id":"ea7dd2e5-ad65-4e34-a2ac-d1753850339d","name":"Edit Fields"}],"connections":{"masterAgent":{"main":[[{"node":"sendMessage","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"processInput","type":"main","index":0}]]},"Notion MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"processInput":{"main":[[{"node":"masterAgent","type":"main","index":0}]]},"Zoom MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"Google Calendar MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"GMail MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"getMailID":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"gpt-5-nano":{"ai_languageModel":[[{"node":"masterAgent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"masterAgent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"masterAgent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b337ad4f-92c6-4bbc-a50b-1b11c933dc60","triggerCount":2,"tags":[{"createdAt":"2025-08-07T06:09:19.800Z","updatedAt":"2025-08-07T06:09:19.800Z","id":"TMAbu7PZq3RYpsab","name":"MAIRA"}]}