maternity-leave-management-J9RHvsan4H7SqpNr.json
{"createdAt":"2025-07-19T13:22:54.760Z","updatedAt":"2025-07-28T07:24:25.000Z","id":"J9RHvsan4H7SqpNr","name":"Maternity Leave Management","active":false,"isArchived":true,"nodes":[{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"parameters":{"httpMethod":"POST","path":"maternity-leave","responseMode":"lastNode","responseData":"allEntries"}},{"id":"2","name":"Calculate Maternity Leave","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[400,300],"parameters":{"operation":"query","query":"SELECT calculate_maternity_leave({{ $json.employee_id }}, {{ $json.child_count }}, {{ $json.adoption }}) AS weeks;"}},{"id":"3","name":"Insert Maternity Leave","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[600,300],"parameters":{"operation":"insert","table":"maternity_leaves","columns":"employee_id,start_date,end_date,weeks,child_count,adoption","returnFields":"*"}}],"connections":{"Webhook":{"main":[[{"node":"Calculate Maternity Leave","type":"main","index":0}]]},"Calculate Maternity Leave":{"main":[[{"node":"Insert Maternity Leave","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"456bfe12-3efe-4b55-965a-a0abd2992152","triggerCount":0,"tags":[]}