monthly-leave-accrual-e9kdScXuB23JhF05.json
{"updatedAt":"2025-07-28T07:24:32.000Z","createdAt":"2025-07-19T13:21:39.690Z","id":"e9kdScXuB23JhF05","name":"Monthly Leave Accrual","active":false,"isArchived":true,"nodes":[{"id":"1","name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[200,300],"parameters":{"triggerTimes":[{"mode":"everyMonth","hour":0,"minute":0,"dayOfMonth":"1"}]}},{"id":"2","name":"Get Employees","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[400,300],"parameters":{"operation":"query","query":"SELECT id FROM employees"}},{"id":"3","name":"Accrue Leave","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[600,300],"parameters":{"operation":"query","query":"UPDATE leave_balances SET balance_days = balance_days + 2, accrued_this_month = 2, last_updated = NOW() WHERE employee_id = {{ $json.id }};"}}],"connections":{"Cron":{"main":[[{"node":"Get Employees","type":"main","index":0}]]},"Get Employees":{"main":[[{"node":"Accrue Leave","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"8b1bab9e-ec05-479a-857e-97e6571c0adf","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.317Z","createdAt":"2025-12-11T08:33:33.317Z","role":"workflow:owner","workflowId":"e9kdScXuB23JhF05","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}