my-workflow-19-NGBKNUKcJVri5FbK.json
{"createdAt":"2025-10-01T10:33:44.566Z","updatedAt":"2025-11-06T06:59:01.000Z","id":"NGBKNUKcJVri5FbK","name":"My workflow 19","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pAeeIgkSA92AKMLr8wxfT4USOBaeCVJf","mode":"list","cachedResultName":"Recording","cachedResultUrl":"https://drive.google.com/drive/folders/1pAeeIgkSA92AKMLr8wxfT4USOBaeCVJf"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"3628d4a0-a306-4bc2-a8f0-5f180d7a3439","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"oV904GjdKuHGvvJI","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"f2ba3bdb-6eb4-4ae8-9e6c-a192e78c5bdf","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"oV904GjdKuHGvvJI","name":"Google Drive account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[416,0],"id":"0e60576a-d8af-42be-b648-3163c83ff2d3","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y2u8yXvQMjHZnJ2W","name":"OpenAi account 10"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-10-07T12:00:16Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"parents":["1pAeeIgkSA92AKMLr8wxfT4USOBaeCVJf"],"lastModifyingUser":{"displayName":"Vishal Vadalkar","kind":"drive#user","me":true,"permissionId":"11401763791763233161","emailAddress":"vvvadalkar@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJW4caDNHl-XBbzCdbeY5C8UZFjgtnk_gT2HrTgBCwQBIW8BA=s64"},"owners":[{"displayName":"Vishal Vadalkar","kind":"drive#user","me":true,"permissionId":"11401763791763233161","emailAddress":"vvvadalkar@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJW4caDNHl-XBbzCdbeY5C8UZFjgtnk_gT2HrTgBCwQBIW8BA=s64"}],"permissions":[{"kind":"drive#permission","id":"11401763791763233161","type":"user","emailAddress":"vvvadalkar@gmail.com","role":"owner","displayName":"Vishal Vadalkar","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJW4caDNHl-XBbzCdbeY5C8UZFjgtnk_gT2HrTgBCwQBIW8BA=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["11401763791763233161"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"18ay0NBs4Fw0XbO6x6EXD4_eVyr749yj0","name":"audio1067211011.m4a","mimeType":"audio/x-m4a","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"1","webContentLink":"https://drive.google.com/uc?id=18ay0NBs4Fw0XbO6x6EXD4_eVyr749yj0&export=download","webViewLink":"https://drive.google.com/file/d/18ay0NBs4Fw0XbO6x6EXD4_eVyr749yj0/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/audio/x-m4a","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":true,"viewedByMeTime":"2025-10-01T13:25:46.135Z","createdTime":"2025-10-01T13:25:46.135Z","modifiedTime":"2025-09-17T10:00:57.000Z","modifiedByMeTime":"2025-09-17T10:00:57.000Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"audio1067211011.m4a","fullFileExtension":"m4a","fileExtension":"m4a","md5Checksum":"836a508138d17401cb6bc96d38a1a20f","sha1Checksum":"6f59fbeac6ec0631950740d09c71e5c486a95a3d","sha256Checksum":"1262895f38b91e3124ee11fcec7ce52a720022d9277cae71a430a22f7773238a","size":"23170130","quotaBytesUsed":"23170130","headRevisionId":"0Bw874HaGRDEWTnZCZnVWc243L1E0dmdldjlNYm1nQ05IR0FvPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"b7671029-5173-4b86-8a23-47b7b5efdbb7","triggerCount":1,"tags":[]}