my-workflow-17-mmfYu6kdXSMP3xUE.json
{"createdAt":"2025-09-20T10:25:07.859Z","updatedAt":"2025-09-29T17:02:17.000Z","id":"mmfYu6kdXSMP3xUE","name":"My workflow 17","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"ad4829bf-045d-4ba4-b4f4-6531138cd37d","name":"Telegram Trigger","webhookId":"13b59348-2003-43a9-8049-a8fd6e5da10c","credentials":{"telegramApi":{"id":"LciDh9oOCMEgAbnb","name":"AI_Prec"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[208,0],"id":"112f6395-a426-4cd0-92b0-16fb8ca181ab","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,208],"id":"d91f4ab4-5110-4bf6-b766-2eaa02784e80","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pYm5D1cOKKksic3L","name":"OpenAi account 9"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"489db1a5-789b-45f2-b255-03c6d238674e","triggerCount":0,"tags":[]}