my-workflow-15-FnNtDPTNBmDCB3RM.json
{"createdAt":"2025-09-07T15:04:47.168Z","updatedAt":"2025-09-07T16:07:57.000Z","id":"FnNtDPTNBmDCB3RM","name":"My workflow 15","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-352],"id":"c575b6e0-1c39-46a5-9fcf-67d1edbfa3be","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"25b6a291-5024-80b7-bd63-fc5ab5dc17d2","mode":"list","cachedResultName":"Leave Application","cachedResultUrl":"https://www.notion.so/25b6a291502480b7bd63fc5ab5dc17d2"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":true},{"key":"Status|select","condition":"equals","selectValue":"Accepted"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[432,-352],"id":"ae2643ee-7508-4ae0-a6b1-6c24769aa753","name":"Search Leave Applications","alwaysOutputData":true,"executeOnce":false,"credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2676a291-5024-80b8-b8ee-d468741c761a","mode":"list","cachedResultName":"Leave Calendar","cachedResultUrl":"https://www.notion.so/2676a291502480b8b8eed468741c761a"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1104,-448],"id":"de0a8d1b-deca-450e-9ff4-34b87fcf860b","name":"Search Leave Calendar","alwaysOutputData":true,"executeOnce":false,"credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"22d6a291-5024-80e2-b2b7-ee08ca80f46f","mode":"list","cachedResultName":"Team","cachedResultUrl":"https://www.notion.so/22d6a291502480e2b2b7ee08ca80f46f"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[224,-352],"id":"7e6b29b1-723f-435a-810f-1444d8f26987","name":"Search Team","alwaysOutputData":true,"executeOnce":false,"credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Status|select","selectValue":"Holiday"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1552,-544],"id":"8a0eaddc-bf3a-4071-bc77-3d86dccf1030","name":"Add Holiday","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Status|select","selectValue":"Present"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1584,64],"id":"e690911e-fc1c-4c66-81b7-014ffc397d6e","name":"Set Present","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.property_emp_email }}","rightValue":"={{ $('Search Team').item.json.properties.Person.people[0].person.email }}","operator":{"type":"string","operation":"contains"},"id":"79f32394-56dc-4ca8-ba10-bb2bf7614728"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ed834687-0089-4fa1-8b98-51e4d0c281fb","leftValue":"={{ $json.property_emp_email }}","rightValue":"={{ $('Search Team').item.json.properties.Person.people[0].person.email }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[768,-352],"id":"8027fbdd-185b-49dc-90f8-22e922e0efc5","name":"Switch","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"a3a65093-7115-4948-b18b-5bc4e8990e97"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"61ec60db-1613-4c13-9d3e-373dcac2368a","leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1328,-448],"id":"55458cea-6300-4b08-8a01-072a6824ce68","name":"Switch1"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Status|select","selectValue":"Absent"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1552,-352],"id":"280dd1a3-f2c7-45ff-88ef-1f8929dfe2c9","name":"Add Absent","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2676a291-5024-80b8-b8ee-d468741c761a","mode":"list","cachedResultName":"Leave Calendar","cachedResultUrl":"https://www.notion.so/2676a291502480b8b8eed468741c761a"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1120,-160],"id":"4fde8e67-a65a-4ca1-9db2-f28e4aa894fa","name":"Search Leave Calendar1","alwaysOutputData":true,"executeOnce":false,"credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"a3a65093-7115-4948-b18b-5bc4e8990e97"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"61ec60db-1613-4c13-9d3e-373dcac2368a","leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1344,-128],"id":"e9792d55-037c-471e-90e7-a98ee4febda9","name":"Switch2"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Status|select","selectValue":"Holiday"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1584,-144],"id":"64f707a8-0e2b-4bfc-8dc1-f4a7d1070dee","name":"Set Holiday 1","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Search Team","type":"main","index":0}]]},"Search Leave Applications":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Search Leave Calendar":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Search Team":{"main":[[{"node":"Search Leave Applications","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Search Leave Calendar","type":"main","index":0}],[{"node":"Search Leave Calendar1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Add Holiday","type":"main","index":0}],[{"node":"Add Absent","type":"main","index":0}]]},"Search Leave Calendar1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Set Holiday 1","type":"main","index":0}],[{"node":"Set Present","type":"main","index":0}]]},"Add Absent":{"main":[[]]},"Add Holiday":{"main":[[]]},"Set Holiday 1":{"main":[[]]},"Set Present":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5872331c-a418-489a-9630-b9785c07e73e","triggerCount":0,"tags":[]}