my-workflow-21-H1xYAGxuPcIKcx11.json
{"createdAt":"2025-12-15T06:23:01.137Z","updatedAt":"2025-12-15T06:23:01.137Z","id":"H1xYAGxuPcIKcx11","name":"My workflow 21","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"9fdb756d-ac1a-40e9-80ca-a4ace2c9b49e","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[528,432]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6cea6468-b29f-4e1b-afbe-3ee83be66f9e","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[736,432]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"c9e95236-50e6-4e70-9621-0e695143364b","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[928,432]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"pounkumarthelinkai","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/pounkumarthelinkai/n8n"}},"id":"38f95203-ed51-4103-a536-b368c853db01","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1136,432],"alwaysOutputData":true,"webhookId":"7a1c0974-d2af-4176-88e2-0b92ea11cfc0","credentials":{"githubApi":{"id":"7BY4LD5WVUCKbL2Y","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"f037f869-55c5-4542-9ee0-89ad42d405b1","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1328,432]},{"parameters":{"filters":{},"requestOptions":{}},"id":"37720f9b-f958-46ea-a97f-35a5e2b62c49","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1536,432],"credentials":{"n8nApi":{"id":"ak54YZsM9uK7fEfP","name":"n8n account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"b3385a70-2dfc-46e9-b510-544492e7e473","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1968,432]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"4c3e3d88-d940-466a-94b4-77db6a79a655","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2208,416]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"pounkumarthelinkai","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/pounkumarthelinkai/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('On form submission').item.json.Entermessage }}-{{ $node['Set commit date1'].json.commitDate }}","additionalParameters":{"branch":{"branch":"dev"}}},"id":"b92f8dc7-bb05-457f-9c01-456790e81dc2","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2432,160],"webhookId":"5e45376d-31e2-4965-b03d-c133ea42a168","credentials":{"githubApi":{"id":"7BY4LD5WVUCKbL2Y","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"pounkumarthelinkai","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/pounkumarthelinkai/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('On form submission').item.json.Entermessage }}-{{ $node['Set commit date1'].json.commitDate }}","additionalParameters":{"branch":{"branch":"dev"}}},"id":"165c8700-8381-4a40-93f8-9e97cbbe51cf","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2432,560],"webhookId":"2ca53107-59f2-452d-ae9a-d181d41496a4","credentials":{"githubApi":{"id":"7BY4LD5WVUCKbL2Y","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Set and format date/time\n","height":339.42690909090965,"width":585.4045090909088,"color":3},"id":"979b22de-8328-4e03-97fc-850a86fa78e9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,288]},{"parameters":{"content":"## Make a list of existing files\n","height":339.42690909090965,"width":389.89265454545443},"id":"2c2c111b-4948-40d0-9232-fadc472f57ea","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1104,288]},{"parameters":{"content":"## Retrieve workflows\n","height":339.42690909090965,"width":384.14708363636373,"color":5},"id":"01623b9f-48ee-4fbc-b0eb-8248938ede45","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,288]},{"parameters":{"content":"## Upload backup\n","height":731.633426614796,"width":703.8733020263451,"color":6},"id":"fc92edb4-5be9-41ef-a701-fab1baf320b7","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,96]},{"parameters":{"formTitle":"Commit_Message","formFields":{"values":[{"fieldLabel":"Entermessage"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[32,432],"id":"409246f6-8551-4186-a7f5-5b0c0c76246a","name":"On form submission","webhookId":"8f75c5c1-e036-428e-b09b-1ef8ddea232f"},{"parameters":{"content":"## Manual","height":912,"width":2752,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"0459ff8f-e76c-412d-89bb-40bbd903a9ed","name":"Sticky Note8"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"51c4417d-31ad-4d83-8dc9-390194441679","name":"Convert JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1728,432]}],"connections":{"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Convert JSON to binary1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Set date1","type":"main","index":0}]]},"Convert JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a34eff9-98ab-4c81-baed-ec1e45707696","triggerCount":0,"tags":[]}