my-workflow-16-rdlYC6ac2rpxAt4O.json
{"createdAt":"2025-09-08T06:10:06.835Z","updatedAt":"2025-09-08T06:10:06.835Z","id":"rdlYC6ac2rpxAt4O","name":"My workflow 16","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1552,192],"id":"f40d47a5-6db8-4313-af30-220992167a55","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"25b6a291-5024-80b7-bd63-fc5ab5dc17d2","mode":"list","cachedResultName":"Leave Application","cachedResultUrl":"https://www.notion.so/25b6a291502480b7bd63fc5ab5dc17d2"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Start Date|date","condition":"on_or_after","date":"={{ $today }}"},{"key":"End Date|date","condition":"on_or_after","date":"={{ $today }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1120,192],"id":"1b608195-9bec-4b60-908e-0f6d4f629e28","name":"Search Leave Applications","alwaysOutputData":true,"executeOnce":false},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2676a291-5024-80b8-b8ee-d468741c761a","mode":"list","cachedResultName":"Leave Calendar","cachedResultUrl":"https://www.notion.so/2676a291502480b8b8eed468741c761a"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-448,96],"id":"2f5e7b68-29b7-4353-882c-f9c6edf7d0b5","name":"Search Leave Calendar","alwaysOutputData":true,"executeOnce":false},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"22d6a291-5024-80e2-b2b7-ee08ca80f46f","mode":"list","cachedResultName":"Team","cachedResultUrl":"https://www.notion.so/22d6a291502480e2b2b7ee08ca80f46f"},"returnAll":true,"simple":false,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1328,192],"id":"c8592911-7018-4bed-bf49-bfbea9b8fcf4","name":"Search Team","alwaysOutputData":true,"executeOnce":false,"credentials":{"notionApi":{"id":"ff9x7wEpSmo5I3CY","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Status|select","selectValue":"Holiday"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[0,0],"id":"e30e8932-dcba-4cc5-8ccc-e363f18d0ce8","name":"Add Holiday"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Status|select","selectValue":"Present"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[32,608],"id":"aeff51fd-90fd-458f-b0b3-285b2555f54a","name":"Set Present"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.property_emp_email }}","rightValue":"={{ $('Search Team').item.json.properties.Person.people[0].person.email }}","operator":{"type":"string","operation":"contains"},"id":"79f32394-56dc-4ca8-ba10-bb2bf7614728"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ed834687-0089-4fa1-8b98-51e4d0c281fb","leftValue":"={{ $json.property_emp_email }}","rightValue":"={{ $('Search Team').item.json.properties.Person.people[0].person.email }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-784,192],"id":"e33ef82e-c062-48fd-a230-506e974c62e1","name":"Switch","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"a3a65093-7115-4948-b18b-5bc4e8990e97"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"61ec60db-1613-4c13-9d3e-373dcac2368a","leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,96],"id":"61eab56e-0bb2-4be3-8fc5-489bd6e2985b","name":"Switch1"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Status|select","selectValue":"Absent"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[0,192],"id":"b405a42f-9ca2-4cfe-8e1f-275e945ac0dc","name":"Add Absent"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2676a291-5024-80b8-b8ee-d468741c761a","mode":"list","cachedResultName":"Leave Calendar","cachedResultUrl":"https://www.notion.so/2676a291502480b8b8eed468741c761a"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-432,384],"id":"767c685c-4ba8-4ea5-a546-660b6c643410","name":"Search Leave Calendar1","alwaysOutputData":true,"executeOnce":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"a3a65093-7115-4948-b18b-5bc4e8990e97"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"61ec60db-1613-4c13-9d3e-373dcac2368a","leftValue":"={{ $json.property_is_today }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-208,416],"id":"fa5b4244-85e8-4776-81bd-d19ee4e20da0","name":"Switch2"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"title":"={{ $('Search Team').item.json.properties.Name.title[0].text.content }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Employee|relation","relationValue":["={{ $('Search Team').item.json.id }}"]},{"key":"Person|people","peopleValue":"={{ $('Search Team').item.json.properties.Person.people[0].id }}"},{"key":"Status|select","selectValue":"Holiday"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[32,400],"id":"82690d9b-a1b3-4748-8990-cc208dd8428e","name":"Set Holiday 1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Search Team","type":"main","index":0}]]},"Search Leave Applications":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Search Leave Calendar":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Search Team":{"main":[[{"node":"Search Leave Applications","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Search Leave Calendar","type":"main","index":0}],[{"node":"Search Leave Calendar1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Add Holiday","type":"main","index":0}],[{"node":"Add Absent","type":"main","index":0}]]},"Search Leave Calendar1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Set Holiday 1","type":"main","index":0}],[{"node":"Set Present","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d6719920-94e2-4669-b36b-ca520a11ff66","triggerCount":0,"tags":[]}