my-workflow-6-rofkL8f1rxSzldYm.json
{"updatedAt":"2025-08-09T16:42:56.000Z","createdAt":"2025-08-08T08:25:20.441Z","id":"rofkL8f1rxSzldYm","name":"My workflow 6","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// n8n Code Node\n// This code extracts all facts from the JSON structure\n\n// Get the input data\nconst items = $input.all();\nconst facts = [];\n\n// Process each item\nfor (const item of items) {\n  try {\n    // Parse the data string if it exists\n    if (item.json.data) {\n      const parsedData = JSON.parse(item.json.data);\n      \n      // Check if edges array exists\n      if (parsedData.edges && Array.isArray(parsedData.edges)) {\n        // Extract facts from each edge\n        parsedData.edges.forEach(edge => {\n          if (edge.fact) {\n            facts.push(edge.fact);\n          }\n        });\n      }\n    }\n  } catch (error) {\n    // Handle parsing errors\n    console.error('Error parsing data:', error);\n  }\n}\n\n// Return all facts as an array in a single item\nreturn [{\n  json: {\n    facts: facts\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,96],"id":"5eef7d05-3660-452f-9b8b-a4d23ff38490","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful assistant.\n\nHere is some additional information about Nate:\n{{ $json.facts.join(\"\\n\") }}\n\n5 most recent interactions with Nate:\n{{ $json.conversations.join(\"\\n\\n\")}}\n\nAlways save the conversation using `saveMemory` tool"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-64,16],"id":"2d89db4f-6d36-4e83-b33c-8a01b32a9303","name":"AI Agent 2"},{"parameters":{"url":"=https://api.getzep.com/api/v2/sessions/{{ $json.sessionId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,-80],"id":"5bc984df-19ff-4c6b-8dae-6acb55c41ae5","name":"Context Window"},{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/graph/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_f54ac169f0c23bcb4f99b0b32e11b01c2c3313c3e7125b82acfac88419aef80d\",\n  \"query\": \"{{ $json.chatInput }}\",\n  \"scope\": \"edges\",\n  \"limit\": 3,\n  \"search_filters\": {\n    \"min_relevance\": 0.7\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,96],"id":"d5f22667-2b63-4809-ba67-bf092fcc33a2","name":"User Graph"},{"parameters":{"jsCode":"// Loop through each item\nfor (const item of $input.all()) {\n  // Parse the JSON data\n  const jsonData = JSON.parse(item.json.data);\n  const messages = jsonData.messages;\n  \n  // Array to store formatted message pairs\n  const messagePairs = [];\n  \n  // Process messages in pairs (Human followed by AI)\n  for (let i = 0; i < messages.length; i++) {\n    const message = messages[i];\n    \n    // Look for Human messages\n    if (message.role === \"Human\" && message.role_type === \"user\") {\n      // Check if there's a corresponding AI response\n      if (i + 1 < messages.length && messages[i + 1].role === \"AI\" && messages[i + 1].role_type === \"assistant\") {\n        // Format the pair\n        const pair = `Human: ${message.content}\\nAI: ${messages[i + 1].content}`;\n        messagePairs.push(pair);\n        \n        // Skip the AI message in the next iteration since we've already processed it\n        i++;\n      } else {\n        // If no AI response, just add the human message\n        messagePairs.push(`Human: ${message.content}`);\n      }\n    } else if (message.role === \"AI\" && message.role_type === \"assistant\") {\n      // Handle standalone AI messages (shouldn't happen in normal conversation flow)\n      messagePairs.push(`AI: ${message.content}`);\n    }\n  }\n  \n  // Return all pairs as a single array\n  return [{\n    json: {\n      conversations: messagePairs\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,-80],"id":"1e53094d-1818-4197-bede-1bd321d104f3","name":"Code1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-224,16],"id":"d419c57a-d03f-40f7-88d6-3c6286c33bf7","name":"Merge"},{"parameters":{"method":"POST","url":"=https://api.getzep.com/api/v2/sessions/{{ $('When chat message received').item.json.sessionId }}/memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_9155426e62c88daa858b19d0a1d1ff641d1fe0f8ea87427b8aed9c0f16c54c0b\",\n  \"session_id\": \"{{ $('When chat message received').item.json.sessionId }}\",\n  \"messages\": [\n    {\n      \"role_type\": \"user\",\n      \"content\": \"{{ $('When chat message received').item.json.chatInput }}\"\n    },\n    {\n      \"role_type\": \"assistant\",\n      \"content\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,32],"id":"2df76e30-8696-47de-8e92-e69799ab8b89","name":"Add Memory2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-752,32],"id":"f8c20cce-54b6-40e3-8e0c-21be8e54c669","name":"When chat message received","webhookId":"854b91e3-0ff5-415e-9e94-a6c4be1013f0"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-192,224],"id":"b1598ef2-e757-4114-9f2a-260ba24aa9e3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"2LzcbAixEP9G5pIr","name":"OpenAi account 6"}}}],"connections":{"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AI Agent 2":{"main":[[{"node":"Add Memory2","type":"main","index":0}]]},"Context Window":{"main":[[{"node":"Code1","type":"main","index":0}]]},"User Graph":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent 2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Context Window","type":"main","index":0},{"node":"User Graph","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent 2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"66a47709-cf7b-4aa1-9340-1a2af9c53513","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.515Z","createdAt":"2025-12-11T08:33:33.515Z","role":"workflow:owner","workflowId":"rofkL8f1rxSzldYm","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}