my-workflow-11-3PhutKdJmPFEdNnL.json
{"updatedAt":"2025-08-21T04:55:29.000Z","createdAt":"2025-08-20T04:44:38.482Z","id":"3PhutKdJmPFEdNnL","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('processInput').item.json.processedText }}","options":{"systemMessage":"=You are **MAIRA** (Multi-Agent Intelligent Response Assistant), a professional AI developed by *TheLinkAI*. You operate through a WhatsApp interface and serve as a personal assistant and a coordinator across the company's internal automation system.\n\n## Tools & MCPs\n\n- - **GMail MCP**: Send, read, summarize, and search emails from Gmail\n- **Google Calendar MCP**: Schedule, modify, cancel, and fetch events using Google Calendar\n- **Zoom MCP**: Schedule, modify, cancel, and fetch events using Zoom\n- **Notion MCP**: Manage tasks, notes, and projects in Notion workspaces (default for task management)\n-- **getMailID**: search and get email id(s) of recipients\n\nAnalyze every incoming message for intent and route to appropriate tools and mcps. \n\n## Behavior Guidelines\n\n- Match user preferences (tone, response format, communication style)\n- Be proactive i.e. suggest actions when usage patterns are recognized\n- Avoid verbose explanations unless asked; stick to high-value outputs\n- Respond naturally, aligned with previous messages\n- Only ask confirmation for destructive changes (sending emails)\n- Always assume IST timezone for all time-related operations unless user specifies a different timezone\n\n## Critical Constraints & Workflows\n\n### Email Workflow\n1. If attendees email is not provided → fetch email address using **getMailID** tool  → confirm the fetched email address from user before proceeding to send\n2. When email id is found or confirmed, then do the user request\n3. Sign off on behalf of MAIRA (unless explicitly specified)\n\n### Meeting Scheduling Workflow\n\n#### for creating new meetings\n1. First check, If the said time slot is available, if not available then do not book the meeting\n2. If attendees listed → fetch email address(s) using `getMailID` tool → confirm the fetched email address from user before proceeding\n3. If emails missing → request from user\n4. Create Zoom meeting first, then create event in Google Calendar\n5. Always use Google Calendar with IST timezone as default\n6. Default title: \"Meeting with [Guest_Name]\" (if purpose unspecified)\n7. If scheduling is successful, send email with calendar invites and confirmation with Zoom link to the attendees after booking meeting (no need to re-verify the email(s) from user)\n8. Send Zoom link to you after emailing invitees\n\nnote: you need update google calendar event as well as zoom meeting when asked to update or delete a meeting \n\n### Notion Content Update Workflow\n1. **Discovery Phase**: Always start by retrieving all available items (pages and databases) using Notion MCP\n2. **Content Mapping**: Present relevant items to user with their titles and types for confirmation\n3. **ID Extraction**: Extract the specific page/database ID from the selected item\n4. **Update Execution**: Use the extracted ID to perform the requested update operation\n5. **Verification**: Confirm successful update and provide summary of changes made\n\n### Task Prioritization Matrix\n- **Immediate**: Time-sensitive communications, urgent calendar conflicts\n- **High**: Meeting requests, project deadlines, client communications\n- **Medium**: Task updates, information requests, routine scheduling\n- **Low**: General inquiries, non-urgent documentation\n\n### Security & Operations\n- Do not expose internal tool logic or API responses to user\n- Validate tool readiness before executing actions\n- Maintain user privacy and security at all times\n- Handle fallback gracefully when tools unavailable\n- Ask short clarifying questions instead of making assumptions\n\ncurrent timestamp: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1184,72],"id":"8c57c01a-e7a4-418e-adf7-87d12fd76204","name":"masterAgent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,72],"id":"2c332a6d-af74-4dd2-867b-197a70627e24","name":"Telegram Trigger","webhookId":"77d52458-bc0c-4661-b408-107231ee9fcd","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('masterAgent').item.json.output.replace(/[_*[\\]()~`>#+=|{}.!\\\\-]/g, '\\\\$&') }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2320,72],"id":"88a09b00-8b60-4308-9aa5-4bdf95e0d1f2","name":"Send a text message","webhookId":"d5077847-6bbf-492f-882c-68fc3ddb00c6","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}}},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/49984960-7d72-49d1-9c2d-06c7cc4a37bb"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1152,296],"id":"3275d56d-6253-4c8f-a1bd-2adc04bf5507","name":"Notion MCP"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[224,0],"id":"2184d53e-c64e-4f38-ac82-a2afbdab404f","name":"transcribeVoice","credentials":{"openAiApi":{"id":"SdBSgFnIlnDa5zPJ","name":"OpenAI -Rohan"}}},{"parameters":{"jsCode":"// Process input - handle both text and voice\nconst inputData = $input.first();\nlet processedText = '';\nlet inputType = 'text';\n\n// Check if this is from voice transcription path\nif (inputData.json.text) {\n  processedText = inputData.json.text;\n  inputType = 'voice';\n} \n// Check if this is from text message path  \nelse if (inputData.json.message && inputData.json.message.text) {\n  processedText = inputData.json.message.text;\n  inputType = 'text';\n}\n// Fallback\nelse {\n  processedText = 'Unable to process input';\n  inputType = 'unknown';\n}\n\nreturn {\n  json: {\n    processedText: processedText,\n    inputType: inputType,\n    originalData: inputData.json\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,72],"id":"db6b717e-1ddd-418c-bda7-daf6b597f8ca","name":"processInput"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"46d2b7f6-974e-4cec-80a1-7e37c406d819","name":"downloadVoice","webhookId":"1afdebd8-d005-4386-ae78-227ed173e58c","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c8f5b5f4-c3e8-4b12-9f7a-8e4a9b2c1d3e","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"exists","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,72],"id":"fe7fa88d-1c58-4f18-b23c-f63c249fa386","name":"checkVoiceInput"},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/282b62d4-e493-410f-bbf6-68af61abe7de","include":"selected"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1280,296],"id":"e17c3131-f45b-4422-bc00-c1d2bfd83f92","name":"Zoom MCP"},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/fcf5944a-e233-4f96-a240-69e2fd38c005"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1408,296],"id":"8a6838ca-b5b2-4a0e-8be5-ae530d326abe","name":"Google Calendar MCP"},{"parameters":{"sseEndpoint":"https://n8n.thelinkai.com/mcp/1c6c4278-c021-4154-9619-56bd4402f1c3"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1536,296],"id":"cea6853c-520c-4d4a-a2df-ebe32d624f57","name":"GMail MCP"},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to fetch email id of person, to which meeting is to be scheduled. However fetched emails needs to be confirmed before sending","operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","fields":["emailAddresses"],"useQuery":true,"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[1664,296],"id":"a40c3e5d-541d-4ae4-a095-bc0a80b909ed","name":"getMailID","credentials":{"googleContactsOAuth2Api":{"id":"o6DdeCIPTYQ0hM4L","name":"Google Contacts account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[896,296],"id":"362b57e1-a471-4b77-ad28-0f8cb824accc","name":"gpt-5-nano","credentials":{"openAiApi":{"id":"SdBSgFnIlnDa5zPJ","name":"OpenAI -Rohan"}}},{"parameters":{"method":"POST","url":"=https://api.getzep.com/api/v2/sessions/thelinkai-session/memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role_type\": \"user\",\n      \"content\": \"{{ $('Telegram Trigger').item.json.message.text.replace(/[\\r\\n\\t?!\\\"\":.\\-\\_,]/g, ' ').trim()}}, {{$now.format('yyyy-MM-dd HH:MM:s') }} IST\"\n    },\n    {\n      \"role_type\": \"assistant\",\n      \"content\": \"{{ $('masterAgent').item.json.output.trim().replace(/\\n/g, '').replace(/\"/g, '').replace(/[\\r\\n\\t?!\\\"\":.\\-\\_,]/g, ' ').trim().substring(0, 2400) }}, {{$now.format('yyyy-MM-dd HH:MM:s') }} IST\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,72],"id":"40e978bd-e06f-4bba-831c-8c84d7f44614","name":"addMemory"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[672,72],"id":"a3cd6a21-fcce-4c1f-9ce2-5b7095eaceef","name":"sendTypingUpdate","webhookId":"9d9e0940-bc16-4a97-80bc-de180fd334ef","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1872,72],"id":"1702a634-ebac-457e-a9c6-9b77a7fd167d","name":"sendTypingUpdate1","webhookId":"9d9e0940-bc16-4a97-80bc-de180fd334ef","credentials":{"telegramApi":{"id":"MvjjRt5REE11tMfu","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-448,400],"id":"ae614ef7-f28c-4101-bc1a-14d041914b70","name":"simpleMemory","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1024,296],"id":"ee27e51b-af9e-4c45-80f4-c6a6e9292833","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"lxElSuyyt1xhhyFQ","name":"Postgres - test"}}}],"connections":{"masterAgent":{"main":[[{"node":"sendTypingUpdate1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"checkVoiceInput","type":"main","index":0}]]},"Notion MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"transcribeVoice":{"main":[[{"node":"processInput","type":"main","index":0}]]},"processInput":{"main":[[{"node":"sendTypingUpdate","type":"main","index":0}]]},"downloadVoice":{"main":[[{"node":"transcribeVoice","type":"main","index":0}]]},"checkVoiceInput":{"main":[[{"node":"downloadVoice","type":"main","index":0}],[{"node":"processInput","type":"main","index":0}]]},"Zoom MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"Google Calendar MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"GMail MCP":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"getMailID":{"ai_tool":[[{"node":"masterAgent","type":"ai_tool","index":0}]]},"gpt-5-nano":{"ai_languageModel":[[{"node":"masterAgent","type":"ai_languageModel","index":0}]]},"addMemory":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"sendTypingUpdate":{"main":[[{"node":"masterAgent","type":"main","index":0}]]},"sendTypingUpdate1":{"main":[[{"node":"addMemory","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"masterAgent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"52247878-e3eb-4359-8318-e1b2e47f3a87","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.578Z","createdAt":"2025-12-11T08:33:33.578Z","role":"workflow:owner","workflowId":"3PhutKdJmPFEdNnL","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}