my-workflow-18-5epDeapPdjULytZk.json
{"updatedAt":"2025-10-01T10:24:19.000Z","createdAt":"2025-10-01T07:14:25.539Z","id":"5epDeapPdjULytZk","name":"My workflow 18","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"13ZVeNpwmXQfThnMjMd6Qz3YnIW2cgWyK","mode":"list","cachedResultName":"DEMO","cachedResultUrl":"https://drive.google.com/drive/folders/13ZVeNpwmXQfThnMjMd6Qz3YnIW2cgWyK"},"event":"watchFolderUpdated"},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"ea7a6fff-ea87-405f-8241-494e2a295a75","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"oV904GjdKuHGvvJI","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"user","emailAddress":"vvvadalkar@gmail.com"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"d54c84e4-1ec3-45a5-8a78-d74c41ab10a6","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"oV904GjdKuHGvvJI","name":"Google Drive account"}}},{"parameters":{"resource":"spreadsheet","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,0],"id":"8fb83a8f-b7c3-42d1-a543-50a196f33273","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"anKA85PRdht8ITuy","name":"Google Sheets account 3"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Create spreadsheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3673722a-f35d-4a42-9a4a-c859be38faa0","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.612Z","createdAt":"2025-12-11T08:33:33.612Z","role":"workflow:owner","workflowId":"5epDeapPdjULytZk","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}