my-workflow-5-9Yf5VsaaRLJWiGv0.json
{"createdAt":"2025-08-08T06:49:23.051Z","updatedAt":"2025-08-09T16:42:50.000Z","id":"9Yf5VsaaRLJWiGv0","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{"systemMessage":"=You are a helpful assistant.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[288,0],"id":"b6e3bcac-5de2-44a7-8755-e7f20e4246c0","name":"AI Agent 2"},{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/sessions/sessionId/memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"content\": \"hi\",\n      \"role_type\": \"assistant\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,0],"id":"d88148f5-ef76-44dc-8eef-19d0f14a6ce4","name":"Add Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-128,0],"id":"4a744f51-976c-48a9-8dfa-722592faa505","name":"When chat message received","webhookId":"d4288d76-9a0b-477f-9b55-031c2bd761c6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[336,192],"id":"475a3146-cfac-4b70-ac7f-0bb3d3eceec7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"2LzcbAixEP9G5pIr","name":"OpenAi account 6"}}},{"parameters":{"method":"POST","url":"=https://api.getzep.com/api/v2/sessions/{{ $('When chat message received').item.json.sessionId }}/memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_c6b8b1f0611f69464c860b3ae885639e022d1c54b59ffe82d16faf9c08cc24b0\",\n  \"session_id\": \"{{ $('When chat message received').item.json.sessionId }}\",\n  \"messages\": [\n    {\n      \"role_type\": \"user\",\n      \"content\": \"{{ $('When chat message received').item.json.chatInput }}\"\n    },\n    {\n      \"role_type\": \"assistant\",\n      \"content\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,0],"id":"96bb1eb7-edc8-40d3-83f7-7014be189a9c","name":"Add Memory2"},{"parameters":{"authentication":"oAuth2","topic":"={{ $fromAI('Topic', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.zoomTool","typeVersion":1,"position":[448,208],"id":"f6a78757-05fd-4c32-a477-0a9ff7779898","name":"Create a meeting in Zoom","credentials":{"zoomOAuth2Api":{"id":"GNzmI9yIrOs6Skr2","name":"Zoom account"}}},{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/graph","sendBody":true,"bodyParameters":{"parameters":[{"name":"data","value":"data"},{"name":"type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,208],"id":"5a72d005-ced2-4471-bbef-7c9a0b7979ed","name":"HTTP Request"}],"connections":{"AI Agent 2":{"main":[[{"node":"Add Memory2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent 2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent 2","type":"ai_languageModel","index":0}]]},"Create a meeting in Zoom":{"ai_tool":[[{"node":"AI Agent 2","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a3f191e7-6e20-4ce6-9942-17335953d97a","triggerCount":0,"tags":[]}