my-workflow-14-9EJ7LnBjnzbQpeil.json
{"createdAt":"2025-09-07T10:31:07.487Z","updatedAt":"2025-09-07T11:12:48.000Z","id":"9EJ7LnBjnzbQpeil","name":"My workflow 14","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"862c8421-852c-4fa5-86f0-1b4d61e81a94","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f2a1d088-f7a4-48ee-b0e9-63454110c0cd","name":"Leave Form Filled Payload","webhookId":"862c8421-852c-4fa5-86f0-1b4d61e81a94"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"082108b7-4037-4180-baf0-3a92361d7d12","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"0779c009-abd9-4211-ad23-bec7a4c12efa","name":"If"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|select","selectValue":"Absent"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[832,-96],"id":"99f0375e-2d2a-4f77-85dc-4070d6d0c6d4","name":"Update Status to Absent","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2676a291-5024-80b8-b8ee-d468741c761a","mode":"list","cachedResultName":"Leave Calendar","cachedResultUrl":"https://www.notion.so/2676a291502480b8b8eed468741c761a"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[208,0],"id":"6c73eaea-268a-40dd-8453-de2077d39179","name":"Search Leave Calendar","alwaysOutputData":true,"credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"25f6a291-5024-8037-8c54-f3e880ad673c","mode":"list","cachedResultName":"Attendance Logs","cachedResultUrl":"https://www.notion.so/25f6a291502480378c54f3e880ad673c"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"Is Today?|formula","condition":"equals","returnType":"checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[624,-96],"id":"d31d1ac4-6221-477d-9031-e5937be27561","name":"Get Today's Page in Attendance DB","credentials":{"notionApi":{"id":"RD5Nj5b4ZqmyRZPj","name":"TheLinkAI Notion Account - n8n Salary Report"}}}],"connections":{"Leave Form Filled Payload":{"main":[[{"node":"Search Leave Calendar","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Today's Page in Attendance DB","type":"main","index":0}]]},"Search Leave Calendar":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Today's Page in Attendance DB":{"main":[[{"node":"Update Status to Absent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Leave Form Filled Payload":[{"json":{"headers":{"host":"n8n.thelinkai.com","user-agent":"NotionAutomation","content-length":"2406","baggage":"sentry-environment=production,sentry-release=20250907.0127-bdb6f50,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=39c2c97e82274a53b3b5ef860984be7b","content-type":"application/json","sentry-trace":"39c2c97e82274a53b3b5ef860984be7b-a6c1393a15ce5b03","traceparent":"00-86b8984d9452e1d6e2d2d3e004141ce5-95bb2a35dad777a1-00","x-forwarded-for":"54.191.35.95","x-forwarded-host":"n8n.thelinkai.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cff298b6fc90","x-real-ip":"54.191.35.95","accept-encoding":"gzip"},"params":{},"query":{},"body":{"source":{"type":"automation","automation_id":"2676a291-5024-8049-9705-004d4dfd6e2e","action_id":"2676a291-5024-80f3-9a15-005a0332a911","event_id":"47fbad0b-0fc4-46db-85c6-8c0fa4ef222b","attempt":1},"data":{"object":"page","id":"2676a291-5024-81d1-8ae8-fb240607e9f6","created_time":"2025-09-07T10:31:00.000Z","last_edited_time":"2025-09-07T10:31:00.000Z","created_by":{"object":"user","id":"229d872b-594c-8139-ad0b-00025ec29529"},"last_edited_by":{"object":"user","id":"00000000-0000-0000-0000-000000000003"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25b6a291-5024-80b7-bd63-fc5ab5dc17d2"},"archived":false,"in_trash":false,"properties":{"Created time":{"id":"%3Et%5Dp","type":"created_time","created_time":"2025-09-07T10:31:00.000Z"},"Leave Days":{"id":"LJ%40R","type":"formula","formula":{"type":"number","number":5}},"Note":{"id":"Qi%40b","type":"rich_text","rich_text":[{"type":"text","text":{"content":"...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"...","href":null}]},"Leave Type":{"id":"THWK","type":"select","select":null},"Manager":{"id":"%5Eh%3Bn","type":"formula","formula":{"type":"string","string":null}},"End Date":{"id":"%60m~%5E","type":"date","date":{"start":"2025-09-12","end":null,"time_zone":null}},"Created by":{"id":"evH%5E","type":"created_by","created_by":{"object":"user","id":"229d872b-594c-8139-ad0b-00025ec29529","name":"Hardik Bhatt","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/f17d43b8-f3bb-4738-9677-0ed0f4870cc2/Hardik.jpg","type":"person","person":{"email":"hardik@thelinkai.com"}}},"Start Date":{"id":"hc%7B%5C","type":"date","date":{"start":"2025-09-08","end":null,"time_zone":null}},"Status":{"id":"t%3E%3FN","type":"select","select":{"id":"0e85c1da-887e-46e2-a114-e282ef2c7573","name":"In Review","color":"orange"}},"Employee":{"id":"vPzu","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"New submission","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New submission","href":null}]}},"url":"https://www.notion.so/New-submission-2676a291502481d18ae8fb240607e9f6","public_url":null,"request_id":"c6594333-e22a-4390-91ab-2ed5c3abe235"}},"webhookUrl":"https://n8n.thelinkai.com/webhook-test/862c8421-852c-4fa5-86f0-1b4d61e81a94","executionMode":"test"}}]},"versionId":"c872c787-9440-4938-a0b6-d5279d16f01f","triggerCount":0,"tags":[]}