my-workflow-4-AMrXjBxLBK1loDOi.json
{"updatedAt":"2025-08-09T16:42:44.000Z","createdAt":"2025-08-08T06:01:12.953Z","id":"AMrXjBxLBK1loDOi","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1152,144],"id":"c3480651-de23-4211-ad55-c0714ff4327c","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[928,144],"id":"bf960d90-97f2-4b55-8eb5-b66f2e4277d2","name":"Telegram Trigger","webhookId":"a34c3482-9875-488f-bbc5-a2f1e13d4c2b"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,144],"id":"e125490c-2bc3-49dc-a83f-729d314c4584","name":"Send a text message","webhookId":"75cc86ae-39ba-4d05-a857-25695ce4ea6f"},{"parameters":{"jsCode":"// n8n Code Node\n// This code extracts all facts from the JSON structure\n\n// Get the input data\nconst items = $input.all();\nconst facts = [];\n\n// Process each item\nfor (const item of items) {\n  try {\n    // Parse the data string if it exists\n    if (item.json.data) {\n      const parsedData = JSON.parse(item.json.data);\n      \n      // Check if edges array exists\n      if (parsedData.edges && Array.isArray(parsedData.edges)) {\n        // Extract facts from each edge\n        parsedData.edges.forEach(edge => {\n          if (edge.fact) {\n            facts.push(edge.fact);\n          }\n        });\n      }\n    }\n  } catch (error) {\n    // Handle parsing errors\n    console.error('Error parsing data:', error);\n  }\n}\n\n// Return all facts as an array in a single item\nreturn [{\n  json: {\n    facts: facts\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,784],"id":"50010e62-ddf5-4b9f-a475-3c10c4325877","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful assistant.\n\nHere is some additional information about Nate:\n{{ $json.facts.join(\"\\n\") }}\n\n5 most recent interactions with Nate:\n{{ $json.conversations.join(\"\\n\\n\")}}\n\nAlways save the conversation using `saveMemory` tool"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1552,704],"id":"c24bfe93-cac1-4af6-b485-8631b3af890e","name":"AI Agent 2"},{"parameters":{"url":"=https://api.getzep.com/api/v2/sessions/{{ $json.sessionId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,624],"id":"31857369-3fd5-4340-bbdd-9c8341b95c76","name":"Context Window"},{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/graph/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_f54ac169f0c23bcb4f99b0b32e11b01c2c3313c3e7125b82acfac88419aef80d\",\n  \"query\": \"{{ $json.chatInput }}\",\n  \"scope\": \"edges\",\n  \"limit\": 3,\n  \"search_filters\": {\n    \"min_relevance\": 0.7\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,784],"id":"8a15907b-8124-4145-bf9c-d212f63be484","name":"User Graph"},{"parameters":{"jsCode":"// Loop through each item\nfor (const item of $input.all()) {\n  // Parse the JSON data\n  const jsonData = JSON.parse(item.json.data);\n  const messages = jsonData.messages;\n  \n  // Array to store formatted message pairs\n  const messagePairs = [];\n  \n  // Process messages in pairs (Human followed by AI)\n  for (let i = 0; i < messages.length; i++) {\n    const message = messages[i];\n    \n    // Look for Human messages\n    if (message.role === \"Human\" && message.role_type === \"user\") {\n      // Check if there's a corresponding AI response\n      if (i + 1 < messages.length && messages[i + 1].role === \"AI\" && messages[i + 1].role_type === \"assistant\") {\n        // Format the pair\n        const pair = `Human: ${message.content}\\nAI: ${messages[i + 1].content}`;\n        messagePairs.push(pair);\n        \n        // Skip the AI message in the next iteration since we've already processed it\n        i++;\n      } else {\n        // If no AI response, just add the human message\n        messagePairs.push(`Human: ${message.content}`);\n      }\n    } else if (message.role === \"AI\" && message.role_type === \"assistant\") {\n      // Handle standalone AI messages (shouldn't happen in normal conversation flow)\n      messagePairs.push(`AI: ${message.content}`);\n    }\n  }\n  \n  // Return all pairs as a single array\n  return [{\n    json: {\n      conversations: messagePairs\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,624],"id":"e594de42-6e1d-4d1e-9fbc-8d6a9ec028f0","name":"Code1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1392,704],"id":"ca982bb9-64cf-4c13-bcaf-7a7e0882b4d7","name":"Merge"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[912,1184],"id":"6824cd31-387e-4d94-8f25-8b8ffd68b35f","name":"Telegram Trigger2","webhookId":"a34c3482-9875-488f-bbc5-a2f1e13d4c2b","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger2').item.json.message.chat.id }}","text":"={{ $('AI Agent 3').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,1184],"id":"a459f9f8-5f4e-4418-98eb-0bc532a8a394","name":"Send a text message2","webhookId":"75cc86ae-39ba-4d05-a857-25695ce4ea6f"},{"parameters":{"jsCode":"// n8n Code Node\n// This code extracts all facts from the JSON structure\n\n// Get the input data\nconst items = $input.all();\nconst facts = [];\n\n// Process each item\nfor (const item of items) {\n  try {\n    // Parse the data string if it exists\n    if (item.json.data) {\n      const parsedData = JSON.parse(item.json.data);\n      \n      // Check if edges array exists\n      if (parsedData.edges && Array.isArray(parsedData.edges)) {\n        // Extract facts from each edge\n        parsedData.edges.forEach(edge => {\n          if (edge.fact) {\n            facts.push(edge.fact);\n          }\n        });\n      }\n    }\n  } catch (error) {\n    // Handle parsing errors\n    console.error('Error parsing data:', error);\n  }\n}\n\n// Return all facts as an array in a single item\nreturn [{\n  json: {\n    facts: facts\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,1184],"id":"87bcc517-7106-44b1-8154-48bbbee1d0d4","name":"Code2"},{"parameters":{"method":"POST","url":"https://api.getzep.com/api/v2/graph/search","authentication":"predefinedCredentialType","nodeCredentialType":"zepApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_c6b8b1f0611f69464c860b3ae885639e022d1c54b59ffe82d16faf9c08cc24b0\",\n  \"query\": \"{{ $json.message.text }}\",\n  \"scope\": \"edges\",\n  \"limit\": 3,\n  \"search_filters\": {\n    \"min_relevance\": 0.7\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,1184],"id":"96775ab0-7f2b-4138-9cb3-948b8702b983","name":"User Graph1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger2').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1504,1392],"id":"e10177e2-fdf8-471a-9afb-b0db94b3e790","name":"Postgres Chat Memory"},{"parameters":{"content":"# Zep Memory\nContext & User Graph\n","height":500,"width":940,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,0],"id":"2c73f89a-f7c0-4930-8647-e454c2fa21c3","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1120,320],"id":"28c72457-25ce-4dbf-bb24-a27f73f40dda","name":"GPT 4.1 mini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1360,1392],"id":"6dd3bfb5-2b2b-4690-86af-38faac6dfddf","name":"GPT 4.1 mini2"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger2').item.json.message.text }}","options":{"systemMessage":"=You are a helpful assistant.\n\nHere is some additional information about Nate:\n{{ $json.facts.join(\"\\n\") }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1424,1184],"id":"a09a35f5-45c2-43b5-8311-a9fdcd5a75e9","name":"AI Agent 3"},{"parameters":{"content":"# Zep Memory (HTTP)\nContext & User Graph\n","height":500,"width":1480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,1056],"id":"1739bd7c-fb15-4b12-9dc6-7bf23075d074","name":"Sticky Note1"},{"parameters":{"content":"# Zep & Postgres Hybrid\nContext & User Graph\n","height":500,"width":1360,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,1040],"id":"b74e1722-4255-4ba6-8f39-16aca53bff5c","name":"Sticky Note2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=1"},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[1328,320],"id":"6ce2bebc-ab51-4df1-be40-17bc35ddf719","name":"Zep"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1872,320],"id":"39e938eb-150a-442e-95f5-cc8811c78014","name":"Simple Memory"},{"parameters":{"method":"POST","url":"=https://api.getzep.com/api/v2/sessions/{{ $('Telegram Trigger2').item.json.message.chat.id }}/memory","authentication":"predefinedCredentialType","nodeCredentialType":"zepApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_c6b8b1f0611f69464c860b3ae885639e022d1c54b59ffe82d16faf9c08cc24b0\",\n  \"session_id\": \"{{ $('Telegram Trigger2').item.json.message.chat.id }}\",\n  \"messages\": [\n    {\n      \"role_type\": \"user\",\n      \"content\": \"{{ $('Telegram Trigger2').item.json.message.text }}\"\n    },\n    {\n      \"role_type\": \"assistant\",\n      \"content\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,1184],"id":"ec85e8c8-64cb-4fed-a049-943ab302a296","name":"Add Memory1"},{"parameters":{"content":"# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow the steps below to get this workflow up and running:\n\n### ✅ Step 1: Set Up Your [ZEP](https://www.getzep.com/) Account  \nHead to [ZEP](https://www.getzep.com/) and create a free account. This gives you access to your API key.  \nOnce you have your key:  \n- Plug it into the ZEP Memory Module in n8n.  \n- You can also reuse this credential in HTTP Request nodes that call ZEP’s API.\n\n### ✅ Step 2: Connect a Chat Model  \nHook up a chat model to your AI agents to power conversations.  \nOptions include:  \n- [OpenRouter](https://openrouter.ai/) – connect your OpenRouter API key.  \n- Or use any other model provider of your choice.\n\n### ✅ Step 3: Connect Telegram (Optional)  \nWant to chat with your agents via Telegram?  \n- Add your Telegram credentials in n8n so your agents can send/receive messages there.\n\n### ✅ Step 4: Add Your Postgres Credential  \nIn hybrid workflows that combine ZEP + Postgres, plug in your Postgres credentials.  \n- This helps maintain a solid context window across memory systems.\n\n### 💡 Final Step: Start Testing & Exploring  \n- Check token usage.  \n- Explore your user graph in ZEP.  \n- Fine-tune your agents.  \n- Happy automating!\n","height":780,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"f2161a85-82f2-4df5-81ea-4ae76773564b","name":"Sticky Note3"},{"parameters":{"content":"## Ew... simple memory","height":300,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,208],"id":"56ba674f-5c2d-47e4-a4d2-36fd40e2a527","name":"Sticky Note4"},{"parameters":{"method":"POST","url":"=https://api.getzep.com/api/v2/sessions/{{ $('When chat message received').item.json.sessionId }}/memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Api-Key z_1dWlkIjoiOTBiM2VjOTEtNzhiZC00NTIyLTgxNWMtZDU0NWU1YWMyOGE4In0.qUi4PUKwxUnFc0qdbJQIQ9Co9Ree9ll7Jvoy8amShd16MHYNJL-7Yv1ESO9Hafgz1sv4tQzIzNVDj_U0M1toBw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"user_id\": \"zep_9155426e62c88daa858b19d0a1d1ff641d1fe0f8ea87427b8aed9c0f16c54c0b\",\n  \"session_id\": \"{{ $('When chat message received').item.json.sessionId }}\",\n  \"messages\": [\n    {\n      \"role_type\": \"user\",\n      \"content\": \"{{ $('When chat message received').item.json.chatInput }}\"\n    },\n    {\n      \"role_type\": \"assistant\",\n      \"content\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,720],"id":"bd25e734-3e60-4aa9-baa0-10845fb4ec5c","name":"Add Memory2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[864,720],"id":"a47c424e-60b2-45f9-9353-d1249e6ea366","name":"When chat message received","webhookId":"854b91e3-0ff5-415e-9e94-a6c4be1013f0"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1424,912],"id":"cccd6097-1c91-4de3-9480-9b7cf975a6f2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"2LzcbAixEP9G5pIr","name":"OpenAi account 6"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]},"User Graph":{"main":[[{"node":"Code","type":"main","index":0}]]},"Context Window":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent 2","type":"main","index":0}]]},"AI Agent 2":{"main":[[{"node":"Add Memory2","type":"main","index":0}]]},"Telegram Trigger2":{"main":[[{"node":"User Graph1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent 3","type":"main","index":0}]]},"User Graph1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent 3","type":"ai_memory","index":0}]]},"GPT 4.1 mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"GPT 4.1 mini2":{"ai_languageModel":[[{"node":"AI Agent 3","type":"ai_languageModel","index":0}]]},"AI Agent 3":{"main":[[{"node":"Add Memory1","type":"main","index":0}]]},"Zep":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Add Memory1":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Context Window","type":"main","index":0},{"node":"User Graph","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent 2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e36fa282-48ca-4c7e-978d-a58093a409dd","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.510Z","createdAt":"2025-12-11T08:33:33.510Z","role":"workflow:owner","workflowId":"AMrXjBxLBK1loDOi","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}