my-workflow-ZlYbWaeBGOrTjfH1.json
{"createdAt":"2025-07-19T09:46:42.800Z","updatedAt":"2025-07-19T09:50:45.000Z","id":"ZlYbWaeBGOrTjfH1","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"be829458-46c6-49fc-9b23-4aee509a94ea","name":"Telegram Webhook Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1472,416],"webhookId":"marketing-agency-webhook-id","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"chat-id-assignment","name":"chatId","type":"string","value":"={{ $json.message?.chat.id || $json.callback_query?.message.chat.id }}"},{"id":"user-id-assignment","name":"userId","type":"string","value":"={{ $json.message?.from.id || $json.callback_query?.from.id }}"},{"id":"message-text-assignment","name":"messageText","type":"string","value":"={{ $json.message?.text || $json.callback_query?.data || '' }}"},{"id":"username-assignment","name":"username","type":"string","value":"={{ $json.message?.from.username || $json.callback_query?.from.username || 'Unknown' }}"},{"id":"first-name-assignment","name":"firstName","type":"string","value":"={{ $json.message?.from.first_name || $json.callback_query?.from.first_name || '' }}"},{"id":"last-name-assignment","name":"lastName","type":"string","value":"={{ $json.message?.from.last_name || $json.callback_query?.from.last_name || '' }}"},{"id":"message-type-assignment","name":"messageType","type":"string","value":"={{ $json.message ? 'message' : 'callback_query' }}"},{"id":"timestamp-assignment","name":"timestamp","type":"string","value":"={{ new Date().toISOString() }}"}]},"includeOtherFields":true,"options":{}},"id":"98f24323-d50c-49d2-87ca-d2b1b82b8871","name":"Process Marketing Message","type":"n8n-nodes-base.set","position":[-1248,416],"typeVersion":3.4},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.messageText.toLowerCase() }}","value2":"/start"},{"value1":"={{ $json.messageText.toLowerCase() }}","value2":"/services"},{"value1":"={{ $json.messageText.toLowerCase() }}","value2":"/quote"},{"value1":"={{ $json.messageText.toLowerCase() }}","value2":"/portfolio"},{"value1":"={{ $json.messageText.toLowerCase() }}","value2":"/contact"}]}},"id":"b8f4c92f-8da9-4abe-a0b6-19d64b956038","name":"Lead Qualification System","type":"n8n-nodes-base.if","position":[-1024,416],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"2295bc5e-4dcf-4da8-ad6d-2ce259059007","name":"AI Lead Analysis & Intent Detection","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-816,320],"typeVersion":1.2},{"parameters":{"rules":{"rules":[{},{"output":1},{"output":2},{"output":3},{"output":4},{"output":5},{"output":6}]}},"id":"b3a89ec4-10bb-43b0-85a0-bd7d1f510046","name":"Marketing Agency Menu Handler","type":"n8n-nodes-base.switch","position":[-816,512],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"welcome-text","name":"responseText","type":"string","value":"🎯 *Welcome to Digital Marketing Excellence!*\n\nI'm your AI assistant from *[Your Agency Name]*. We specialize in:\n\n📈 *Digital Marketing Services:*\n• SEO & Content Marketing\n• Social Media Management\n• PPC & Google Ads\n• Email Marketing\n• Web Design & Development\n• Analytics & Reporting\n\n💼 *Why Choose Us:*\n• 500+ Successful Campaigns\n• 95% Client Retention Rate\n• ROI-Focused Strategies\n• 24/7 Support\n\nUse these commands to get started:\n/services - View our services\n/quote - Get a free quote\n/portfolio - See our work\n/contact - Talk to our team\n\n*Ready to grow your business?* 🚀"},{"id":"lead-status","name":"leadStatus","type":"string","value":"NEW_LEAD"},{"id":"priority","name":"priority","type":"string","value":"HIGH"}]},"options":{}},"id":"7c1516da-c323-413a-9c14-93958201f53e","name":"Agency Welcome & Lead Capture","type":"n8n-nodes-base.set","position":[-592,416],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"services-text","name":"responseText","type":"string","value":"🛠️ *Our Digital Marketing Services*\n\n*1. SEO & Content Marketing*\n• Keyword Research & Optimization\n• Content Strategy & Creation\n• Technical SEO Audits\n• Local SEO Services\n\n*2. Social Media Management*\n• Platform Strategy (FB, IG, LinkedIn, TikTok)\n• Content Creation & Scheduling\n• Community Management\n• Paid Social Advertising\n\n*3. PPC & Google Ads*\n• Google Ads Management\n• Facebook/Instagram Ads\n• Remarketing Campaigns\n• Conversion Optimization\n\n*4. Email Marketing*\n• Email Strategy & Design\n• Automation & Segmentation\n• A/B Testing & Optimization\n• List Building & Management\n\n*5. Web Design & Development*\n• Responsive Website Design\n• E-commerce Solutions\n• Landing Page Optimization\n• Website Maintenance\n\n*6. Analytics & Reporting*\n• Google Analytics Setup\n• Custom Dashboards\n• Monthly Performance Reports\n• ROI Tracking\n\n💡 *Ready to discuss your specific needs?*\nUse /quote to get a personalized proposal!"},{"id":"service-interest","name":"serviceInterest","type":"string","value":"SERVICES_VIEWED"}]},"options":{}},"id":"d59272dd-7aa3-4b9d-9bc7-7a97cac837c9","name":"Services Showcase","type":"n8n-nodes-base.set","position":[-592,608],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"quote-text","name":"responseText","type":"string","value":"💰 *Get Your Free Marketing Quote*\n\nTo provide you with the most accurate quote, I need some information:\n\n*Please answer these questions:*\n\n1️⃣ *What's your business type?*\n• E-commerce\n• Service Business\n• Local Business\n• SaaS/Startup\n• Other\n\n2️⃣ *What's your monthly marketing budget?*\n• Under $1,000\n• $1,000 - $5,000\n• $5,000 - $10,000\n• $10,000+\n\n3️⃣ *Which services interest you most?*\n• SEO & Content\n• Social Media\n• PPC & Ads\n• Email Marketing\n• Web Design\n• All of the above\n\n4️⃣ *What are your main goals?*\n• Increase Sales\n• Build Brand Awareness\n• Generate Leads\n• Improve Website Traffic\n• Other\n\n*Reply with your answers, and I'll create a personalized proposal!* 📋"},{"id":"quote-stage","name":"quoteStage","type":"string","value":"QUOTE_REQUESTED"}]},"options":{}},"id":"e59cb523-f608-469d-b6c2-e52221d1ad08","name":"Quote Request Form","type":"n8n-nodes-base.set","position":[-592,816],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"portfolio-text","name":"responseText","type":"string","value":"🏆 *Our Success Stories*\n\n*Recent Client Results:*\n\n📈 *E-commerce Client*\n• 300% increase in organic traffic\n• 150% boost in online sales\n• ROI: 450% in 6 months\n\n📊 *Local Service Business*\n• 200% increase in local search visibility\n• 80% more qualified leads\n• 120% revenue growth\n\n🎯 *SaaS Startup*\n• 500% increase in trial signups\n• 40% reduction in customer acquisition cost\n• 300% growth in monthly recurring revenue\n\n📱 *Restaurant Chain*\n• 400% increase in social media engagement\n• 250% boost in online orders\n• 180% growth in foot traffic\n\n*Want to see more case studies?*\nVisit our website: [YourWebsite.com]\n\n*Ready to be our next success story?* 💪\nUse /quote to get started!"},{"id":"portfolio-viewed","name":"portfolioViewed","type":"string","value":"PORTFOLIO_VIEWED"}]},"options":{}},"id":"80ef9585-408f-4e4c-a83e-9283d14fe10e","name":"Portfolio & Case Studies","type":"n8n-nodes-base.set","position":[-592,1008],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"contact-text","name":"responseText","type":"string","value":"📞 *Get in Touch with Our Team*\n\n*Contact Information:*\n\n📧 *Email:* hello@youragency.com\n📱 *Phone:* +1 (555) 123-4567\n🌐 *Website:* [YourWebsite.com]\n📍 *Address:* [Your Business Address]\n\n*Office Hours:*\nMonday - Friday: 9 AM - 6 PM EST\nSaturday: 10 AM - 2 PM EST\n\n*Book a Free Consultation:*\n📅 *Calendar Link:* [Calendly Link]\n⏰ *Duration:* 30 minutes\n💬 *Format:* Video call or phone\n\n*What to Expect:*\n• Business analysis\n• Goal setting\n• Strategy recommendations\n• Custom proposal\n• Next steps\n\n*Prefer to chat now?*\nOur team is available for immediate assistance!\n\n*Let's grow your business together!* 🚀"},{"id":"contact-requested","name":"contactRequested","type":"string","value":"CONTACT_REQUESTED"}]},"options":{}},"id":"5ac5a35f-25ff-402e-81c8-d55e8796bafd","name":"Contact Information & Booking","type":"n8n-nodes-base.set","position":[-592,1216],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"analytics-text","name":"responseText","type":"string","value":"📊 *Your Marketing Analytics Dashboard*\n\n*This Month's Performance:*\n\n🎯 *Website Traffic:*\n• Total Visitors: 15,432 (+23% vs last month)\n• Organic Traffic: 8,945 (+18%)\n• Paid Traffic: 6,487 (+31%)\n\n💰 *Conversion Metrics:*\n• Lead Generation: 234 (+45%)\n• Conversion Rate: 3.2% (+0.8%)\n• Cost per Lead: $28 (-12%)\n\n📈 *SEO Performance:*\n• Rankings Improved: 15 keywords\n• New Rankings: 8 keywords\n• Organic Clicks: 2,156 (+22%)\n\n📱 *Social Media:*\n• Followers Growth: +1,234\n• Engagement Rate: 4.8% (+1.2%)\n• Reach: 45,678 (+67%)\n\n📧 *Email Marketing:*\n• Open Rate: 28.5% (+3.2%)\n• Click Rate: 4.2% (+0.8%)\n• Revenue Generated: $12,450\n\n*Want detailed reports?*\nContact your account manager or use /contact"},{"id":"analytics-viewed","name":"analyticsViewed","type":"string","value":"ANALYTICS_VIEWED"}]},"options":{}},"id":"5ba3cb5f-d864-4767-bcf8-f5eee8c26e89","name":"Client Analytics Dashboard","type":"n8n-nodes-base.set","position":[-592,1408],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"campaign-text","name":"responseText","type":"string","value":"🎯 *Campaign Management Center*\n\n*Active Campaigns:*\n\n1️⃣ *Q4 Holiday PPC Campaign*\n• Status: Active\n• Budget: $5,000/month\n• Performance: 127% of target\n• Next Review: Dec 15\n\n2️⃣ *SEO Content Campaign*\n• Status: Active\n• Target: 20 new blog posts\n• Progress: 15/20 completed\n• Next Review: Dec 20\n\n3️⃣ *Social Media Holiday Campaign*\n• Status: Active\n• Platforms: FB, IG, LinkedIn\n• Engagement: +45% vs last month\n• Next Review: Dec 18\n\n*Campaign Actions:*\n• View detailed reports\n• Adjust budgets\n• Pause/resume campaigns\n• Request optimizations\n\n*Quick Actions:*\n• Schedule performance call\n• Request creative updates\n• Adjust targeting\n• Add new campaigns\n\n*Need campaign changes?*\nContact your account manager or use /contact"},{"id":"campaign-accessed","name":"campaignAccessed","type":"string","value":"CAMPAIGN_ACCESSED"}]},"options":{}},"id":"b550cc9c-1599-4bb2-b0f8-0de2c985c198","name":"Campaign Management Interface","type":"n8n-nodes-base.set","position":[-592,1616],"typeVersion":3.4},{"parameters":{"chatId":"={{ $('Process Marketing Message').item.json.chatId }}","text":"={{ $json.responseText }}","additionalFields":{}},"id":"04dc18c9-4bcb-4548-a14f-15c0f96377fb","name":"Send Marketing Response","type":"n8n-nodes-base.telegram","position":[-368,416],"typeVersion":1.2,"webhookId":"58100f73-7cfd-40fc-bff6-a924dac282c0"},{"parameters":{"chatId":"={{ $('Process Marketing Message').item.json.chatId }}","text":"={{ $json.text || 'Thank you for your message! Our team will review your inquiry and get back to you shortly. In the meantime, feel free to explore our services with /services or request a quote with /quote.' }}","additionalFields":{}},"id":"c76f753e-242f-4202-8d15-9489a89af39b","name":"Send AI-Generated Response","type":"n8n-nodes-base.telegram","position":[-368,208],"typeVersion":1.2,"webhookId":"1c514da7-8e3e-4b14-88c0-61571eb62b90"},{"parameters":{"assignments":{"assignments":[{"id":"lead-record","name":"leadRecord","type":"string","value":"Lead ID: {{ $('Process Marketing Message').item.json.userId }}\nName: {{ $('Process Marketing Message').item.json.firstName }} {{ $('Process Marketing Message').item.json.lastName }}\nUsername: @{{ $('Process Marketing Message').item.json.username }}\nChat ID: {{ $('Process Marketing Message').item.json.chatId }}\nFirst Contact: {{ $('Process Marketing Message').item.json.timestamp }}\nLead Status: {{ $json.leadStatus || $json.serviceInterest || $json.quoteStage || $json.portfolioViewed || $json.contactRequested || $json.analyticsViewed || $json.campaignAccessed || 'NEW_INTERACTION' }}\nPriority: {{ $json.priority || 'MEDIUM' }}\nSource: Telegram Bot\nLast Interaction: {{ $('Process Marketing Message').item.json.timestamp }}"},{"id":"crm-action","name":"crmAction","type":"string","value":"CREATE_OR_UPDATE_LEAD"}]},"options":{}},"id":"573bea5b-e39f-45eb-8751-b95816be1587","name":"Lead Database & CRM Integration","type":"n8n-nodes-base.set","position":[-144,416],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"notification-text","name":"notificationText","type":"string","value":"🔔 *New Lead Alert*\n\n*Lead Details:*\n• Name: {{ $('Process Marketing Message').item.json.firstName }} {{ $('Process Marketing Message').item.json.lastName }}\n• Username: @{{ $('Process Marketing Message').item.json.username }}\n• Lead Status: {{ $json.leadStatus || $json.serviceInterest || $json.quoteStage || $json.portfolioViewed || $json.contactRequested || $json.analyticsViewed || $json.campaignAccessed || 'NEW_INTERACTION' }}\n• Priority: {{ $json.priority || 'MEDIUM' }}\n• Message: {{ $('Process Marketing Message').item.json.messageText }}\n\n*Action Required:*\n• Review lead qualification\n• Schedule follow-up\n• Update CRM record\n• Assign to sales team\n\n*Quick Actions:*\n• Send welcome email\n• Schedule discovery call\n• Create proposal\n• Add to nurture sequence"},{"id":"notification-priority","name":"notificationPriority","type":"string","value":"{{ $json.priority || 'MEDIUM' }}"}]},"options":{}},"id":"756e5c22-8d60-437e-b2dd-16c80899d62d","name":"Team Notification System","type":"n8n-nodes-base.set","position":[80,416],"typeVersion":3.4},{"parameters":{"chatId":"TEAM_CHAT_ID_HERE","text":"={{ $json.notificationText }}","additionalFields":{}},"id":"3e611199-2887-41d0-9017-bff71e2be0cd","name":"Send Team Notification","type":"n8n-nodes-base.telegram","position":[304,416],"typeVersion":1.2,"webhookId":"fdbd5ae5-c6e9-49c3-a232-18b841fc9522"},{"parameters":{"assignments":{"assignments":[{"id":"analytics-data","name":"analyticsData","type":"string","value":"Event: {{ $json.leadStatus || $json.serviceInterest || $json.quoteStage || $json.portfolioViewed || $json.contactRequested || $json.analyticsViewed || $json.campaignAccessed || 'GENERAL_INTERACTION' }}\nUser ID: {{ $('Process Marketing Message').item.json.userId }}\nTimestamp: {{ $('Process Marketing Message').item.json.timestamp }}\nSource: Telegram Bot\nConversion Stage: {{ $json.leadStatus || $json.serviceInterest || $json.quoteStage || $json.portfolioViewed || $json.contactRequested || $json.analyticsViewed || $json.campaignAccessed || 'AWARENESS' }}\nPriority Score: {{ $json.priority || 'MEDIUM' }}"},{"id":"tracking-action","name":"trackingAction","type":"string","value":"TRACK_CONVERSION_EVENT"}]},"options":{}},"id":"6578507e-b082-46f0-9e1d-6cd5e3063a51","name":"Analytics & Performance Tracker","type":"n8n-nodes-base.set","position":[304,608],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"follow-up-plan","name":"followUpPlan","type":"string","value":"Lead: {{ $('Process Marketing Message').item.json.firstName }} {{ $('Process Marketing Message').item.json.lastName }}\nStatus: {{ $json.leadStatus || $json.serviceInterest || $json.quoteStage || $json.portfolioViewed || $json.contactRequested || $json.analyticsViewed || $json.campaignAccessed || 'NEW_INTERACTION' }}\n\nFollow-up Schedule:\n• Immediate: Welcome message sent\n• 1 hour: Sales team notification\n• 24 hours: Personalized follow-up email\n• 3 days: Service-specific content\n• 7 days: Case study sharing\n• 14 days: Special offer\n• 30 days: Re-engagement campaign\n\nNurture Sequence: {{ $json.leadStatus || $json.serviceInterest || $json.quoteStage || $json.portfolioViewed || $json.contactRequested || $json.analyticsViewed || $json.campaignAccessed || 'GENERAL' }}_NURTURE_SEQUENCE"},{"id":"scheduler-action","name":"schedulerAction","type":"string","value":"SCHEDULE_FOLLOW_UP"}]},"options":{}},"id":"e9f1de07-9f63-4478-8e49-21380db7f7e1","name":"Follow-up & Nurture Scheduler","type":"n8n-nodes-base.set","position":[304,816],"typeVersion":3.4}],"connections":{"Telegram Webhook Trigger":{"main":[[{"node":"Process Marketing Message","type":"main","index":0}]]},"Process Marketing Message":{"main":[[{"node":"Lead Qualification System","type":"main","index":0}]]},"Lead Qualification System":{"main":[[],[{"node":"Marketing Agency Menu Handler","type":"main","index":0}]]},"Marketing Agency Menu Handler":{"main":[[{"node":"Agency Welcome & Lead Capture","type":"main","index":0}],[{"node":"Services Showcase","type":"main","index":0}],[{"node":"Quote Request Form","type":"main","index":0}],[{"node":"Portfolio & Case Studies","type":"main","index":0}]]},"Agency Welcome & Lead Capture":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Services Showcase":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Quote Request Form":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Portfolio & Case Studies":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Contact Information & Booking":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Client Analytics Dashboard":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Campaign Management Interface":{"main":[[{"node":"Send Marketing Response","type":"main","index":0}]]},"Send Marketing Response":{"main":[[{"node":"Lead Database & CRM Integration","type":"main","index":0}]]},"Send AI-Generated Response":{"main":[[{"node":"Lead Database & CRM Integration","type":"main","index":0}]]},"Lead Database & CRM Integration":{"main":[[{"node":"Team Notification System","type":"main","index":0}]]},"Team Notification System":{"main":[[{"node":"Send Team Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d93cdb4-01ad-4c85-8c4b-caa65a3d7307","triggerCount":0,"tags":[]}