news-vaT40Az8G3I9DRnY.json
{"createdAt":"2025-10-04T09:05:29.526Z","updatedAt":"2025-10-06T11:47:46.000Z","id":"vaT40Az8G3I9DRnY","name":"News","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1056,-64],"id":"214819bf-221a-4460-9c5a-4e54c9ee57a0","name":"Schedule Trigger"},{"parameters":{"url":"https://www.aajtak.com","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"AI"},{},{"name":"apikey","value":"4c9453b4c9e44f1f8b13f3cef9fd8da5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,-176],"id":"a346090d-8393-472f-8296-732c8b8b5c0c","name":"Get News"},{"parameters":{"url":"https://newsapi.org","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"AI"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api","value":"4c9453b4c9e44f1f8b13f3cef9fd8da5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,48],"id":"864223dc-88e1-48f4-a1dd-72480699452f","name":"Get_NewsAPI"},{"parameters":{"assignments":{"assignments":[{"id":"e277bdad-bcd0-4185-90ca-e4ec23796bd4","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-176],"id":"01e32f70-a891-43d1-824b-bcdf750bbb5b","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"e277bdad-bcd0-4185-90ca-e4ec23796bd4","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,48],"id":"fad2a285-ae80-426c-8b27-7c74cd8ccd42","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-336,-80],"id":"3e9b2178-753e-4743-8d31-cf208b3712b0","name":"Merge"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-144,64],"id":"fce094ec-2eb0-4cd2-b78f-c7053d6cfe90","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pYm5D1cOKKksic3L","name":"OpenAi account 9"}}},{"parameters":{"promptType":"define","text":"Select top 5 articles on Politics","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-144,-80],"id":"8f333290-db07-407c-adce-c6a280b32cf4","name":"AI News Summeriser","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get News","type":"main","index":0},{"node":"Get_NewsAPI","type":"main","index":0}]]},"Get News":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get_NewsAPI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI News Summeriser","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI News Summeriser","type":"ai_languageModel","index":0}]]},"AI News Summeriser":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e3cbf4c-f34d-48e5-a52f-af4040753df1","triggerCount":0,"tags":[]}