newsletter-zGEExqaPjDbXfx7A.json
{"updatedAt":"2025-10-14T06:50:09.000Z","createdAt":"2025-10-06T07:24:36.825Z","id":"zGEExqaPjDbXfx7A","name":"newsletter","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,-3680],"id":"d6fd8367-5854-4636-ba7e-b4bdf25aba50","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"newsletter","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"neq","keyValue":"sent"},{"keyName":"status","condition":"neq","keyValue":"cancelled"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,-3680],"id":"64330b62-bec4-453c-b045-37a14e679f50","name":"getScheduledNewsletters","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"scheduled","operator":{"type":"string","operation":"equals"},"id":"45c039d4-8460-45de-a252-ea1af6e91d94"}],"combinator":"and"},"renameOutput":true,"outputKey":"scheduled"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"315da0ec-718d-46e2-afe3-c7bca936c2a5","leftValue":"={{ $json.status }}","rightValue":"regenerate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"regenerate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e93ebf92-088a-4d6f-8011-962ec8a6a219","leftValue":"={{ $json.status }}","rightValue":"generated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"generated"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1568,-3696],"id":"07bb568c-41f8-40ac-9f69-1b26cc36454f","name":"checkStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.approval_status }}","rightValue":"review","operator":{"type":"string","operation":"equals"},"id":"e1aea8b3-b9a1-4ec0-a43a-d34dfa04c210"}],"combinator":"and"},"renameOutput":true,"outputKey":"needs_review"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d18a9f3-eed7-4983-a2da-a4ca732d2f66","leftValue":"={{ $json.approval_status }}","rightValue":"approved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"is_approved"}]},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1344,-3456],"id":"da940b6f-aa94-47eb-8948-2336434c8a3b","name":"checkApprovalStatus"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d48a3260-b8df-4993-86aa-e1bd179e9b2b","leftValue":"={{ $json.publication_date.toDateTime().format('yyyy-MM-dd') }}","rightValue":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}},{"id":"26b94390-1738-42fa-8468-f722b18f6060","leftValue":"={{ $json.publication_date.toDateTime().format('yyyy-MM-dd') }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-3824],"id":"639de12b-81da-4eb9-b6b9-3018a1baed78","name":"needNLGeneration","disabled":true},{"parameters":{"httpMethod":"PUT","path":"newsletter/regenerate","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,-3168],"id":"caaf8e22-221b-4aae-b165-66d505abf1fc","name":"webhookRegenerate","webhookId":"0352e488-eb3b-4278-8d85-d499444abf6c"},{"parameters":{"httpMethod":"POST","path":"newsletter/all","options":{"responseData":"{\"message\": \"generation started\"}"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,-4112],"id":"9e82fb7f-8fae-429a-92af-bc7889945036","name":"webhookNewCampaign","webhookId":"bf8bf611-8171-4b43-a49f-7b49b4a85bca"},{"parameters":{"operation":"get","tableId":"campaign","filters":{"conditions":[{"keyName":"campaign_id","keyValue":"={{ $json.body['campaign-id'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,-4112],"id":"d71f16ec-848e-47fb-83d0-634baa65f3b6","name":"getCampaignINFO","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2bd7996c-fa50-47de-8652-9e79f222dad3","leftValue":"={{ $json.generation_mode }}","rightValue":"now","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,-4112],"id":"ad9ba663-6540-4de6-a986-c17bd4333b7b","name":"ifGeneartionReqd"},{"parameters":{"operation":"getAll","tableId":"newsletters","returnAll":true,"filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.body.newsletter_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,-3168],"id":"4def6c76-3f75-4591-9b7c-4c3875f0f115","name":"getNewsletterINFO"},{"parameters":{"operation":"update","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.body.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"approval_status","fieldValue":"approved"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,-720],"id":"168ca5a3-992e-4a9f-b761-21237e5280eb","name":"updateStatus2Approved"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1568,-720],"id":"d590a544-9e0d-4619-aeec-7ca1fc24e81d","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"newsletter/approve","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,-720],"id":"26d03928-bfee-49ff-9e9a-5db8d9ac5852","name":"webhookApprove","webhookId":"d05a33aa-00c5-4673-a57a-4475ec8e4198"},{"parameters":{"operation":"getAll","tableId":"newsletters","returnAll":true,"filters":{"conditions":[{"keyName":"campaign_id","condition":"eq","keyValue":"={{ $('getCampaignINFO').item.json.campaign_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,-4112],"id":"9542cbb2-ce5e-4bce-a592-8676b99b404a","name":"getRelevantRows"},{"parameters":{"operation":"update","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $('webhookRegenerate').item.json.body.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"queued"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,-3072],"id":"28b8d2a0-dc62-477f-ba3c-c29da99ac272","name":"updateStatus2Gen1"},{"parameters":{"operation":"update","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"queued"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,-4112],"id":"df9a66df-c8ff-4550-8f07-a76498e922a7","name":"updateStatus2Gen"},{"parameters":{"operation":"update","tableId":"newsletter","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"queued"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,-3888],"id":"b4bd68c5-58f9-479e-8ce1-7d1a6599bfe6","name":"updateStatus2Gen2","credentials":{"supabaseApi":{"id":"I59RToN1YeJOk3hf","name":"Supabase account 2"}}},{"parameters":{"url":"https://api.pexels.com/v1/photos/2014422","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"NTeXvjcHs5Wxm5B6JBQRr0MDMjYpzi7KFSmhW2Ze0GBE2gG7RAGbt58w"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-4848],"id":"464c1e75-0d17-487f-a263-cc8754479223","name":"downloadIMG"},{"parameters":{"url":"https://api.pexels.com/v1/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"nature"},{"name":"per_page","value":"20"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"NTeXvjcHs5Wxm5B6JBQRr0MDMjYpzi7KFSmhW2Ze0GBE2gG7RAGbt58w"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-4400],"id":"2b0ff650-7cce-44a6-8f46-8fa8968275fa","name":"searchIMG2"},{"parameters":{"operation":"update","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.body.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"subject_line","fieldValue":"={{ $json.body.subject_line }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,-496],"id":"e8e8354f-aebb-4b86-b1a4-9cee6e3f7f39","name":"updateSubjectLine"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1568,-496],"id":"67f9111d-23ae-4607-b957-93d12b9e68ea","name":"Respond to Webhook1"},{"parameters":{"httpMethod":"POST","path":"rename/subject-line","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,-496],"id":"d31de8ba-856a-454f-ab96-16e1771ee34f","name":"webhook2ChangeSubject","webhookId":"344e573a-46f9-48af-ad12-011f30e91d65"},{"parameters":{"workflowId":{"__rl":true,"value":"dhfv58W4CHqPPx4v","mode":"list","cachedResultName":"generateNewsletters"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-224,-3872],"id":"d44eb48a-1afc-449b-841d-a50f3b73bdac","name":"generateNewsletter","retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT segment_name, segment_id\nFROM public.ses_segments;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2016,-4624],"id":"b58c94fc-b558-4635-9ca6-10131c6c3599","name":"getUniqueSegments1"},{"parameters":{"operation":"get","tableId":"campaign","filters":{"conditions":[{"keyName":"campaign_id","keyValue":"={{ $('iterNewsletterSend').item.json.body[''].campaign_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1568,-2464],"id":"ca6ff78f-4d92-449d-adfa-4fdc89d18f9f","name":"getCampaign1"},{"parameters":{"assignments":{"assignments":[{"id":"844fa7eb-e619-4bae-89d8-483dea0d9111","name":"email_grp","value":"={{ $json.email_grp }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-2656],"id":"462f07c8-feff-4ebb-8b9c-044d43bf90e8","name":"Edit Fields1"},{"parameters":{"language":"python","pythonCode":"output = []\n\nfor item in _input.all():\n    for email in item.json.get(\"emails\", []):\n        output.append({\"json\": {\"email\": email}})\n\nreturn output\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-2848],"id":"a4f7b80c-127a-4e46-9eb5-0a8421fe3732","name":"extractEmails1"},{"parameters":{"language":"python","pythonCode":"# Split email_grp into separate items\noutput = []\n\nfor item in _input.all():\n    email_grp = item.json.get(\"email_grp\", [])\n    for email in email_grp:\n        output.append({\"json\": {\"email\": email}})\n\nreturn output\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-2656],"id":"0f1e1c8f-d234-430f-9c30-e10586e53204","name":"extractEmailGroup1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-672,-2656],"id":"ebf20c65-8bc9-49a3-b33e-77750c012d78","name":"loopOverGroup1"},{"parameters":{"resource":"draft","subject":"={{ $json.body.data.body[''].subject_line }}","bodyContent":"={{ $json.body.data.body[''].full_content }}","additionalFields":{"bodyContentType":"html","toRecipients":"={{ $json.body.email }}"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1568,-944],"id":"2eaf6cc3-4563-4d47-8b32-11ece2fd6683","name":"createDraft2","webhookId":"e751f573-c4d7-4215-a2e0-43b665acbeaf"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1792,-992],"id":"1963e349-1860-4602-bcb1-7c1965f2ae57","name":"loopEmail2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1568,-1136],"id":"2f20d15f-691c-4245-9924-06b7e76206d8","name":"Respond to Webhook2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-448,-2656],"id":"51c17a9b-d449-429c-a79c-e2828adfdee0","name":"Respond to Webhook3"},{"parameters":{"httpMethod":"POST","path":"newsletter/send_email","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,-992],"id":"0f15dfcd-87cf-4fe7-b325-6a45cec756f3","name":"sendMails","webhookId":"8d665d56-a235-493f-8048-36d155fcc78b"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/newsletter/send_email","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-2704],"id":"f76771d6-9134-4157-a013-2429fd6da1a8","name":"sendMailAPI"},{"parameters":{"httpMethod":"POST","path":"newsletter/send/iter","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,-2032],"id":"4b6d7ad6-13a9-447d-87ff-1fb6c84866cc","name":"iterNewsletterSend","webhookId":"1dd86a87-165e-45b9-b42d-129be02111c2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1120,-3456],"id":"725defe1-323c-41ab-a9fe-1d85984c855e","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"68f15fb8-ff15-496b-81bf-af099ae9f419","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"888a1f8f-e604-484e-835e-b37703448c5c","name":"data","value":"={{ $('iterNewsletterSend').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-2848],"id":"79420306-a633-4f60-a363-a39b9fee89e2","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"newsletter_email_group","filters":{"conditions":[{"keyName":"name","keyValue":"={{ $json.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-448,-2848],"id":"ac985810-2e9d-499c-bf04-aa8f04b4c81d","name":"getEmailGroups"},{"parameters":{"assignments":{"assignments":[{"id":"68f15fb8-ff15-496b-81bf-af099ae9f419","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"888a1f8f-e604-484e-835e-b37703448c5c","name":"data","value":"={{ $('iterNewsletterSend').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,-2272],"id":"ab243a64-6c90-4c52-ab1e-ada0184069a9","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"662135ab-368c-4699-bf02-0fc4c0634d79","leftValue":"={{ $json.email_id }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-2272],"id":"d7da6f7d-a163-4f4d-8aba-9b6a1f18c64d","name":"emailsExists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30fd0d2e-4cd5-4fda-9830-abcc7039793f","leftValue":"={{ $json.email_grp }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-2656],"id":"ba07cd7c-81e6-4d87-8f7c-e79f216bb311","name":"emailGrpExists"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-896,-2272],"id":"d4de8161-8614-45a9-8ef0-26cb80225153","name":"Loop Over Items1"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/newsletter/send_email","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,-2208],"id":"95522b59-899f-40d1-b92f-be270807f524","name":"sendMailAPI1"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/newsletter/send/iter","sendBody":true,"bodyParameters":{"parameters":[{"value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,-3600],"id":"c891f7af-35ff-489c-b83a-b891e5b69e3d","name":"sendNewsletter"},{"parameters":{"operation":"update","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"sent"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-448,-3456],"id":"af79bf2e-1b26-4461-b217-444852eafc4b","name":"updateStatus2Send"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-672,-3536],"id":"8f457dfc-317b-4500-b4ba-1b1b9771f72a","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30fd0d2e-4cd5-4fda-9830-abcc7039793f","leftValue":"={{ $json[''][''].email_grp }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-1776],"id":"8f990cb7-fcd1-4216-bfbe-d11a9fc39057","name":"emailGrpExists1"},{"parameters":{"language":"python","pythonCode":"# N8N Code Node: Extract email_grp into separate items\n# This code processes the input JSON and splits email_grp array into individual items\n\noutput = []\n\n# Iterate through all input items\nfor item in _input.all():\n    # Navigate to the nested email_grp array\n    # The structure is: item.json[\"\"][\"\"]['email_grp']\n    try:\n        # Access the nested structure\n        nested_data = item.json.get(\"\", {})\n        inner_data = nested_data.get(\"\", {})\n        email_grp = inner_data.get(\"email_grp\", [])\n        \n        # Split each email in email_grp into separate output items\n        for email in email_grp:\n            output.append({\n                \"json\": {\n                    \"email\": email\n                }\n            })\n            \n    except (KeyError, AttributeError, TypeError) as e:\n        # Handle any errors in accessing nested data\n        continue\n\nreturn output"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,-1776],"id":"49bd4336-6062-44a2-9870-39b80fe11afe","name":"extractEmailGroup2"},{"parameters":{"language":"python","pythonCode":"# Split email_grp into separate items\noutput = []\n\nfor item in _input.all():\n    email_grp = item.json.get(\"email_id\", [])\n    for email in email_grp:\n        output.append({\"json\": {\"email\": email}})\n\nreturn output\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,-2272],"id":"53422221-0c2d-414b-ab78-40280cbf2cdd","name":"extractEmailID"},{"parameters":{"language":"python","pythonCode":"output = []\n\nfor item in _input.all():\n    for email in item.json.get(\"emails\", []):\n        output.append({\"json\": {\"email\": email}})\n\nreturn output\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-1968],"id":"0985a6c7-d9ec-4f22-8ad6-21537d67a3b0","name":"extractEmails"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-896,-1776],"id":"a0c437e8-1c37-42f8-b258-c49701d326ac","name":"loopOverGroup"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-672,-1776],"id":"290afe0b-876c-4211-b640-b0854797e5fd","name":"Respond to Webhook4"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/newsletter/send_email","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-1792],"id":"db3e23cc-4ce4-436e-aa73-97c1f5f82b22","name":"sendMailAPI2"},{"parameters":{"assignments":{"assignments":[{"id":"68f15fb8-ff15-496b-81bf-af099ae9f419","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"888a1f8f-e604-484e-835e-b37703448c5c","name":"data","value":"={{ $('iterNewsletterSend').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-1968],"id":"a9eca0e1-68c9-45f8-b710-5c3b8709eaae","name":"Edit Fields4"},{"parameters":{"operation":"get","tableId":"newsletter_email_group","filters":{"conditions":[{"keyName":"name","keyValue":"={{ $json.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,-1968],"id":"25888c1c-d43a-43bc-aec3-7f03e510f147","name":"getEmailGroups1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"662135ab-368c-4699-bf02-0fc4c0634d79","leftValue":"={{ $json[''][''].emails }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-1440],"id":"c9f3b050-554e-445c-a824-d263b10498d8","name":"emailsExists1"},{"parameters":{"language":"python","pythonCode":"# N8N Code Node: Extract email_grp into separate items\n# This code processes the input JSON and splits email_grp array into individual items\n\noutput = []\n\n# Iterate through all input items\nfor item in _input.all():\n    # Navigate to the nested email_grp array\n    # The structure is: item.json[\"\"][\"\"]['email_grp']\n    try:\n        # Access the nested structure\n        nested_data = item.json.get(\"\", {})\n        inner_data = nested_data.get(\"\", {})\n        email_grp = inner_data.get(\"emails\", [])\n        \n        # Split each email in email_grp into separate output items\n        for email in email_grp:\n            output.append({\n                \"json\": {\n                    \"email\": email\n                }\n            })\n            \n    except (KeyError, AttributeError, TypeError) as e:\n        # Handle any errors in accessing nested data\n        continue\n\nreturn output"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,-1440],"id":"cb3262e9-417a-484c-9c68-d2d00b8a672f","name":"extractEmailID1"},{"parameters":{"assignments":{"assignments":[{"id":"68f15fb8-ff15-496b-81bf-af099ae9f419","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"888a1f8f-e604-484e-835e-b37703448c5c","name":"data","value":"={{ $('iterNewsletterSend').item.json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,-1440],"id":"cf8cc227-9e12-44c1-b372-67096a292440","name":"Edit Fields5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-896,-1440],"id":"041bacd7-5a13-42fb-becd-62c502e062d2","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"https://n8n.sesai.in/webhook/newsletter/send_email","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,-1360],"id":"52049e6d-594d-47bc-9ec9-a104b2b83348","name":"sendMailAPI3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4d7c0d88-3b78-4334-a3c0-ddab41d5f7f8","leftValue":"={{ $json.body[''].campaign_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1792,-2032],"id":"2e32d7bb-de67-4bd3-8202-de4cd08770f3","name":"campaignPresent"},{"parameters":{"assignments":{"assignments":[{"id":"9c529ed3-93ac-44ad-8527-35a5ed6598ec","name":"","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,-1600],"id":"f845de9d-b9d8-4e0c-971f-2e0ee43d7e32","name":"extractData"},{"parameters":{"httpMethod":"DELETE","path":"newsletter/delete","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,-256],"id":"75fd76e1-b084-4a90-b627-0b4d497e8fb1","name":"webhookDeleteNL","webhookId":"3c3cb989-a837-4c7b-b46c-a3698c4e5ee6"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1344,-256],"id":"1e7d17bf-d870-47cd-ac55-adbdcfe0419d","name":"Respond to Webhook5"},{"parameters":{"operation":"update","tableId":"past_project","matchType":"allFilters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.body.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"newsletter_id","fieldValue":"={{ null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,-256],"id":"ed793755-cd32-4005-8b4f-521e3a3d2cbf","name":"removeNewsletterFProject"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1568,-272],"id":"ee030bdb-bc82-4ad0-b091-b6b998369362","name":"Merge1"},{"parameters":{"operation":"delete","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.body.newsletter_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,-64],"id":"53b71618-a489-4b4f-97fd-9f67ca5d40b9","name":"deleteNewsletter"},{"parameters":{"httpMethod":"POST","path":"newsletter/retract","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,160],"id":"401b220a-a4a7-4299-8206-eacce9ed9a1f","name":"webhookRetract","webhookId":"af84c1bc-84f5-4a62-a078-a1d17288f4ec"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-1568,160],"id":"389420d4-310f-4a98-a099-deb47540971d","name":"Respond to Webhook6"},{"parameters":{"operation":"update","tableId":"newsletters","filters":{"conditions":[{"keyName":"newsletter_id","condition":"eq","keyValue":"={{ $json.body.newsletter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"approval_status","fieldValue":"review"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,160],"id":"cba290e6-b056-4c4b-a627-2ff4772e6dfa","name":"retractNewsletter"}],"connections":{"Schedule Trigger":{"main":[[{"node":"getScheduledNewsletters","type":"main","index":0}]]},"getScheduledNewsletters":{"main":[[{"node":"checkStatus","type":"main","index":0}]]},"checkStatus":{"main":[[{"node":"needNLGeneration","type":"main","index":0}],[{"node":"needNLGeneration","type":"main","index":0}],[{"node":"checkApprovalStatus","type":"main","index":0}]]},"checkApprovalStatus":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"needNLGeneration":{"main":[[{"node":"updateStatus2Gen2","type":"main","index":0}]]},"webhookRegenerate":{"main":[[{"node":"getNewsletterINFO","type":"main","index":0}]]},"webhookNewCampaign":{"main":[[{"node":"getCampaignINFO","type":"main","index":0}]]},"getCampaignINFO":{"main":[[{"node":"ifGeneartionReqd","type":"main","index":0}]]},"ifGeneartionReqd":{"main":[[{"node":"getRelevantRows","type":"main","index":0}]]},"getNewsletterINFO":{"main":[[{"node":"updateStatus2Gen1","type":"main","index":0}]]},"updateStatus2Approved":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"webhookApprove":{"main":[[{"node":"updateStatus2Approved","type":"main","index":0}]]},"getRelevantRows":{"main":[[{"node":"updateStatus2Gen","type":"main","index":0}]]},"updateStatus2Gen1":{"main":[[{"node":"generateNewsletter","type":"main","index":0}]]},"updateStatus2Gen":{"main":[[{"node":"generateNewsletter","type":"main","index":0}]]},"updateStatus2Gen2":{"main":[[{"node":"generateNewsletter","type":"main","index":0}]]},"updateSubjectLine":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"webhook2ChangeSubject":{"main":[[{"node":"updateSubjectLine","type":"main","index":0}]]},"getCampaign1":{"main":[[{"node":"emailsExists","type":"main","index":0},{"node":"emailGrpExists","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"extractEmailGroup1","type":"main","index":0}]]},"extractEmails1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"extractEmailGroup1":{"main":[[{"node":"loopOverGroup1","type":"main","index":0}]]},"loopOverGroup1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}],[{"node":"getEmailGroups","type":"main","index":0}]]},"createDraft2":{"main":[[{"node":"loopEmail2","type":"main","index":0}]]},"loopEmail2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}],[{"node":"createDraft2","type":"main","index":0}]]},"sendMails":{"main":[[{"node":"loopEmail2","type":"main","index":0}]]},"sendMailAPI":{"main":[[{"node":"loopOverGroup1","type":"main","index":0}]]},"iterNewsletterSend":{"main":[[{"node":"campaignPresent","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"sendNewsletter","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"sendMailAPI","type":"main","index":0}]]},"getEmailGroups":{"main":[[{"node":"extractEmails1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"sendMailAPI1","type":"main","index":0}]]},"emailsExists":{"main":[[{"node":"extractEmailID","type":"main","index":0}]]},"emailGrpExists":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"sendMailAPI1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"sendNewsletter":{"main":[[{"node":"Merge","type":"main","index":0}]]},"updateStatus2Send":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"updateStatus2Send","type":"main","index":0}]]},"emailGrpExists1":{"main":[[{"node":"extractEmailGroup2","type":"main","index":0}]]},"extractEmailGroup2":{"main":[[{"node":"loopOverGroup","type":"main","index":0}]]},"extractEmailID":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"extractEmails":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"loopOverGroup":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}],[{"node":"getEmailGroups1","type":"main","index":0}]]},"sendMailAPI2":{"main":[[{"node":"loopOverGroup","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"sendMailAPI2","type":"main","index":0}]]},"getEmailGroups1":{"main":[[{"node":"extractEmails","type":"main","index":0}]]},"emailsExists1":{"main":[[{"node":"extractEmailID1","type":"main","index":0}]]},"extractEmailID1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"sendMailAPI3","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}]]},"sendMailAPI3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"campaignPresent":{"main":[[{"node":"getCampaign1","type":"main","index":0}],[{"node":"extractData","type":"main","index":0}]]},"extractData":{"main":[[{"node":"emailGrpExists1","type":"main","index":0},{"node":"emailsExists1","type":"main","index":0}]]},"webhookDeleteNL":{"main":[[{"node":"removeNewsletterFProject","type":"main","index":0},{"node":"deleteNewsletter","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"removeNewsletterFProject":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"deleteNewsletter":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"webhookRetract":{"main":[[{"node":"retractNewsletter","type":"main","index":0}]]},"retractNewsletter":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-30T13:18:25.050+05:30","Readable date":"August 30th 2025, 1:18:25 pm","Readable time":"1:18:25 pm","Day of week":"Saturday","Year":"2025","Month":"August","Day of month":"30","Hour":"13","Minute":"18","Second":"25","Timezone":"Asia/Kolkata (UTC+05:30)"}}],"webhookRegenerate":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:141.0) Gecko/20100101 Firefox/141.0","content-length":"22","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.5","content-type":"application/json","origin":"https://sesai.in","priority":"u=0","referer":"https://sesai.in/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","te":"trailers","x-forwarded-for":"103.87.141.108","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"103.87.141.108"},"params":{},"query":{},"body":{"newsletter_id":"96"},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/regenerate","executionMode":"production"}}],"webhookApprove":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:141.0) Gecko/20100101 Firefox/141.0","content-length":"23","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.5","content-type":"application/json","origin":"https://sesai.in","priority":"u=0","referer":"https://sesai.in/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","te":"trailers","x-forwarded-for":"103.87.141.108","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"103.87.141.108"},"params":{},"query":{},"body":{"newsletter_id":"199"},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/approve","executionMode":"production"}}],"sendMails":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"26587","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"email":"test2@test.com","data":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"25965","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"":{"newsletter_id":325,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-09-09","subject_line":"Green Ammonia and Smart Bioproduction Drive SES Growth Opportunities","full_content":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SES Industry Pulse</title>\n    <style>\n        .section-hidden {\n            display: none;\n        }\n        .section-visible {\n            display: table-row;\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n        \n        <!-- Header Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #e2e8f0; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #1a365d;\">Green Ammonia and Smart Bioproduction Drive SES Growth Opportunities</h1>\n                <p style=\"font-size: 16px; color: #64748b; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #cbd5e1; padding-top: 20px; margin-top: 20px;\">\n                    <tr>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: left;\">Issue #XX</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: center;\">September 2025</td>\n                        <td style=\"font-size: 14px; color: #64748b; text-align: right;\">Industry Focus</td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Company Introduction Section (Always Included) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin: 0 0 20px 0;\">\n                                <strong>Shiva Engineering Services (SES)</strong> stands as a premier Engineering, Procurement, and Construction (EPC) company with over 18 years of proven excellence in delivering complex industrial projects across India and internationally. Founded in 1999 and headquartered in Vadodara, Gujarat, SES has established itself as a trusted partner for Fortune 500 companies and leading public sector enterprises.\n                            </p>\n                            \n                            <table width=\"100%\" cellpadding=\"8\" cellspacing=\"8\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">18+ Years Experience</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">500+ Projects Delivered</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">Pan-India Presence</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">ISO Certified</td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"font-size: 16px; line-height: 1.7; color: #2563eb; margin: 20px 0 0 0; font-style: italic;\">\n                                \"At SES, we don't just build facilities – we engineer solutions that drive innovation, ensure safety, and deliver sustainable value for our clients across diverse industrial sectors.\"\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Case Studies Section (Conditional) -->\n        \n        \n        <!-- Industry Insights & Readings Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Industry Insights & Readings</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Curated Knowledge</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                            <tr>\n                                <td>\n                                    <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                                    <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">India's Green Ammonia Tender Spurs Fertilizer Sector Decarbonization Opportunities</h3>\n                                    <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Green ammonia tenders in India signal growing demand for green hydrogen infrastructure, offering SES EPCM and design opportunities in fertilizer sector decarbonization.</p>\n                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                        <tr>\n                                            <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Industry News</td>\n                                            <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                            <tr>\n                                <td>\n                                    <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                                    <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Latin America's Bio-Inputs Market Growth Fuels Demand for Smart Bioproduction Facilities</h3>\n                                    <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Latin America's bio-inputs market growth driven by AI and digital tools signals demand for smart, automated bioproduction facilities, aligning with SES's green chemistry and Industry 4.0 focus.</p>\n                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                        <tr>\n                                            <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Industry News</td>\n                                            <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table>\n                \n                \n            </td>\n        </tr>\n        <!-- Tips Section (Conditional) -->\n                <!-- Tips Section (Conditional) -->\n        \n        \n        <!-- FAQ Section (Conditional) -->\n        \n        \n        <!-- Company Announcements Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Announcements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Latest Updates</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">ANNOUNCEMENT</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test announcement title</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> August 29, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Achievements Section (Conditional) -->\n        \n        \n        <!-- Company Events Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Events</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Team Building</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">MEETING</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test event</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">sdve</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> October 8, 2025 | <strong>Venue:</strong> referf</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Executive Quote Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #1a365d; border-radius: 12px;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"border-bottom: 2px solid #2563eb; padding-bottom: 15px;\">\n                                        <h2 style=\"font-size: 24px; font-weight: 700; color: #ffffff; margin: 0; text-align: center;\">Leadership Perspective</h2>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"font-size: 20px; line-height: 1.6; color: #ffffff; margin: 0 0 25px 0; font-style: italic;\">\n                                In the Metals Materials segment, my experience as a Senior Engineer has taught me the importance of meticulous material selection and process optimization to ensure durability and performance under demanding conditions.\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <p style=\"color: #ffffff; font-size: 16px; font-weight: 700; margin: 0;\"></p>\n                                        <p style=\"color: #cbd5e1; font-size: 14px; margin: 5px 0 0 0;\"></p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Spotlight Section (Conditional) -->\n        \n        \n        <!-- Call-to-Action Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n\n    <script>\n        // This script is included but not executed in n8n environment\n        // Used for any client-side functionality if needed\n        console.log('SES Newsletter Template Loaded');\n    </script>\n</body>\n</html>","target_industry":"agrochemicals-fertilizers","approval_status":"approved","status":"generated","approved_by":null,"project_id":null,"created_at":"2025-09-24T08:52:47.127009+00:00","campaign_id":95,"updated_at":"2025-09-24T08:59:56.422+00:00","sections":"announcements, emp_spotlight, event, news, quote, faq","preferences":{"quote":{"name":"","quote":"","gender":"","department":"","designation":""}},"raw_data":"{\"subject_line\":{\"output\":\"Green Ammonia and Smart Bioproduction Drive SES Growth Opportunities\"},\"quote\":\"In the Metals Materials segment, my experience as a Senior Engineer has taught me the importance of meticulous material selection and process optimization to ensure durability and performance under demanding conditions.\",\"designation\":null,\"name\":null,\"emp_spotlight\":{\"birthday\":[],\"anniversary\":[]},\"articles\":{\"selected_articles\":[{\"article\":\"Acme Cleantech Solutions is the lowest bidder for supplying 75,000 tonnes of green ammonia to Paradeep Phosphate Ltd under the government's SIGHT scheme, part of a larger tender for 724,000 tonnes across 13 fertilizer plants. This initiative will drive significant greenfield development or brownfield revamps of green hydrogen generation units and ammonia synthesis plants. SES is highly relevant and can offer EPCM, basic & detailed design, and utility system design services for these projects. Opportunities are emerging in the medium term as these facilities are designed and constructed to meet the long-term supply contracts. This signals a strategic national push for green chemical production in the fertilizer sector.\",\"relevance_score\":\"95\",\"selection_rationale\":\"Highly relevant to Agrochemicals Fertilizers segment with strong validation score and recent date. Represents a major green ammonia supply tender driving green hydrogen and ammonia plant projects in India, aligning with SES's EPCM and design services.\",\"strategic_insight\":\"Green ammonia tenders in India signal growing demand for green hydrogen infrastructure, offering SES EPCM and design opportunities in fertilizer sector decarbonization.\",\"insight_title\":\"India's Green Ammonia Tender Spurs Fertilizer Sector Decarbonization Opportunities\"},{\"article\":\"This article highlights the significant and rapid expansion of the Latin American market for agricultural biologicals, particularly in Brazil, which is projected to exceed USD 3 billion by the end of the decade. This growth is driven by increasing adoption of bio-inputs (biocontrols, biostimulants, biofertilizers), integration with advanced technologies like AI, precision agriculture, and digital tools, and supportive regulatory frameworks. For Shiva Engineering Services (SES), this is a crucial strategic signal. The booming market for bio-inputs directly aligns with SES's focus on green chemistry and sustainability, indicating substantial future demand for engineering and EPCM services in the design, scale-up, and implementation of bioprocessing facilities. The emphasis on advanced automation, AI, and digital tools in agricultural biologicals also resonates with SES's interest in Industry 4.0 and digital twin systems, suggesting opportunities to design smart, highly automated bioproduction plants. Furthermore, the discussion of regulatory changes and the need for high-quality standards, even for \\\"on-farm\\\" production, could create demand for modular skid systems or smaller, compliant production units, leveraging SES's expertise in modular and scale-up technologies. Overall, this trend indicates a long-term shift towards more sustainable and technologically advanced chemical processes, presenting significant future engineering and business development opportunities for SES.\",\"relevance_score\":\"90\",\"selection_rationale\":\"Strong relevance to Agrochemicals Fertilizers segment with high validation score and recent date. Highlights booming Latin American bio-inputs market with AI and digital integration, signaling future EPCM and engineering opportunities for SES.\",\"strategic_insight\":\"Latin America's bio-inputs market growth driven by AI and digital tools signals demand for smart, automated bioproduction facilities, aligning with SES's green chemistry and Industry 4.0 focus.\",\"insight_title\":\"Latin America's Bio-Inputs Market Growth Fuels Demand for Smart Bioproduction Facilities\"}]},\"faqs\":[],\"events\":{\"id\":4,\"name\":\"this is test event\",\"description\":\"sdve\",\"start_date\":\"2025-10-08T00:00:00+00:00\",\"end_date\":\"2025-10-09T00:00:00+00:00\",\"venue\":\"referf\",\"type\":\"meeting\",\"created_at\":\"2025-09-16T07:45:44.306089+00:00\"},\"announcements\":{\"id\":1,\"title\":\"this is test announcement title\",\"description\":\"this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal\",\"created_at\":\"2025-08-29T04:36:51+00:00\"}}"}},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/send/iter","executionMode":"production"}},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/send_email","executionMode":"production"}}],"iterNewsletterSend":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"axios/1.8.3","content-length":"36652","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"":{"newsletter_id":327,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-09-09","subject_line":"Green Ammonia and Biofertilizer Innovations Power Fertilizer Decarbonization","full_content":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SES Industry Pulse</title>\n    <style>\n        .section-hidden {\n            display: none;\n        }\n        .section-visible {\n            display: table-row;\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n\n\n        <!-- Header Section -->\n        <tr>\n            <td style=\"background-image: url('https://shiva-engineering.com/wp-content/uploads/2024/08/footer.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; position: relative; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <!-- Blue Tint Overlay -->\n                <div style=\"position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(37, 99, 235, 0.85); border-radius: 12px 12px 0 0; z-index: 1;\"></div>\n                \n                <!-- Content Container -->\n                <div style=\"position: relative; z-index: 2;\">\n                    <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo_1.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                    <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #ffffff;\">Green Ammonia and Biofertilizer Innovations Power Fertilizer Decarbonization</h1>\n                    <p style=\"font-size: 16px; color: #e2e8f0; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid rgba(255,255,255,0.3); padding-top: 20px; margin-top: 20px;\">\n                        <tr>\n                            <td style=\"font-size: 14px; color: #e2e8f0; text-align: center;\">\n                                Issue #XX <span style=\"color: rgba(255,255,255,0.5); margin: 0 10px;\">|</span> September 2025\n                            </td>\n                        </tr>\n                    </table>\n                </div>\n            </td>\n        </tr>\n        \n        <!-- Company Introduction Section (Always Included) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin: 0 0 20px 0;\">\n                                <strong>Shiva Engineering Services (SES)</strong> stands as a premier Engineering, Procurement, and Construction (EPC) company with over 18 years of proven excellence in delivering complex industrial projects across India and internationally. Founded in 1999 and headquartered in Vadodara, Gujarat, SES has established itself as a trusted partner for Fortune 500 companies and leading public sector enterprises.\n                            </p>\n                            \n                            <table width=\"100%\" cellpadding=\"8\" cellspacing=\"8\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">18+ Years Experience</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">500+ Projects Delivered</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">Pan-India Presence</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">ISO Certified</td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"font-size: 16px; line-height: 1.7; color: #2563eb; margin: 20px 0 0 0; font-style: italic;\">\n                                \"At SES, we don't just build facilities – we engineer solutions that drive innovation, ensure safety, and deliver sustainable value for our clients across diverse industrial sectors.\"\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Case Studies Section (Conditional) -->\n        \n        \n        <!-- Industry Insights & Readings Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Industry Insights & Readings</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Curated Knowledge</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                            <tr>\n                                <td>\n                                    <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                                    <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Green Ammonia Supply Tender Spurs Fertilizer Sector Decarbonization</h3>\n                                    <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Green ammonia tenders under SIGHT scheme drive greenfield and brownfield projects, creating EPCM and design service opportunities for SES in India's fertilizer decarbonization.</p>\n                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                        <tr>\n                                            <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Industry News</td>\n                                            <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                            <tr>\n                                <td>\n                                    <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                                    <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Innovative Biofilm Biofertilizer Project Drives Sustainable Agrochemical Manufacturing Opportunities</h3>\n                                    <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Biofilm-based biofertilizer innovation signals growing demand for scalable bio-processing and modular manufacturing facilities, aligning with SES's green chemistry focus.</p>\n                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                        <tr>\n                                            <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Industry News</td>\n                                            <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table>\n                \n                \n            </td>\n        </tr>\n        <!-- Tips Section (Conditional) -->\n                <!-- Tips Section (Conditional) -->\n        \n        \n        <!-- FAQ Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Frequently Asked Questions</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Client Queries</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What are the key engineering challenges in developing greenfield specialty chemicals facilities?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Key challenges include seamless process scale-up, advanced plant design with corrosion-resistant materials, rigorous safety studies, and integration of automation and control systems to ensure operational efficiency and safety.</p>\n                        </td>\n                    </tr>\n                </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">How does SES ensure safety and regulatory compliance in specialty chemicals projects?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES conducts rigorous HAZOP and safety studies, implements advanced fire and safety system designs, and adheres to hazardous area classifications to mitigate risks and ensure compliance with industry standards.</p>\n                        </td>\n                    </tr>\n                </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; \">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What technologies does SES use to optimize brownfield expansion projects in specialty chemicals?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES employs advanced tools like laser scanning for accurate as-built data capture, enabling efficient engineering modifications, reducing errors, and compressing project timelines while minimizing operational downtime.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Company Announcements Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Announcements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Latest Updates</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">ANNOUNCEMENT</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test announcement title</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> August 29, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Achievements Section (Conditional) -->\n        \n        \n        <!-- Company Events Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Events</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Team Building</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">MEETING</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test event</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">sdve</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> October 8, 2025 | <strong>Venue:</strong> referf</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Executive Quote Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #1a365d; border-radius: 12px;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"border-bottom: 2px solid #2563eb; padding-bottom: 15px;\">\n                                        <h2 style=\"font-size: 24px; font-weight: 700; color: #ffffff; margin: 0; text-align: center;\">Leadership Perspective</h2>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"font-size: 20px; line-height: 1.6; color: #ffffff; margin: 0 0 25px 0; font-style: italic;\">\n                                As a Senior Engineer in the Data Science domain, I emphasize leveraging analytical rigor and innovative problem-solving to optimize project outcomes, ensuring technical excellence and impactful solutions in complex environments.\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <p style=\"color: #ffffff; font-size: 16px; font-weight: 700; margin: 0;\"></p>\n                                        <p style=\"color: #cbd5e1; font-size: 14px; margin: 5px 0 0 0;\"></p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Spotlight Section (Conditional) -->\n        \n        \n        <!-- Call-to-Action Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n\n    <script>\n        // This script is included but not executed in n8n environment\n        // Used for any client-side functionality if needed\n        console.log('SES Newsletter Template Loaded');\n    </script>\n</body>\n</html>","target_industry":"agrochemicals-fertilizers","approval_status":"approved","status":"generated","approved_by":null,"project_id":null,"created_at":"2025-09-25T07:02:11.261105+00:00","campaign_id":null,"updated_at":"2025-09-25T07:09:05.649+00:00","sections":"announcements, emp_spotlight, event, news, quote, faq","preferences":{"quote":{"name":"Ramesh AJ","quote":"","gender":"Male","department":"Data Science","designation":"Emp"}},"raw_data":"{\"subject_line\":{\"output\":\"Green Ammonia and Biofertilizer Innovations Power Fertilizer Decarbonization\"},\"quote\":\"As a Senior Engineer in the Data Science domain, I emphasize leveraging analytical rigor and innovative problem-solving to optimize project outcomes, ensuring technical excellence and impactful solutions in complex environments.\",\"designation\":null,\"name\":null,\"emp_spotlight\":{\"birthday\":[],\"anniversary\":[]},\"articles\":{\"selected_articles\":[{\"article\":\"{\\\"article_id\\\":\\\"PPID-3e96f0fd-a003-4186-9574-6682085335e3\\\",\\\"raw_article_id\\\":\\\"d485e29d-47ac-436f-ade4-353be81031ed\\\",\\\"article_link\\\":\\\"https://economictimes.indiatimes.com/industry/renewables/acme-lowest-bidder-in-latest-green-ammonia-tender-at-record-price/articleshow/123000317.cms\\\",\\\"article_date\\\":\\\"2025-07-30\\\",\\\"type_of_article\\\":\\\"PP\\\",\\\"segment_id\\\":\\\"674a25a9-f28e-4cdf-9792-7a302dc78cfc\\\",\\\"validation_score\\\":4,\\\"insights_summary\\\":\\\"Acme Cleantech Solutions is the lowest bidder for supplying 75,000 tonnes of green ammonia to Paradeep Phosphate Ltd under the government's SIGHT scheme, part of a larger tender for 724,000 tonnes across 13 fertilizer plants. This initiative will drive significant greenfield development or brownfield revamps of green hydrogen generation units and ammonia synthesis plants. SES is highly relevant and can offer EPCM, basic & detailed design, and utility system design services for these projects. Opportunities are emerging in the medium term as these facilities are designed and constructed to meet the long-term supply contracts. This signals a strategic national push for green chemical production in the fertilizer sector.\\\",\\\"pp_scope\\\":\\\"Tender for supplying 724,000 tonnes of green ammonia annually across 13 fertilizer plants in India. Acme Cleantech Solutions to supply 75,000 tonnes to Paradeep Phosphate Ltd's Paradeep facility. Includes financial incentives under Strategic Interventions for Green Hydrogen Transition (SIGHT) scheme.\\\",\\\"pp_stage\\\":\\\"Planning\\\",\\\"rd_focus_area\\\":null,\\\"location\\\":\\\"Paradeep, Odisha, India\\\",\\\"country\\\":\\\"India\\\",\\\"state\\\":\\\"Odisha\\\",\\\"city\\\":\\\"Paradeep\\\",\\\"client_id\\\":\\\"30b64bb7-f351-410b-9b10-da0254a46498\\\",\\\"additional_info\\\":null,\\\"tech_stack\\\":null,\\\"pain_point_tag\\\":null,\\\"news_mentioned\\\":[\\\"https://www.mercomindia.com/acme-matrix-green-ammonia-suppliers-win-secis-tender\\\",\\\"https://pib.gov.in/PressReleasePage.aspx?PRID=1939143\\\",\\\"https://www.seci.co.in/show-tenders/request-selection-rfs-selection-green-ammonia-producers-production-and-supply-green-ammonia-india-under-strategic-interventions-green-hydrogen-transition-sight-scheme-mode-2a-tranche-i\\\"],\\\"recent_announcement\\\":null,\\\"mail_snippet\\\":null,\\\"deep_research_info\\\":null,\\\"deep_research_status\\\":\\\"done\\\",\\\"newsletter_check\\\":false,\\\"newsletter_id\\\":null,\\\"drop_reason\\\":null,\\\"drop_check\\\":false,\\\"created_at\\\":\\\"2025-08-17T14:53:28.368307+00:00\\\",\\\"company_mentioned\\\":\\\"Acme Cleantech Solutions, Paradeep Phosphate Ltd, Solar Energy Corporation of India (SECI), Indian Farmers Fertiliser Cooperative (IFFCO), Madras Fertilisers, Indorama India, Mangalore Chemicals & Fertilisers, Coromandel International\\\",\\\"project_name\\\":\\\"Acme Cleantech Solutions’ 75,000 Tonnes Green Ammonia Supply for Paradeep Phosphate’s Fertilizer Production Under SIGHT Scheme\\\",\\\"mail_staues\\\":null,\\\"email_draft_id\\\":null}\",\"relevance_score\":\"95\",\"selection_rationale\":\"Highly relevant to agrochemicals-fertilizers segment with strong validation score and recent date. Focuses on green ammonia supply under a national scheme, signaling strategic industry development and EPCM opportunities for SES.\",\"strategic_insight\":\"Green ammonia tenders under SIGHT scheme drive greenfield and brownfield projects, creating EPCM and design service opportunities for SES in India's fertilizer decarbonization.\",\"insight_title\":\"Green Ammonia Supply Tender Spurs Fertilizer Sector Decarbonization\"},{\"article\":\"{\\\"article_id\\\":\\\"RDID-e265499b-45c5-4701-ad29-03c373ec024c\\\",\\\"raw_article_id\\\":\\\"e3db8150-8a98-44b5-abdd-b52a05b734c0\\\",\\\"article_link\\\":\\\"https://www.agribusinessglobal.com/plant-health/npk/bionema-leads-961000-biofilm-biofertilizer-project-to-tackle-global-fertilizer-crisis-with-uk-made-sustainable-solution/\\\",\\\"article_date\\\":\\\"2025-05-05\\\",\\\"type_of_article\\\":\\\"RD\\\",\\\"segment_id\\\":\\\"674a25a9-f28e-4cdf-9792-7a302dc78cfc\\\",\\\"validation_score\\\":5,\\\"insights_summary\\\":\\\"Bionema Group is leading a £961,000 project, funded by Defra and Innovate UK, to develop a first-of-its-kind, biofilm-based biofertilizer. This innovative solution leverages a consortium of UK-native, biofilm-forming plant growth-promoting bacteria (PGPB) to significantly reduce synthetic fertilizer usage (40-50%) and enhance crop yields (20-30%). The biofertilizer is formulated as water-dispersible granules and encapsulated products for ease of application and extended shelf-life, with plans for three-year field trials across the UK. This development is strategically useful for SES as it directly aligns with their focus on Green Chemistry & Sustainability, Circular Economy, and Decarbonization Efforts. The project emphasizes a \\\\\\\"scalable\\\\\\\" and \\\\\\\"cost-effective production model\\\\\\\" and explicitly mentions \\\\\\\"producing and scaling the solution in the UK.\\\\\\\" This strongly indicates future engineering and design scope for SES in developing bio-processing facilities, pilot plants, and potentially modular skid systems for the manufacturing and formulation of these advanced microbial biofertilizers. The involvement of CPI (Centre for Process Innovation) in \\\\\\\"formulation expertise\\\\\\\" for scalability further underscores this potential for engineering services in bio-based product manufacturing.\\\",\\\"pp_scope\\\":null,\\\"pp_stage\\\":\\\"Planning\\\",\\\"rd_focus_area\\\":\\\"Development of a scalable, biofilm-based biofertilizer as a sustainable alternative to chemical fertilizers. Focus on microbial innovation, advanced formulation (water-dispersible granules, encapsulated products), and large-scale production. Implies future engineering for bioprocessing plants, pilot plants, and modular systems for bio-based chemical manufacturing.\\\",\\\"location\\\":\\\"UK, Wales, Cranfield, Nottingham\\\",\\\"country\\\":null,\\\"state\\\":null,\\\"city\\\":null,\\\"client_id\\\":null,\\\"additional_info\\\":null,\\\"tech_stack\\\":null,\\\"pain_point_tag\\\":null,\\\"news_mentioned\\\":[\\\"https://bionema.com/bionema-group-secures-over-900k-funding-to-develop-next-generation-biofertilizer-to-transform-crop-production/\\\",\\\"https://www.ukri.org/news/innovate-uk-and-defra-invest-5m-in-sustainable-uk-farming/\\\",\\\"https://www.agritechcentre.com/s/news-and-events/bionema-group-ltd-secures-over-900k-funding-to-develop-next-generation-biofertilizer\\\"],\\\"recent_announcement\\\":null,\\\"mail_snippet\\\":null,\\\"deep_research_info\\\":null,\\\"deep_research_status\\\":\\\"done\\\",\\\"newsletter_check\\\":false,\\\"newsletter_id\\\":null,\\\"drop_reason\\\":null,\\\"drop_check\\\":false,\\\"created_at\\\":\\\"2025-08-07T18:57:58.269022+00:00\\\",\\\"company_mentioned\\\":\\\"Bionema Group, Department for Environment, Food & Rural Affairs (Defra), Innovate UK, CPI, UK Agri‑Tech Centre\\\",\\\"project_name\\\":\\\"Bionema Group £961K RD of Scalable Biofilm-Based Biofertilizer for Sustainable Agriculture\\\",\\\"mail_staues\\\":null,\\\"email_draft_id\\\":null}\",\"relevance_score\":\"90\",\"selection_rationale\":\"Top validation score and highly relevant R&D article on innovative biofilm-based biofertilizer with strong sustainability and scale-up potential for SES engineering services.\",\"strategic_insight\":\"Biofilm-based biofertilizer innovation signals growing demand for scalable bio-processing and modular manufacturing facilities, aligning with SES's green chemistry focus.\",\"insight_title\":\"Innovative Biofilm Biofertilizer Project Drives Sustainable Agrochemical Manufacturing Opportunities\"}]},\"faqs\":[{\"question\":\"What are the key engineering challenges in developing greenfield specialty chemicals facilities?\",\"answer\":\"Key challenges include seamless process scale-up, advanced plant design with corrosion-resistant materials, rigorous safety studies, and integration of automation and control systems to ensure operational efficiency and safety.\",\"project_insights_used\":\"Projects like Heubach Greenfield facility and Jubilant Ingrevia Fine Chemicals facility highlight these challenges and solutions.\"},{\"question\":\"How does SES ensure safety and regulatory compliance in specialty chemicals projects?\",\"answer\":\"SES conducts rigorous HAZOP and safety studies, implements advanced fire and safety system designs, and adheres to hazardous area classifications to mitigate risks and ensure compliance with industry standards.\",\"project_insights_used\":\"Safety measures in projects for Aarti Industries and Heubach demonstrate SES's commitment to safety and compliance.\"},{\"question\":\"What technologies does SES use to optimize brownfield expansion projects in specialty chemicals?\",\"answer\":\"SES employs advanced tools like laser scanning for accurate as-built data capture, enabling efficient engineering modifications, reducing errors, and compressing project timelines while minimizing operational downtime.\",\"project_insights_used\":\"Brownfield expansion projects for Solenis and Kis Chemicals showcase the use of laser scanning technology.\"}],\"events\":{\"id\":4,\"name\":\"this is test event\",\"description\":\"sdve\",\"start_date\":\"2025-10-08T00:00:00+00:00\",\"end_date\":\"2025-10-09T00:00:00+00:00\",\"venue\":\"referf\",\"type\":\"meeting\",\"created_at\":\"2025-09-16T07:45:44.306089+00:00\"},\"announcements\":{\"id\":1,\"title\":\"this is test announcement title\",\"description\":\"this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal\",\"created_at\":\"2025-08-29T04:36:51+00:00\"}}","email_grp":["rohan_test"],"emails":[]}},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/send/iter","executionMode":"production"}}],"extractData":[{"json":{"":{"":{"newsletter_id":327,"newsletter_type":"industry_centric","issue_number":null,"publication_date":"2025-09-09","subject_line":"Green Ammonia and Biofertilizer Innovations Power Fertilizer Decarbonization","full_content":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SES Industry Pulse</title>\n    <style>\n        .section-hidden {\n            display: none;\n        }\n        .section-visible {\n            display: table-row;\n        }\n    </style>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, Helvetica, sans-serif; background-color: #f8fafc; color: #1a365d;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 12px;\">\n\n\n        <!-- Header Section -->\n        <tr>\n            <td style=\"background-image: url('https://shiva-engineering.com/wp-content/uploads/2024/08/footer.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; position: relative; padding: 40px; text-align: center; border-radius: 12px 12px 0 0;\">\n                <!-- Blue Tint Overlay -->\n                <div style=\"position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(37, 99, 235, 0.85); border-radius: 12px 12px 0 0; z-index: 1;\"></div>\n                \n                <!-- Content Container -->\n                <div style=\"position: relative; z-index: 2;\">\n                    <img src=\"https://shiva-engineering.com/wp-content/uploads/2025/01/SES_Logo_1.png\" alt=\"Shiva Engineering Services Logo\" style=\"display: block; margin: 0 auto 16px auto; max-width: 210px; height: auto;\" />\n                    <h1 style=\"font-size: 32px; font-weight: 700; margin: 12px 0; color: #ffffff;\">Green Ammonia and Biofertilizer Innovations Power Fertilizer Decarbonization</h1>\n                    <p style=\"font-size: 16px; color: #e2e8f0; margin: 12px 0 20px 0;\">Engineering Excellence Newsletter</p>\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid rgba(255,255,255,0.3); padding-top: 20px; margin-top: 20px;\">\n                        <tr>\n                            <td style=\"font-size: 14px; color: #e2e8f0; text-align: center;\">\n                                Issue #XX <span style=\"color: rgba(255,255,255,0.5); margin: 0 10px;\">|</span> September 2025\n                            </td>\n                        </tr>\n                    </table>\n                </div>\n            </td>\n        </tr>\n        \n        <!-- Company Introduction Section (Always Included) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <p style=\"font-size: 16px; line-height: 1.7; color: #334155; margin: 0 0 20px 0;\">\n                                <strong>Shiva Engineering Services (SES)</strong> stands as a premier Engineering, Procurement, and Construction (EPC) company with over 18 years of proven excellence in delivering complex industrial projects across India and internationally. Founded in 1999 and headquartered in Vadodara, Gujarat, SES has established itself as a trusted partner for Fortune 500 companies and leading public sector enterprises.\n                            </p>\n                            \n                            <table width=\"100%\" cellpadding=\"8\" cellspacing=\"8\" border=\"0\" style=\"margin: 20px 0;\">\n                                <tr>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">18+ Years Experience</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">500+ Projects Delivered</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">Pan-India Presence</td>\n                                    <td style=\"background-color: #f0f9ff; padding: 8px 14px; border-radius: 8px; color: #1e40af; font-size: 13px; font-weight: 600; border: 1px solid #bfdbfe; text-align: center;\">ISO Certified</td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"font-size: 16px; line-height: 1.7; color: #2563eb; margin: 20px 0 0 0; font-style: italic;\">\n                                \"At SES, we don't just build facilities – we engineer solutions that drive innovation, ensure safety, and deliver sustainable value for our clients across diverse industrial sectors.\"\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Case Studies Section (Conditional) -->\n        \n        \n        <!-- Industry Insights & Readings Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Industry Insights & Readings</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Curated Knowledge</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                            <tr>\n                                <td>\n                                    <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                                    <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Green Ammonia Supply Tender Spurs Fertilizer Sector Decarbonization</h3>\n                                    <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Green ammonia tenders under SIGHT scheme drive greenfield and brownfield projects, creating EPCM and design service opportunities for SES in India's fertilizer decarbonization.</p>\n                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                        <tr>\n                                            <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Industry News</td>\n                                            <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 25px;\">\n                            <tr>\n                                <td>\n                                    <span style=\"display: inline-block; padding: 5px 12px; border-radius: 15px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px; background-color: #2563eb; color: white;\">Industry Trend</span>\n                                    <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0; line-height: 1.3;\">Innovative Biofilm Biofertilizer Project Drives Sustainable Agrochemical Manufacturing Opportunities</h3>\n                                    <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">Biofilm-based biofertilizer innovation signals growing demand for scalable bio-processing and modular manufacturing facilities, aligning with SES's green chemistry focus.</p>\n                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n                                        <tr>\n                                            <td style=\"font-size: 12px; color: #2563eb; font-weight: 600;\">Industry News</td>\n                                            <td style=\"font-size: 12px; color: #64748b; text-align: right;\">September 2025</td>\n                                        </tr>\n                                    </table>\n                                </td>\n                            </tr>\n                        </table>\n                \n                \n            </td>\n        </tr>\n        <!-- Tips Section (Conditional) -->\n                <!-- Tips Section (Conditional) -->\n        \n        \n        <!-- FAQ Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Frequently Asked Questions</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Client Queries</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What are the key engineering challenges in developing greenfield specialty chemicals facilities?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">Key challenges include seamless process scale-up, advanced plant design with corrosion-resistant materials, rigorous safety studies, and integration of automation and control systems to ensure operational efficiency and safety.</p>\n                        </td>\n                    </tr>\n                </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; margin-bottom: 20px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">How does SES ensure safety and regulatory compliance in specialty chemicals projects?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES conducts rigorous HAZOP and safety studies, implements advanced fire and safety system designs, and adheres to hazardous area classifications to mitigate risks and ensure compliance with industry standards.</p>\n                        </td>\n                    </tr>\n                </table><table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px; \">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">Q&A</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">What technologies does SES use to optimize brownfield expansion projects in specialty chemicals?</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0;\">SES employs advanced tools like laser scanning for accurate as-built data capture, enabling efficient engineering modifications, reducing errors, and compressing project timelines while minimizing operational downtime.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Company Announcements Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Announcements</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Latest Updates</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">ANNOUNCEMENT</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test announcement title</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> August 29, 2025</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Achievements Section (Conditional) -->\n        \n        \n        <!-- Company Events Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td style=\"border-bottom: 3px solid #2563eb; padding-bottom: 15px;\">\n                            <h2 style=\"font-size: 26px; font-weight: 700; color: #1a365d; margin: 0; display: inline-block;\">Company Events</h2>\n                            <span style=\"font-size: 14px; color: #64748b; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; float: right;\">Team Building</span>\n                        </td>\n                    </tr>\n                </table>\n                \n                <table width=\"100%\" cellpadding=\"25\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 6px solid #2563eb; border-radius: 12px;\">\n                    <tr>\n                        <td>\n                            <span style=\"display: inline-block; background-color: #2563eb; color: white; padding: 6px 16px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 15px;\">MEETING</span>\n                            <h3 style=\"font-size: 18px; font-weight: 700; color: #1a365d; margin: 0 0 12px 0;\">this is test event</h3>\n                            <p style=\"font-size: 15px; line-height: 1.6; color: #334155; margin: 0 0 15px 0;\">sdve</p>\n                            <table width=\"100%\" cellpadding=\"15\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f0f9ff; border-radius: 8px; margin-top: 15px;\">\n                                <tr>\n                                    <td style=\"font-size: 14px; color: #1e40af;\"><strong>Date:</strong> October 8, 2025 | <strong>Venue:</strong> referf</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Executive Quote Section (Conditional) -->\n        <tr>\n            <td style=\"padding: 40px; border-bottom: 1px solid #e2e8f0;\">\n                <table width=\"100%\" cellpadding=\"30\" cellspacing=\"0\" border=\"0\" style=\"background-color: #1a365d; border-radius: 12px;\">\n                    <tr>\n                        <td style=\"text-align: center;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td style=\"border-bottom: 2px solid #2563eb; padding-bottom: 15px;\">\n                                        <h2 style=\"font-size: 24px; font-weight: 700; color: #ffffff; margin: 0; text-align: center;\">Leadership Perspective</h2>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"font-size: 20px; line-height: 1.6; color: #ffffff; margin: 0 0 25px 0; font-style: italic;\">\n                                As a Senior Engineer in the Data Science domain, I emphasize leveraging analytical rigor and innovative problem-solving to optimize project outcomes, ensuring technical excellence and impactful solutions in complex environments.\n                            </p>\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td style=\"text-align: center;\">\n                                        <p style=\"color: #ffffff; font-size: 16px; font-weight: 700; margin: 0;\"></p>\n                                        <p style=\"color: #cbd5e1; font-size: 14px; margin: 5px 0 0 0;\"></p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Employee Spotlight Section (Conditional) -->\n        \n        \n        <!-- Call-to-Action Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #2563eb; color: white; text-align: center; padding: 50px 40px;\">\n                <h2 style=\"font-size: 28px; font-weight: 700; margin: 0 0 15px 0; color: #ffffff;\">Ready to Transform Your Next Project?</h2>\n                <p style=\"font-size: 16px; margin: 0 0 30px 0; color: #ffffff; opacity: 0.9;\">Partner with SES for innovative engineering solutions that deliver results on time and within budget.</p>\n                \n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 0 auto;\">\n                    <tr>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"mailto:info@shiva-engineering.com\" style=\"display: inline-block; background-color: #ffffff; color: #1a365d; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; text-transform: uppercase; letter-spacing: 0.5px;\">Request Consultation</a>\n                        </td>\n                        <td style=\"padding: 0 10px;\">\n                            <a href=\"tel:+917486933588\" style=\"display: inline-block; background-color: transparent; color: white; padding: 15px 30px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 14px; border: 2px solid white; text-transform: uppercase; letter-spacing: 0.5px;\">Call: +91 74869 33588</a>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <!-- Footer Section (Always Included) -->\n        <tr>\n            <td style=\"background-color: #1a365d; color: #e2e8f0; padding: 40px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td style=\"width: 60%; vertical-align: top; padding-right: 40px;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Engineering Expertise</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Process Engineering • Project Management • Environmental Solutions</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Safety Systems • Modular Construction • Green Technology</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">EPC Services • Regulatory Compliance</p>\n                        </td>\n                        <td style=\"width: 40%; vertical-align: top;\">\n                            <h4 style=\"color: #ffffff; margin: 0 0 20px 0; font-size: 18px; font-weight: 700;\">Shiva Engineering Services</h4>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Engineering, Procurement & Construction</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">18+ Years of Industry Excellence</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Vadodara, Gujarat, India</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Email: info@shiva-engineering.com</p>\n                            <p style=\"font-size: 14px; line-height: 1.8; color: #e2e8f0; margin: 8px 0;\">Phone: +91 74869 33588</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td colspan=\"2\" style=\"border-top: 1px solid #334155; padding-top: 25px; margin-top: 30px; text-align: center; font-size: 12px; color: #cbd5e1;\">\n                            <p style=\"margin: 0;\">&copy; 2025 Shiva Engineering Services. All rights reserved. | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Privacy Policy</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #cbd5e1; text-decoration: none;\">Newsletter Archive</a></p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n\n    <script>\n        // This script is included but not executed in n8n environment\n        // Used for any client-side functionality if needed\n        console.log('SES Newsletter Template Loaded');\n    </script>\n</body>\n</html>","target_industry":"agrochemicals-fertilizers","approval_status":"approved","status":"generated","approved_by":null,"project_id":null,"created_at":"2025-09-25T07:02:11.261105+00:00","campaign_id":null,"updated_at":"2025-09-25T07:09:05.649+00:00","sections":"announcements, emp_spotlight, event, news, quote, faq","preferences":{"quote":{"name":"Ramesh AJ","quote":"","gender":"Male","department":"Data Science","designation":"Emp"}},"raw_data":"{\"subject_line\":{\"output\":\"Green Ammonia and Biofertilizer Innovations Power Fertilizer Decarbonization\"},\"quote\":\"As a Senior Engineer in the Data Science domain, I emphasize leveraging analytical rigor and innovative problem-solving to optimize project outcomes, ensuring technical excellence and impactful solutions in complex environments.\",\"designation\":null,\"name\":null,\"emp_spotlight\":{\"birthday\":[],\"anniversary\":[]},\"articles\":{\"selected_articles\":[{\"article\":\"{\\\"article_id\\\":\\\"PPID-3e96f0fd-a003-4186-9574-6682085335e3\\\",\\\"raw_article_id\\\":\\\"d485e29d-47ac-436f-ade4-353be81031ed\\\",\\\"article_link\\\":\\\"https://economictimes.indiatimes.com/industry/renewables/acme-lowest-bidder-in-latest-green-ammonia-tender-at-record-price/articleshow/123000317.cms\\\",\\\"article_date\\\":\\\"2025-07-30\\\",\\\"type_of_article\\\":\\\"PP\\\",\\\"segment_id\\\":\\\"674a25a9-f28e-4cdf-9792-7a302dc78cfc\\\",\\\"validation_score\\\":4,\\\"insights_summary\\\":\\\"Acme Cleantech Solutions is the lowest bidder for supplying 75,000 tonnes of green ammonia to Paradeep Phosphate Ltd under the government's SIGHT scheme, part of a larger tender for 724,000 tonnes across 13 fertilizer plants. This initiative will drive significant greenfield development or brownfield revamps of green hydrogen generation units and ammonia synthesis plants. SES is highly relevant and can offer EPCM, basic & detailed design, and utility system design services for these projects. Opportunities are emerging in the medium term as these facilities are designed and constructed to meet the long-term supply contracts. This signals a strategic national push for green chemical production in the fertilizer sector.\\\",\\\"pp_scope\\\":\\\"Tender for supplying 724,000 tonnes of green ammonia annually across 13 fertilizer plants in India. Acme Cleantech Solutions to supply 75,000 tonnes to Paradeep Phosphate Ltd's Paradeep facility. Includes financial incentives under Strategic Interventions for Green Hydrogen Transition (SIGHT) scheme.\\\",\\\"pp_stage\\\":\\\"Planning\\\",\\\"rd_focus_area\\\":null,\\\"location\\\":\\\"Paradeep, Odisha, India\\\",\\\"country\\\":\\\"India\\\",\\\"state\\\":\\\"Odisha\\\",\\\"city\\\":\\\"Paradeep\\\",\\\"client_id\\\":\\\"30b64bb7-f351-410b-9b10-da0254a46498\\\",\\\"additional_info\\\":null,\\\"tech_stack\\\":null,\\\"pain_point_tag\\\":null,\\\"news_mentioned\\\":[\\\"https://www.mercomindia.com/acme-matrix-green-ammonia-suppliers-win-secis-tender\\\",\\\"https://pib.gov.in/PressReleasePage.aspx?PRID=1939143\\\",\\\"https://www.seci.co.in/show-tenders/request-selection-rfs-selection-green-ammonia-producers-production-and-supply-green-ammonia-india-under-strategic-interventions-green-hydrogen-transition-sight-scheme-mode-2a-tranche-i\\\"],\\\"recent_announcement\\\":null,\\\"mail_snippet\\\":null,\\\"deep_research_info\\\":null,\\\"deep_research_status\\\":\\\"done\\\",\\\"newsletter_check\\\":false,\\\"newsletter_id\\\":null,\\\"drop_reason\\\":null,\\\"drop_check\\\":false,\\\"created_at\\\":\\\"2025-08-17T14:53:28.368307+00:00\\\",\\\"company_mentioned\\\":\\\"Acme Cleantech Solutions, Paradeep Phosphate Ltd, Solar Energy Corporation of India (SECI), Indian Farmers Fertiliser Cooperative (IFFCO), Madras Fertilisers, Indorama India, Mangalore Chemicals & Fertilisers, Coromandel International\\\",\\\"project_name\\\":\\\"Acme Cleantech Solutions’ 75,000 Tonnes Green Ammonia Supply for Paradeep Phosphate’s Fertilizer Production Under SIGHT Scheme\\\",\\\"mail_staues\\\":null,\\\"email_draft_id\\\":null}\",\"relevance_score\":\"95\",\"selection_rationale\":\"Highly relevant to agrochemicals-fertilizers segment with strong validation score and recent date. Focuses on green ammonia supply under a national scheme, signaling strategic industry development and EPCM opportunities for SES.\",\"strategic_insight\":\"Green ammonia tenders under SIGHT scheme drive greenfield and brownfield projects, creating EPCM and design service opportunities for SES in India's fertilizer decarbonization.\",\"insight_title\":\"Green Ammonia Supply Tender Spurs Fertilizer Sector Decarbonization\"},{\"article\":\"{\\\"article_id\\\":\\\"RDID-e265499b-45c5-4701-ad29-03c373ec024c\\\",\\\"raw_article_id\\\":\\\"e3db8150-8a98-44b5-abdd-b52a05b734c0\\\",\\\"article_link\\\":\\\"https://www.agribusinessglobal.com/plant-health/npk/bionema-leads-961000-biofilm-biofertilizer-project-to-tackle-global-fertilizer-crisis-with-uk-made-sustainable-solution/\\\",\\\"article_date\\\":\\\"2025-05-05\\\",\\\"type_of_article\\\":\\\"RD\\\",\\\"segment_id\\\":\\\"674a25a9-f28e-4cdf-9792-7a302dc78cfc\\\",\\\"validation_score\\\":5,\\\"insights_summary\\\":\\\"Bionema Group is leading a £961,000 project, funded by Defra and Innovate UK, to develop a first-of-its-kind, biofilm-based biofertilizer. This innovative solution leverages a consortium of UK-native, biofilm-forming plant growth-promoting bacteria (PGPB) to significantly reduce synthetic fertilizer usage (40-50%) and enhance crop yields (20-30%). The biofertilizer is formulated as water-dispersible granules and encapsulated products for ease of application and extended shelf-life, with plans for three-year field trials across the UK. This development is strategically useful for SES as it directly aligns with their focus on Green Chemistry & Sustainability, Circular Economy, and Decarbonization Efforts. The project emphasizes a \\\\\\\"scalable\\\\\\\" and \\\\\\\"cost-effective production model\\\\\\\" and explicitly mentions \\\\\\\"producing and scaling the solution in the UK.\\\\\\\" This strongly indicates future engineering and design scope for SES in developing bio-processing facilities, pilot plants, and potentially modular skid systems for the manufacturing and formulation of these advanced microbial biofertilizers. The involvement of CPI (Centre for Process Innovation) in \\\\\\\"formulation expertise\\\\\\\" for scalability further underscores this potential for engineering services in bio-based product manufacturing.\\\",\\\"pp_scope\\\":null,\\\"pp_stage\\\":\\\"Planning\\\",\\\"rd_focus_area\\\":\\\"Development of a scalable, biofilm-based biofertilizer as a sustainable alternative to chemical fertilizers. Focus on microbial innovation, advanced formulation (water-dispersible granules, encapsulated products), and large-scale production. Implies future engineering for bioprocessing plants, pilot plants, and modular systems for bio-based chemical manufacturing.\\\",\\\"location\\\":\\\"UK, Wales, Cranfield, Nottingham\\\",\\\"country\\\":null,\\\"state\\\":null,\\\"city\\\":null,\\\"client_id\\\":null,\\\"additional_info\\\":null,\\\"tech_stack\\\":null,\\\"pain_point_tag\\\":null,\\\"news_mentioned\\\":[\\\"https://bionema.com/bionema-group-secures-over-900k-funding-to-develop-next-generation-biofertilizer-to-transform-crop-production/\\\",\\\"https://www.ukri.org/news/innovate-uk-and-defra-invest-5m-in-sustainable-uk-farming/\\\",\\\"https://www.agritechcentre.com/s/news-and-events/bionema-group-ltd-secures-over-900k-funding-to-develop-next-generation-biofertilizer\\\"],\\\"recent_announcement\\\":null,\\\"mail_snippet\\\":null,\\\"deep_research_info\\\":null,\\\"deep_research_status\\\":\\\"done\\\",\\\"newsletter_check\\\":false,\\\"newsletter_id\\\":null,\\\"drop_reason\\\":null,\\\"drop_check\\\":false,\\\"created_at\\\":\\\"2025-08-07T18:57:58.269022+00:00\\\",\\\"company_mentioned\\\":\\\"Bionema Group, Department for Environment, Food & Rural Affairs (Defra), Innovate UK, CPI, UK Agri‑Tech Centre\\\",\\\"project_name\\\":\\\"Bionema Group £961K RD of Scalable Biofilm-Based Biofertilizer for Sustainable Agriculture\\\",\\\"mail_staues\\\":null,\\\"email_draft_id\\\":null}\",\"relevance_score\":\"90\",\"selection_rationale\":\"Top validation score and highly relevant R&D article on innovative biofilm-based biofertilizer with strong sustainability and scale-up potential for SES engineering services.\",\"strategic_insight\":\"Biofilm-based biofertilizer innovation signals growing demand for scalable bio-processing and modular manufacturing facilities, aligning with SES's green chemistry focus.\",\"insight_title\":\"Innovative Biofilm Biofertilizer Project Drives Sustainable Agrochemical Manufacturing Opportunities\"}]},\"faqs\":[{\"question\":\"What are the key engineering challenges in developing greenfield specialty chemicals facilities?\",\"answer\":\"Key challenges include seamless process scale-up, advanced plant design with corrosion-resistant materials, rigorous safety studies, and integration of automation and control systems to ensure operational efficiency and safety.\",\"project_insights_used\":\"Projects like Heubach Greenfield facility and Jubilant Ingrevia Fine Chemicals facility highlight these challenges and solutions.\"},{\"question\":\"How does SES ensure safety and regulatory compliance in specialty chemicals projects?\",\"answer\":\"SES conducts rigorous HAZOP and safety studies, implements advanced fire and safety system designs, and adheres to hazardous area classifications to mitigate risks and ensure compliance with industry standards.\",\"project_insights_used\":\"Safety measures in projects for Aarti Industries and Heubach demonstrate SES's commitment to safety and compliance.\"},{\"question\":\"What technologies does SES use to optimize brownfield expansion projects in specialty chemicals?\",\"answer\":\"SES employs advanced tools like laser scanning for accurate as-built data capture, enabling efficient engineering modifications, reducing errors, and compressing project timelines while minimizing operational downtime.\",\"project_insights_used\":\"Brownfield expansion projects for Solenis and Kis Chemicals showcase the use of laser scanning technology.\"}],\"events\":{\"id\":4,\"name\":\"this is test event\",\"description\":\"sdve\",\"start_date\":\"2025-10-08T00:00:00+00:00\",\"end_date\":\"2025-10-09T00:00:00+00:00\",\"venue\":\"referf\",\"type\":\"meeting\",\"created_at\":\"2025-09-16T07:45:44.306089+00:00\"},\"announcements\":{\"id\":1,\"title\":\"this is test announcement title\",\"description\":\"this is test announcement description for a project that will be completed in 18months at Kolkata, West Bengal\",\"created_at\":\"2025-08-29T04:36:51+00:00\"}}","email_grp":["rohan_test"],"emails":["rohnsha0@gmail.com"]}}}}],"webhookDeleteNL":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:141.0) Gecko/20100101 Firefox/141.0","content-length":"23","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.5","content-type":"application/json","origin":"https://sesai.in","priority":"u=0","referer":"https://sesai.in/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","te":"trailers","x-forwarded-for":"103.87.141.108","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"103.87.141.108"},"params":{},"query":{},"body":{"newsletter_id":"363"},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/approve","executionMode":"production"}}],"webhookRetract":[{"json":{"headers":{"host":"n8n.sesai.in","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:141.0) Gecko/20100101 Firefox/141.0","content-length":"23","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.5","content-type":"application/json","origin":"https://sesai.in","priority":"u=0","referer":"https://sesai.in/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","te":"trailers","x-forwarded-for":"103.87.141.108","x-forwarded-host":"n8n.sesai.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2250cfca7b3e","x-real-ip":"103.87.141.108"},"params":{},"query":{},"body":{"newsletter_id":"362"},"webhookUrl":"https://n8n.sesai.in/webhook/newsletter/approve","executionMode":"production"}}]},"versionId":"a6aa36c9-1a2a-4ed2-b848-f137de6053ea","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.668Z","createdAt":"2025-12-11T08:33:33.668Z","role":"workflow:owner","workflowId":"zGEExqaPjDbXfx7A","projectId":"Gh4K029Sunajg0dH"}],"tags":[{"updatedAt":"2025-10-06T07:08:44.903Z","createdAt":"2025-10-06T07:08:44.903Z","id":"NlbmgUucqz0ztknY","name":"newsletter"}]}