opt_out-unsubscribeemail-mkuGHcizxkE9H4jX.json
{"createdAt":"2025-07-27T12:57:42.221Z","updatedAt":"2025-07-27T12:57:42.221Z","id":"mkuGHcizxkE9H4jX","name":"Opt_out-UnsubscribeEmail","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"unsubscribe","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"1d9ae3b0-0257-4c9b-aac6-c77cbf73e448","name":"Webhook","webhookId":"7af9787c-39c3-483c-ad0e-2e080f21de61"},{"parameters":{"assignments":{"assignments":[{"id":"2ab238a7-b568-428d-a6d7-f855b8adcdf8","name":"token","value":"={{ $json.query.tkn }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"fa2353d8-318a-4e91-a88d-bf384230748f","name":"Edit Fields"},{"parameters":{"respondWith":"redirect","redirectURL":"https://your-privacy-is-importan-n27zrwo.gamma.site/","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,0],"id":"0ad775d7-758c-4dc3-b388-0721d00647c4","name":"Respond to Webhook"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Token":"={{ $json.token }}","Opted Out":"Yes"},"matchingColumns":["Token"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[448,0],"id":"e24fa76d-56e1-4d4b-99ae-d0676c23b50b","name":"Google Sheets"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"kiaghasem.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"114.73.147.62","cf-ew-via":"15","cf-ipcountry":"AU","cf-ray":"92c75b91a761a82f-SYD","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","cookie":"_fbp=fb.1.1741517533649.155170111503497774; _gcl_au=1.1.488682755.1741517530; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2BPsUi%2BrdOgUMggEWasLrRWibAs47OzlR%2FNCLJQjpMWMERHAjg%2BTBhi; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FG7Jr9DyMaVF%2BUEc8VolgbYxPzqwiRVAE%3D; _ga=GA1.1.1152948723.1743395830; _ga_1EB8LCPG5B=GS1.2.1743511427.11.1.1743511471.0.0.0; _ga_0SC4FF2FH9=GS1.1.1743516806.5.0.1743516806.60.0.0; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjMxYjk3YWQxLWNjNDQtNGU3YS04MjcwLTdjMjZkMzRjOGFjYiIsImhhc2giOiJNQ0I4d0pWby9PIiwiYnJvd3NlcklkIjoiSlFnM1RUSVRlMG9kVk5WcnFlcmZvMVkxeTIyMUVsZktWa0VtTWtuSzB0dz0iLCJpYXQiOjE3NDM2MDUwNjgsImV4cCI6MTc0NDIwOTg2OH0.Kyg5gDdfRQJX2boLsl1IizItEP17GesauxVEptpJ7EE; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19VPQqPlOF9gm%2FPGLqC9VHqw%2F9RBHKbNy27owRaWW8PpTsZA9Ed%2BkgorCGjOIzGq2mjRtTUdLuH1g%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19TYFnwUn4Hr%2BFZlUx33x0cIs%2F7512gpKS8m7rAJ3WqH4KFErCRDs21%2BjMpHTt9q2ZlhSQI8BLA7C0BrQ0j4F61rXIKBf0QgttSp0e59bCn4RAGgTe7%2F3leXG40tYwWZF7lJMxl0BYEmYwvMA%2FoAhS5USAeGAhv214%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BRzMzGLrxdfsSmhbYLh2o0RnTFqhOXBnMxcPq0ReLdI%2B9zOyYU5G5WwTfEseRsCBnanNkviSY2maWO%2F8Zk3oIejJ98rsyIu%2F%2FbjddzKW5GqMkGXqHjw7rM9LzPL3SQ5c%2FGTOPgoLYui75floS1qkSqP%2Bz1Umu%2FbX0%3D; n8n_anonymous_id=0a75a0f7-0465-4543-be53-fbe26510da7f; rl_session=RudderEncrypt%3AU2FsdGVkX19uJk7aPqF%2BNYMG1h3gKpeUCLn9l%2F9Rwswim5uy09Gz5jFDhh8B9QHRF96e6w8Nb38cWv7%2B6H%2FWWwDeILLWvW1MI2Hp9s%2FBIDuSW3zkmznsk%2B%2Bqq32wEkDH1EGT2PZj%2Fc7166Izx9jcQg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22b28d66d14f40eb70ce76982ff5a26f67c6ff8a3b5e252b0e32973f57f9e31707%2331b97ad1-cc44-4e7a-8270-7c26d34c8acb%22%2C%22%24sesid%22%3A%5B1744006176042%2C%2201960e97-1fc7-7624-9291-63edb5ca8b88%22%2C1744001507271%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fkiaghasem.app.n8n.cloud%2Fworkflows%22%7D%7D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-browser-channel":"stable","x-browser-copyright":"Copyright 2025 Google LLC. All rights reserved.","x-browser-validation":"09P27VycOsIOJE0v6Qg0O++FkSE=","x-browser-year":"2025","x-forwarded-for":"114.73.147.62, 172.68.144.140","x-forwarded-host":"kiaghasem.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-39-c65d8f959-dp79g","x-is-trusted":"yes","x-real-ip":"114.73.147.62"},"params":{},"query":{"tkn":"931389"},"body":{},"webhookUrl":"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe","executionMode":"production"}}]},"versionId":"17a337f5-2d50-4039-90aa-30404541f7ed","triggerCount":0,"tags":[]}