real-time-updates-and-notifications-3nsSUvqAAiM5I5xv.json
{"createdAt":"2025-07-19T13:23:10.298Z","updatedAt":"2025-07-19T13:23:10.298Z","id":"3nsSUvqAAiM5I5xv","name":"Real-Time Updates and Notifications","active":false,"isArchived":false,"nodes":[{"id":"1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"parameters":{"httpMethod":"POST","path":"status-update","responseMode":"lastNode","responseData":"allEntries"}},{"id":"2","name":"Send Notification Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[400,300],"parameters":{"fromEmail":"notifications@company.com","toEmail":"{{$json.recipient}}","subject":"Status Update","text":"Status of your leave request has changed to {{$json.status}}."}},{"id":"3","name":"Send WebSocket Update","type":"n8n-nodes-base.code","typeVersion":1,"position":[600,300],"parameters":{"functionCode":"// Placeholder for WebSocket integration\n// Send real-time update to frontend\nreturn [{...$json, message: 'WebSocket update sent'}];"}}],"connections":{"Webhook":{"main":[[{"node":"Send Notification Email","type":"main","index":0}]]},"Send Notification Email":{"main":[[{"node":"Send WebSocket Update","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"db28f9f1-2757-4072-abfc-eecd13b539f8","triggerCount":0,"tags":[]}