supabase-for-potential-projects-1BFLjARWjz1rDlks.json
{"updatedAt":"2025-08-03T08:00:51.000Z","createdAt":"2025-07-27T21:46:54.440Z","id":"1BFLjARWjz1rDlks","name":"Supabase for Potential projects","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2928,1488],"id":"48dccc40-132f-4545-ab2f-42bbb0ff4990","name":"When chat message received","webhookId":"70d63d83-9a4a-42ce-9ca9-42111747e5f5"},{"parameters":{"options":{"systemMessage":"=You are a business development assistant for Shiva Engineering Services (SES). You are given rows of project data from a PostgreSQL (Supabase) table.\n\nYour task is to filter and return a list of *potential projects* for SES to target.\n\n**Definition of a potential project:**\n- The \"Contractor\" column is empty for that project .\n- The \"Latest Update\" column does NOT contain phrases like:\n  - \"bagged a contract\"\n  - \"project is in progress\"\n  - \"bids were invited\"\n  - \"waiting for approvals\"\n  - or anything that suggests the project is already assigned or underway.\n\n**Output requirement:**\n- Return an array of JSON objects.\n- Each object should include:\n  - `Project_ID`\n  - All available details from the row (e.g. Project annoucement date , Latest Update , Industry , Ownership , Location, Estimated Cost, etc.).\n- Sort by the most recently updated projects first ; else sort by most potential ones ).\n\nOnly return projects that truly match the criteria. If unsure, exclude the row.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2656,1488],"id":"bf512e80-09fb-4d2f-956d-d11d3f4a2ad4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2752,1728],"id":"3737beb7-1859-4e58-9aeb-ed4361fda35b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cw99er9WtSL2k6mJ","name":"OpenAi account 3"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2608,1728],"id":"4c5c854a-e2e7-433e-83a5-66bf034be169","name":"Simple Memory"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Project","mode":"list","cachedResultName":"Project"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2352,1712],"id":"e160e412-5038-4df2-8252-bb01b8ce0ef7","name":"Select rows from a table in Postgres","credentials":{"postgres":{"id":"Xj2FMl2Q5fs6Tbm0","name":"Postgres account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are part of the cold email team for SES , which is an AI Automation Agency offering process automation, marketing automation and automation consulting to businesses around the world. \n\nYour job is to create 3 emails given the following info about a new cold lead: \n\n1. Research: Findings about the prospect by researching them on social media and the web. \n2. Analysis: Insights extracted from analysing the research. \n3. Tactic: Strategy to create the cold emails. \n\nYour job is to create a cold email sequence of 2 emails for the purpose of A/B testing. The tactic for each email should closely follow the instructions below, whilst the content of each email must follow the research and analysis. \n\n\n# Tactic: \n\n1. Email#1: \n\n1.1 Recepient \n    \"To\" field - Contact Person Email , if available .\n\n    \n\n1.2 Subject line: \n\nThe email subject line should : \n- Be maximum 4-6 words \n- Include the prospects name or company name (choose based on context) when possible without sounding unnatural \n- Never include spam trigger words like “free,” “guarantee,” “no obligation,” \"price,\" \"100%\" \"sale,\" and excessive punctuation, which can trigger spam filters. \n- Create curiousity without sounding spammy or like we're selling them anything \n\n\n1.3 Body\n\nStructure: The email must follow this structure closely:\na) Hook: The first 2 or 3 sentences of the email is a hook. The hook should be the personalization part of the email, capturing the prospects attention so they don't scroll. \nb) Pain point: After the hook, you must outline a pain point that was analysed about the prospect. This shouldn't sound salesy, but should be directly related to their business. The goal is to capture the readers attention, not sell them a solution. \nc) CTA: Say you've been working on solving that problem and would love to share your insights over a quick 15 minute call on {{ ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][(new Date().getDay() + 2) % 7] }}. Have a clear next step for them (for example \"Should I book you in?).\n\nGuidelines -  The email body should:\n\n- Be short (maximum 100 words).\n- Have short paragraphs (1 or 2 sentences in each) to include white space. \n- Use a conversational tone to keep the email casual. \n- Be \"You\" focused, incorporating \"you\" as much as possible.\n- Be in 6th-grade reading level with simple language. \n- Avoid images, attachments, videos, custom code, spammy words above, bullet points, punctuation.\n- Not have absurd claims (it should be believable).\n- Should always start with \"Hey ,\"\n- Should be concise. \n- Never start with formal openers like \"Hope you're doing well\" (Get right into the email every time).\n- Be nice and inviting.\n- End with \"Kind regards, Khushi \"\n\n\n2. Email#2: \nThis email will be the alternative email ( Subject and body framed in a different way ) as email#1 and is considered to be avaluated by manager via A/B testing that which email fits the best in context .  \n \n\n# Rules - Other things to consider: \n- Your goal is to create an engaging email that will get us a reply. Choose the best pain points and personalization opportunities from the analysis to achieve this objective. \n- You must closely follow the guidelines provided for each email. \n- Never come across condescending or rude when mentioning the pain point. \n- When using the personalization opportunities from the analysis, always mention where the info was found - usually  \"Online\" or \"LinkedIn\" (look at Supporting Evidence for this).\n\n# Output format\nYour output must follow this JSON format: \n\n{ \n  \"to\": \"Contact Person Email \" , \n  \"email1\": {\n    \"subject\": \"TEXT-HERE\",\n    \"body\": \"HTML-HERE\"\n  },\n  \"email2\": {\n     \"subject\": \"TEXT-HERE\",\n     \"body\": \"HTML-HERE\"\n  },\n\n}\n\n- Don't wrap the output in ```json```. \n- Don't output anything else. \n- Don't use HTML code , use only next line character ( \"\\n\") for line breaks and nothing else.\n\n# Task: New prospect\nThere's a new prospect. Create the emails by considering the following details: \n\n1. Analysis: \n{{ $json.message.content }} \n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1472,1504],"id":"ca297729-0174-489f-a9ea-0255eb03cc0f","name":"Email #1 #2 #3","credentials":{"openAiApi":{"id":"cw99er9WtSL2k6mJ","name":"OpenAi account 3"}}},{"parameters":{"mode":"raw","jsonOutput":"=  {{ $json.message.content.replaceAll('```json','').replaceAll('```','') }}\n\n\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,1504],"id":"03f62bc2-9df9-49e4-86a7-67c7885d1f12","name":"Emails","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Loop over each item passed from the Merge node\nfor (const item of items) {\n\t// Get the country value (make sure to match the field name exactly)\n\tconst countryRaw = item.json[\"Country \"];\n\tlet country = \"\";\n\tif (countryRaw) {\n\t\tcountry = countryRaw.toLowerCase().trim();\n\t}\n\n\t// Define arrays for the different time zone groups\n\tconst t1Countries = [\"usa\", \"united states\", \"canada\"];\n\tconst europeanCountries = [\n\t\t\"albania\", \"andorra\", \"armenia\", \"austria\", \"azerbaijan\", \"belarus\", \"belgium\",\n\t\t\"bosnia and herzegovina\", \"bulgaria\", \"croatia\", \"cyprus\", \"czech republic\", \"czechia\",\n\t\t\"denmark\", \"estonia\", \"finland\", \"france\", \"georgia\", \"germany\", \"greece\", \"hungary\",\n\t\t\"iceland\", \"ireland\", \"italy\", \"kosovo\", \"latvia\", \"liechtenstein\", \"lithuania\",\n\t\t\"luxembourg\", \"malta\", \"moldova\", \"monaco\", \"montenegro\", \"netherlands\", \"north macedonia\",\n\t\t\"norway\", \"poland\", \"portugal\", \"romania\", \"russia\", \"san marino\", \"serbia\", \"slovakia\",\n\t\t\"slovenia\", \"spain\", \"sweden\", \"switzerland\", \"turkey\", \"ukraine\", \"united kingdom\",\n\t\t\"vatican city\"\n\t];\n\tconst t3Countries = [\"australia\", \"new zealand\"];\n\n\t// Determine and populate the Time Zone based on the country value\n\tif (t1Countries.includes(country)) {\n\t\titem.json[\"Time Zone\"] = \"T1\";\n\t} else if (europeanCountries.includes(country)) {\n\t\titem.json[\"Time Zone\"] = \"T2\";\n\t} else if (t3Countries.includes(country)) {\n\t\titem.json[\"Time Zone\"] = \"T3\";\n\t} else {\n\t\t// For any other country not defined above, assign T4.\n\t\t// If you want to limit to T1, T2, or T3 only, you can decide to leave it blank or assign a default value.\n\t\titem.json[\"Time Zone\"] = \"T4\";\n\t}\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,1504],"id":"967b40b2-5c52-488a-be29-24e99560e239","name":"Time Zone"},{"parameters":{"jsCode":"// Array of sender emails to rotate through\nconst senderEmails = [\n  \"marketing@shiva-engineering.com\",\n  \"marketing@shiva-engineering.com\",\n  \"marketing@shiva-engineering.com\"\n];\n\n// Get all input items from the Time Zone node\nconst items = $input.all();\n\n// Process each item\nfor (let i = 0; i < items.length; i++) {\n  // Calculate which email to use based on position (cycling through the array)\n  const emailIndex = i % senderEmails.length;\n  \n  // Assign the sender email to the current item\n  items[i].json[\"Sender Email\"] = senderEmails[emailIndex];\n}\n\n// Return the updated items\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,1504],"id":"e0c18030-591f-497e-918e-a902c56167d5","name":"Sender Email"},{"parameters":{"jsCode":"// Function to generate a random 6-digit number\nfunction generateRandomToken() {\n  return Math.floor(100000 + Math.random() * 900000);\n}\n\n// Process each item from the Sender Email node\nfor (let i = 0; i < items.length; i++) {\n  // Add the token parameter to each item\n  items[i].json.token = generateRandomToken();\n}\n\n// Return the modified items\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,1504],"id":"fbe27fcb-fced-4826-93d8-1c92a76db417","name":"Opt Out Token"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sender_email }}","rightValue":"marketing@shiva-engineering.com","operator":{"type":"string","operation":"equals"},"id":"b895fd00-6f66-41d1-ab55-b1337e744a7f"}],"combinator":"and"},"renameOutput":true,"outputKey":"kgd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b90ae81e-e015-4138-955b-f8efae253fba","leftValue":"={{ $json.sender_email }}","rightValue":"kykhushi0703@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"k"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93b60147-610f-4c3c-adf6-a7f8b2159096","leftValue":"={{ $json.sender_email }}","rightValue":"youremail@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"h"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1776,-528],"id":"d3bb0d50-0f96-4ad0-954b-f89560a8e9f0","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1456,-560],"id":"7011ec9c-a899-41a7-8f2a-46a32c515a7c","name":"Loop Over Items"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,-512],"id":"9d0de1ee-7651-48f9-b0a4-e0db380ed47d","name":"Wait","webhookId":"c4cf719a-d47f-4761-8a16-aff92b8e9a19"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1456,-80],"id":"4bf89cca-58a4-4077-a2ce-5220dc297a39","name":"Loop Over Items1"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1008,0],"id":"fb88b503-9166-4bde-a8c7-8ed4b4a2f348","name":"Wait1","webhookId":"c4cf719a-d47f-4761-8a16-aff92b8e9a19"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1456,416],"id":"8acef274-f5aa-4121-adda-a5eea3503fde","name":"Loop Over Items2"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1008,480],"id":"35357b7e-b153-4049-95c2-3f0c8235256e","name":"Wait2","webhookId":"c4cf719a-d47f-4761-8a16-aff92b8e9a19"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * Mon"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2752,-48],"id":"4169ab8f-cd95-4309-aca7-e5e91c14c466","name":"Schedule Trigger1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sender_email }}","rightValue":"marketing@shiva-engineering.com","operator":{"type":"string","operation":"equals"},"id":"b895fd00-6f66-41d1-ab55-b1337e744a7f"}],"combinator":"and"},"renameOutput":true,"outputKey":"kgd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b90ae81e-e015-4138-955b-f8efae253fba","leftValue":"={{ $json.sender_email }}","rightValue":"kykhushi0703@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"k"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93b60147-610f-4c3c-adf6-a7f8b2159096","leftValue":"={{ $json.sender_email }}","rightValue":"youremail@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"h"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1680,-1680],"id":"50ba5fc2-b1c4-4550-8a6f-04cb5473635c","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"2d1b89f0-661b-4b21-9bb2-cb8419b22035","name":"replied","value":"={{ Object.keys($json).length > 0 ? \"Yes\" : \"No\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,-1696],"id":"ea49e0ed-7223-47ab-b58e-40d081e1de41","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177601be-b2c3-45cc-8e15-cd064fbaf578","leftValue":"={{ $json.replied }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,-1760],"id":"24fa1ac6-9839-47c6-922b-d007ec0cf545","name":"If1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-768,-1888],"id":"27f656d9-5c4c-40b6-841b-ba7a010f8cf6","name":"Merge1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $json[\"LinkedIn URL\"] }}","Replied":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-336,-1664],"id":"44852a04-0388-4565-9752-6305628200f7","name":"Replied = Yes1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1456,-1664],"id":"7e19b59e-9aa8-4ad9-92d9-714f4916cd4b","name":"Loop Over Items3"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,-1696],"id":"575cd93b-0e8d-4a07-bb75-4f93058aba8e","name":"Wait3","webhookId":"5fcbde9f-0750-405b-8ff7-8bce2e4a16ef"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/messages/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"raw","value":"={{ $json.raw }}"},{"name":"=threadId","value":"={{ $json.threadId }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-1840],"id":"e0b95500-35c8-4b8a-8ec1-c40241d12c82","name":"HTTP Request3"},{"parameters":{"jsCode":"// JavaScript code for n8n Code node to prepare HTML email for Gmail API\nconst emailData = {\n  messageId: $input.item.json['Message ID'],\n  threadId: $input.item.json['Thread ID'] || $input.item.json['Message ID'],\n  subject: $input.item.json['Email#1 Subject'],\n  senderEmail: $input.item.json['Sender Email'],\n  recipientEmail: $input.item.json['Email Address'],\n  token: $input.item.json['Token']\n};\n\n// Check available input keys to help diagnose the issue\nconst inputKeys = Object.keys($input.item.json);\nconsole.log('Available input keys:', inputKeys);\n\n// Try to find the email body in different possible formats\nlet emailBodyContent = '';\n// First try the exact key name\nif ($input.item.json['Email#2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email#2 Body'];\n} \n// Try with a space after the hash\nelse if ($input.item.json['Email #2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email #2 Body'];\n} \n// Try other possible variations\nelse if ($input.item.json['EmailBody'] !== undefined) {\n  emailBodyContent = $input.item.json['EmailBody'];\n} \n// Default fallback message if none found\nelse {\n  emailBodyContent = \"Thank you for your attention to this matter.\";\n  console.log(\"No email body found, using default text\");\n}\n\n// Ensure message ID is properly formatted\nconst formattedMessageId = emailData.messageId.startsWith('<') ? \n  emailData.messageId : \n  `<${emailData.messageId}>`;\n\n// Create HTML email body with unsubscribe link\nconst htmlBody = `${emailBodyContent}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn=${emailData.token}\">Click Here to Unsubscribe</a>`;\n\n// Create email in RFC 2822 format with HTML content type\nconst emailContent = \n  `In-Reply-To: ${formattedMessageId}\\n` +\n  `References: ${formattedMessageId}\\n` +\n  `Subject: Re: ${emailData.subject}\\n` +\n  `From: ${emailData.senderEmail}\\n` +\n  `To: ${emailData.recipientEmail}\\n` +\n  `Content-Type: text/html; charset=\"UTF-8\"\\n\\n` +\n  `${htmlBody}`;\n\n// Base64 encode and convert to base64url format\nconst base64EncodedEmail = Buffer.from(emailContent)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\n// Return an object with the encoded email and thread ID\nreturn {\n  json: {\n    raw: base64EncodedEmail,\n    threadId: emailData.threadId\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-1840],"id":"c4f712f8-fd80-4cf2-a15d-613b42da2a11","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"2d1b89f0-661b-4b21-9bb2-cb8419b22035","name":"replied","value":"={{ Object.keys($json).length > 0 ? \"Yes\" : \"No\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,-2400],"id":"ce65322f-df9a-4da9-9f19-adbc6ee29654","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177601be-b2c3-45cc-8e15-cd064fbaf578","leftValue":"={{ $('Edit Fields2').item.json.replied }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-2464],"id":"75f7510b-72a0-4699-ba54-114a539d0f2a","name":"If2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-576,-2464],"id":"1beae52c-0828-44ab-adf0-a762cd02dd61","name":"Merge2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $json[\"LinkedIn URL\"] }}","Replied":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-128,-2368],"id":"2983c702-add3-4257-8886-7655f496b6c7","name":"Replied = Yes2","credentials":{"googleSheetsOAuth2Api":{"id":"NOSnY48amBzpnjgw","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1456,-2368],"id":"069d4288-fd63-4da8-9686-ab37acce1575","name":"Loop Over Items4"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[320,-2384],"id":"46fcda60-ded9-4dc8-9f13-502a918db2e3","name":"Wait4","webhookId":"5fcbde9f-0750-405b-8ff7-8bce2e4a16ef"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/messages/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"raw","value":"={{ $json.raw }}"},{"name":"=threadId","value":"={{ $json.threadId }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-2560],"id":"95be6c16-879d-4a70-8fbd-2361237573a7","name":"HTTP Request4"},{"parameters":{"jsCode":"// JavaScript code for n8n Code node to prepare HTML email for Gmail API\nconst emailData = {\n  messageId: $input.item.json['Message ID'],\n  threadId: $input.item.json['Thread ID'] || $input.item.json['Message ID'],\n  subject: $input.item.json['Email#1 Subject'],\n  senderEmail: $input.item.json['Sender Email'],\n  recipientEmail: $input.item.json['Email Address'],\n  token: $input.item.json['Token']\n};\n\n// Check available input keys to help diagnose the issue\nconst inputKeys = Object.keys($input.item.json);\nconsole.log('Available input keys:', inputKeys);\n\n// Try to find the email body in different possible formats\nlet emailBodyContent = '';\n// First try the exact key name\nif ($input.item.json['Email#2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email#2 Body'];\n} \n// Try with a space after the hash\nelse if ($input.item.json['Email #2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email #2 Body'];\n} \n// Try other possible variations\nelse if ($input.item.json['EmailBody'] !== undefined) {\n  emailBodyContent = $input.item.json['EmailBody'];\n} \n// Default fallback message if none found\nelse {\n  emailBodyContent = \"Thank you for your attention to this matter.\";\n  console.log(\"No email body found, using default text\");\n}\n\n// Ensure message ID is properly formatted\nconst formattedMessageId = emailData.messageId.startsWith('<') ? \n  emailData.messageId : \n  `<${emailData.messageId}>`;\n\n// Create HTML email body with unsubscribe link\nconst htmlBody = `${emailBodyContent}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn=${emailData.token}\">Click Here to Unsubscribe</a>`;\n\n// Create email in RFC 2822 format with HTML content type\nconst emailContent = \n  `In-Reply-To: ${formattedMessageId}\\n` +\n  `References: ${formattedMessageId}\\n` +\n  `Subject: Re: ${emailData.subject}\\n` +\n  `From: ${emailData.senderEmail}\\n` +\n  `To: ${emailData.recipientEmail}\\n` +\n  `Content-Type: text/html; charset=\"UTF-8\"\\n\\n` +\n  `${htmlBody}`;\n\n// Base64 encode and convert to base64url format\nconst base64EncodedEmail = Buffer.from(emailContent)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\n// Return an object with the encoded email and thread ID\nreturn {\n  json: {\n    raw: base64EncodedEmail,\n    threadId: emailData.threadId\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-2560],"id":"69b120b4-897c-48a4-ba7b-6de2064b3897","name":"Code4"},{"parameters":{"assignments":{"assignments":[{"id":"2d1b89f0-661b-4b21-9bb2-cb8419b22035","name":"replied","value":"={{ Object.keys($json).length > 0 ? \"Yes\" : \"No\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,-1040],"id":"58da0c01-2254-4993-96f4-ddecbd21a173","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177601be-b2c3-45cc-8e15-cd064fbaf578","leftValue":"={{ $json.replied }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,-1072],"id":"8201fcb0-693c-4e49-bc33-5206ee0c119e","name":"If3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-768,-1232],"id":"510c2bfa-4a1b-4e9e-aeed-61f34f9f2b28","name":"Merge3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk","mode":"list","cachedResultName":"Research","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn URL":"={{ $json[\"LinkedIn URL\"] }}","Replied":"Yes"},"matchingColumns":["LinkedIn URL"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Analysed","displayName":"Analysed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Research Report","displayName":"Research Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Body","displayName":"Email#1 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Subject","displayName":"Email#1 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email #2 Body","displayName":"Email #2 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Body","displayName":"Email#3 Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Subject","displayName":"Email#3 Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sender Email","displayName":"Sender Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Zone","displayName":"Time Zone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#1 Sent","displayName":"Email#1 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#2 Sent","displayName":"Email#2 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email#3 Sent","displayName":"Email#3 Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Message ID","displayName":"Message ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Replied","displayName":"Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Token","displayName":"Token","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opted Out","displayName":"Opted Out","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-336,-976],"id":"9b44c1ce-291f-40bc-9cef-1fb3afffafb0","name":"Replied = Yes3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1456,-976],"id":"fb51990f-6b0b-4b07-95e0-5976b00614e3","name":"Loop Over Items6"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,-992],"id":"642cbf81-344a-468b-9929-c9a69fc71e65","name":"Wait6","webhookId":"5fcbde9f-0750-405b-8ff7-8bce2e4a16ef"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/messages/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"raw","value":"={{ $json.raw }}"},{"name":"=threadId","value":"={{ $json.threadId }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-1232],"id":"1f4bc845-2738-429d-86e5-545852e376da","name":"HTTP Request6"},{"parameters":{"jsCode":"// JavaScript code for n8n Code node to prepare HTML email for Gmail API\nconst emailData = {\n  messageId: $input.item.json['Message ID'],\n  threadId: $input.item.json['Thread ID'] || $input.item.json['Message ID'],\n  subject: $input.item.json['Email#1 Subject'],\n  senderEmail: $input.item.json['Sender Email'],\n  recipientEmail: $input.item.json['Email Address'],\n  token: $input.item.json['Token']\n};\n\n// Check available input keys to help diagnose the issue\nconst inputKeys = Object.keys($input.item.json);\nconsole.log('Available input keys:', inputKeys);\n\n// Try to find the email body in different possible formats\nlet emailBodyContent = '';\n// First try the exact key name\nif ($input.item.json['Email#2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email#2 Body'];\n} \n// Try with a space after the hash\nelse if ($input.item.json['Email #2 Body'] !== undefined) {\n  emailBodyContent = $input.item.json['Email #2 Body'];\n} \n// Try other possible variations\nelse if ($input.item.json['EmailBody'] !== undefined) {\n  emailBodyContent = $input.item.json['EmailBody'];\n} \n// Default fallback message if none found\nelse {\n  emailBodyContent = \"Thank you for your attention to this matter.\";\n  console.log(\"No email body found, using default text\");\n}\n\n// Ensure message ID is properly formatted\nconst formattedMessageId = emailData.messageId.startsWith('<') ? \n  emailData.messageId : \n  `<${emailData.messageId}>`;\n\n// Create HTML email body with unsubscribe link\nconst htmlBody = `${emailBodyContent}<br><br>\n<a href=\"https://kiaghasem.app.n8n.cloud/webhook/unsubscribe?tkn=${emailData.token}\">Click Here to Unsubscribe</a>`;\n\n// Create email in RFC 2822 format with HTML content type\nconst emailContent = \n  `In-Reply-To: ${formattedMessageId}\\n` +\n  `References: ${formattedMessageId}\\n` +\n  `Subject: Re: ${emailData.subject}\\n` +\n  `From: ${emailData.senderEmail}\\n` +\n  `To: ${emailData.recipientEmail}\\n` +\n  `Content-Type: text/html; charset=\"UTF-8\"\\n\\n` +\n  `${htmlBody}`;\n\n// Base64 encode and convert to base64url format\nconst base64EncodedEmail = Buffer.from(emailContent)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n\n// Return an object with the encoded email and thread ID\nreturn {\n  json: {\n    raw: base64EncodedEmail,\n    threadId: emailData.threadId\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-1232],"id":"3d24277f-eab5-4476-a751-bd3da7c37adb","name":"Code6"},{"parameters":{"content":"## WORKFLOW 3 \n\n## ONCE REPLY IS RECEIVED - IT DRAFTS A REPLY MAIL \n\n## WAITS FOR BD MANAGER APPROVAL \n","height":2000,"width":3296,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2672,-2736],"id":"d022bc5a-31ad-4ab9-8e57-ef5b0d6ece64","name":"Sticky Note"},{"parameters":{"content":"## WORKFLOW 2 \n\n## TRIGGERED ONCE APPROVAL IS RECEIVED BY BD MANAGER \n\n## SEND MAILS TO APPOVED ONES","height":1456,"width":2912,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2624,-704],"id":"c9950ebe-7a57-4207-8341-bcf57434d51c","name":"Sticky Note4"},{"parameters":{"jsCode":"// Get the string from input (AI Agent output)\nconst raw = $json.output;\n\n// Parse the string into JSON\nconst parsed = JSON.parse(raw);\n\n// Return each item as its own item\nreturn parsed.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2176,1504],"id":"43fd624a-4743-4d6f-8fe2-9206d41894e1","name":"Code"},{"parameters":{"resource":"draft","subject":"={{ $json.email1.subject }}","bodyContent":"={{ $json.email1.body }}","additionalFields":{"from":"={{ $json['Sender Email'] }}","isReadReceiptRequested":false,"toRecipients":"={{ $json.to }}"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-448,1504],"id":"2314e1ce-5206-48a6-88ad-4832225634de","name":"Create a draft","webhookId":"5c2ccbbb-fe33-4b32-8e83-34405dfbd681","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"content":"## WORKFLOW 1 \n\n## IDENTIFIES POTENTIAL PROJECTS \n\n## DRAFTS OUTLOOK MAIL IN PROPER FORMAT","height":960,"width":3408,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3104,1104],"id":"9800fc0c-cabf-4f30-9fda-0a3351d10bd0","name":"Sticky Note3"},{"parameters":{"content":"## PERSONALISATION + PAIN-POINTS + HOW SES CAN HELP ?","height":608,"width":406},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2000,1232],"id":"1dd9d98b-5f51-47b9-ade8-baf7e825f82d","name":"Sticky Note1"},{"parameters":{"content":"## FORMATS AND DRAFTS COLD PERSONALISED MAILS","height":560,"width":1472,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,1248],"id":"eb6f10ef-f04e-427b-be6e-371edc3b505f","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://pvckiiclgzdzwcsxtekg.supabase.co/rest/v1/email_drafts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2Y2tpaWNsZ3pkendjc3h0ZWtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1MjMyMTksImV4cCI6MjA2ODA5OTIxOX0.at2jET1WoXwOxjWx-ORAiu6qFsn9KW-bUMM4Tn64Qlw"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2Y2tpaWNsZ3pkendjc3h0ZWtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1MjMyMTksImV4cCI6MjA2ODA5OTIxOX0.at2jET1WoXwOxjWx-ORAiu6qFsn9KW-bUMM4Tn64Qlw"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subject\": \"{{$json.subject}}\",\n  \"body\": \"testing body\",\n  \"recipient\": \"{{$json.toRecipients[0].emailAddress.address}}\",\n  \"status\": \"draft\",\n  \"outlook_draft_id\": \"{{$json.id}}\",\n  \"created_by\": \"{{$json.from.emailAddress.name}}\",\n  \"sender_email\": \"{{$json.sender.emailAddress.address}}\",\n  \"message_id\": \"{{$json.internetMessageId}}\",\n  \"delivered_status\": \"pending\",\n  \"replied\": false\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,1504],"id":"464a1789-0686-4471-aee6-af87125fd8d0","name":"Insert to Supabase"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=You are a Project Insights Specialist helping SES Engineering identify how it can add strategic value to a given infrastructure or industrial project. Based on the fields provided, your job is to analyze the project and generate personalized insights for cold outreach that are:\n\n- Relevant to the project context\n\n- Tied directly to SES Engineering's capabilities\n\n- Helpful and technically clear\n\n- Strictly grounded in the input fields (no hallucination)\n\n## SES Engineering Summary\nSES Engineering delivers end-to-end Engineering, Procurement, and Construction (EPC) services, focused on quality, safety, sustainability, and innovation. Their team ensures seamless execution—from initial design to commissioning—bringing projects to life on-time and on-budget.\n\n#Core Offerings:\n- Site Master Planning (SMP): Layout optimization, space utilization, CAPEX/OPEX efficiency\n\n- Front-End Engineering Design (FEED): Early-stage risk mitigation, predictability in cost/timelines\n\n- Multi-Disciplinary Design & Lifecycle Support: Mechanical, civil, electrical, instrumentation\n\n- Procurement Strategy & Vendor Management: Supply-chain efficiency, long-lead item planning\n\n- Process Scale-Up Expertise ( Scale up Engineering): From pilot to full-scale production, throughput optimization . Helps small enterprises grow scalably . \n\n- Prefabrication & Modular Construction: Time-saving, reduced on-site congestion, parallel execution\n\n## Objective\n#Your Goal:\n Generate project-specific insights for cold outreach by:\n\n- Finding strong personalization opportunities using only the structured fields below\n\n- Identifying pain points or risks (if applicable) based on stage, cost, or complexity\n\n- Mapping how SES can help, connecting each point clearly to SES capabilities\n\n## Structured Input Fields\nThe input will contain structured fields like:\n\n1. Project Name\n\n2. Project Type\n\n3. Implementation Stage\n\n4. Construction Start & End Dates\n\n5. Cost or Estimated Cost Range\n\n6. Industry\n\n7. Ownership\n\n8. Location, State, District\n\n10. Product1 / Product2\n\n11. Promoter Name / Promoter Details\n\n12. Latest Update (may contain recent news or progress info)\n\n❌ Constraints\n- Never invent any roles, people, or project details not given in input\n\n- Do not generalize or assume facts—use only what’s in the fields\n\n- If nothing meaningful is available in a field, ignore it gracefully\n\n## OUTPUT FORMAT \n\n#Personalization\n- Opportunity 1: <specific personalized insight grounded in the input>\n- Opportunity 2: <another insight—optional if none available>\n\n#Pain Points\n- <Optional risk or challenge inferred from cost, stage, or timeline>  \n  (e.g., “Possible execution delays due to early-stage planning + high cost”)\n\n#How SES Can Help\nSES can support this project by <explain using SES capabilities>.\n- Given the current stage (e.g., {{ $json['Implementation Stage'] }}), SES would [insert applicable offering like FEED, SMP, scale-up help]\n- To overcome [pain point], SES applies [specific capability]\n- As the project relates to {{ $json.Industry }}   and involves {{ $json.Product1 }} , SES brings expertise in [relevant domain]\n\n#Supporting Evidence\n- Project Name: {{ $json['Project Name'] }}\n- Promoter: {{ $json['Promoter Name'] }}\n- Industry: {{ $json.Industry }}\n- Implementation Stage: {{ $json['Implementation Stage'] }}\n- Latest Update: {{ $json['Latest Update'] }}\n\n# CONTACT DETAILS\n-Contact person name : {{ $json['Promoter_Contact Person Name'] }}\n- Contact person Designation : {{ $json['Promoter_Contact Person_Designation'] }}\n- Contact person Phone Number : {{ $json['Promoter_Contact Person_Direct Contact'] }}\n-Contact person Email : {{ $json['Promoter_Contact Person_Email'] }}\n\nNOTE : If contact person information is not there , return \" no contact details provided \"\n\n# Examples of Useful Opening Lines in Output:\n\n“SES can support this project by providing FEED services to lay a strong technical foundation before EPC begins.”\n\n“Given the early planning stage and complex scale, SES would apply its SMP and procurement expertise to reduce risk and cost.”\n\n“To address potential delays mentioned in the Latest Update, SES’s modular construction capability can accelerate timelines and minimize on-site bottlenecks.”"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1920,1504],"id":"7c5076b7-5a61-4b72-b662-0f64ae495065","name":"Analyze","credentials":{"openAiApi":{"id":"cw99er9WtSL2k6mJ","name":"OpenAi account 3"}}},{"parameters":{"url":"https://pvckiiclgzdzwcsxtekg.supabase.co/rest/v1/email_drafts","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2Y2tpaWNsZ3pkendjc3h0ZWtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1MjMyMTksImV4cCI6MjA2ODA5OTIxOX0.at2jET1WoXwOxjWx-ORAiu6qFsn9KW-bUMM4Tn64Qlw"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2Y2tpaWNsZ3pkendjc3h0ZWtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1MjMyMTksImV4cCI6MjA2ODA5OTIxOX0.at2jET1WoXwOxjWx-ORAiu6qFsn9KW-bUMM4Tn64Qlw"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2496,-48],"id":"f7ec1d0e-71b7-4a7c-ad2e-66b10f8579b7","name":"Fetch senders from Supabase","disabled":true},{"parameters":{"operation":"update","tableId":"email_drafts","filters":{"conditions":[{"keyName":"recipient","condition":"eq","keyValue":"={{ $('Switch').item.json.recipient }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"delivered_status","fieldValue":"delivered"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[256,-704],"id":"3edfcaf6-0c78-49a8-9e37-2a2242fff483","name":"Update Email Status","credentials":{"supabaseApi":{"id":"w6lGpw5eY9m4xxAU","name":"Supabase account 2"}}},{"parameters":{"operation":"update","tableId":"email_drafts","filters":{"conditions":[{"keyName":"recipient","condition":"eq","keyValue":"={{ $('Switch').item.json.recipient }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"delivered_status","fieldValue":"delivered"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1184,-240],"id":"5461c54a-28b9-4d3d-8c8b-414eebf6633a","name":"Update Email Status1","credentials":{"supabaseApi":{"id":"w6lGpw5eY9m4xxAU","name":"Supabase account 2"}}},{"parameters":{"toRecipients":"={{ $json.recipient }}","subject":"={{ $json.subject }}","bodyContent":"={{ $json.body }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1216,-48],"id":"e2b43354-349e-4696-8ec3-28e8ec61b277","name":"Send a message1","webhookId":"d3b8722f-192d-4640-b73d-f928e874ca07","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"update","tableId":"email_drafts","filters":{"conditions":[{"keyName":"recipient","condition":"eq","keyValue":"={{ $('Switch').item.json.recipient }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"delivered_status","fieldValue":"delivered"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,304],"id":"8f060442-1bfd-4909-90dd-bf59f3734fe5","name":"Update Email Status2","credentials":{"supabaseApi":{"id":"w6lGpw5eY9m4xxAU","name":"Supabase account 2"}}},{"parameters":{"toRecipients":"={{ $json.recipient }}","subject":"={{ $json.subject }}","bodyContent":"={{ $json.body }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1216,480],"id":"6c80fc82-ab01-4618-a82a-7008b6a3fb09","name":"Send a message2","webhookId":"d3b8722f-192d-4640-b73d-f928e874ca07","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"content":"## BD MANAGER DASHBOARD APPROVALS VALA","height":320,"width":528},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,-160],"id":"2808f167-0df7-4361-bd60-727a85bc1694","name":"Sticky Note7"},{"parameters":{"operation":"getAll","limit":500,"filtersUI":{"values":{"filters":{"foldersToInclude":[]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1008,-2384],"id":"27d068bb-eaaa-4531-99f9-7484f43eac33","name":"Get many messages","webhookId":"374af418-78cb-4975-88c8-1a3997c387ec","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"resource":"folder","operation":"get","folderId":{"__rl":true,"value":"AAMkADQ4ODUzZmIwLTBhZDMtNGU4Zi1iZGU2LWQzOGNjZDE2MDIyNQAuAAAAAAAqsVm2OXCsQKlnQI0U0DkHAQC9N3ccsoV-RrGfhK8JJhnVAAAAAAEMAAA=","mode":"list","cachedResultName":"Inbox","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADQ4ODUzZmIwLTBhZDMtNGU4Zi1iZGU2LWQzOGNjZDE2MDIyNQAuAAAAAAAqsVm2OXCsQKlnQI0U0DkHAQC9N3ccsoV%2FRrGfhK8JJhnVAAAAAAEMAAA%3D"},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1216,-2304],"id":"bf79d0a9-6d47-4199-8a95-c72cc490a96d","name":"Get a folder","webhookId":"d5d04720-566b-4187-a94e-ae9b92880104","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"resource":"folder","operation":"get","folderId":{"__rl":true,"value":"AAMkADQ4ODUzZmIwLTBhZDMtNGU4Zi1iZGU2LWQzOGNjZDE2MDIyNQAuAAAAAAAqsVm2OXCsQKlnQI0U0DkHAQC9N3ccsoV-RrGfhK8JJhnVAAAAAAEMAAA=","mode":"list","cachedResultName":"Inbox","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADQ4ODUzZmIwLTBhZDMtNGU4Zi1iZGU2LWQzOGNjZDE2MDIyNQAuAAAAAAAqsVm2OXCsQKlnQI0U0DkHAQC9N3ccsoV%2FRrGfhK8JJhnVAAAAAAEMAAA%3D"},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1216,-1536],"id":"5c6061b0-9ce6-48f8-a062-c8d5c20dacc7","name":"Get a folder1","webhookId":"d5d04720-566b-4187-a94e-ae9b92880104","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"getAll","filtersUI":{"values":{"filters":{"foldersToInclude":[]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1072,-1680],"id":"f73f5884-361f-41a2-a8cc-895a08553af9","name":"Get many messages1","webhookId":"374af418-78cb-4975-88c8-1a3997c387ec","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, recipient , sender_email\nFROM public.email_drafts\nWHERE replied IS NOT TRUE\nLIMIT 1 ;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1856,-1664],"id":"0da7018f-a115-4f66-b259-7bb64e7d8ab9","name":"Get Unreplied emails","credentials":{"postgres":{"id":"Xj2FMl2Q5fs6Tbm0","name":"Postgres account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2064,-1664],"id":"2b75c6dd-ac26-4b82-a3bd-ba7bb162126e","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"folder","operation":"get","folderId":{"__rl":true,"value":"AAMkADQ4ODUzZmIwLTBhZDMtNGU4Zi1iZGU2LWQzOGNjZDE2MDIyNQAuAAAAAAAqsVm2OXCsQKlnQI0U0DkHAQC9N3ccsoV-RrGfhK8JJhnVAAAAAAEMAAA=","mode":"list","cachedResultName":"Inbox","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADQ4ODUzZmIwLTBhZDMtNGU4Zi1iZGU2LWQzOGNjZDE2MDIyNQAuAAAAAAAqsVm2OXCsQKlnQI0U0DkHAQC9N3ccsoV%2FRrGfhK8JJhnVAAAAAAEMAAA%3D"},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1216,-880],"id":"377c54c7-1aa2-4ec2-ab5f-805dc7d9f846","name":"Get a folder2","webhookId":"d5d04720-566b-4187-a94e-ae9b92880104","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"operation":"getAll","filtersUI":{"values":{"filters":{"foldersToInclude":[]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1040,-976],"id":"447dc73f-1ba7-4241-82db-58d841e370df","name":"Get many messages2","webhookId":"374af418-78cb-4975-88c8-1a3997c387ec","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"assignments":{"assignments":[{"id":"71c05052-a399-42e1-a493-3085aa7f26d1","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"14a37df6-9581-4603-a9f1-5ce8f8248a8d","name":"body_text","value":"={{ $json.body.content }}","type":"string"},{"id":"0a1b48c6-025d-4ca0-802b-67089989f7bc","name":"to_emails","value":"={{ $json.toRecipients[0].emailAddress.address }}","type":"string"},{"id":"047c2f53-6c5d-4386-bdcd-184c3af65bb7","name":"from_email","value":"={{ $json.from.emailAddress.address }}","type":"string"},{"id":"b7c6728c-61ee-44c3-bd03-2b8015ac9a75","name":"from_name","value":"={{ $json.from.emailAddress.name }}","type":"string"},{"id":"b91a5ac5-5bca-4223-ab4c-a911c8d15297","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,-560],"id":"6f7b911c-d7c1-4693-b165-505df2742518","name":"Edit Fields5"},{"parameters":{"operation":"update","tableId":"email_drafts","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"sent"},{"fieldId":"delivered_status","fieldValue":"delivered"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[160,-512],"id":"f93d95fb-2b40-40a9-b570-dff4d1ff0f22","name":"Update a row","credentials":{"supabaseApi":{"id":"w6lGpw5eY9m4xxAU","name":"Supabase account 2"}}},{"parameters":{"url":"=https://graph.microsoft.com/v1.0/me/messages/{{ $('Loop Over Items').item.json.outlook_draft_id }}?$select=subject,body,toRecipients,ccRecipients,bccRecipients,replyTo,sender,from&$expand=attachments\n","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,-512],"id":"7a53e915-d529-49aa-9146-7917f1f13de1","name":"Get Message Metadata","credentials":{"oAuth2Api":{"id":"ZLGoeOMxoVyILZJl","name":"Unnamed credential"}}},{"parameters":{"tableId":"email_drafts","fieldsUi":{"fieldValues":[{"fieldId":"recipient","fieldValue":"={{ $json.to_emails }}"},{"fieldId":"sender_email","fieldValue":"={{ $json.from_email }}"},{"fieldId":"subject","fieldValue":"={{ $json.subject }}"},{"fieldId":"body","fieldValue":"={{ $json.body_text }}"},{"fieldId":"status","fieldValue":"sent"},{"fieldId":"delivered_status","fieldValue":"delivered"},{"fieldId":"message_id","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,-592],"id":"df678b94-d2be-4ae0-8ddc-caa1267c015f","name":"Create a row","credentials":{"supabaseApi":{"id":"w6lGpw5eY9m4xxAU","name":"Supabase account 2"}}},{"parameters":{"operation":"getAll","tableId":"email_drafts","limit":1,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"draft"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,1584],"id":"33c39e82-c75f-46b7-9a9a-ed3b2c557294","name":"Fetch status=draft Rows","credentials":{"supabaseApi":{"id":"w6lGpw5eY9m4xxAU","name":"Supabase account 2"}}},{"parameters":{"jsCode":"items.sort((a, b) => new Date(a.json.created_at) - new Date(b.json.created_at));\nreturn [items[0]];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,1616],"id":"df5ccfbb-a603-47e3-aa73-bf3fedb9f700","name":"Sort in asc ( Created date )"},{"parameters":{"assignments":{"assignments":[{"id":"17da43d1-1b53-4484-ae3d-f1c8858888c7","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"99bd63a2-c039-4fed-8dd8-cbec8d7d926c","name":"body","value":"={{ $('Create a draft').item.json.body.content }}","type":"string"},{"id":"fbdd858a-fad6-4430-a3e6-eb4c7a62e1db","name":"recipient","value":"={{ $json.recipient }}","type":"string"},{"id":"022c240a-b58b-4bdc-854d-4be9f1e129ce","name":"sender_email","value":"={{ $json.sender_email }}","type":"string"},{"id":"723876e3-8cc2-4a38-ab00-8b4eb15f4602","name":"message_id","value":"={{ $json.message_id }}","type":"string"},{"id":"23be1d89-5be4-4824-adb9-7f6e56a5cb42","name":"outlook_draft_id","value":"={{ $json.outlook_draft_id }}","type":"string"},{"id":"5663d628-0f65-4528-805a-4853aac0c361","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,1616],"id":"f2ad349c-e686-4f57-9790-fa5dec8bf5dd","name":"Edit Fields6"},{"parameters":{"resource":"draft","operation":"get","draftId":{"__rl":true,"value":"={{ $json.outlook_draft_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-944,-512],"id":"e4f03c1d-d1c4-4018-9598-96f0623005a7","name":"Get a draft","webhookId":"d3b8722f-192d-4640-b73d-f928e874ca07","credentials":{"microsoftOutlookOAuth2Api":{"id":"OCU3kHlRVQX5MGpl","name":"Microsoft Outlook account"}}},{"parameters":{"toRecipients":"={{ $json.to[0] }}","subject":"={{ $json[\"subject\"] }}","bodyContent":"={{ $json.bodyPreview }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-736,-512],"id":"74099c52-9670-4cf9-b1f9-d774d563730a","name":"Send a message","webhookId":"6e023a48-58f8-44cf-8236-d327d5d9e3e7","credentials":{"microsoftOutlookOAuth2Api":{"id":"b9QoFM03FTrfxt4P","name":"Microsoft Outlook account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4fde9bb7-83a8-4eb6-9f98-c53e638d8b1e","name":"outlook_draft_id","value":"={{ $json.outlook_draft_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,-448],"id":"95e82a2e-fa78-4e18-9106-b3ff831a16fe","name":"Edit Fields7","disabled":true},{"parameters":{"resource":"mail","fromEmail":"={{ $json.sender_email }}","fromName":"Shiva Engineering","toEmail":"={{ $json.recipient }}","subject":"={{ $json.subject }}","contentValue":"={{ $json.body }}","additionalFields":{}},"type":"n8n-nodes-base.sendGrid","typeVersion":1,"position":[-512,-272],"id":"a575e5b9-531b-448f-a922-05b2d128d4ea","name":"Send an email","credentials":{"sendGridApi":{"id":"eTT0O3w2Uvq7iF1C","name":"SES Account"}}},{"parameters":{"content":"","height":112,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-560],"id":"cce46d3a-7dd8-47fa-89fd-ecad57ff609b","name":"Sticky Note8"},{"parameters":{"content":"","height":128,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-512],"id":"f8f81e2f-3e83-432f-af1e-18f940f9f1bf","name":"Sticky Note9"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Select rows from a table in Postgres":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Email #1 #2 #3":{"main":[[{"node":"Emails","type":"main","index":0}]]},"Emails":{"main":[[{"node":"Time Zone","type":"main","index":0}]]},"Time Zone":{"main":[[{"node":"Sender Email","type":"main","index":0}]]},"Sender Email":{"main":[[{"node":"Opt Out Token","type":"main","index":0}]]},"Opt Out Token":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Update Email Status","type":"main","index":0}],[{"node":"Get a draft","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Update Email Status1","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Update Email Status2","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Fetch senders from Supabase","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}],[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Loop Over Items6","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"If1":{"main":[[{"node":"Replied = Yes1","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Merge1","type":"main","index":0},{"node":"Get a folder1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Replied = Yes1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Replied = Yes2","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}]]},"Merge2":{"main":[[]]},"Replied = Yes2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Get a folder","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"If3":{"main":[[{"node":"Replied = Yes3","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Replied = Yes3":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"Merge3","type":"main","index":0},{"node":"Get a folder2","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analyze","type":"main","index":0}]]},"Create a draft":{"main":[[{"node":"Insert to Supabase","type":"main","index":0}]]},"Analyze":{"main":[[{"node":"Email #1 #2 #3","type":"main","index":0}]]},"Fetch senders from Supabase":{"main":[[]]},"Insert to Supabase":{"main":[[{"node":"Fetch status=draft Rows","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Send a message2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get a folder":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get a folder1":{"main":[[{"node":"Get many messages1","type":"main","index":0}]]},"Get many messages1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get Unreplied emails":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Unreplied emails","type":"main","index":0}]]},"Get a folder2":{"main":[[{"node":"Get many messages2","type":"main","index":0}]]},"Get many messages2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Message Metadata":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Fetch status=draft Rows":{"main":[[{"node":"Sort in asc ( Created date )","type":"main","index":0}]]},"Sort in asc ( Created date )":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get a draft":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Get Message Metadata","type":"main","index":0}]]},"Edit Fields7":{"main":[[]]},"Send an email":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"787c6e65-7903-4eee-84b4-260be42dc1eb","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.434Z","createdAt":"2025-12-11T08:33:33.434Z","role":"workflow:owner","workflowId":"1BFLjARWjz1rDlks","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}