urgent-email-alert-to-telegram-&-webhook-qHDz75tTYd5uk2DI.json
{"updatedAt":"2025-07-20T12:58:59.000Z","createdAt":"2025-07-20T12:57:31.286Z","id":"qHDz75tTYd5uk2DI","name":"Urgent Email Alert to Telegram & Webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"id":"gmailTrigger1","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[112,112],"notesInFlow":false,"notes":"TRIGGER: Watches Gmail inbox for new emails with subject containing 'Urgent'. Requires Gmail OAuth2 credentials with read access. Adjust the search query as needed."},{"parameters":{"options":{}},"id":"set1","name":"Extract Email Data","type":"n8n-nodes-base.set","typeVersion":1,"position":[304,112],"notes":"SET NODE: Extracts and reformats the subject, sender, and snippet from the email. You can add more fields as needed."},{"parameters":{"chatId":"YOUR_CHAT_ID","text":"Urgent email from {{$json[\"from\"]}}: {{$json[\"subject\"]}}","additionalFields":{}},"id":"telegram1","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[496,-16],"webhookId":"4925e540-4ef3-4a03-8954-0d83be856d23","notes":"TELEGRAM: Sends a message to the specified chat. Replace 'YOUR_CHAT_ID' with your actual Telegram chat ID. Requires Telegram credentials."},{"parameters":{"url":"https://your-webhook-url.com/log","options":{}},"id":"httpRequest1","name":"Log Event","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[512,224],"notes":"HTTP REQUEST: Logs the event externally. Replace the URL with your actual webhook endpoint. Adjust body parameters as needed."}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extract Email Data","type":"main","index":0}]]},"Extract Email Data":{"main":[[{"node":"Send Telegram","type":"main","index":0},{"node":"Log Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb65f4ae-5db9-45ba-a1e4-dbb914fd77a1","triggerCount":0,"shared":[{"updatedAt":"2025-12-11T08:33:33.338Z","createdAt":"2025-12-11T08:33:33.338Z","role":"workflow:owner","workflowId":"qHDz75tTYd5uk2DI","projectId":"Gh4K029Sunajg0dH"}],"tags":[]}